[2016-09-29 14:21] alawvt commented on #392
Update on testing: @pgray64 and @keithgee, thank you very much for testing yesterday. @mello99, if you could do the two VPN tests next week, that would be great. We've finished the other on- and off-campus tests. I have reported two issues #407 and #408 as a result of our tests. We are waiting on Metadata Services for testing OCLC Digital Collection Gateway metadata harvesting and Collections for

[2016-09-29 14:39] keithgee commented on #407
I've labeled this as wontfix. We can add to the backlog and address later if necessary.

[2016-09-29 14:56] keithgee commented on #407
Actually, I may have time to fix this before deployment if it is just a CSS problem. I'll look tomorrow.

[2016-09-29 18:37] #362 closed, assigned to AnushaPillai

[2016-09-29 18:44] alawvt opened #409 "Create a test plan for Maltipoo commits"
Please create a test plan for Maltipoo commits in the Google Drive/VTechWorks Team/Testing/ folder. This will cover the period August 30-September 30 and commits c18954b through the present.

[2016-09-29 18:54] alawvt commented on #373
@pgray64, I have added some instructions in [SQL for DSpace](https://git.it.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/SQL_for_DSpace) from our DevOps meeting about how SQL changes will be implemented on the servers. Please align your instructions with these.

[2016-09-29 18:59] alawvt opened #410 "Research a Postgres GUI for our LDEs"
Please research a postgres GUI for our LDE. @keithgee, do you recall any detail of the suggestion @zoto724 made to implement a GUI listening on a port to the DB?

[2016-09-29 19:09] kayiwa commented on #410
Give this a look. https://www.sequelpro.com/ 'er... looks like it changed. https://macpostgresclient.com/

[2016-09-30 16:37] keithgee commented on #407
This issue was fixed with commit de63944.

[2016-09-30 16:38] keithgee commented on #407
Tested at http://vtkeithg.lib.vt.edu/handle/10919/52944. This hasn't been tested with the new Content-Security-Policy header yet but that can be done on dev.

[2016-09-30 16:38] #407 closed, assigned to keithgee

[2016-09-30 16:56] keithgee commented on #408
I have a hunch that what @mello99 mentioned, at least, might be normal EZProxy behavior. When we directly access https://vtechworks.pprd.lib.vt.edu/handle/10919/53800, which is probably what I put in the test plan, we're not going through EZProxy.

Clicking that off-campus sign-in button will then cause the page to be reloaded, but through EZProxy, and the links on the page, including the links to

[2016-09-30 17:03] alawvt commented on #408
@keithgee, I tested this on production from off campus. I can't see the URLs using a http://free-proxyserver.com, so it would be hard to trace now. I could test it again from home next week and report what URLs I see.

[2016-09-30 17:29] pgray64 commented on #410
Instructions for setting up Adminer on LDE:
https://git.it.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/SQL_for_DSpace

[2016-09-30 17:33] keithgee commented on #410
That looks nice, @pgray64, and is very much like the web based database tools for LAMP sites that we were discussing the other day.

@alawvt, Aaron has suggested the approach of using SSH tunneling for port forwarding, which you can use with any database client, such as the second client that @kayiwa has suggested.

I have this working and will demonstrate for you, if you are still interested in t

[2016-09-30 17:38] alawvt commented on #410
@keithgee, yes I would like to see that, too. If you want to document any of it on the wiki page the @pgray64, linked to, that would be great.

[2016-09-30 18:28] alawvt commented on #410
@pgray64, thanks, that is a nice easy solution.

[2016-09-30 19:07] pgray64 commented on #404
**Using dump: dspace_2016-09-30_06h39m.Friday.sql**

_Metadata ID's_
DOI: 96
ORCID: 105

`SELECT count(*) FROM "metadatavalue" WHERE metadata_field_id=96 AND text_value IS NOT NULL;`
=> 3187

`SELECT count(*) FROM "metadatavalue" WHERE metadata_field_id=105 AND text_value IS NOT NULL;`
=> 7

[2016-09-30 19:22] alawvt commented on #404
@pgray64, thank you.

[2016-10-03 18:30] mello99 commented on #392
Successfully completed the 2 VPN tests; both passed. Thanks, take care.

[2016-10-03 18:34] alawvt commented on #392
Thanks, @mello99. OCLC test also passed. This leaves just one test outstanding:

Collections -  waiting on Summon metadata harvesting test

[2016-10-03 18:55] alawvt commented on #408
@mello99, if you had time this week, it would be very helpful if could test this further. Please record the detail of each step of trying to use EZproxy, including the URL of each link that you click on or page that you refresh. EZproxy works by rewriting the URLs, so that is key to trace what is (or isn't) happening. Thanks.

[2016-10-04 19:16] alawvt commented on #409
Looks good, thanks.

[2016-10-04 19:16] #409 closed, assigned to pgray64

[2016-10-04 19:35] alawvt commented on #322
@amandafrench, would you get us any authorization credentials and informaiton for this?

[2016-10-05 16:35] amandafrench commented on #322
I've left Julie a message and will email her as well to get our API key. According to the page at https://www.altmetric.com/products/altmetric-api/ , the "Commercial API" is included with "Explorer for Institutions" (which apparently we have purchased).

[2016-10-05 18:12] amandafrench commented on #404
Belatedly, yes, thanks, @pgray64! I'm going to start tracking these in the VTechWorks Statistics spreadsheet, available in GDrive and from the intranet.

One question: do the counts above reflect number of items with DOIs / ORCIDs, or just the number of DOIs / ORCIDs? I know that one item can definitely have multiple ORCIDs. LMK.

[2016-10-05 18:16] alawvt commented on #404
I believe this is the number of DOIs/ORCIDs, not number of items.

[2016-10-05 18:18] amandafrench commented on #403
@alawvt I'm asking that in Full Item View both the ORCID and the DOI be automatically wrapped in `<a href=""></a>` tags so that they become live links automatically. As @keithgee has said, this is the way the URI field works, so it shouldn't be too hard to do it for these fields. You just grab the text string in the field and stick it in the tag like `<a href="http://doi.org/10.blahblahblah">` and

[2016-10-06 14:00] alawvt opened #412 "Check on Summon OAI-PMH harvest and write exception, if necessary."
This Issue developed from Issue #392.

We're waiting for Proquest to answer whether their (long) list of IP addresses will needed to be added to a security exception that @zoto724 would create.

[2016-10-06 14:01] alawvt commented on #392
The Summon issue is continued in Issue #412. The rest of the testing is complete.

[2016-10-06 14:01] #392 closed, assigned to nobody

[2016-10-06 14:04] alawvt opened #413 "Test Maltipoo changes on vtechworks production"
Use the test plan in Google Drive/VTechWorks Team/Testing/Dspace_5.5_2016_Aug_30_Sep_30_Maltipoo to record your test results for the Maltipoo sprint changes.

[2016-10-06 14:46] alawvt commented on #413
Testing on vtechworks.dev. is complete. All tests passed

[2016-10-06 14:55] alawvt commented on #398
@kayiwa, please deploy the latest commit on vt_5_x_pprd_deploy, https://github.com/VTUL/vtechworks/commit/5df07b12f54c05d86f8b7b29353da2b73576b8b6, to vtechworks.pprd.

Please note that /dspace/config/dspace.cfg will need manual updating.

Please note the ClamAV settings listed above.

[2016-10-06 16:30] alawvt commented on #413
Tested on pprd. Elements and regular submission failed. Other tests passed. Reported to ITS, waiting on fix.

[2016-10-06 20:40] amandafrench commented on #404
I suspected as much! Hate to reopen this, but I do think we need to have the number of _items_ with one or more DOIs (usually that'll be one DOI) and the number of _items_ with one or more ORCIDs. If it turns out to be massively difficult let me know. Good to post the query here, though -- and on GitLab, so we can easily run it when we want to.

[2016-10-07 12:51] alawvt commented on #413
Testing on vtechworks.pprd. is complete. All tests passed.

[2016-10-07 12:51] #413 closed, assigned to alawvt

[2016-10-07 12:55] alawvt commented on #398
@kayiwa, please deploy the latest commit on vt_5_x_prod_deploy, d9af1ae, to vtechworks.lib.vt.edu. I will also request this in TeamDynamix.

Please note that /dspace/config/dspace.cfg will need manual updating.

Please note the ClamAV settings listed above.

[2016-10-07 14:09] #410 closed, assigned to pgray64

[2016-10-07 14:12] #373 closed, assigned to pgray64

[2016-10-07 14:18] alawvt opened #414 "Crosswalk ORCIDs from EFARs (Symplectic Elements) to VTechWorks"
See
- https://support.symplectic.co.uk/support/tickets/26226
- https://support.symplectic.co.uk/support/discussions/topics/6000037525
- https://support.symplectic.co.uk/support/discussions/topics/6000034614

[2016-10-07 14:21] alawvt opened #415 "Update VT IP address list"

[2016-10-07 14:59] alawvt commented on #414
Given the metadata structure of DSpace, I like the solution used at the University of Cambridge,

[code]

Like a name followed by a birth date in a bibliographic record, the name followed by the ORCID in the same field allows a user to easily relate the ORCID to the name to verify his/her identity.  If we left the ORCID as a separate value without the author name, the user could click on the ORCID

[2016-10-07 15:26] keithgee commented on #384
Philippe has done research and started working on this issue and I hope to learn from him how the RSS feeds work soon.

[2016-10-07 15:43] pgray64 commented on #404
Fixed:
`SELECT DISTINCT ON (resource_id) FROM "metadatavalue"  WHERE metadata_field_id=96 AND text_value IS NOT NULL;`
=> 3184

`SELECT DISTINCT ON (resource_id)  FROM "metadatavalue" WHERE metadata_field_id=105 AND text_value IS NOT NULL;`
=> 7

[2016-10-07 15:50] pgray64 commented on #404
It shouldn't be too difficult to add author fields to RSS 1.0 and 2.0, though for those specs only one author field is allowed, so could be comma separated if multiple. A CSS stylesheet can be added to the feeds as well.

[2016-10-07 15:57] pgray64 commented on #384
I'm currently checking if using ROME 1.7 fixes the fact that current RSS feeds are not passing validators and how author fields for atom feeds are not getting rendered.

[2016-10-07 17:21] pgray64 commented on #384
ROME outputs a document object that can be traversed and modified before being returned to the browser. Since ROME lacks options for things like adding authors to rss 1.0/2.0 and adding custom CSS files, I'll write some custom code to add those things before returning the feed. I'll make them configurable options as well.

Its kind of hacky to be modifying the XML document after its rendered by RO

[2016-10-07 18:39] pgray64 commented on #384
@amandafrench when you mentioned CSS styling did you want the feeds to be styled with our own custom stylesheet or did you mean that departments who embed the feeds on their websites should be able to specify their own stylesheet?

[2016-10-07 19:26] amandafrench commented on #384
@pgray64 Thanks for working on this, @pgray64. I meant both, really, though also neither. I just want a particular kind of data to be confined to a particular field (element), and if that's the case, then anyone could in theory style that element with CSS. Example:

[code]

In that example, because the title, author, and abstract all appear in the `<description>` element, I can't style the descrip

[2016-10-07 19:36] pgray64 commented on #384
Okay, I see. I'll leave in the CSS option changes I made because it will make testing the other (more important) requirements easier - Firefox seems to not render RSS feeds without an inbuilt style.

Working on a possible fix that puts authors in a comma separated field for RSS 1.0 and 2.0, since those two don't allow multiple author fields.

[2016-10-10 14:57] alawvt opened #417 "RSS 1.0 feed only lists 4 items"
RSS 1.0 feed only has 4 items listed on https://vtechworks.lib.vt.edu/feed/rss_1.0/site. It has 10 items on dev and pprd. RSS 2.0, https://vtechworks.lib.vt.edu/feed/rss_2.0/site and Atom, https://vtechworks.lib.vt.edu/feed/atom_1.0/site both have 10 on all three servers. I'm observing this on Firefox, Safari, and Chrome.

`# number of DSpace items per feed (the most recent submissions)
webui.feed

[2016-10-10 15:46] keithgee commented on #417
I've cleared the Cocoon cache. This is an option in the "Java Information" tab of the "Control Panel", displayed when a person is logged into the VTechWorks web interface as an administrator.

10 items are now displaying in the RSS 1.0 feed.

Note: if there are future problems like this, also pay attention to the webui.feed.cache.age setting in the dspace.cfg file. It is currently set to cache fee

[2016-10-10 15:46] #417 closed, assigned to keithgee

[2016-10-10 16:34] amandafrench commented on #404
Awesome, thanks @pgray64. Not much of a difference now but might be later. 👍

[2016-10-10 16:40] amandafrench commented on #384
Thanks, @pgray64. If it can only show the first author that's fine by me. Remember too that I think this should be done not so much just for us as for the DSpace project as a whole; the community might have input into how best to do this. Actually of course they probably already agreed on doing it the way it is, but I hate that way; looks terrible when displayed, which is the whole point.

Let me

[2016-10-10 16:41] amandafrench commented on #384
@pgray64 And I would be very happy to have CSS options to help style the RSS feed, so thanks!

[2016-10-10 16:47] alawvt commented on #417
Thanks, @keithgee!

For future reference, [DSpace Technical FAQ - Clearing Cocoon (XMLUI) cache](https://wiki.duraspace.org/display/DSPACE/TechnicalFAQ#TechnicalFAQ-ClearingCocoon%28XMLUI%29cache)

[2016-10-10 16:52] alawvt commented on #398
Complete

[2016-10-10 16:52] #398 closed, assigned to kayiwa

[2016-10-10 16:53] alawvt commented on #413
Testing on vtechworks.lib.vt.edu is complete after resolving Issue #417. All tests passed.

[2016-10-10 18:15] keithgee commented on #414
I've e-mailed the Cambridge Libraries' Office of Scholarly Communication to see if they can put me in touch with someone who will share code.

[2016-10-10 18:34] keithgee commented on #398
Woohoo!

On Mon, Oct 10, 2016 at 12:52 PM, alawvt notifications@github.com wrote:

[2016-10-10 18:35] amandafrench commented on #414
I admit, that is a better solution than the one I envisioned, in which ORCIDs are just stored with no names. Make it so!

[2016-10-10 18:36] keithgee commented on #414
If it works out, we could still make the ORCIDs linkable, in case there is
other information in the ORCID profile that users might want to see.

On Mon, Oct 10, 2016 at 2:35 PM, Amanda French notifications@github.com
wrote:

[2016-10-10 18:41] alawvt commented on #414
@amandafrench, thank you for your consideration. I will add an item to the backlog to investigate if we can do this concatenation with the ORCID and dc.contributor.author in a non-interactive step in the submission form.

[2016-10-11 13:53] AnushaPillai commented on #374
Resolved a subset of this issue in Pull Request #419 This pull request resolves the customization of the facets and search filter for the patent collection

[2016-10-11 17:03] keithgee commented on #414
I've also posted a request for code in the Symplectic forum.

[2016-10-11 20:53] alawvt commented on #414
[University of Cambridge "Apollo" DSpace repository](https://www.repository.cam.ac.uk)

[Item with an ORCID in the dc.contributor field](https://www.repository.cam.ac.uk/handle/1810/255131)

If we don't hear from U. of Cambridge, I think we could modify J.S.'s code in https://support.symplectic.co.uk/support/discussions/topics/6000034614. The hard part is testing it since our LDE don't have a conn

[2016-10-11 21:37] keithgee commented on #414
Thanks, @alawvt. I've been contacted by University of Cambridge and they'll
send more details this week.

On Tue, Oct 11, 2016 at 4:53 PM, alawvt notifications@github.com wrote:

[2016-10-12 16:31] amandafrench opened #420 "Investigate discrepancy in DSpace stats for September 2016"
I was compiling the stats for September by logging in and clicking Administrative --> Statistics as I always do, and I noticed that the September stats for item and bitstream views are lower by a factor of 10 than they usually are.
![screenshot 2016-10-12 12 30 13](https://cloud.githubusercontent.com/assets/227453/19318686/ae5dbee0-9077-11e6-9d94-a088befa143b.png)

When you get a chance, @keithgee

[2016-10-12 16:33] amandafrench commented on #420
I should add that although I've labeled this a bug, it could be that all our previous stats are wrong and September's are correct. However, @zoto724 says that server logs indicate about 800k bitstream downloads, so there's probably something weird with the DSpace stats-util, or else it's working differently because of the SSL and other changes.

[2016-10-12 18:42] alawvt opened #421 "Create a mapping for online-publication-date in Elements crosswalk"
Like

[code]

Map preferentially publication-date, then online-publication-date to dc.date.issued in the Elements crosswalk.

[2016-10-12 19:09] #421 closed, assigned to alawvt

[2016-10-12 20:42] keithgee commented on #420
I've recovered September statistics. The report is available at https://vtechworks.lib.vt.edu/statistics?date=2016-9 when logged in as an administrator.

771,343 bitstream views
494, 531 item views

The stats that you were viewing were for 3 days, from September 28-September 30.

These are the legacy DSpace statistics, which aren't really supported anymore. They're built by scanning through the DS

[2016-10-12 20:42] #420 closed, assigned to keithgee

[2016-10-13 19:36] alawvt commented on #374
@AnushaPillai, since it might take a while to customize the display of all the additional fields in the Simple Item View, it might be good to first create a separate pull request when you get the search result view to display the inventor, rather than "unknown author."

[2016-10-14 16:49] pgray64 commented on #384
My new approach is to write a ROME "module generator" which is essentially a plugin to ROME that adds extra fields to items before RSS feeds are generated. Much cleaner an upgrade-safe than the DOM manipulation I was trying before.

[2016-10-14 16:59] keithgee commented on #414
@alawvt I am attaching correspondence from Dr. Martinez at Cambridge.

[cambridge_orcid.pdf](https://github.com/VTUL/vtechworks/files/530019/cambridge_orcid.pdf)
[orcid-mapping.txt](https://github.com/VTUL/vtechworks/files/530020/orcid-mapping.txt)

[2016-10-14 17:27] amandafrench commented on #420
Thanks, @keithgee!

[2016-10-14 17:34] amandafrench commented on #420
By the way, I do have all the previous stats in a spreadsheet, so we're okay on that front.

[2016-10-14 18:36] alawvt commented on #414
I believe all our modification has been in [symplectic_xwalks_dspace_default.xsl ](https://github.com/VTUL/vtechworks/blob/6a570013b75906379eb67480e2e794a2a12c6bc3/dspace/config/crosswalks/symplectic_xwalks_dspace_default.xsl) and we don't have crosswalks based on item type, as Cambridge has.

[2016-10-14 20:32] pgray64 commented on #384
Found a much easier fix. It turns out that a simple change in dspace.cfg makes all three RSS feeds have dc.creator fields, one field for each author, which is exactly what we want except we want the tag to be called "author" instead of "dc.creator"
So the existing code for the DCModule can be reused to work for author fields too.

[2016-10-14 20:40] keithgee commented on #384
👍🏽@pgray64 great!

[2016-10-17 14:24] alawvt opened #422 "Create branch for DSpace 5.6"

[2016-10-18 17:55] alawvt opened #423 "Test vtechworks-ansible, the public version of vtlibans_dspace project"
Please test the public version of vtlibans_dspace project, https://github.com/VTUL/vtechworks-ansible

[2016-10-18 19:09] kayiwa commented on #423
I encourage you to fork and submit pull requests where you find anything about this wanting. I have a finite amount of days at VA Tech but will happily make sure this continues to be useful even on my departure.

Each of the roles (working on the vtechworks one) has a description of what it does, the variables it expects etc.,

[2016-10-19 22:27] amandafrench commented on #384
Really?!? Awesome!! Thanks @pgray64!

[2016-10-19 22:29] amandafrench commented on #384
And actually the tag can be called "creator" instead of "author" as far as I'm concerned -- I don't know if that matters as long as the value itself shows up. If it does matter, then by all means do whatever makes sense.

[2016-10-21 19:13] pgray64 commented on #384
Pull request #424

Changes:
`dc.creator` tags contain each author for RSS 1.0 and 2.0 and `author` tag is still used for Atom.
This is actually considered good practice because the author tag is supposed to only be for email addresses for RSS 1.0 and RSS 2.0 specs.

Whether or not `dc.creator` or `author` is rendered is dependent on what client you use. There is no standard as to what fields RSS v

[2016-10-21 19:49] amandafrench commented on #384
@pgray64 Drat, I knew there was probably a good reason. For me it's still a problem in ANY client that the display looks garbled because the `<description>` repeats the title and runs it together with the author(s) and the abstract. Let me look at the code and see what it looks like in the RSS & Atom feeds when built. Thanks.

[2016-10-21 20:04] alawvt commented on #384
Resolved with PR #424

[2016-10-21 20:04] #384 closed, assigned to keithgee, pgray64

[2016-10-21 20:12] alawvt opened #425 "Create a test plan for DSpace 5.6, Newfie and Ostrich commits"
Please create a test plan for DSpace 5.6, Newfie, and Ostrich commits in the Google Drive/VTechWorks Team/Testing/ folder. This will cover the period October 01-November 14 and commits ad4f586 through the present.

The test plan is on Google Drive at VTechWorks/Testing/Dspace_5.6_2016_Oct_01_Nov_13_Newfie_Ostrich_Testing

[2016-10-21 20:50] pgray64 commented on #423
I followed the instructions and everything loads as expected, except there are no items displaying. I did import `fewer_items_database_dump.sql` and reindex.

[2016-10-21 21:07] kayiwa commented on #423
made this an issue here https://github.com/VTUL/vtechworks-ansible/issues/1

will try to recreate and solve this.

[2016-10-21 21:07] kayiwa commented on #423
made this an issue here https://github.com/VTUL/vtechworks-ansible/issues/1

will try to recreate and solve this.

[2016-10-22 18:12] kayiwa commented on #423
please run

`vagrant destroy`

`git pull`

and then

`vagrant up` again. I've committed the fix. Solr was listening on 8081 instead of 8080.

Cheers.

[2016-10-24 19:39] amandafrench commented on #322
I'm going to close this, since we're waiting on the API key from Julie.

[2016-10-24 19:39] #322 closed, assigned to amandafrench

[2016-10-28 20:19] alawvt commented on #317
@pgray64 reports that he has made progress on creating the SOLR query but needs to figure out how to get and use the Item ID from the XMLUI.

[2016-11-02 20:02] pgray64 commented on #317
Finished the individual stats - will test it more and create pull request on Friday.

[2016-11-03 17:57] amandafrench commented on #317
@pgray64 Great, thanks!

[2016-11-04 14:14] #408 closed, assigned to mello99

[2016-11-04 14:14] alawvt commented on #412
resolved

[2016-11-04 14:14] #412 closed, assigned to zoto724

[2016-11-04 14:32] #422 closed, assigned to nobody

[2016-11-04 14:33] alawvt opened #426 "Create a test plan for DSpace 5.6"

[2016-11-04 15:55] pgray64 commented on #317
PR #427 implements this

[2016-11-04 15:57] pgray64 commented on #317
Note for testing: SOLR caches things, you can restart tomcat `sudo service tomcat7 restart` to see fresh stats.

[2016-11-04 16:24] alawvt opened #428 "Test DSpace 5.6 branch on LDE"
Please test the 5.6 branch, add_5_6_changes on your LDE.

[2016-11-04 16:56] alawvt opened #429 "Update Elements files on git.it.vt.edu for DSpace 5.6"
Use DSpace 5.6 branch, add_5_6_changes, to create changes needed for Elements with DSpace 5.6. Update vtlibans_dspace and elements_install_scripts projects on GitLab.

[2016-11-04 17:08] alawvt commented on #376
@pgray64, please edit the README for this project to make it as clear as possible for the public. Please review the code and add comments, etc., as needed for clarity.

[2016-11-08 20:47] alawvt commented on #428
completed testing on LDE

[2016-11-08 20:47] #428 closed, assigned to pgray64, alawvt

[2016-11-08 20:48] alawvt commented on #426
completed

[2016-11-08 20:48] #426 closed, assigned to pgray64, alawvt

[2016-11-08 20:48] alawvt commented on #317
completed

[2016-11-08 20:48] #317 closed, assigned to pgray64

[2016-11-08 21:03] alawvt opened #431 "Move help, policy, and about pages to google site"
Please move the help, policy, about pages to google site, https://sites.google.com/a/vt.edu/vtechworks-help/. Please change the links in the right side bar to these pages. Moving these pages will make it easier to maintain and edit them.

[2016-11-09 16:30] pgray64 commented on #423
I've been using this on my local dev box without any issues.

[2016-11-09 16:30] #423 closed, assigned to pgray64

[2016-11-09 17:00] keithgee commented on #429
I have tested our current Elements install package with @alawvt's DSpace 5.6 branch, and it works without change.

I'll look into why I needed to make changes during a previous upgrade and provide documentation if appropriate.

**Closing

[2016-11-09 17:00] #429 closed, assigned to keithgee

[2016-11-09 18:06] pgray64 commented on #376
I think it's ready for release. I added Pdfsandwich's source code and license info so it's okay to have the OSX Pdfsandwich binary in the repo.

[2016-11-09 18:34] pgray64 commented on #376
Actually I do need to add more information for non-programmers.

[2016-11-09 18:56] pgray64 commented on #431
The google site is finished. Pull Request #432 updates links on VTechWorks to go to google sites pages.

[2016-11-10 16:01] alawvt commented on #431
@amandafrench, the new pages are
- About, https://sites.google.com/a/vt.edu/vtechworks-help/home
- Policies, https://sites.google.com/a/vt.edu/vtechworks-help/policies
- Help, https://sites.google.com/a/vt.edu/vtechworks-help/help

[2016-11-10 16:01] #431 closed, assigned to pgray64

[2016-11-10 16:03] alawvt commented on #415
resolved with commit 225fde294d8e785a91e8898867956f089114e970

[2016-11-10 16:03] #415 closed, assigned to alawvt

[2016-11-10 17:41] alawvt opened #433 "Create blog post about the VT Patent collection for Open@VT blog"
Create blog post about the VT Patent collection for Open@VT blog, https://blogs.lt.vt.edu/openvt/. Please use the outline in Google Drive... VTechWorks/Content/Special_VTW_Projects/Virginia_Tech_Patents_blog_post.

[2016-11-10 17:49] alawvt opened #434 "Research setting up automated testing with Selenium"
See https://github.com/VTUL/vtechworks/wiki/06.-Testing for a list of old Selenium tests.

[2016-11-10 18:28] alawvt opened #435 "Update footer"
https://github.com/VTUL/vtechworks/blob/vt_5_x_dev/dspace/modules/xmlui-mirage2/src/main/webapp/themes/vtmirage2/xsl/core/page-structure.xsl

[2016-11-11 18:03] pgray64 commented on #376
I've added more documentation, I think it's ready.

[2016-11-11 18:05] pgray64 commented on #425
I made  a test plan based on commit sfrom that time period, though I'm not sure how to test elements related things.

[2016-11-11 18:58] amandafrench opened #436 "Revise etd-ingest script so that it transforms or allows non UTF-8 characters"
The ESS system often sends us XML files with non UTF-8 characters. The ingest script flags any XML file with non UTF-8 characters and sends it to an error directory instead of loading it. The script needs to either

1) transform the non-UTF-8 characters to UTF-8 before ingest is attempted (preferred), or

2) load the files with "junk" characters anyway instead of putting them in the error director

[2016-11-11 18:59] amandafrench commented on #436
See also https://git.it.vt.edu/digital-research-services/etd_ingest/issues/1.

[2016-11-11 19:26] alawvt commented on #436
If we are going to replace each bad character with another, I'd prefer one that would be easy to search for in DSpace, so we can clean up the metadata.

[2016-11-16 16:26] alawvt opened #437 "Create a script to export all metadata from the Withheld collection in ETD-db."
Please create a script to export all metadata from the Withheld collection in ETD-db.

[2016-11-16 16:29] alawvt opened #438 "Run the ETD-db ingest script on the most recently released ETDs."
Please run the ETD-db ingest script on the most recently released ETDs listed in Google Drive... VTechWorks/Content/ETDs/ETD-dbGonePublic2016_2017.

[2016-11-16 16:51] alawvt opened #439 "Investigate if we can concatenate the ORCID and dc.contributor.author in a non-interactive step in the submission form."
Modify the default submission form to combine the value from the dc.contributor.author and dc.contributor.orcid field (entered in submission form page 1) to the dc.contributor.orcid field as
[code]
This will probably have to be done in a non-interactive step in the submission form. (See the non-interactive step for the NDLTD submission form, , #101, for ideas.)
See also

#414
DSpace documentation:

[2016-11-17 19:19] amandafrench commented on #437
@alawvt Can you please update the README for this script in GitLab so that it explains that this is what the script does? Thanks.

[2016-11-17 19:20] amandafrench commented on #414
We're going to revisit this later.

[2016-11-17 21:10] alawvt commented on #437
@pgray64, when you get this variation of the script working, please add it to https://git.it.vt.edu/digital-research-services/etd_db_ingest and add it to the description of the project and readme. Thanks.

[2016-11-18 14:29] keithgee commented on #436
There is a merge request in the GitLab etd_ingest project, with code to replace non-UTF_8 characters in the ETD-MS metadata file with the Unicode Replacement Character �.

[2016-11-18 14:29] #436 closed, assigned to keithgee

[2016-11-18 14:50] #435 closed, assigned to nobody

[2016-11-18 14:55] alawvt opened #440 "Create a hyperlink for each ORCID"
Please display the ORCID as a link, for example
[code]

[2016-11-18 14:59] alawvt opened #441 "Test DSpace 5.6, newfie, and ostrich on vtechworks"

[2016-11-18 15:04] alawvt opened #442 "Modify the submission form to map the ORCID to dc.contributor.orcid"
Add dc.contributor.orcid to the metadata registry. Change the submission form to map the ORCID to this field rather than dc.identifier.orcid. (Check it may appear in multiple custom submission forms.)

[2016-11-18 18:10] alawvt commented on #403
Please create the ORCID as a link in the submission form, for example

[code]

[2016-11-18 18:11] alawvt commented on #440
unintentional duplicate issue

[2016-11-18 18:11] #440 closed, assigned to pgray64

[2016-11-18 18:34] pgray64 commented on #442
The dropdown menu that the ORCID option is in has an XML parent of type "identifier" so the field can't simply be changed:

<img width="400" alt="screen shot 2016-11-18 at 1 33 52 pm" src="https://cloud.githubusercontent.com/assets/7339589/20441717/b24f64a2-ad93-11e6-86ad-8f2de65303c8.png">

[2016-11-22 22:05] alawvt commented on #441
testing on dev is complete.

[2016-11-28 14:28] alawvt commented on #441
The changes have been pushed to pprd.

[2016-11-28 14:29] alawvt commented on #425
I have completed the test plan.

[2016-11-28 14:29] #425 closed, assigned to alawvt

[2016-11-28 14:29] alawvt commented on #438
Philippe, thank you for completing this task.

[2016-11-28 14:29] #438 closed, assigned to pgray64

[2016-11-28 14:31] #403 closed, assigned to pgray64

[2016-11-28 14:33] alawvt commented on #374
@AnushaPillai, please push all your work to a branch and leave notes for Philippe to continue the customization, as needed.

[2016-11-28 14:33] #442 closed, assigned to pgray64

[2016-11-28 14:33] #439 closed, assigned to pgray64

[2016-11-30 16:54] pgray64 commented on #437
Readme and script updated in Gitlab

[2016-11-30 16:59] alawvt opened #443 "Add takedown language to footer"
Please start with a placeholder for a statement like the one in the footer of https://www.repository.cam.ac.uk/.

[2016-11-30 17:11] alawvt opened #444 "Investigate fixing redirects"
Fix login redirects so that whenever a user logs in s/he is taken to the page s/he was on when she logged in instead of to the home page. See https://jira.duraspace.org/browse/DS-570?jql=project%20%3D%20DS%20AND%20text%20~%20login. There is an XMLUI patch on this DSpace Jira issue -- will it work? https://jira.duraspace.org/secure/attachment/10536/xmlui.patch

[2016-11-30 18:29] alawvt commented on #441
I have completed testing on pprd.

[2016-11-30 18:29] #441 closed, assigned to alawvt

[2016-11-30 18:57] pgray64 commented on #443
I've added the takedown notice to the footer in new branch:
https://github.com/VTUL/vtechworks/tree/footer-takedown-message

Didn't make a pull request since the link doesn't link to anything currently.

![screen shot 2016-11-30 at 1 57 06 pm](https://cloud.githubusercontent.com/assets/7339589/20766567/ea6ca140-b704-11e6-9243-5d920fdaad8a.png)

[2016-12-01 19:13] AnushaPillai commented on #374
@pgray64 I have made a new branch 'itemViewPatents' and pushed my changes to it. I had changed the item view to display additional fields for Patents. The item-view.xsl needs to be configured to suit the Patent specific changes. This can be done by specifying a condition that works on the collection id for patents. However I was having issues in getting the collection Id in the file item-view.xsl.

[2016-12-01 20:10] alawvt commented on #374
@AnushaPillai, thank you very much for pushing your work.

[2016-12-01 20:11] #444 closed, assigned to pgray64

[2016-12-02 12:36] amandafrench commented on #443
Thanks, @pgray64 and @alawvt! I finished this section last night -- it's live on the Google Site and can be linked to at https://sites.google.com/a/vt.edu/vtechworks-help/policies#TOC-Requesting-that-Material-be-Amended-or-Removed Please change the language in the footer to read as follows:

***

If you believe that any material in VTechWorks should be removed, please see our policy and procedure

[2016-12-02 17:00] pgray64 commented on #443
Updated the footer. Pull Request #445

[2016-12-02 19:31] alawvt commented on #441
I have completed testing on prod. Several tests of the Elements crosswalk did not pass, which are noted in the testing spreadsheet. I have added associated tasks to the Backlog.

[2016-12-05 16:26] alawvt commented on #404
Request for stats for Nov. 30. 2016-11-30 dump is in Google Drive...VTechWorks/Technology/.

[2016-12-05 23:44] amandafrench commented on #384
@pgray64 Apparently the RSS weirdness is an existing bug with the XMLUI version of DSpace: https://jira.duraspace.org/browse/DS-1543 -- in the JSPUI version everything is lumped into the ```<description>``` field too, but there are text labels such as "Authors:" prepended, which makes it more legible.

[2016-12-06 13:38] amandafrench opened #446 "ezproxy off-campus sign-in issue"
I tested the off-campus sign-in, and (as reported by two users) even though ezproxy sign-in is apparently successful, I still am not allowed to access restricted items. I've reported this to ITS in TeamDynamix.
![screenshot 2016-12-06 08 30 40](https://cloud.githubusercontent.com/assets/227453/20927368/4a2caf7e-bb8f-11e6-922f-c619fbd01b78.png)

[2016-12-06 13:48] alawvt commented on #446
@amandafrench, thank you very much for testing this. I found the error in authentication-ip.cfg; have made the correction; and am sending a TeamDynamix request to take the change on production.

[2016-12-06 14:16] alawvt commented on #446
@zoto724 made the fix. Thanks!

[2016-12-06 14:28] alawvt commented on #446
q

[2016-12-06 14:28] #446 closed, assigned to alawvt

[2016-12-06 15:34] amandafrench commented on #446
@alawvt Great! Is it tested? Feel free to go off-campus and check!

[2016-12-06 15:35] alawvt commented on #446
I tried the url, https://vtechworks-lib-vt-edu.ezproxy.lib.vt.edu/handle/10919/39519, from on campus and it worked. I have not tried it from off campus.

[2016-12-06 15:37] amandafrench commented on #446
@alawvt Okay, I'll test it later today or maybe tonight. Thanks for addressing this so fast.

[2016-12-07 13:02] amandafrench commented on #446
Tested off-campus and works correctly.

[2016-12-07 18:02] alawvt commented on #404
number of items with one or more DOIs: 3363
number of items with one or more ORCIDs: 8

[2016-12-09 18:03] pgray64 commented on #374
I've customized simple item view with PR #448

[2016-12-13 16:20] keithgee opened #449 "Grad School Thesis with truncated title "Exploring The""
The recently (December 9th) processed thesis at https://vtechworks.lib.vt.edu/handle/10919/73650 has the truncated title "Exploring the".

Based on the title page of the PDF, the full title should actually be:

Exploring the “Where” and the “Why” of Conservation Easements: The Role of Community-level Factors in the Likelihood of Adoption

I looked into the ETD processing directory and found file /

[2016-12-13 21:26] alawvt opened #450 "Review latest RSS configuration on vtechworks.dev"
Continues Issue #384 and PR #447.

@amandafrench, I am bewildered why this looks so different than it did when I tested your PR. Unfortunately, yesterday when I was having difficulty with my LDE, I just made that change to webui.feed.item.dc.creator without testing it. Would you look at the current configuration on vtechworks.dev and see if this is the intended change?

For view-source:https://vte

[2016-12-14 18:56] amandafrench commented on #450
@alawvt The source code you post above looks exactly as it did when I made the change on my LDE, so to me the above passes testing. As I mentioned in the comment for PR #447, this change puts the author in the ```<description>``` element for all syndication feeds. Yes, it is strange to have the author in the ```<description>``` field and then the abstract in ```<dc:description>```, but that's a ha

[2016-12-14 18:59] amandafrench commented on #450
@alawvt Let's only look at the source code of syndication feeds, by the way, which should be the same in all browsers and aggregators and viewers; all the clients will display that code differently on the front end, but we can't do anything about that.

[2016-12-14 19:10] alawvt commented on #450
@amandafrench, thank you for reviewing this. I am glad that it meets your specification. We will move testing to pprd now.

[2016-12-14 19:10] #450 closed, assigned to nobody

[2016-12-14 21:06] #443 closed, assigned to pgray64

[2016-12-14 21:07] alawvt opened #451 "Test pelican changes on production."
Testing on dev and pprd is complete and all tests passed. Test notes are in Dspace_5.6_2016_Nov_14_Dec_12_Pelican_Testing.

[2016-12-19 15:54] alawvt commented on #449
@keithgee, thank you for investigating this error. Yes, it does seem like something that we can fix in our script. I have corrected the title in VTechWorks.

[2016-12-19 15:54] #449 closed, assigned to nobody

[2016-12-19 15:55] alawvt commented on #451
Deployment delayed until January 3.

[2017-01-06 13:41] alawvt commented on #451
Testing is complete.

[2017-01-06 13:41] #451 closed, assigned to alawvt

[2017-01-06 20:28] alawvt opened #452 "Investigate slow item deletion on pprd and dev."
"Permanently deleting" an item on prod takes 19 seconds. Until recently it took about the same amount of time to delete an item on pprd and dev. With the latest deployment is taking ~2.5 minutes on both dev and pprd. Here's the log output from pprd,
[code]
The log from prod is comparable.

[2017-01-06 20:30] alawvt commented on #452
@zoto724 looked at it and mentioned that two difference between prod and these two servers: dev and pprd use assetstore1 and prod uses assetstore. There might be a difference in the solr config.

[2017-01-18 15:06] alawvt commented on #437
Continued on https://git.it.vt.edu/digital-research-services/etd_db_ingest/issues/14

[2017-01-18 15:06] #437 closed, assigned to pgray64

[2017-01-18 15:09] alawvt commented on #438
Continued in https://git.it.vt.edu/digital-research-services/etd_db_ingest/issues/15.

[2017-01-18 15:11] alawvt commented on #377
Continued on https://git.it.vt.edu/digital-research-services/etd_db_ingest/issues/15.

[2017-01-18 17:38] keithgee commented on #414
I've opened Symplectic ticket #32546 for additional help. It's been several months since I looked at this, but initial experimentation with Cambridge's method failed when applied to our setup.

[code]

[2017-01-20 18:13] alawvt opened #453 "Remove old About, Policies, and Help pages"
The new about, help, and policy pages are
- https://vtechworks.lib.vt.edu/page/about
- https://vtechworks.lib.vt.edu/page/help
- https://vtechworks.lib.vt.edu/page/policies.

Please remove or disable the old pages,
- https://vtechworks.lib.vt.edu/page/about
- https://vtechworks.lib.vt.edu/page/help
- https://vtechworks.lib.vt.edu/page/policies.

[2017-01-23 19:01] alawvt opened #454 "Verify ownership of vtechworks in Google Webmaster Central so we can slow down search bots"
Verify ownership of vtechworks in Google Webmaster Central so we can slow down search bots. @zoto724 has reported very high traffic the past month.

See verification instructions at https://www.google.com/webmasters/verification/home?hl=en.

[2017-01-24 17:51] keithgee commented on #414
Jeff at Symplectic has me working with Kate Byrne and Andrew Bennet. Here is a restatement of the problem from Kate:

[code]

Andrew Bennet has sent some code modifications based on our GitHub repository, and I am currently testing.

Some questions came up during Virginia Tech's brief discussion today.

- If an article was not harvested from ORCiD, but added to Elements via another means, will the

[2017-01-27 18:16] #452 closed, assigned to nobody

[2017-01-27 20:21] pgray64 commented on #453
Resolved with Pull Request #455

[2017-01-27 20:54] alawvt opened #456 "Create a monthly stat report with # of items with DOI's and ORCIDS"
You might add it to the monthly legacy stat report, for example, https://vtechworks.lib.vt.edu/statistics?date=2016-12. Other strategies, i.e. emailed report, etc. are welcome.

[2017-01-31 20:21] keithgee commented on #414
This issue was resolved with commits 3160671 and e8c9fcc from @AndrewBennet.

I've added the question/task of storing ORCID in contributor.author to the backlog.

**Closing

[2017-02-03 19:19] alawvt opened #458 "Create a custom submission form for the ETD collections"
Please create a custom submission form using the specs in Google Drive...VTechWorks/Custom Submission Forms/VTW_Custom_Submission_Forms/ETDCustomSubmissionForm for collections, https://vtechworks.lib.vt.edu/handle/10919/11041 and https://vtechworks.lib.vt.edu/handle/10919/9291.

Please see issue #101 for a similar form.

[2017-02-09 16:02] #374 closed, assigned to pgray64

[2017-02-09 16:02] #454 closed, assigned to nobody

[2017-02-09 20:32] alawvt opened #459 "Create test plan for Quetzal and Rocky sprints"
Please create a test plan for Quetzal and Rocky commits in the Google Drive/VTechWorks Team/Testing/ folder. This will cover the period December 13-February 14 and commits 3160761b8ad3cd165d9b143578606730a6ca9ac7 to the present.

The test plan is on Google Drive at VTechWorks/Testing/Dspace_5.6_2016_Dec_13_2017_Feb_14_Quetzal_Rocky_Testing.

[2017-02-10 20:08] keithgee opened #460 "Duplicate handles in ETDs"
moved to https://git.it.vt.edu/it-services/vtlibans_dspace/issues/90

[2017-02-10 20:24] pgray64 commented on #458
Pull request #461

[2017-02-10 20:37] #460 closed, assigned to nobody

[2017-02-10 20:38] keithgee opened #462 "New item didn't automatically index"
Per @alawvt , the item at https://vtechworks.lib.vt.edu/handle/10919/74976 was not automatically indexed.

She was able to force indexing by making the item private and then public again.

[2017-02-14 16:05] amandafrench opened #463 "BUG: modal window for journal lookup doesn't close after clicking Accept"
When users go through the submission form and use the Lookup feature for the journal title, they get a modal box that allows them to choose a journal title. Clicking "Accept" should close the window, but it doesn't -- the user has to click the top right-hand X to close the window, or else click "Cancel." Any way this box can be made to close automatically when the user clicks "Accept"?

Not sure i

[2017-02-14 19:05] keithgee commented on #463
I'd love if Philippe would get time to work on automating some tests.
I have a fix for this issue in pull request #464, which Philippe may review if he wishes - I don't work on front-end code much these days.

[2017-02-15 15:19] #459 closed, assigned to nobody

[2017-02-15 15:34] alawvt commented on #434
Please try both programming and keyboard recording methods and report your results (time required per test, difficulty, etc.) in wiki page linked above.

[2017-02-15 16:58] pgray64 commented on #463
Fixed with pull request #464

[2017-02-15 16:58] #463 closed, assigned to pgray64

[2017-02-15 19:08] pgray64 commented on #434
I checked out Keith's vtechworks_selenium_tests repo that uses the Firefox plugin with GUI. Tests are easy to set up and modify and version control is fine.

I also set up testing with Nightwatch.js, which is a code based selenium testing framework. The benefit of this is that it can be configured to work with any browser. It also offers finer control in creating tests. I wrote a setup script so e

[2017-02-15 20:46] keithgee commented on #463
I went to open a ticket for this on the DSpace Jira and found that one is already there.
https://jira.duraspace.org/browse/DS-2170?jql=project%20%3D%20DS%20AND%20text%20~%20%22authority%20control%22

[2017-02-15 21:24] amandafrench commented on #463
@keithgee @pgray64 Thanks, guys! Keith, will you submit a PR to the DSpace project to fix the bug?

[2017-02-15 21:25] amandafrench commented on #434
Awesome. Thanks.

[2017-02-16 16:20] alawvt commented on #269
Please try to reproduce on DSpace Demon

     [ https://jira.duraspace.org/browse/DS-3215?page=com.atlassian.jira.plugin.system.issuetabpanels:all-tabpanel ]

Tim Donohue updated DS-3215:
----------------------------
    Status: Volunteer Needed  (was: Received)

Needs volunteer to reproduce this behavior in DSpace itself (e.g. on demo site). It sounds like a possible bug, but we need to verify it

[2017-02-17 12:45] keithgee commented on #219
Google Scholar is now finding the PDF for this item.
Removing "revisit later" tag.

[2017-02-17 12:48] keithgee commented on #435
The footer was recently updated with information about the VTechWorks takedown request policy. Otherwise, there isn't enough information in this issue to determine the original change. Removing "revisit later" label.

[2017-02-17 13:32] keithgee commented on #462
Log files show that the metadata for the item was indexed succesfully when it was initially added on February 9th. I'm wondering what type of specific search or browse indicated to the user that the item wasn't indexed properly, and what the problem might have been.

There was a problem indexing the full text of the item on the morning of February 10th. The implementation of the solr indexing for

[2017-02-17 14:08] alawvt commented on #462
@keithgee, thank you for mentioning this bug in indexing. This looks the issue, [DS-2952](https://jira.duraspace.org/browse/DS-2952). It sounds like it has not been fixed yet in either DSpace 5 or 6. We have many ETDs with supporting files and we list the main file first because that is the one most patrons want. I have requested you have access to the support email account.

[2017-02-17 19:32] pgray64 commented on #269
I made a test submission: http://demo.dspace.org/xmlui/handle/10673/100
Still waiting for thumbnails to be generated. Default Dspace settings generate them at 3:00 AM. The demo will reset on Saturday.

[2017-02-20 18:57] amandafrench commented on #453
Now, when a user manually goes to https://vtechworks.lib.vt.edu/page/policies (which still shows up in Google searches) they still get a page in the application instead of being taken to the Google Site. See screenshot. I'll put in a TeamDynamix request for a 301 redirect of that and other page URLs.

![screenshot 2017-02-20 13 56 02](https://cloud.githubusercontent.com/assets/227453/23138294/8181

[2017-02-20 19:04] amandafrench commented on #453
Have put in the request for a redirect. You can close this issue when it takes effect.

[2017-02-20 19:06] alawvt commented on #453
@amandafrench, thanks!

[2017-02-21 17:35] keithgee commented on #453
Redirects in effect. Closing.

[2017-02-21 17:35] #453 closed, assigned to pgray64

[2017-02-21 17:36] keithgee commented on #462
I looked in the email support account and the author reports that there were problems browsing by author. I'm not sure what happened, this was resolved earlier by Anne, and I don't know of other items that had this problem.

Closing.

[2017-02-21 17:36] #462 closed, assigned to nobody

[2017-02-22 18:29] alawvt opened #465 "Create a modified file submission form for ETD collections"
Extends Issue #458.

Please add the text in Google Drive...VTechWorks/Custom Submission Forms/VTW_Custom_Submission_Forms/ETDCustomSubmissionForm, line 38, "loading instructions" hint to the file submission page of the ETD custom submission form.

[2017-02-22 18:30] #269 closed, assigned to pgray64

[2017-02-22 18:30] #456 closed, assigned to nobody

[2017-02-22 19:09] pgray64 commented on #458
I think it is problematic to have a custom submission form with multiple fields using the same dublin core name. When I test the form adding a value to "proxy name", which is of type dc.description.provenance, it shows up for all 3 provenance fields on the form.

[2017-02-22 21:35] alawvt commented on #458
If you can't get multiple form fields to map to the same dc.description.provenance, please make up multiple dc.provenance fields like dc.description.provenance2, etc for each mapping. Please submit a pull request with whatever you have on Friday so I can look it over next week. You might mention the issue to @keithgee, if he is available.

[2017-02-22 21:42] alawvt commented on #465
You will probably need to overlay a file to override UploadWithEmbargoStep.java. It would be great if you could set the embargo option on this page to only the fixed value of one year (don't have the person choose a release date) or remove the embargo option.

[2017-02-24 16:56] pgray64 commented on #458
I'll use the alternate dc fields. Looks like this issue is a common one.

[2017-02-24 20:00] pgray64 commented on #458
Made workaround so multiple fields can correspond to dc.description.provenance.
I used 5 temporary dc fields: dc.description.provenance1 ... dc.description.provenance5 and a non-interactive submission step.

In metadata editor need to add: `dc.description.generalabstract` and `dc.description.provenance1`, `dc.description.provenance2`, ... `dc.description.provenance5`

Interface now works normally

[2017-02-27 15:26] cecross1 opened #466 "Problem depositing article when manually entering journal title instead of using SHERPA lookup"
[MerolaMuOxidoBis.pdf](https://github.com/VTUL/vtechworks/files/804090/MerolaMuOxidoBis.pdf)

Last Friday, I attempted to deposit the attached OASF article into VTechWorks. After I'd finished the first two submission screens and clicked Next to upload the PDF, I received an error message (please see attached screenshot). I tried logging out of VTechWorks, then closing and reopening Chrome, my defa

[2017-02-27 17:52] keithgee commented on #466
I was able to submit this article and it's at https://vtechworks.lib.vt.edu/handle/10919/75184.
The metadata needs to be corrected - @cecross1 can you fix the metadata up to our standards and also get the correct characters into the title and description?

@alawvt the only unusual thing I found in the log file today was this:
[code]

I don't know that it is related.

[2017-02-27 17:53] keithgee commented on #466
FYI submitted with the latest version of Safari.

[2017-02-27 18:02] cecross1 commented on #466
Keith,

Thanks for your help with the submission. I'll take a look at the metadata.

C

[2017-02-27 18:24] alawvt commented on #466
@keithgee, thanks for depositing this and checking the log. I am still getting the error in both Firefox and Safari. It seems to be related to entering a title in the Journal Title box and not using the Lookup button. If I use the Lookup button it seems to deposit ok. If I don't, I get the error. Would you mind trying it?  Thanks.

[2017-02-28 13:50] alawvt commented on #466
Philip reported the same problem this (Tuesday) morning.

[2017-02-28 14:12] keithgee commented on #466
Yes, @alawvt, thank you. I'm able to duplicate the issue on my local development environment, where the log files are less busy and where there's no need to clean up after test items.

When I enter the journal title manually and never use the lookup button, I get the error screen when I try to go to the next page. When I submitted the original failed item to production, I used the Lookup button to

[2017-02-28 14:40] keithgee commented on #466
I have pushed branch fix_manual_entry_of_journal_title with a quick fix for this issue, PR #467.

The fix allows manual entry of the journal title, and with the fix, SHERPA lookup still works. I've not looked at this particular code before, so it may be one of many alternative fixes.

I've added the dspacecore label to this issue, because we may wish to research and test if this bug still exists i

[2017-02-28 14:54] alawvt commented on #466
@keithgee, thank you very much for this fix. If you'd like to go back a ways in the commit history to see if this was a problem earlier, that would be great.

I would like to push this soon. The last deployment to dev, pprd, and prod were before the commits on 2/14-15 for the journal look up behavior. I assume that your branch was after those commits. I will pull your branch and test. If they all

[2017-02-28 15:09] keithgee commented on #466
Thanks, @alawvt. It sounds like I would have done better to base my fix on what is currently deployed to production instead of the latest vt_5_x_dev commit.

[2017-02-28 17:37] #434 closed, assigned to pgray64

[2017-02-28 17:42] alawvt commented on #414
Please try mapping the ORCiD directly in contributor.author field instead of identifier.orcid by changing dspace/config/crosswalks/symplectic_xwalks_dspace_default.xsl:101  to `<xsl:when test="$repo_field = 'dc.contributor.author'">`.

[2017-02-28 19:11] alawvt commented on #466
The initial issue to implement the Journal Title field lookup is #174.

The DSpace 6 demo site, https://demo.dspace.org/xmlui/, does not have the journal title as part of its submission form. I would assume the [SHERPARoMEOJournalTitle](plugin9https://wiki.duraspace.org/display/DSPACE/Authority+Control+of+Metadata+Values#AuthorityControlofMetadataValues-ChoiceManagementConfiguration) plug-in is no

[2017-02-28 20:47] alawvt commented on #466
My attempt to implement a version of [fixed DS-2751 by checking for null #1400](https://github.com/DSpace/DSpace/pull/1400) failed to fix the issue. However PR #467 that @keithgee wrote does, so I have merged that pull request and ask ITS to deploy it as a hot fix on production tomorrow morning.

[2017-03-01 15:22] alawvt commented on #466
@keithgee's PR has been installed as a hot fix on production.

[2017-03-01 15:22] #466 closed, assigned to alawvt

[2017-03-03 15:48] alawvt opened #468 "Display the General Audience abstract in Simple Item View"
When an ETD or other item contains a general audience abstract (dc.description.abstractgeneral), display it in Simple Item View it below dc.description.abstract as,
[code]
Search results and browse should only display dc.description.abstract.

[2017-03-03 18:59] pgray64 commented on #465
PR #461 adds these customizations.

[2017-03-03 18:59] pgray64 commented on #458
PR #461 has the update changes pushed to branch

[2017-03-03 20:33] pgray64 commented on #465
I removed the file description field and updated the description text.

[2017-03-13 13:25] alawvt opened #469 "Thumbnail not appearing in browse view"
Browsing the collection, for instance by issue date, https://vtechworks.lib.vt.edu/browse?type=dateissued, most items have thumbnails, but that a few are listed with a link for "Thumbnail" in Firefox and Safari or the broken image symbol in Safari, rather than the actual thumbnail. The thumbnail displays in Simple Item View and in Edit Item View. It seems like the items with this problem differ be

[2017-03-13 15:59] keithgee commented on #469
It seems like there is an issue with the connectivity between the database and the DSpace web application this morning. It's not just the new ETDs that have problems, but all items, intermittently. Sometimes the thumbnails load and sometimes they don't. Also, occasionally a page loads without showing the list of items at all.
This procedure usually resolves it:

- stop Tomcat
- restart Postgres
-

[2017-03-13 16:00] zoto724 commented on #469
will restart in a few, still in a meeting.

[2017-03-13 16:39] alawvt commented on #469
Thank you, @keithgee for the diagnosis and @zoto724 for restart. I cleared my cache and it seems good now. @zoto724 plans to reboot the f5 tonight, as well.

[2017-03-14 13:13] alawvt commented on #469
Notes from @zoto724:
Restarted the f5, but it wasn't causing this.

Looking through logs on the server, Apache is responding http 500.
[code]
There are psql errors, as @keithgee  mentioned.

 I'll look into the postgres instance tomorrow but nothing changed the past few days.

[2017-03-14 13:50] alawvt commented on #469
DSpace logs:
[code]

[2017-03-14 20:09] alawvt opened #470 "Test LOCKSS plugin for DSpace"

[2017-03-14 20:16] #470 closed, assigned to nobody

[2017-03-15 16:11] pgray64 commented on #458
Provenance reason label addition pushed to PR #461

[2017-03-15 17:12] pgray64 commented on #468
PR #471 adds general audience abstract to simple item view

[2017-03-16 19:33] alawvt opened #472 "Proxy error using batch metadata upload interface"
I tried to upload a csv (3 columns, 985 rows) of metadata changes in the web interface, https://vtechworks.lib.vt.edu/admin/metadataimport. It showed the preview of the changes, which looked fine. I hit "upload," waited several minutes (longer than usual), then received an error message,
[code]

I spot checked and the changes did seem to have been applied.

This happened for the next csv (3 column

[2017-03-17 14:39] alawvt opened #473 "Add thesis.degree.discipline as a source for the Department facet and search filter in ETD collections"
Please add thesis.degree.discipline as a source for the Department facet and search filter in the ETD collections. The search facets and filter for this collection were defined earlier  in https://github.com/VTUL/vtechworks/commit/179c34f24ee3c5c315c17de6df4f69f58cde7d44.

[2017-03-17 15:25] alawvt opened #474 "Make abstract a required field in NDLTD submission form"

[2017-03-17 20:02] alawvt commented on #473
not needed- already configured

[2017-03-17 20:02] #473 closed, assigned to pgray64

[2017-03-22 15:27] alawvt opened #475 "Change OMALS submission form to use new file deposit page that has naming convention and requests a PDF"
Change OMALS submission form to use the new file deposit page from the ETD submission form.

[2017-03-22 15:29] alawvt opened #476 "Create a SQL query or function to change text_lang from '' to NULL"
In the metadata table, create a SQL query or function to change text_lang from '' to NULL.

[2017-03-22 15:37] alawvt opened #477 "Create instructions and SQL function or query to redirect one handle to another"
If we have duplicates, handledeleted and handlekept, create instructions and SQL function or query to redirect handledeleted to handlekept.

[2017-03-22 15:53] pgray64 commented on #476
` update metadatavalue set text_lang=NULL where text_lang='';`

changed 185974 metadata `text_lang` fields from '' to NULL on my LDE

[2017-03-22 16:24] pgray64 commented on #477
Would you like it so visiting handledeleted returns the resource pointed to be handlekept (but still shows handledeleted in the URL bar).
Or would you want handledeleted to actually redirect in the browser to handlekept?
 The second option couldn't be done with just SQL queries.

[2017-03-22 16:34] alawvt commented on #477
I think it would be ok to do the SQL-only one.

[2017-03-22 16:53] pgray64 commented on #477
Make handledeleted essentially an alias of handlekept:

`update handle set resource_id=handlekept.resource_id from (select resource_id from handle where handle='<HANDLE_KEPT>') as handlekept where handle.handle='<HANDLE_DELETED>';`

replacing <HANDLE_KEPT> and <HANDLE_DELETED> with the actual handles

[2017-03-22 18:36] pgray64 commented on #475
PR #478 makes this change

[2017-03-23 17:11] keithgee commented on #414
@alawvt, I've made this code change and tested on my local. When I deposit from ed.lib.vt.edu, the ORCIDs vanish - they are no longer in any field.
Here's a sample:
http://vtkeithg.lib.vt.edu/77777/8?show=full

You're also welcome to try a deposit from ed.lib.vt.edu, if you want to verify the behavior. Or it might work for you!

[2017-03-23 17:26] alawvt commented on #414
@keithgee, thank you very much for trying this. I tried one too, and it didn't show, as well.

[2017-03-23 17:33] #414 closed, assigned to keithgee

[2017-03-23 18:12] alawvt commented on #475
@pgray64, nice job, thanks.

[2017-03-23 18:12] #475 closed, assigned to pgray64

[2017-03-23 18:29] alawvt commented on #468
@pgray64, thank you, it looks good.

[2017-03-23 18:29] #468 closed, assigned to pgray64

[2017-03-24 12:08] alawvt opened #479 "Install the REST API on your LDE and document procedure"
Please install the [REST API](https://wiki.duraspace.org/display/DSDOC5x/REST+API) on your LDE and document your procedure.

[2017-03-24 15:22] alawvt commented on #465
@pgray64, thanks, this is excellent. Please add the latest changes in red on the customization spreadsheet.

[2017-03-24 15:24] alawvt commented on #458
@pgray64, this is look very good. Please add the latest changes in red on the customization spreadsheet.

[2017-03-24 15:58] alawvt opened #480 "In the NDLTD submission form, make dc.description.abstract a required field."

[2017-03-24 16:34] pgray64 commented on #465
Latest changes pushed to #481

[2017-03-24 17:01] pgray64 commented on #465
Change to make NDLTD abstract required pushed too

[2017-03-24 17:13] pgray64 commented on #480
This change was pushed to branch from PR #465

[2017-03-24 17:24] #474 closed, assigned to pgray64

[2017-03-24 19:24] alawvt commented on #479
Please document it on https://git.it.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/rest_api

[2017-03-24 19:24] #480 closed, assigned to pgray64

[2017-03-24 19:26] #465 closed, assigned to pgray64

[2017-03-24 19:26] #458 closed, assigned to pgray64

[2017-03-24 19:32] alawvt opened #483 "Create a test plan for Swan sprint"
Create a test plan for Swan sprint in Google Drive.../Testing/Dspace_5.6_2017_Feb_15_March_24_Swan_Testing.

[2017-03-29 13:28] alawvt commented on #483
done

[2017-03-29 13:28] #483 closed, assigned to alawvt

[2017-03-29 13:30] alawvt commented on #479
@keithgee added some note to the wiki page. Please continue with installing and documenting the REST API. If you need to change vtlibans for this to work, please submit it as a pull request for that project.

[2017-03-29 13:30] alawvt commented on #477
thank you.

[2017-03-29 13:30] #477 closed, assigned to pgray64

[2017-03-29 13:30] alawvt commented on #476
thank you.

[2017-03-29 13:30] #476 closed, assigned to pgray64

[2017-03-29 13:37] alawvt opened #484 "Revert the file upload step in the OMALS submission form to the standard page"
Please revert #478 to change the file upload step in the OMALS submission form to the standard file submission page. I believe now the one from the ETD form will be confusing to OMALS students.

[2017-03-29 13:51] alawvt opened #485 "Investigate and test SWORD 2"
Please investigate and test SWORD 2 and add your findings to [BioMed Central Collection and SWORD](https://git.it.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/biomed_sword). That page explains how we are currently using SWORD 1 to automatically harvest the BioMed Central collection and has links to some SWORD references.

[2017-03-29 16:20] pgray64 commented on #484
Fixed with PR #486

[2017-03-31 14:04] #472 closed, assigned to nobody

[2017-03-31 14:05] #469 closed, assigned to nobody

[2017-04-03 13:15] alawvt opened #487 "Images in 4/16 collection description not appearing"
The [4/16 Condolence Archive collection](https://vtechworks.lib.vt.edu/handle/10919/11385) has numerous images in the collection description and they are not being displayed. In Firefox they are completely absent. In Chrome, shown below, ![4_16_collection](https://cloud.githubusercontent.com/assets/13037168/24610691/908eb852-184d-11e7-8ed9-acbe47a781dc.jpg) the broken image symbols are displayed.

[2017-04-03 16:42] keithgee commented on #487
Last September/October some security settings were hardened by ITS for VTechWorks, including the addition of a Content Security Policy. We didn't think to review this customized page in our test plan. Here's the related task in GitHub.

https://github.com/VTUL/vtechworks/issues/388

The current Content-Security-Policy header suggests that browsers disallow images loaded via 'http'. They must be lo

[2017-04-03 16:42] #487 closed, assigned to keithgee

[2017-04-03 16:44] alawvt commented on #487
@kdweeks, thank you very much for reporting this issue.
@keithgee, thank you very much for fixing this.

[2017-04-03 16:48] alawvt commented on #487
@keithgee, I did a search for "http://" and found 13 items with this possible problem. I will check them - done.

[2017-04-03 20:50] alawvt commented on #484
Thank you.

[2017-04-03 20:50] #484 closed, assigned to pgray64

[2017-04-05 13:47] alawvt commented on #479
@pgray64 and @keithgee, thank you very much for working on this. I have created an issue, https://git.it.vt.edu/it-services/vtlibans_dspace/issues/91, in the vtlibans project to continue this work.

[2017-04-07 19:02] alawvt opened #488 "Modify the vt_degree_names value-pairs for the ETD submission form"
Please modify the vt_degree_names value-pairs for the ETD submission form to those listed in the ETD Submission form spreadsheet.

[2017-04-07 19:33] pgray64 commented on #488
Degree names updated: PR #489

[2017-04-07 20:03] alawvt opened #490 "Install DSpace 6 on your LDE and document the procedure"
Please install DSpace 6 on your LDE and document the procedure in the vtlibans wiki page, [DSpace 6 Installation](https://git.it.vt.edu/it-services/vtlibans_dspace/wikis/dspace_6). I think it makes sense to add it a a branch to this repository, using the instructions in https://github.com/VTUL/vtechworks/wiki/Upgrading-VTechWorks-for-DSpace-point-releases. @keithgee, do you have any thoughts on th

[2017-04-11 12:39] keithgee commented on #490
@alawvt, I think the quickest way to get a version of DSpace 6 with our data in it for the purposes of database querying and general testing may be to start with a pre-existing VTechWorks LDE running DSpace 5.x, and then follow the upgrade instructions on the documentation wiki:
https://wiki.duraspace.org/display/DSDOC6x/Upgrading+DSpace

If and when we commit to upgrading to DSpace 6 for the dev/

[2017-04-11 12:46] alawvt commented on #490
@keithgee, thank you very much for these ideas.

@pgray64, please try the upgrade path that @keithgee linked first with a new LDE and record the experience (steps needed, time and effort required, problems).

Then let's begin the path that @keithgee has outlined by creating a vt_6_x_dev branch and trying to get that to work with  default DSpace.

[2017-04-12 16:32] alawvt commented on #479
Please try to implement with a self-signed certificate.

[2017-04-12 16:50] keithgee opened #491 "SWORD broken on production?"
SWORD appears to be broken on production VTechWorks.
I'm unable to get a Service Document.

There's also some unexpected behavior - error messages show http in urls instead of https, even when accessed via https.

[2017-04-12 17:58] keithgee commented on #491
I put in a TeamDynamix ticket request 2945569 because I'm not sure if we will fix this in VTechWorks, or if ITS can doing something with server or network configuration.

Attempting to access https://vtechworks.lib.vt.edu/sword/servicedocument/10919/18629 (and entering my username and password on VTechWorks) gives an error message: Unable to recognise URL as a valid service document: http://vtechw

[2017-04-12 18:01] alawvt commented on #491
@keithgee and @pgray64, thank you very much for researching this issue and reporting in in TeamDynamix.

[2017-04-12 18:30] keithgee commented on #491
Aaron responded and said that the behavior I'm seeing is expected with our setup. The easiest fix for us might be to set separate, explicit http urls in the sword-server.cfg and swordv2-server.cfg files. They need to be different for dev, pre-prod, prod and LDEs though. @alawvt and @pgray64, do either of you know how to parameterize these configuration settings so that they can be different on eac

[2017-04-12 19:02] alawvt commented on #491
@keithgee, thanks for relaying a possible solution. @pgray64, would you take a stab at it as a Merge Request in the vtlibans project and, @zoto724, would your review it?

[2017-04-13 20:19] alawvt commented on #479
Please try to implement this with a Merge Request in the vtlibans project.

[2017-04-14 20:24] pgray64 commented on #491
I pushed  to a branch https://git.it.vt.edu/it-services/vtlibans_dspace/commits/conditional_https so that in site_secrets you can specify https or http depending if you are on LDE or not (https being the default so it doesn't break anything).

The above setting is used in dspace.cfg, which is in turn used in both sword config files.

The actual hostname is appearing as http://vtechworksvm on my LD

[2017-04-19 15:51] keithgee commented on #491
Thanks @pgray64. There's a bit of a twist with the way that we have things configured.
With the current configuration, on the development, pre-prod, and production servers, the urls in dspace.cfg must be configured with https, while the urls in the sword config files must be configured with http.

This is counter-intuitive. I'm fuzzy on the exact details but I'll try to explain. There's a load bal

[2017-04-19 16:00] pgray64 commented on #491
Okay, I understand. So this should work fine on LDEs too.

[2017-04-19 16:21] keithgee commented on #491
I'll confess here, too, that last week I tested the SWORD http configuration on dev only for the service document url and the service document request. I didn't change all of the URLs and test a full deposit.

[2017-04-19 16:47] pgray64 commented on #491
The only files that need to be changed are sword configs in dspace, since the hostname already exists as a variable without the protocol specified. Testing the changes now on LDE.

[2017-04-19 18:31] pgray64 commented on #491
Something like https://github.com/VTUL/vtechworks/tree/sword_http_fix I think would work, though I managed to break my LDE and therefore didn't have time to test the change today.

[2017-04-21 14:45] alawvt opened #492 "Blank thumbnails are created from some ETDs"
[filter-media](http://mirror.swem.wm.edu/DSDOC/wiki.duraspace.org/display/DSDOC5x/Mediafilters%2Bfor%2BTransforming%2BDSpace%2BContent.html) generates thumbnails using ImageMagick. Most thumbnails are generated correctly for ETDs. For instances, all ETDs loaded yesterday are fine. However some (~2%?) are created as blank images. Examples are

- https://vtechworks.lib.vt.edu/handle/10919/74049
- ht

[2017-04-21 15:52] alawvt commented on #492
@zoto724 reports a Java heap space issue related to this, which he will investigate later
[code]

[2017-04-21 20:03] pgray64 commented on #491
PR #493 addresses this.

[2017-04-27 14:58] #492 closed, assigned to nobody

[2017-05-08 16:03] alawvt commented on #488
thank you.

[2017-05-08 16:03] #488 closed, assigned to alawvt

[2017-05-09 19:49] alawvt opened #494 "Duplicate items in BioMed Central collection"
There have been numerous duplicates deposited in the BioMed Central collection. I have been reconciling copies and removing duplicates. To prevent duplicates from being uploaded once we have SWORD working again and to aid troubleshooting, I have added an approval step for this collection. Please don't approve any item in this collection without first checking for copies already in this collection.

[2017-05-11 14:21] alawvt commented on #494
I removed approximately 445-327=118 duplicates (plus 3 more duplicates that had been withdrawn) in the BioMed Central collection. These are items that had identical files and metadata. Most of them appear to have been loaded in the initial BioMed Central ingest, often differing by only 1 in the handle numbers. I also removed the XML file from the items that I kept, so they will not appear in Item

[2017-05-15 19:29] alawvt opened #495 "Fix video submission form - duplicate notes fields"
In the submission form, page 2 contains fields pertaining to particular item types. When the item type is "Article," text added in the Notes field is mapped correctly to dc.description.notes. However when the type is "Video," text in the notes field is mapped twice to dc.description.notes. Also in the review step of the submission form, the same text also appears in the dc.description.transcriptio

[2017-05-16 19:31] alawvt commented on #491
@zoto724 has fixed this with a change to the vtlibans project, https://git.it.vt.edu/it-services/vtlibans_dspace/commit/63b771601ed7c3966f5999426d780c049d7c40a1.

Thank you, @keithgee, @pgray64, and @zoto724!

[2017-05-16 19:31] #491 closed, assigned to alawvt

[2017-05-19 19:54] #495 closed, assigned to nobody

[2017-05-19 19:55] #494 closed, assigned to nobody

[2017-05-19 19:55] #485 closed, assigned to alawvt

[2017-05-23 20:03] alawvt opened #496 "Investigate and correct OAI-PMH datestamps, as requested by SHARE"
MAY 23, 2017  |  01:50PM EDT
Rebecca Rosenblatt replied:

Thank you for reaching out. Yes, absolutely! According to the OAI-PMH protocol (https://www.openarchives.org/OAI/openarchivesprotocol.html#Identify), the earliestDatestamp is: a UTCdatetime that is the guaranteed lower limit of all datestamps recording changes, modifications, or deletions in the repository. A repository must not use datesta

[2017-06-02 17:31] alawvt commented on #433
completed, https://blogs.lt.vt.edu/openvt/2017/06/02/introducing-the-virginia-tech-patents-collection-in-vtechworks-and-the-patent-harvesting-software-repository-patent-harvest/

[2017-06-02 17:31] #433 closed, assigned to alawvt

[2017-06-02 17:32] alawvt commented on #376
completed, https://github.com/VTUL/patent-harvest

[2017-06-02 17:32] #376 closed, assigned to alawvt

[2017-06-02 17:39] alawvt opened #497 "Error when responding to "request a copy""
A user received the "request a copy" email from another user. When she clicked on the link in the email, completed the form, and hit "send," she received the error page, with URL https://vtechworks.lib.vt.edu/itemRequestResponse/verylonghexnumber/.
![image](https://cloud.githubusercontent.com/assets/13037168/26737591/bbf09d56-4798-11e7-868f-9a373a59e696.png)
When she logged in first and repeated c

[2017-06-02 19:01] alawvt commented on #497
I requested a test item on pprd and prod and the request response worked normally. I saw the request screen, clicked "send," and received the requested file. Next, I used the same group, Admin_Fund_of_Businsss, for the Read policy for the file in the test item as this item, http://hdl.handle.net/10919/70961, and it also worked, as expected.  However, when I sent a request to this user for the file

[2017-06-14 13:56] alawvt opened #498 "Incorrect date in <meta name="citation_date">"
We have received a request from Google to look at items that have the wrong date in <meta name="citation_date"> header. The two examples they gave are items in the SANREM collection. Examples are
[code]

The date in <meta name="citation_date"> is derived using the crosswalk, dspace/config/crosswalks/google-metadata.properties,
[code]
The SANREM metadata was not prepared by us and is not standard.

[2017-06-15 17:16] alawvt commented on #498
I moved the value in dc.date.created to dc.date.issued. If an item did not a value in dc.date.created, I copied the value in dc.date.submitted to dc.date.issued. I removed all dc.date.created and dc.date.submitted.

I have added a Backlog item to investigate improvements and customizations to the Google crosswalk.

[2017-06-15 17:16] #498 closed, assigned to nobody

[2017-06-15 18:22] alawvt commented on #496
dsapce/dsapce-oai/src/main/java/org/dspace/xoai/services/api/database/EarliestDateResolver.java looks for the minimum value of dc.date.available.

dc.date.available is used by DSpace to record when an item is deposited. The dates are in the form, 2013-01-08T16:43:48Z	.

The ETD-db import in 2014 crosswalked a field into the field, dc.date.available[en_US]. This is causing these incorrect, too earl

[2017-06-16 19:36] ankur-a commented on #490
Can anyone help in integrating video playback feature on dspace 6? I'm facing an error on playing videos on chrome and other browsers except firefox which seems to smoothly play the video.
Chrome is showing
VIDEOJS: ERROR: (CODE:4 MEDIA_ERR_SRC_NOT_SUPPORTED) The media could not be loaded, either because the server or network failed or because the format is not supported.
in its console

[2017-06-16 23:31] ankur-a opened #499 "Integration of video streaming in Dspace 6"
Can anyone help in integrating video playback feature on dspace 6? I'm facing an error on playing videos on chrome and other browsers except firefox which seems to smoothly play the video.
Chrome is showing
VIDEOJS: ERROR: (CODE:4 MEDIA_ERR_SRC_NOT_SUPPORTED) The media could not be loaded, either because the server or network failed or because the format is not supported.
in its console

[2017-06-19 13:49] keithgee commented on #490
@ankurcode, we haven't tried this with DSpace 6 yet. We're waiting to upgrade because of dependencies with another system that is integrated with our repository.

I might be able to peek at your issue in about two weeks - please ping me then to remind me.
Thanks!

[2017-06-19 20:07] keithgee commented on #499
@ankurcode I may be able to help in about two weeks. We're on DSpace 5 now. I haven't tried to add our video playback code to DSpace 6, so I'm not aware of the particular issues.

Video playback isn't included with DSpace, you have to add it on.

If you're using HTML 5 playback, as we're doing with VTechWorks, the videos have to be in formats that your browser understands.
You might look for a cha

[2017-06-19 20:08] #499 closed, assigned to nobody

[2017-06-19 20:11] keithgee commented on #499
I forgot to mention that if you have a budget to add a video streaming feature to the repository, I recommend having a chat with @bram-atmire. The atmire company has done some work for clients before related to video playback in DSpace.

[2017-06-21 14:57] cecross1 opened #500 "Error loading PDF of http://hdl.handle.net/10919/56312"
A user tried to download the PDF for [http://hdl.handle.net/10919/56312](http://hdl.handle.net/10919/56312), and he stated that the file would not load, even though it's not restricted. I tested the link using a VPN site, and received the error message "Failed to load PDF document". It's a large file, so maybe that's the reason for the error? I resolved the issue by emailing the PDF directly to th

[2017-06-21 22:32] keithgee commented on #500
Thanks @cecross1.
It seems to be working now such that I can't duplicate the problem anymore, from the office or from a mobile phone on an external network. For a brief window today after you reported this problem, I also received an error when I tried to load PDF files on VTechWorks, but only with Safari 10.1.2 on macOS.

I will tag @zoto724 to let him know that the error, in my case, was about t

[2017-06-21 22:32] #500 closed, assigned to nobody

[2017-06-21 22:53] keithgee commented on #500
Additional note: I can recreate the blocked plugin error on Safari 10.1.2 on macOS when I am signed into my Gmail account. When I'm not signed in, everything works as expected.

When I am signed into Gmail, this browser tries to POST data to https://mail.google.com/mail/cspreport, which seems to cause the problem. I don't see a report-uri directive in the CSP. Perhaps it's a browser bug.

[2017-06-21 23:02] keithgee commented on #500
Can now load the PDF fine when signed into Gmail. (And it's no longer trying to post a CSP report). Confused and giving it a rest for the evening.

[2017-06-22 12:07] cecross1 commented on #500
Thanks, Keith!  When I got the error, I had tried loading the PDF in both Chrome and Firefox. I was also signed into Gmail at the time, so I wonder if that had something to do with it? If it happens again, I'll reopen the ticket.

[2017-06-29 18:27] ankur-a commented on #499
Thanks to your paper on the integration of video and also pdf streaming I was able to integrate the same feature on Dspace 6 with minor changes.

[2017-06-29 18:30] ankur-a commented on #490
We have succesfully installed dspace 6 on ubuntu sever 16.04 and steps can be found in.
 https://github.com/fresearchgroup/oer/wiki/DSpace-installation-procedure

[2017-07-25 20:18] alawvt commented on #496
Responded to SHARE. Hope to resolve more fully later.

[2017-08-29 15:13] keithgee commented on #479
This has been deployed to dev/pprd/prod.
Documentation and a python script for checking that the REST API is operational, and to check on item security will be in the vtlibans project.

[2017-08-29 15:13] #479 closed, assigned to pgray64

[2017-09-13 14:34] alawvt opened #501 "Install DS-950: OAI should respect metadata.hidden... config properties. #1113"
Install https://github.com/DSpace/DSpace/pull/1113/.

"Just a clarification regarding displaying the provenance field via OAI-PMH by default: This bug was fixed in DSpace 6.0 (and above), see:
https://jira.duraspace.org/browse/DS-950

The PR that fixed it was this one: https://github.com/DSpace/DSpace/pull/1113

As Claudia noted, the "metadata.hide.*" settings in your dspace.cfg are now respected

[2017-09-13 16:22] alawvt opened #502 "Set up connection for SWORD ingest from Hindawi"
Set up connection for SWORD ingest from Hindawi. Please document the settings in VTechWorks documentation wiki.

[2017-09-14 12:43] pyc1 commented on #502
Hindawi was using https with the SWORD endpoints- @keithgee, can you look into our settings to see what the problem might be?  I will start a Hindawi stub on the SWORD wiki entry.  Thanks!

[2017-09-14 12:47] alawvt commented on #502
@pyc1, could you post here the error that they received? That would help with troubleshooting.

[2017-09-14 12:54] pyc1 commented on #502
Oops sorry- they got a 502 bad gateway error.

[2017-09-14 13:02] alawvt commented on #502
Thanks, @pyc1. I added @keithgee as a mention to your message.

[2017-09-14 16:42] keithgee commented on #502
The problem may not be on our end. The DSpace log files show that BioMed Central successfully uploaded via SWORD on September 2nd. I can't find any activity for the Hindawi email address in our log files except for when the account was created and the password changed.

After our discussion in the group today, @pyc1 will send sample SWORD curl commands to Hindawi for testing on the command line, a

[2017-09-14 16:51] keithgee commented on #502
I forgot to add that I'm able to access the service document at https://vtechworks.lib.vt.edu/sword/servicedocument, using web browser from on campus and off-campus. This hints to me that it is more likely to be an issue related to networking than a problem with the DSpace configuration.

[2017-09-14 16:56] pyc1 commented on #502
Should that be the endpoint, then, instead of just /sword which returns a 404?

[2017-09-14 17:02] keithgee commented on #502
@pyc1 you can send them that information as well, as it may be helpful to them. Perhaps that's the URL that they need.

[2017-09-18 17:06] pyc1 commented on #502
The service document seemed to help.  Earlier today they uploaded 211 articles in both XML and PDF.  @keithgee I was wondering if this would cause a thumbnail generation problem, so on one article I put the PDF before the XML (https://vtechworks.lib.vt.edu/handle/10919/79127).  Other issues include:

- Not sure if there are any duplicates; do we have a way of detecting these?
- dc.date problems (f

[2017-09-18 17:21] alawvt commented on #502
[Hindawi](https://vtechworks.lib.vt.edu/handle/10919/78797) collection

The easiest way to look for duplicates is to export the metadata for the collection and search in the CSV.

I'd ask them to fix their dates in the future. You could fix these dates manually and re-import the csv. I should show you first our procedure for batch metadata changes.

I think the "Peer Reviewed" is ok, at least for

[2017-09-28 20:30] alawvt commented on #502
The collection looks good.

[2017-09-28 20:30] #502 closed, assigned to pyc1, keithgee

[2017-09-28 20:30] #490 closed, assigned to nobody

[2017-09-28 20:41] alawvt opened #503 "Run the ETD-db ingest script on the 8 ETDs left in Withheld."
Please run the ETD-db ingest script on the 8 remaining ETDs in the ETD-db Withheld collection listed in Google Drive... VTechWorks/Content/ETDs/ETD-dbGonePublic2016_2017.

Prepare the metadata. Include [en_US] as the language code in each field heading, for example, dc.contributor.author[en_US], and upload the batches. Do not upload any files with PII such as vitas.

Add their release dates to Goo

[2017-10-04 19:16] alawvt opened #504 "In the submission form, Conference title value is not mapped"
In the submission form, Conference Title value should be mapped to dc.relation.ispartof but is not. @pyc1 and @cecross1, after submission, please "Edit this item" to add this field by hand until this can be resolved.

[2017-10-06 20:28] alawvt opened #505 "Incomplete distibution license agreement during submission"
@gailmmac recently submitted items such as http://hdl.handle.net/10919/79544 to the [HNFE Publications collection](https://vtechworks.lib.vt.edu/handle/10919/79538). During the submission process, only part of the distribution license agreement appeared. The resulting license bitstream is incomplete, only containing the text, "This is the license," instead of the full distribution license. For com

[2017-10-09 15:55] alawvt opened #506 "Update VTechWorks with new branding"
Update VTechWorks with then new [Virginia Tech Brand](https://vt.edu/brand.html), including the new [logo](https://vt.edu/content/vt_edu/en/brand-center/index.html).

[2017-10-09 16:31] #505 closed, assigned to nobody

[2017-10-09 17:16] alawvt opened #507 "Upgrade from DSpace 5.6 to 5.8"
Upgrade from DSpace 5.6 to 5.8, https://github.com/DSpace/DSpace/releases/tag/dspace-5.8.

[2017-10-10 16:48] alawvt opened #508 "Upload 17 theses and 4 dissertation ETDs in upload_problems_20170428"
In Google Drive...VTechWorks/Content/BTD_ETD_projects/etd_db_ingest/ETD-db_upload_problems_20170428 is a spreadsheet of 17 theses and 4 dissertations to load. The associated files are in folders in that folder. Please follow the notes in the spreadsheet. Upload the metadata files with the batch metadata upload tool and web interface. Record ETDs that are missing files in the missing files list. Re

[2017-10-11 12:13] alawvt commented on #506
We will postpone this task.

[2017-10-18 21:36] kdweeks commented on #508
While working on:
etd-51797-145925 - at: [http://theses.lib.vt.edu/theses/available/etd-51797-145925/unrestricted/full_text/etd.htm](http://theses.lib.vt.edu/theses/available/etd-51797-145925/unrestricted/full_text/etd.htm)
Used Acrobat to crawl 308 pages with 84 errors.
Error Summary Base URLs:

[http://theses.lib.vt.edu/theses/available/etd-51797-145925/unrestricted/full_text/carnitine/](http://

[2017-10-18 21:38] #503 closed, assigned to kdweeks

[2017-10-23 13:24] cecross1 opened #509 "Error submitting new content to VTechWorks"
When trying to upload an item to VTW through the submission form, the submission cannot be completed. When you select "next" after reviewing your submission, the  generic error page comes up.  I tried to submit to both the Division of Student Affairs Collection (https://vtechworks.lib.vt.edu/handle/10919/19173) and the University Libraries test collection (https://vtechworks.lib.vt.edu/handle/1091

[2017-10-23 14:26] alawvt commented on #509
@arunkp7489 rebooted Tomcat; still getting the error.

[2017-10-23 14:57] cecross1 commented on #509
FYI, batch uploading via csv is still working.

[2017-10-23 16:54] keithgee opened #510 "Error with thumbnails of new items in VTechWorks (resolved)"
Thumbnails of newer items in VTechworks weren't loading properly. An example:

https://vtechworks.lib.vt.edu/bitstream/handle/10919/79732/Nelson_AJ_D_2016.pdf.jpg?sequence=4&isAllowed=y

Instead of returning the thumbnail, this returned the libraries error page (we're working on the problem, this page will attempt to reload every 30 seconds)

Loading the thumbnail directly (via http connection to

[2017-10-23 16:55] keithgee commented on #510
Tagging @zoto724 @arunkp7489 and closing. This appears to be resolved, at least presently.

[2017-10-23 16:57] keithgee commented on #509
Upload via web on VTechWorks prod seems to be working now;  @alawvt is following up with ITS.

Verified by @alawvt, @cecross1, and @keithgee .

[2017-10-23 17:01] #510 closed, assigned to nobody

[2017-10-23 17:29] alawvt commented on #509
This was caused when the VM was automatically moved to a new host following a hardware failure on Sunday. It was resolved by moving the VM manually to a new host and restarting.

[2017-10-23 17:29] #509 closed, assigned to nobody

[2017-10-23 17:30] alawvt commented on #510
This was caused when the VM was automatically moved to a new host following a hardware failure on Sunday. It was resolved by moving the VM manually to a new host and restarting.

[2017-10-24 18:44] alawvt commented on #508
@kdweeks, thanks for the notes on spreadsheet about the 16 theses you have uploaded and the metadata for the dissertations.

[2017-10-24 18:48] alawvt commented on #507
@keithgee, the changes are in branch, add_5_8_changes, if you want to test.

[2017-10-24 19:52] alawvt commented on #507
Resolved with PR #511.

[2017-10-26 18:32] alawvt opened #512 "Test REST API in LDE"
@keithgee and @alawvt tested the latest commit from the add_5_8_changes branch, with the REST API script in https://code.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/rest_api. Both found that item deposit only worked every 2nd run of the script. The other runs resulted in a 500 error.

@alawvt then checked out the commit before the add_5_8 branch, https://github.com/VTUL/vtechwo

[2017-10-26 18:51] keithgee commented on #512
Thanks @alawvt. I may try with the scripts here:
https://gitlab.c3sl.ufpr.br/bnzanette/dspace-rest-requests

and check for different results. The test script we used started out as prototyping while I was at CPUT, and is bad code.

[2017-10-26 19:34] alawvt opened #513 "Test DSpace 5.8 changes on vtechworks"
Please use the test plan, Google Drive/VTechWorks/Testing/Dspace_5.8_2017_March_25_Oct_28_TUVWX_Yak_Testing, to test the DSpace 5.8 changes on vtechworks.dev.

[2017-11-10 15:32] alawvt opened #514 "Redirect URLs from ETD-db to VTechWorks"
Each ETD in ETD-db has an identifier like `etd-05192010-084406`. The corresponding URL for that ETD is `http://scholar.lib.vt.edu/theses/available/etd-05192010-084406/`. The files for that ETD are in folders within the corresponding "unrestricted" or "restricted" directory, e.g., `https://theses.lib.vt.edu/theses/available/etd-05192010-084406/unrestricted/Schuler_MM_T_2010.pdf`. Please redirect re

[2017-11-13 20:00] alawvt commented on #514
I have corrected the csv and re-uploaded it to Google Drive. Please keep line 20321
[code]
 and remove line 21012
[code]

[2017-11-13 20:10] alawvt commented on #514
@zoto724 has set up [YOURLS: Your Own URL Shortener](http://yourls.org/) to redirect.  To test, go to `https://etdredirect.vtlibraries.net/theses/available/etd-9898-10551/` or similar, where `https://etdredirect.vtlibraries.net` will become `https://theses.lib.vt.edu`  and change the ending to the ETD-db URL you want to test.

[2017-11-14 13:52] #501 closed, assigned to nobody

[2017-11-14 14:24] alawvt commented on #514
All URLs in the `https://theses.lib.vt.edu` domain will be redirected by default to the ETD collection, `http://hdl.handle.net/10919/5534`.

Each item in ETD-db will be redirected to the same item in VTechWorks, for example, `http://scholar.lib.vt.edu/theses/available/etd-05192010-084406/` and `http://scholar.lib.vt.edu/theses/available/etd-05192010-084406` will both be redirected to `http://hdl.h

[2017-11-15 19:58] alawvt commented on #512
Anton from University of Canterbury reports they are using Repository Tools 2 with DSpace 5.8, which indicates that item submission works with the REST API in DSpace 5.8 or that Symplectic has some way around it.

[2017-11-27 19:29] alawvt opened #515 "Items not indexed on production"
At least one item, `http://hdl.handle.net/10919/74350`, is not indexed on production but is indexed on pprd, `https://vtechworks.pprd.lib.vt.edu/handle/10919/74350`, and dev, `https://vtechworks.dev.lib.vt.edu/handle/10919/74350`. On production, the All Faculty collection that contains it has an item count of 1235. The metadata for the collection lists 1239 items. I do not know (but am not certain

[2017-11-28 13:34] alawvt commented on #515
@arunkp7489  rebuilt the index last night but it apparently did not finish because the collection counts are still low.

[2017-11-28 14:48] alawvt commented on #515
From /dspace/log/dspace.log.2017-11-27, here's an example of an item that was indexed
[code]
 and one that was not indexed,
[code]
The string, "Error while writing item to discovery index," occurs 37,412 times in this log.

[2017-11-28 14:58] alawvt commented on #515
@arunkp7489, would you look at http://dspace.2283337.n4.nabble.com/filter-media-error-crashed-DSpace-td4686240.html and see if this might be an issue for us?  Thanks.

[2017-11-28 15:15] alawvt commented on #515
As per the above issue, his /var is 100%. In our case we still have 25% free space. Also /var/cache/tomcat7/Catalina/localhost/_/cache-dir/cocoon-ehcache.data file referenced in the above issues is 1.7G in vtechworksprod box.

[2017-11-28 15:27] alawvt commented on #515
The directory in the error message is /tmp/tomcat7-tomcat7-tmp/. `<lst name="error"><str name="msg">Processing of multipart/form-data request failed. /tmp/tomcat7-tomcat7-tmp/upload_7f45faa5_15ffc1f9984__7fff_08696914.tmp (No such file or directory)</str><str name="trace">org.apache.commons.fileupload.FileUploadBase$IOFileUploadException: Processing of multipart/form-data request failed. /tmp/tomc

[2017-11-28 16:51] alawvt commented on #515
Reindexing had no effect,
[code]
with
[code]
So @arunkp7489, restarted DSpace and is running
[code]

[2017-11-29 13:32] alawvt commented on #515
Indexing completed at 17:00. On production, the All Faculty collection now lists 1239 items, as expected.

There was one error in the log,
[code]
https://groups.google.com/forum/#!msg/dspace-tech/rFerEopaAjE/U_hBQS9PFwAJ might be relevant.

I am able to find this item by searching for either author or title. The issue above points to a problem with the text files. I have deleted these.

I am closi

[2017-11-29 13:32] #515 closed, assigned to nobody

[2017-11-29 21:21] alawvt commented on #514
@zoto724 added special characters, `-_&.` to the allowed characters for file names. @kdweeks went through the list of file names in ETD-db, https://code.vt.edu/digital-research-services/etd_db_ingest/issues/30, and found more special characters in some names.
[code]
@zoto724, please add those you are comfortable adding to the allowed list.

[2017-12-04 17:43] #508 closed, assigned to kdweeks

[2017-12-04 17:43] alawvt commented on #508
Issue is complete

[2017-12-04 18:09] alawvt opened #516 "SWORD deposit fails on https://vtechworks-rt2.dev.lib.vt.edu"
For testing Repository Tools 2 in Elements, @zoto724 created a redirect so https://vtechworks-rt2.dev.lib.vt.edu is an alternate URL for  https://vtechworks.dev.lib.vt.edu. This URL works. The URL,  https://vtechworks-rt2.dev.lib.vt.edu/REST, also works. However, the [SWORDv2](https://wiki.duraspace.org/display/DSDOC5x/SWORDv2+Server) and [SWORD](https://wiki.duraspace.org/display/DSDOC5x/SWORDv1+

[2017-12-04 18:55] alawvt commented on #516
As @keithgee mentioned, please see #493 since a similar fix will probably be needed for the alternative URL, vtechworks-rt2.lib.vt.edu.

[2017-12-06 16:53] alawvt commented on #514
Here are the frequencies of the special characters in the list:

( = 84 occurrences

) = 83 occurrences

& = 83 occurrences

, = 59 occurrences

[ - 31 occurrences

] = 32 occurrences

% = 8 occurrences

\+ = 8 occurrences

~ = 7 occurrences

! = 7 occurrences

' = 3 occurrences

Ã = 2 occurrences

¶ = 2 occurrences

Â = 1 occurrence

® = 1 occurrence

[2017-12-08 16:13] alawvt commented on #516
It is not possible to enable SWORD or SWORDv2 for both vtechworks.dev.lib.vt.edu and vtechworks-rt2.dev.lib.vt.edu.

As noted in https://code.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/sword, Therefore,
**2017-12-08 Temporary Configuration:
SWORD is only enabled for vtechworks.dev.lib.vt.edu, not vtechworks-rt2.dev.lib.vt.edu. SWORDv2 is only enabled for vtechworks-rt2.dev.lib

[2017-12-08 16:26] alawvt commented on #514
@zoto724, please deploy this redirection when you are ready approximately January 3, 2018.

[2017-12-08 20:26] alawvt commented on #516
- `curl -i  https://vtechworks-rt2.dev.lib.vt.edu/swordv2/servicedocument --user "dspace-elements-rt2-g@vt.edu"` - result: service document returned

- `curl -i https://vtechworks-rt2.dev.lib.vt.edu/swordv2/collection/10919/80948 --data-binary "@art_4959256494595851995.zip" -H "Content-Disposition: filename=art_4959256494595851995.zip" -H "Content-Type: application/zip" -H "Packaging: http://purl.

[2017-12-12 19:22] alawvt commented on #516
Because of this problem which is not easily resolved, @zoto724 would like to move both the SWORD and SWORDv2 configuration back to vtechwork.dev and eliminate the vtechworks-rt2.dev URL. Testing on vtechworks.dev would only be for RT2, not RT1.

[2018-01-03 21:35] alawvt commented on #516
We have configured RT2 but not RT1 to work on vtechworks.dev.lib.vt.edu. Settings are documented in https://code.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/Elements_Repository_Tools_2.

[2018-01-03 21:35] #516 closed, assigned to zoto724

[2018-01-05 13:23] cecross1 opened #517 "Thumbnail not showing up in submission"
I uploaded a batch of newsletters to the Reports, news, etc., Department of Mining and Minerals Engineering Collection, but for some reason, one item doesn't have a thumbnail, even though it's been a couple of days. The item can be found here: http://hdl.handle.net/10919/81509. Thanks!

[2018-01-11 16:17] alawvt commented on #514
This has been completed. @zoto724, thank you very much for your outstanding work on this.

[2018-01-11 16:17] #514 closed, assigned to zoto724, gailmmac

[2018-01-15 16:46] keithgee commented on #517
@cecross1, the ImageMagick Thumbnail filter that we have configured to create thumbnails sometimes fails.

There's an older, alternative thumbnail filter that doesn't use ImageMagick that we could try, but the quality of that filter tends to be lower.

For now, since there is only one item with this issue, instead of configuring the old filter or debugging the issue with the new one, I've manually

[2018-01-15 16:47] #517 closed, assigned to nobody

[2018-01-16 13:24] cecross1 commented on #517
@keithgee
Thanks for taking care of this. I agree that the standard thumbnail size is
small, but if it's an image with a lot of detail, I wonder how big it would
need to be to actually be legible.

[2018-01-29 17:38] alawvt opened #518 "In patent collection, item dc.type is not indexed"
Patents in the [Virginia Tech Patents collection](https://vtechworks.lib.vt.edu/handle/10919/72294) all have `dc.item.type`="Patent." However this value is not indexed in content type, ["Patent"](https://vtechworks.lib.vt.edu/discover?field=type&filtertype=type&filter_relational_operator=equals&filter=Patent). I tried to force re-indexing by moving the value from `dc.type[]` to `dc.type` but this

[2018-01-31 14:55] keithgee commented on #518
In our [vtechworks/dspace/config/spring/api/discovery.xml file](https://github.com/VTUL/vtechworks/blob/2cc0dbf6f854eb146d78d521f296e0844a473be5/dspace/config/spring/api/discovery.xml), the DSpace Discovery interface has been customized for the patents collection. In this configuration, dc.type has been omitted. I think this was done because all of the items in that collection are of type "Patent"

[2018-01-31 15:05] keithgee commented on #518
One more nugget of support for the hunch:

- If you pick an item in the patent collection and move it to any other collection, it will then be visible in the "type" index as a "Patent". If you then move that item back into the patent collection, it will vanish from the "type" index again.

[2018-01-31 15:35] keithgee commented on #518
Also, it seems that dc.type is being indexed in at least some way for the patents under the current configuration. If you go into the search bar of VTechWorks and type in "dc.type:Patent" (but without quotation marks) all of the patents appear.

[2018-02-07 15:48] alawvt commented on #518
@keithgee, thank you very much for investigating this issue. I will add a task to the backlog to experiment with the facet configuration and, if necessary, to report this issue to the DSpace project.

[2018-02-07 15:48] #518 closed, assigned to nobody

[2018-02-16 16:03] alawvt commented on #496
We moved the adates from ETD-db from the dc.date.available field to the dc.date.adate field so the Earliest Registered Date, https://vtechworks.lib.vt.edu/oai/request?verb=Identify, is now correct.

[2018-02-23 17:27] keithgee opened #519 "Change dc.type of 'Recording - Video' to 'Video' and 'Recording - Audio' to 'Audio'"
@pyc1 and @alawvt have been working to change and consolidate the number of values for the dc.type metadata item.

As part of this process, items marked as "Recording - Video" will change to "Video" and those marked "Recording - Audio" will be changed to "Audio".

There's no easy way with our current web interface to make this particular change, so we will accomplish this by updating the database

[2018-02-23 17:46] keithgee commented on #519
I was able to connect to the VTechWorks database by using the instructions on our private documentation wiki hosted on our Virginia Tech GitLab service.

I've made the required updates.

[code]

Note: I typically take an extra backup of the database (in addition to those that ITS performs) on the rare occasions when it is updated outside of the normal applications. I forgot to do so this time, but

[2018-02-24 15:31] keithgee commented on #519
VTechWorks was indexed early this morning, with the "dspace index-discovery -b" command. No items temporarily vanished during indexing, so perhaps waiting until "wee hours" is no longer necessary.

After indexing:
- 65530 items visible in VTechWorks
- 0 items of type "Recording - Audio"
- 0 items of type "Recording - Video"
- 33 items of type "Audio"
- 295  items of type "Video"

This matches expe

[2018-02-24 15:31] #519 closed, assigned to nobody

[2018-04-02 18:58] cecross1 opened #520 "Submission fails at Creative Commons licence step due to new CC API URL"
When I attempted to upload the attached conference paper to the collection: [DA: Integrated Security](https://vtechworks.lib.vt.edu/handle/10919/79979), I got the generic error message screen (please see attached screen shot). I tried submitting twice, first with the dc.type: presentation, and the second time with the dc.type: other, but neither attempt was successful.

Today, I successfully uploa

[2018-04-02 20:22] keithgee commented on #520
File is about 1 megabyte.
There is plenty of disk space available.

We have tried all of these things:

 - Resuming the previous submission
 - starting from the beginning
 - changing the dc.type field
 - useing two different accounts (Carrie's and Keith's)
 - submitting on pre-prod
 - submitting with a different file

I can't find error messages in the logs related to this problem.

[2018-04-02 20:28] keithgee commented on #520
We've also tried submitting to a different collection in pre-prod.

The submission always fails just before the CC license. I will try to disable Creative Commons step in pre-prod, test other submissions with both Article type and Presentation type, and then either update the ticket or speak with Carrie about the results.

[2018-04-02 21:27] keithgee commented on #520
@cecross1, I was able to upload to pre-prod after disabling the Creative Commons step. I uploaded one item with Article type (to Chem collection, I think) and another article with Presentation type to the "DA: Integrated Security" collection.

Tomorrow, if you're able to upload to pre-prod, and still not able to upload to production, a next step might be for me to prepare a fix to /dspace/conf/sub

[2018-04-02 21:42] keithgee commented on #520
On the dspace-tech list, there are reports from three other institutions that are experiencing problems with CC licenses today.

[2018-04-03 11:54] keithgee commented on #520
The Creative Commons API moved to a different server yesterday. It was down for a while, and when it came back up it still didn't work with DSpace systems. On the dspace-tech list, some, but not all libraries were able to resolve the problem by changing the cc.api.rooturl configuration to use https instead of http.

https://groups.google.com/forum/#!topic/dspace-tech/FCEX2tWbq7g

It seems like the

[2018-04-03 12:36] cecross1 commented on #520
Thanks, @keithgee. I submitted a test item to the [Library Test collection](https://vtechworks.pprd.lib.vt.edu/handle/10919/64337) on preprod, and it seems to have gone through. I also tried to resend my saved submission from yesterday on the main site, but it still didn't go through.

Let me know if you find a workaround. We're expecting many new item submissions to the [Undergraduate Research co

[2018-04-03 12:42] keithgee commented on #520
@cecross1, do the Ungraduate Research Community submissions need Creative Commons licenses? If not, my suggestion for now is to disable the Creative Commons step to give the CC team some time to stabilize everything.

We can enable it again later using the https protocol instead of http.

[2018-04-03 12:50] cecross1 commented on #520
@keithgee, I think it's optional (some students choose to have one, but many don't). So if you or @zoto724 could disable this step, that would be helpful.

[2018-04-03 15:08] cecross1 commented on #520
Update: I just received several reports from students who can't get past the CC license step to submit to
[CS4624: Multimedia, Hypertext, and Information Access](https://vtechworks.lib.vt.edu/handle/10919/18655).

[2018-04-03 15:34] keithgee commented on #520
Carrie, I just made a temporary patch for the problem, and submitted a 4Help request. I'll also email library ITS to ask for assistance in disabling CC license..

[2018-04-03 15:36] keithgee commented on #520
Leaving a link to the necessary change for ITS staff:
https://github.com/VTUL/vtechworks/commit/88da035bb78ca77c16062b82f7613057b6d91b7a

[2018-04-03 17:03] keithgee commented on #520
Aaron has made the change and Carrie tested and verified that submissions are functioning. I'll leave this issue open to remind us to enable CC Licenses again (perhaps with the https option) when the CC API servers are stable again.

[2018-04-04 15:39] alawvt commented on #520
The contact from Creative Commons announced on that thread on the DSpace Tech listserv,

I have reverted the patch with 22681a8104 in branch vt_5_x_prod_deploy to re-enable the Creative Commons step in the submission form and notified IT Services.

[2018-04-04 16:13] keithgee commented on #520
This makes me wonder if we just should have waited ( we only got a few submissions), but it was hard to predict when it would be working again.

Edit: waited as in "not deployed an emergency fix and waited for CC team to fix the issues"

[2018-04-04 16:48] alawvt commented on #520
@keithgee, I think you made the right choice because we had no information about when and how it would be resolved by CC. Thank you very much for handling this.

@cecross1, thank you very much for reporting this issue and testing.

The reversion has been applied and the CC step now works again.

[2018-05-30 13:32] alawvt opened #521 "Item counts incorrect on pprd"
Last summer we de-dupped ~800 ETDs on production. Recently, we refreshed dev. with a copy of the production database and re-indexed. The item counts match for both servers. Then we refreshed pprd with a copy of the production database and re-indexed. The item count is too high for the ETD collection by ~800. Repeated indexing, `/bin/dspace index-discovery -b` yields no change.

This morning we hav

[2018-05-30 14:16] keithgee commented on #521
@alawvt I don't think that the command:

 has worked for me as I would have expected it to work. I remember that @AmberPoo1 had a problem on her LDE at one time where we had to delete a corrupt Solr index to fix an issue, so I think that the approach that @zoto724 took is a good step.

[2018-05-30 19:09] alawvt commented on #521
@keithgee, thanks for the information about the `-c` command. The indexing has finally finished on pprd and the item counts are now correct. Perhaps it was a corrupt Solr index.

[2018-05-30 19:09] #521 closed, assigned to nobody

[2018-06-26 13:23] alawvt opened #522 "Update bower registry URL for Mirage 2"
From: Kim Shepherd <kim@shepherd.nz>
Date: Tue, Jun 26, 2018 at 1:35 AM
Subject: [dspace-tech] Important notice for XMLUI Mirage2 users (new bower registry URL)
To: DSpace Technical Support <dspace-tech@googlegroups.com>, DSpace Developers <dspace-devel@googlegroups.com>, DSpace Community <dspace-community@googlegroups.com>

Hi all,

If you use XMLUI with the Mirage2 in DSpace, you will need to up

[2018-06-26 13:28] alawvt commented on #522
I have added commit https://github.com/VTUL/vtechworks/commit/a4e9a5dc1ad5eb2993e85c28306650b942d76d51 to the vt_5_x_dev branch to resolve this issue.

[2018-06-26 13:28] #522 closed, assigned to alawvt

[2018-06-26 13:32] alawvt commented on #522
@soumikgh and @zoto724, please note this commit may be needed for your deployments to pprd and prod but has not been pushed to those branches yet.

[2018-06-27 13:52] soumikgh commented on #522
Got it. I'm going to deploy to pprd in a bit, and I'll put this commit in.

[2018-06-27 19:17] alawvt commented on #522
Reported for pprd, adding the bower registry URL breaks the UI when DSpace is deployed. I don't have the specific error message, but it complains about not being able to find bootstrap.css for the Mirage2 theme or something to that effect. I re-deployed without that change and the UI comes up properly.

We will have to revisit this issue.

[2018-07-02 21:09] keithgee commented on #520
Hi, just noting that there's a message on the DSpace-tech mailing list that hints this problem may have returned. I haven't noticed anything with VTechWorks, but it might be worth checking into tomorrow and then closing this if everything is okay.

[2018-07-03 12:31] cecross1 commented on #492
More blank thumbnails seem to be popping up again. Here they are:
- https://vtechworks.lib.vt.edu/handle/10919/83799
- https://vtechworks.lib.vt.edu/handle/10919/83506

The title pages appear to be normal. I haven't seen any other affected items, but it may be worth keeping an eye on.

[2018-07-03 15:44] keithgee commented on #520
Closing.
Not seeing issues with uploading items today.

[2018-07-05 12:46] alawvt opened #523 "Manuallly uploaded thumbnail not displaying because of non-matching file name."
@pyc1 created a thumbnail for an item (Welcome to the Beatles) because the automaticly created one is not as good.  In the index on the collection page, the manually created thumbnail appears (https://vtechworks.lib.vt.edu/handle/10919/10194, see recent submissions), but on the item itself the automated one shows up (https://vtechworks.lib.vt.edu/handle/10919/83838).  This is after deleting the au

[2018-07-05 12:47] alawvt commented on #523
Thank you, @keithgee, for this important information.

[2018-07-06 18:25] alawvt opened #524 "VTechWorks Ubuntu 18.04 upgrade on Thursday July 19, 2018"
VTechWorks will be unavailable for maintenance on Monday July 9, 2018 from 7:00-8:00 am EDT. @soumikgh will be upgrading to Ubuntu 18.04. Immediately afterwards, I will begin testing the server. Please do not submit or edit items in VTechWorks on Monday morning until I give the go ahead. That way, if there is any problem with the new virtual machine, we can revert to the old one without losing cha

[2018-07-09 17:28] alawvt commented on #524
ITS ran into issues with this deployment so they have reverted back to the old instance on prod. They will reconfigure pprd to more closely match prod and we'll test there again, first.

You may resume using vtechworks now.

[2018-07-12 15:24] alawvt commented on #524
We are trying again:

VTechWorks will be unavailable due to maintenance on Tuesday July 17, 2018 from 7:00-8:00 am EDT. @soumikgh will be upgrading to Ubuntu 18.04. Immediately afterwards, I will begin testing the server. Please do not submit or edit items in VTechWorks on Tuesday morning until I give the go ahead. That way, if there is any problem with the new virtual machine, we can revert to th

[2018-07-13 18:38] alawvt opened #525 "Add url to dspace/config/modules/swordv2/swordv2-server.cfg"
For SWORDv2 to work correctly, which is necessary for Elements Repository Tools 2 (RT2), it needs to create URLS that begin with HTTP, not HTTPS. Therefore, we need to add the url variable to [dspace/config/modules/swordv2/swordv2-server.cfg](https://github.com/VTUL/vtechworks/blob/vt_5_x_dev/dspace/config/modules/swordv2-server.cfg), below line 13. The values should be

production:
url = http://v

[2018-07-15 12:57] keithgee commented on #525
Thank you for documenting this, @alawvt .

[2018-07-16 15:39] alawvt commented on #525
We will proceed with this once the Ubuntu 18.04 upgrade is complete on production.

[2018-07-16 15:40] alawvt commented on #524
ITS is testing this again today on pprd. Deployment time on production to be determined.

[2018-07-18 20:21] alawvt commented on #524
Is 3 the charm?

VTechWorks will be unavailable due to maintenance on Thursday July 19, 2018 from 7:00-8:00 am EDT. @soumikgh will be upgrading to Ubuntu 18.04. Immediately afterwards, I will begin testing the server. Please do not submit or edit items in VTechWorks on Thursday morning until I give the go ahead. That way, if there is any problem with the new virtual machine, we can revert to the o

[2018-07-19 18:10] alawvt opened #526 "Import SOLR stats to vtechworks.dev, vtechworks.pprd, and vtechworks"
Please import SOLR usage stats to vtechworks.dev, vtechworks.pprd, and vtechworks. See https://wiki.duraspace.org/display/DSDOC5x/SOLR+Statistics+Maintenance.

[2018-07-19 18:14] alawvt commented on #524
The new server is up and seems to be running ok. We are still waiting for the SOLR indexing to complete to check collection counts. The SOLR usage statistics still need to be imported, so I have created a new issue #526 for that.

[2018-07-23 14:07] alawvt commented on #526
SOLR usage stats have been uploaded to production and look correct.

[2018-07-23 19:37] alawvt commented on #526
SOLR usage stats have been uploaded to dev and pprd and look correct. Thank you, @soumikgh and @zoto724.

[2018-07-23 19:37] #526 closed, assigned to soumikgh

[2018-07-23 19:48] alawvt commented on #524
The SOLR usage statistics have been imported so we can close this issue. Thank you, @soumikgh and @zoto724 for upgrading the vtechworks servers to Ubuntu 18.04.

[2018-07-23 19:48] #524 closed, assigned to nobody

[2018-07-25 20:47] alawvt commented on #525
@soumikgh has added this variable to dev and we are now able to deposit to dev using RT2. Thank you very much!

[2018-07-26 17:55] alawvt commented on #322
When a user mentions the publisher's article URL, we pick up a DOI in the page metadata, but not a Handle. That is because the publisher does not use your Handle in their metadata.

When a user mentions your IR's article/output URL, we pick up both a Handle as well as a publisher DOI, as you've included both in your metadata. This is great, but it's useful to keep in mind that we only ever see you

[2018-07-26 18:11] alawvt commented on #322
DiVA, http://liu.diva-portal.org, from Linkoping University utilizes multiple Altmetric badges for different sources: one for doi, one for isbn, and one for urn-nbn.

No badge is displayed if the Altmetric score for that source is 0. Also, the isbn badge is often hidden, but it does display in the mouse over, if it has a value.

http://liu.diva-portal.org/smash/record.jsf?pid=diva2:1199053 has one

[2018-07-26 18:45] alawvt opened #527 "Implement multiple Altmetric badges from Handle and DOI"
Continuing Issue #322, we would like to display Altmetric information based on Handle and DOI. Examples of this implementation are in DiVA,

DiVA, http://liu.diva-portal.org, from Linkoping University utilizes multiple Altmetric badges for different sources: one for doi, one for isbn, and one for urn-nbn.

No badge is displayed if the Altmetric score for that source is 0. Also, the isbn badge is o

[2018-07-26 18:46] #527 closed, assigned to nobody

[2018-07-27 14:20] alawvt commented on #525
This has been implemented on pprd and prod. Thank you.

[2018-07-27 14:20] #525 closed, assigned to zoto724

[2018-08-01 18:42] alawvt opened #528 "Resolve EDS harvesting of multiple values of dc.type due to OAI crosswalks"
EDS can only process one value for dc.type.

Our metadata contains dc.type and another field, dc.type.dcmi, which is simplified in our OAI unqualified Dublin Core crosswalk, https://github.com/VTUL/vtechworks/blob/vt_5_x_dev/dspace/config/crosswalks/oai/metadataFormats/oai_dc.xsl, to dc.type. If the EDS harvester is not able to distinguish between the two fields, I see three possible alternatives:

[2018-08-01 18:44] alawvt commented on #528
Sample record:
[code]

[2018-08-02 15:37] alawvt opened #529 "Import and enable legacy stats on dev, pprd, and prod"
DSpace provides two sets of statistics: SOLR stats and legacy stats. Legacy stats are based on the dspace logs. SOLR stats were imported, as documented in issue #526. Please enable legacy stats and import the monthly reports from the old servers.

We might also want to check these scripts in the crontabs to see which commands they call:
[code]
[Legacy statistics](https://wiki.duraspace.org/display

[2018-08-06 17:19] alawvt commented on #529
Keith found one case of where statistics had to be rebuilt in the past, #420.

There aren't really any new details here, except that he had to uncompress some log files before running stat-initial and stat-report-initial.

Also, the issue seems to indicate that reports prior to September 2016 were already lost and not recoverable.

[2018-08-06 17:24] alawvt commented on #529
Keith G. explained more about these legacy stats. The legacy stat scripts process the DSpace log files and create .dat files, which also reside in the log directory, for example /dspace/log/dspace-log-monthly-2018-5.dat. The .dat file is used to create the monthly report in the reports folder, for example /dspace/reports/report-2018-5.html.

The .dat files on the old server in /dspace/log/ are the

[2018-08-06 20:25] alawvt opened #530 "Remove unneeded cron jobs for legay stats"
Continuing #529, please remove the unneeded cron jobs for legacy stats on each of the servers.
[code]
We use XMLUI, which does not need legacy_stat_report_ jobs.

Also, update the [vtlibans wiki](https://code.vt.edu/it-services/vtlibans_dspace/wikis/home).

[2018-08-06 20:53] keithgee opened #531 "Condolence archives map based on retired Viewshare platform no longer working"
This is minor, and I think it only is an issue in one landing page for a single collection.

Some years ago, a special collection for the April 16, 2007 condolence archive was created in VTechWorks.

https://vtechworks.lib.vt.edu/handle/10919/11385

The collection was given unusual features, and I believe most of these features were accomplished by using html in the DSpace collection description f

[2018-08-07 16:36] alawvt commented on #529
@soumikgh copied all the `/dspace/log/dspace-log-general-` and `/dspace/log/dspace-log-monthly-` files from the old production server to the new server. Legacy stats from 2017-01 to present are now restored. The stats for 2017-07 are wrong, since they only cover the 2nd half of the month.  He will add this import procedure to the vtlibans wiki.

In issue #530, I will remove the jobs from the cront

[2018-08-07 16:42] alawvt commented on #531
@keithgee, thank you for reporting this. I have been aware of it and have asked whether a  replacement map would be possible. I will follow up on that request.

[2018-08-09 19:57] alawvt commented on #530
I have commented out these jobs from the crontab in dev, pprd, and prod.

[2018-08-09 19:57] #530 closed, assigned to alawvt

[2018-08-09 20:37] alawvt commented on #529
@soumikgh, thank you for adding the legacy stats to dev and pprd.

[2018-08-09 20:37] #529 closed, assigned to soumikgh

[2018-08-20 21:13] alawvt commented on #497
I test two test items on prod that have restricted READ access only to the Admin group. I logged out, and requested both items. As the e-person, I clicked on the request email, filled out the form on-line, clicked "send" and successfully sent the files to the requester. So, I have not been able to recreate the error on prod today.

[2018-08-21 13:21] alawvt commented on #531
@zhiwuxie suggested Historypin, https://www.historypin.org/en/. I have added a task to the Backlog to investigate recreating the map with Historypin.

I have removed the text for the map from the collection introductory text.
[code]

[2018-08-21 13:21] #531 closed, assigned to alawvt

[2018-08-21 15:46] alawvt commented on #497
https://stackoverflow.com/questions/39028608/request-a-copy-of-document-log

[2018-08-21 16:37] alawvt commented on #497
@pyc1, I just checked with @cecross1 about ETD requests to vtechworksrequestcopy@vt.edu. She receives the usual email request but does not use the reply link. Instead she copies the requester's email address and forwards it in a canned email to the author. However, I did ask her try clicking on the reply link and it worked, sending the file.

[2018-08-21 18:57] alawvt commented on #497
In the Apache log are many 500 errors, such as
`192.168.2.6 - - [21/Aug/2018:11:11:27 -0400] "POST /itemRequestResponse/3e1afa624e1647038e948bd2b237318b/ HTTP/1.1" 500 9991 "https://vtechworks.lib.vt.edu/itemRequestResponse/3e1afa624e1647038e948bd2b237318b/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36"`

[2018-08-22 12:40] #496 closed, assigned to nobody

[2018-08-24 14:59] alawvt opened #533 "Error for vtechworks and vtechworks.pprd logout pages"
I have noticed a problem when I log out of VTechWorks, https://vtechworks.lib.vt.edu/logout, It gives an error,

“The page isn’t redirecting properly. Firefox has detected that the server is redirecting the request for this address in a way that will never complete. This problem can sometimes be caused by disabling or refusing to accept cookies.”

In Chrome, I just get a blank screen.

I think it

[2018-08-27 15:22] alawvt opened #534 "Change URLs for dev and pprd to https://vtechworks-dev.cloud.lib.vt.edu/ and https://vtechworks-pprd.cloud.lib.vt.edu/"
Change URLs for dev and pprd to https://vtechworks-dev.cloud.lib.vt.edu/ and https://vtechworks-pprd.cloud.lib.vt.edu/. These will be the same virtual machines as https://vtechworks.dev.lib.vt.edu/ and https://vtechworks.lib.vt.edu/, just new URLs.

[2018-08-27 15:29] alawvt commented on #534
I have requested this change in the Element installation script and will verify after refresh.

[2018-08-27 17:37] soumikgh commented on #534
We might need to re-deploy the pre-prod and dev instances to change the places in the configuration files where it uses the public URL of the instances. Or we might not even need to. Let me know if you run into issues regarding this.

[2018-08-27 17:38] alawvt commented on #534
I announced the new URLs to Libraries and Elements personnel.

[2018-08-27 17:44] alawvt commented on #534
I think we will need to redeploy them after we are sure the Elements setting have been changed correctly. The edit page for an item, for instance, https://vtechworks-pprd.cloud.lib.vt.edu/admin/item?itemID=94435, lists,

Item Page: | https://vtechworks.pprd.lib.vt.edu/handle/10919/83527
-- | --

and will need the correct URL.

[2018-08-28 15:41] alawvt commented on #513
All test have passed on dev. It is now complete.

I have merged the changes to vt_5_x_pprd_deploy and will test there.

[2018-08-28 18:06] alawvt commented on #491
I added another fix for SWORDv2 in https://code.vt.edu/it-services/vtlibans_dspace/commit/64d0c00de522daa6797ffdc6a1330b83d06b1900. Both of these specify `http` as the base url so SWORD and SWORDv2 will work correctly.

[2018-08-28 18:24] #507 closed, assigned to alawvt

[2018-08-28 18:27] alawvt commented on #533
The fix for this is included in DSpace 5.8 and should be resolved when it has been deployed to pprd and prod.

[2018-08-28 18:42] alawvt commented on #513
There were problems with this deployment so @soumikgh is rebuilding this VM for pprd.

[2018-09-04 18:40] alawvt commented on #534
These changes have been made and the servers redeployed. Thank you, @soumikgh and @zoto724.

[2018-09-04 18:40] #534 closed, assigned to alawvt

[2018-09-04 18:41] alawvt commented on #533
This has been resolved on pprd and prod by the DSpace 5.8 deployment. Thank you, @zoto724 and @soumikgh.

[2018-09-04 18:41] #533 closed, assigned to soumikgh

[2018-09-04 18:43] alawvt commented on #513
All tests have passed on pprd.

DSpace 5.8 has been deployed to prod and testing is waiting on re-indexing of that server.

[2018-09-05 12:23] alawvt opened #535 "Resolve slow re-indexing on vtechworks.lib.vt.edu"
The DSpace 5.8 (Yak sprint) changes were deployed to vtechworks.lib.vt.edu yesterday morning. All tests that do not require indexing have passed, #513. However, indexing has been extremely slow and has restarted twice. I have added an alert to VTechWorks notifying of the trouble.

@zoto724 is working on the problem and asks that we avoid loading new items until this is resolved. Yesterday, he trie

[2018-09-05 14:20] keithgee commented on #535
Only of interest if the Java version was changed recently, but the bin/dspace script that launches command line utilities such as the indexer has memory parameters for the Java VM. A few years ago @yinlinchen mentioned that different versions of Java may have different parameters for memory settings.  Probably not relevant here unless the Java version changed, but worth knowing.

[2018-09-05 14:31] keithgee commented on #535
Regarding my previous comment, I think Yinlin may have just been explaining to us that the PermGen area was gone in newer versions. I don't think we adjusted that for DSpace anyway.

[2018-09-06 17:37] alawvt commented on #535
@keithgee, thanks for that information about the Java memory settings.

@soumikgh and @zoto724 moved reindexing to a cloned VM and copied the index back to production. VTechWorks seems to be working fine. Also, they found that reducing the verbosity of the logs sped up the indexing.

@soumikgh noted that DSpace will automatically re-index if the release contains any database updates, https://wiki.

[2018-09-07 15:12] alawvt commented on #513
Re-indexing of vtechworks.lib.vt.edu is complete and all tests for DSpace 5.8 have passed.

[2018-09-07 15:12] #513 closed, assigned to alawvt

[2018-09-07 15:13] alawvt commented on #497
We will close this since request-a-copy seems to work in general. Hopefully, in the future we will understand why this error occurred.

[2018-09-07 15:13] #497 closed, assigned to nobody

[2018-09-11 19:53] alawvt opened #536 "Create a branch that removes Elements files"
Create a branch that removes Elements files. See also [Create a branch without Elements scripts and deploy to vtechworks-dev](https://code.vt.edu/it-services/vtlibans_dspace/issues/98) in the vtlibans project.

[2018-09-12 23:31] keithgee commented on #536
@soumikgh, Anne mentioned that you are working on a project to remove Elements Repository Tools 1 things that won't be needed anymore from various codebases.

My old gitlab project for the repository tools scripts hasn't been used for a while - perhaps I should delete the project since things were long moved over to our Ansible/Vagrant deployment system?

Let me know if you have any questions abou

[2018-09-13 11:44] soumikgh commented on #536
I was just planning to remove the reference to the `elements` role from the `vtlibans_dspace` project (which is our Ansible project for setting up VTechWorks), and undo the things that the role performed.

I'm not sure if I need to do anything else. Ansible scripts are supposed to be modular that way, at least in the ideal scenario.

[2018-09-13 17:10] alawvt commented on #536
@keithgee and @soumikgh, thank you for working on this. @keithgee 's project is https://code.vt.edu/vtkeithg/elements_install_scripts.

[2018-09-17 16:38] alawvt commented on #522
It was missing a comma, which I added in https://github.com/VTUL/vtechworks/commit/b59db43e0d289f32956cc1adb97eb3157862a581.

[2018-09-17 19:39] alawvt opened #537 "Update URLs to EFARS and VTechWorks stats page"
On home page, `dspace/config/news-xmlui.xml`, update EFARS link to https://provost.vt.edu/faculty_affairs/efars.html. Update link to current sheet in VTechWorks workbook.

[2018-09-17 19:50] alawvt opened #538 "Remove off-campus sign-in link"
We no longer need the off-campus sign-in link. Please remove, possibly by reverting https://github.com/VTUL/vtechworks/pull/93/commits/a3ee0078c5338614c3720e97c8535006faeb726d from https://github.com/VTUL/vtechworks/pull/93.

[2018-09-17 19:56] alawvt commented on #535
I notice that indexing is slow on my LDE with the latest vtlibans deploy. It used to take about an hour to index ~55,000 items. It has been an hour and it has only indexed 8,500 items.

[2018-09-17 20:28] alawvt opened #539 "Change About, Policies, Help links to VTechWorks LibGuides"
About, Policies, Help pages links were last updated to Google sites in #432.

Now change these links to the VTechWorks LibGuides.
@gailmmac or @pyc1, please verify that these are the desired new URLs:

About: https://guides.lib.vt.edu/vtw
Policies: https://guides.lib.vt.edu/vtwpolicies
Help: https://guides.lib.vt.edu/vtw (Would you rather it be to a specific tab, different that the one for "About"

[2018-09-17 20:42] alawvt commented on #506
Current logo is in https://github.com/VTUL/vtechworks/blob/vt_5_x_dev/dspace/modules/xmlui-mirage2/src/main/webapp/themes/vtmirage2/images/VT_white_cmyk_invt.png. Commits for styles were in Sept. 17-22, 2015.

[2018-09-18 15:25] #537 closed, assigned to alawvt

[2018-09-18 15:26] alawvt commented on #537
Resolved with PR #540

[2018-09-18 17:22] alawvt commented on #538
Resolved with PR, Revert "Add off-campus sign-in Link" #541

[2018-09-18 17:22] #538 closed, assigned to alawvt

[2018-09-18 18:55] alawvt commented on #506
I have cropped HorizontalStacked_RGB_white.png from VT branding site and submitted this fix in PR, Add new VT logo to header #542.

[2018-09-19 13:20] alawvt opened #543 "Change EFARS name on home page to Elements"
We have been asked to change the name, "EFARS" to "Elements."

Currently the text on the home page is,

"NEWS: Faculty can now deposit items to VTechWorks from the Electronic Faculty Activity Reporting System (EFARS). Visit the Provost's EFARS page to learn more and to log in to EFARS."

@pyc1, is the following ok with you?

"Faculty can deposit items to VTechWorks from the Electronic Faculty Acti

[2018-09-19 14:16] pyc1 commented on #543
Yes, looks good to me, thanks.

[2018-09-19 16:20] #506 closed, assigned to alawvt

[2018-09-19 16:25] #543 closed, assigned to pyc1, alawvt

[2018-09-19 16:26] alawvt commented on #543
This has been resolved with commit https://github.com/VTUL/vtechworks/commit/76e46f6a6a11e5dc24e323e12ee29a2103b6b5a4

[2018-09-19 18:38] #535 closed, assigned to nobody

[2018-09-24 19:51] alawvt commented on #536
Will need to remove from dspace/config/dspace.cfg (first added in https://github.com/VTUL/vtechworks/commit/574d07777825f150629e33ffa35f19ff12eeb6fb#diff-a60e58808bf42c545ed0dc04a4d6d5f9)
[code]

[2018-09-24 20:33] alawvt commented on #536
We need to remove files, vtechworks/dspace/config/crosswalks/
[code]
[code]

[2018-09-24 21:19] keithgee commented on #536
Also, there was a database table that was created in the initial install.
Is that to be kept or dropped when updating to RT2?

On Mon, Sep 24, 2018 at 4:33 PM alawvt <notifications@github.com> wrote:

[2018-09-25 14:33] alawvt commented on #536
@keithgee, Ben Heartland from Symplectic indicated that we could remove this table. I will research it further. Thanks.

[2018-09-25 18:41] alawvt opened #544 "Deploy Kimchi changes on vtechworks production"
Test Kimbchi changes on vtechworks-dev.

[2018-09-25 19:59] alawvt commented on #544
The deployment on vtechworks-dev has passed all tests. @soumikgh will deploy the changes to vtechworks-pprd on Thursday morning.

[2018-09-27 14:57] alawvt commented on #544
The deployment on vtechworks-pprd has passed all tests. @soumikgh will deploy the changes to vtechworks production.

[2018-09-27 16:23] alawvt commented on #520
This didn't get reverted in the vt_5_x_dev branch, only the vt_5_x_prod_deploy branch. I will revert it in vt_5_x_dev.

[2018-09-27 16:59] alawvt commented on #544
The deployment on vtechworks production has passed all tests. However, thank you @gailmmac for discovering that the Creative Commons license step in the submission form is now disabled. Apparently this step had been disabled in an earlier commit and that commit was only reverted on the production branch. The reversion for all branches will be tested as part of Issue #520.

[2018-09-27 17:03] alawvt commented on #520
This reversion has been deployed and tested on vtechworks-dev.

[2018-09-27 17:48] alawvt commented on #520
It has been deployed to vtechworks-pprd and vtechworks production. All tests have passed. Thank you very much, @soumikgh, for all your assistance.

[2018-09-27 17:48] #520 closed, assigned to nobody

[2018-09-27 17:50] alawvt commented on #544
Issue #520 has been resolved and all tests for kimchi have passed. @soumikgh, thank you very much for your assistance deploying these changes.

[2018-09-27 17:50] #544 closed, assigned to soumikgh

[2018-09-27 17:58] alawvt commented on #512
I have been able to use the REST API with curl commands documented in https://code.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/rest_api.

[2018-09-27 17:58] #512 closed, assigned to keithgee, alawvt

[2018-09-28 15:43] alawvt commented on #536
Resolved with PR #545.

[2018-10-01 12:48] pyc1 opened #546 "Embargo does not work"
Setting an embargo on an item when submitting it does not work.  Instead the item becomes public.  Several weeks ago I noticed this field was filled in with mm/dd/yyyy ; it used to be empty.  When you select an embargo date, the field reverts to mm/dd/yyyy.

[2018-10-01 16:56] pyc1 commented on #546
Embargo does work, but after selecting a date the field is re-filled with mm/dd/yyyy so if there are multiple files uploaded, embargoes can be set for each bitstream.  However, this can be confusing to users.  Also, once deposited, the bitstream does not have a lock icon, but if the file is clicked on the request screen does appear.  There is a backlog issue to expand the lock icon from embargoed

[2018-10-01 16:56] #546 closed, assigned to nobody

[2018-10-02 19:07] alawvt commented on #504
I think this is occuring because dc.relation.ispartof is being mapped for two fields in `dspace/config/input-forms.xml`.

[code]
and
[code]

[2018-10-09 17:03] alawvt opened #547 "Investigate why thumbnails are not created after running filter-media"
@pyc1 reported that thumbnails were not generated this morning. I ran manually, `sudo -u vtechworks /dspace/bin/dspace filter-media`

For http://hdl.handle.net/10919/85312, a text file was created but not a thumbnail. dspace.log.2018-10-09 contains
[code]

[2018-10-10 11:38] soumikgh commented on #547
So, due to a [code execution bug](https://lists.ubuntu.com/archives/bionic-changes/2018-October/016634.html) in GhostScript, ImageMagick, in its latest update, disabled the processing of a lot of file formats, including PDFs. Based on [this diff](http://launchpadlibrarian.net/390771456/imagemagick_8%3A6.7.7.10-6ubuntu3.12_8%3A6.7.7.10-6ubuntu3.13.diff.gz) and [this StackOverflow answer](https://st

[2018-10-10 15:59] keithgee commented on #547
Wow, that was very quick work by both of you to find a resolution to a problem that we hadn't seen in VTechWorks before now!

[2018-10-11 16:27] alawvt commented on #547
@soumikgh, thank you very much for troubleshooting and modifying the policy. The issue was reported today on the DSpace Tech listserv, https://groups.google.com/forum/?utm_source=digest&utm_medium=email#!topic/dspace-tech/2O4WnzIEcl8.

[2018-10-11 16:30] #547 closed, assigned to soumikgh

[2018-10-12 13:40] alawvt commented on #528
EDS is writing a new harvest to use qdc. The harvest is expected to be launched in ~1 week.

[2018-10-29 13:31] alawvt commented on #528
EDS has implemented the new harvest and this issue has been resolved.

[2018-10-29 13:31] #528 closed, assigned to alawvt

[2018-10-29 13:47] alawvt opened #548 "Items from initial Computer Science Technical Reports migration each have two dc.date.accessioned and dc.date.available"
In wading through the Elements RT2 logs, it seems that in the initial migration of the Computer Science Technical Reports database to VTechWorks, all 994 items have two values for dc.date.accessioned and dc.date.available. An example of this is http://hdl.handle.net/10919/20079

dc.date.accessioned | 2013-05-28T20:43:14Z | en_US
-- | -- | --
dc.date.accessioned | 2013-06-19T14:37:05Z |  
dc.date.a

[2018-10-29 15:49] keithgee commented on #548
@alawvt, I see this problem you've found in the initial migration.

I'll look after lunch to see if I have anything from Layne/Nathan/Chris about any date issues. Layne gave Chris a lot of detailed and valuable feedback, but I think he was concerned mostly about the "date.issued" field instead of the other dates.

You mentioned the "en_US" language code, and I see that one pair of the date fields

[2018-10-29 15:57] alawvt commented on #548
@keithgee, thank you for looking into this. As far as I know, DSpace always adds the dc.date.accessioned and dc.date.available fields when a new item is created. The en_US fields can get added manually with any method or automatically with the web submission form. That this came out of a test collection seems like a very reasonable hunch.

[2018-10-30 15:45] alawvt commented on #548
I removed the 2013-05 values for dc.date.accessioned[en_US] and dc.date.available[en_US]. 996 items were changed with 20181030_10919_19372_dates.csv.

.

[2018-10-30 15:45] #548 closed, assigned to nobody

[2018-10-31 14:35] alawvt opened #549 "Investigate "Error in Discovery while setting up date facet range""
The dspace log has frequent "Investigate Error in Discovery while setting up date facet range," for example,

in dspace.log.2018-10-31

[code]

[2018-11-13 17:54] alawvt commented on #523
@pyc1, it does look like you need to rename the PDFs to match the thumbnails or delete the thumbnails with old names.

[2018-11-13 20:33] pyc1 commented on #523
Done, thanks.

[2018-11-13 20:33] #523 closed, assigned to nobody

[2018-12-12 16:33] alawvt commented on #536
I believe this task is complete. Thanks, @keithgee and @soumikgh.

[2018-12-12 16:33] #536 closed, assigned to nobody

[2018-12-12 16:37] #504 closed, assigned to nobody

[2018-12-12 16:37] #549 closed, assigned to nobody

[2018-12-12 16:38] alawvt opened #550 "Upgrade from DSpace 5.8 to 5.10"
Upgrade from DSpace 5.6 to 5.8, https://github.com/DSpace/DSpace/releases/tag/dspace-5.10.

[2018-12-12 17:42] alawvt commented on #550
Please also add Andrew Bennet's commit in PR [[DS-4085] Update abdera-client dependency to 1.1.3 #2271](https://github.com/DSpace/DSpace/pull/2271).

[2018-12-12 17:51] alawvt commented on #550
I have pushed branch, add_5_10_changes. Currently, it builds with a blank window for http://192.168.60.4. However, http://192.168.60.4/oai/request?verb=Identify does display correctly (the same as vt_5_x_dev). Attached are logs from this branch, [bad_log.txt](https://github.com/VTUL/vtechworks/files/2672930/bad_log.txt) and the latest commit on vt_5_x_dev, [good_log.txt](https://github.com/VTUL/vt

[2018-12-12 20:24] alawvt commented on #550
http://192.168.60.4/swordv2/servicedocument produces the username and password form. When I filled it out, it gave message, "This page isn’t working 192.168.60.4 unexpectedly closed the connection. ERR_INCOMPLETE_CHUNKED_ENCODING"

[2019-02-18 16:52] alawvt opened #551 "Identify all BTDs that need OCR'ing with REST-API"
Possibility to test: Query with the REST-API, the ETD collections for Bitstreams, which includes bundleName.

https://wiki.duraspace.org/display/DSDOC5x/REST+API

1. Find items without a bundleName="TEXT."

`GET /collections/{collectionId}/items` - Return all items of collection. Use the limit parameter to control items per response (default 100) and offset for paging.

`GET /items/{item id}/bitst

[2019-02-19 14:29] #551 closed, assigned to nobody

[2019-02-25 17:34] alawvt opened #552 "Import the Biological Systems Engineering collection from Discovery Commons"
Import the Biological Systems Engineering collection from [Discovery Commons](https://dcr.emd.vt.edu/vital/access/manager/Index?site_name=Agricultural%20Engineering) (1706 items)

The files are located in Google Drive...VTechWorks/Content/Special_VTW_Projects/BSE_collection_from_Digital_Commons

I have prepared a spreadsheet listing the assets in this folder. It appears that these are the files us

[2019-02-25 17:35] alawvt commented on #552
@pyc1, to which collection in VTechWorks, do you want this added?

[2019-02-25 20:43] alawvt commented on #552
Also, the rights metadata is confusing. All the items I have checked, for example, https://dcr.emd.vt.edu/vital/access/manager/Repository/vatech:59295, have:

Rights=Reproduction for publication, exhibition, web display or commercial use is only permissible with the consent of the College of Agriculture, Virginia Tech (see contact link). (imaging@vt.edu).

Access Rights=Public Domain

[2019-03-18 15:16] alawvt opened #555 "Alert: Elements full harvest in progress--please do not delete any collections at this time."
Elements full harvest in progress--please do not delete any collections until it finishes (approximately 30 hours).

Last full harvest: 2019-03-18 to 2019-03-19.

[2019-03-19 17:01] alawvt commented on #555
The full harvest has finished so we may delete collections now.

[2019-03-19 17:01] #555 closed, assigned to nobody

[2019-03-20 17:04] alawvt opened #556 "Add DPLA OAI crosswalk to vtechworks6-dev"
Test an OAI crosswalk to collect metadata for submission to the regional Digital Public Library of America (DPLA) service hub. See VTechWorks wiki page, [Digital Public Library of America (DPLA)]( https://code.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/DPLA) for more detail.

[2019-03-27 18:13] alawvt opened #557 "Update node, npm, compass and sass to enable local build"
To get `mvn clean package -Denv=dspace_local -Dmirage2.on=true` to work,

I updated node and npm per [DS-4144 mirage2 fails to build corectly](https://jira.duraspace.org/browse/DS-4144), in 51315ee8f036a4c10652f5c1fec505e7de08cb20
[code]
I updated SASS and jruby per [DS-4115 Update SASS and Ruby ver](https://jira.duraspace.org/browse/DS-4115) in 76d9169b715ea250c8d24e27285ad0c201130ed1.

[2019-03-28 12:52] keithgee commented on #557
@alawvt - similar patches have been applied to our vt_6_x_dev branch to repair the Mirage 2 build. I pulled in fixes for this issue that were committed to the main trunk of the upstream DSpace project, but have not yet been issued in an official release.

The node and npm versions from the official commits are different from your commit 51315ee:

[code]

Your versions are newer. That's presumably

[2019-03-28 20:04] alawvt commented on #557
@keithgee, thank you very much for the information about the node and npm versions in DSpace 6. 05fd032199bfa01b7867339f6e20b94aec72abf2 changes these versions in vt_5_x_dev to match.

[2019-03-28 20:04] #557 closed, assigned to nobody

[2019-03-29 13:02] alawvt opened #558 "Figure out why there are two batches of dc.type=Master's project"
In our content types, we have two entries for Master's project which look identical, https://vtechworks.lib.vt.edu/search-filter?field=type&starts_with=m.  The batch of 49 are in the OMALS collection where the metadata was added with the custom submission form for that collection. The rest are mostly from BTD uploads or added manually. I opened a sample of each and they both have the same column l

[2019-03-29 13:04] #558 closed, assigned to nobody

[2019-04-01 16:29] alawvt commented on #556
Resolved by #559.

[2019-04-08 11:47] pyc1 opened #562 "Fix item display"
Clicking on an item in a search display does not result in item display.  In some cases only the license or related items are displaying, but not the file or any of the metadata.

[2019-04-08 13:06] alawvt commented on #562
@zoto724 rebooted VTechWorks and that seems to have solved the problem. He noted there was nothing obvious in the logs.

[2019-04-09 15:35] alawvt opened #563 "Enable ignore-on-export in dspace/config/modules/bulkedit.cfg"
As reported in https://jira.duraspace.org/browse/DS-4213, DSpace 6 is no longer setting `ignore-on-export = dc.date.accessioned, dc.date.available,dc.date.updated, dc.description.provenance` by default.
[code]
Please set this manually.

[2019-04-09 18:21] alawvt opened #564 "Request to enable REST and SWORDv2 in vtechworks6-dev"
Please enable REST and SWORDv2 in vtechworks6-dev. This will be necessary for Elements. Also, I would like to test the report functionality with DSpace 6 REST, https://demo.dspace.org/rest/.

[2019-04-10 12:21] keithgee commented on #563
This is enabled with commit 6d39979fa1a906dbf.

This change was made to the local.cfg file (not in the modules/bulkedit.cfg file) as per the discussion yesterday to keep all VTechWorks configuration changes from the default to a single file, however, we haven't decided on that method yet.

In this commit, in addition to the requested change, the gui-item-limit parameter from the same module was se

[2019-04-10 12:22] #563 closed, assigned to nobody

[2019-04-10 12:36] keithgee commented on #564
These web apps were enabled, but there are some configuration issues that were preventing you from testing rest, and probably from testing swordv2 as well.

I've made some fixes for these problems on the development server this morning. I'm going to open separate issues for these problems - I think the root cause is related but I'm not positive - and leave them open with some notes so that I'll re

[2019-04-10 12:36] keithgee commented on #564
Closing

[2019-04-10 12:36] #564 closed, assigned to nobody

[2019-04-10 12:37] keithgee opened #565 "REST web app configuration issue - DSpace 6 VTechWorks"
There were issues testing the rest web app on our test DSpace 6 instance of VTechWorks; it was not accessible.

 I have temporarily resolved the access issue on the development server by editing the web deployment descriptor to disable a security constraint that specifies that the REST web app MUST be accessed via HTTPS. Removal of this constraint is necessary because the F5 appliances handle HTTP

[2019-04-10 13:16] keithgee opened #566 "SWORD webapp(s?) configuration issues - DSpace 6"
@alawvt reported that the SWORD v2 web app was inaccessible on the DSpace 6 test instance of VTechWorks.

The SWORD v2 web app was giving this error message:

I believe this was caused by one or all of the following:

1. The host was configured and installed using a different host name before it was opened up to the VTechWorks team for testing under the vtechworks6-dev hostname.
2. Missing changes

[2019-04-11 17:29] alawvt commented on #566
Thanks, @keithgee, for working on this. I am now able to access the service document.

[2019-04-12 19:05] alawvt opened #567 "Plan configuration files for DSpace 6 implementation"
@keithgee:

[DSpace 6 Configuration Reference](https://wiki.duraspace.org/display/DSDOC6x/Configuration+Reference)

[2019-04-12 19:20] alawvt commented on #567
@keithgee, I am fine with having all the customizations in the local.cfg file. We will need to have versions of local.cfg for LDE, dev, pprd, and prod. However, I the current version of the common part of the local.cfg file in this GitHub repository so that we can easily track changes to it, much as we do now with dspace.cfg for DSpace 5.

Perhaps, ITS could write a small file for each server, wit

[2019-04-12 19:26] alawvt commented on #563
@keithgee, thank you for changing this. I agree to add it and other config changes to the local.cfg file.

[2019-04-12 19:46] alawvt commented on #564
continued with #564 and #566

[2019-04-16 21:11] alawvt commented on #562
nothing conclusive was found in the logs

[2019-04-16 21:11] #562 closed, assigned to nobody

[2019-05-02 16:38] keithgee commented on #567
@alawvt - yes, this is a good idea. Let's do that.

[2019-05-02 16:43] keithgee commented on #566
I think that most of the answers to the follow-up questions will be discovered as we update Ansible playbooks and complete testing.

[2019-05-02 16:44] keithgee commented on #550
@alawvt, I am closing this issue because I think we're skipping this upgrade and going directly to DSpace 6.3.

Please re-open if this is incorrect.

[2019-05-02 16:44] #550 closed, assigned to nobody

[2019-05-02 16:50] keithgee commented on #565
I verified that this step is handled in the current Ansible playbooks, in the post_install task of the deploy role. I'm still leaving this open to verify that it works during testing of any new deploy playbooks.

[2019-05-02 18:07] alawvt commented on #567
Per the meeting today, unique values for the servers will be in the libans project.

[2019-05-02 18:07] alawvt commented on #550
Yes, thanks, @keithgee.

[2019-05-06 19:21] alawvt commented on #567
There are 34 `.cfg` files in DSpace 5:
[code]

[2019-05-06 19:48] alawvt opened #568 "Change logo so it is 50px tall"
This commit, https://github.com/VTUL/vtechworks/commit/732ef1fce6b03d1c332968e96af3e0c8d2c5a5c9#diff-e8df17e192778cb6acf0c2b61eaacc67, was not made to the dspace/modules/ folder, so it was not copied in the upgrade from DSpace 5 to 6. Please add this change to the modules folder so it the logo in the header will be 50px high, as it is in DSpace 5.

[2019-05-06 19:58] alawvt opened #569 "Install customizations for search filters and facets in vtechworks6-dev"
Commit, https://github.com/VTUL/vtechworks/commit/428cdbd470c124a143be4aa348837619e264c812#diff-eb41d8cfa0737f07840838d3b8633f08, added customizations for search filters and facets. Please add the changes in `dspace/config/spring/api/discovery.xml` to DSpace 6.

[2019-05-06 20:21] alawvt commented on #556
Please add add commits https://github.com/VTUL/vtechworks/pull/559/commits/ff9b77e1f3ecac480216fd1dcd936e5789cd07d7 and https://github.com/VTUL/vtechworks/pull/559/commits/3dd3e1adf6043b209b7ec83fd19cc38922d64a0d on  branch [oai_dpla](https://github.com/VTUL/vtechworks/tree/oai_dpla) to vtechworks_6_dev.

[2019-05-06 20:42] alawvt opened #570 "Test Vtechworks6"
I have started the testing spreadsheet in Google Drive, `VTechWorks/Testing/DSpace_6.3_Testing`.

[2019-05-06 20:46] alawvt opened #571 "Add files for "Show lock symbol for restricted items to all users" in vtechworks6-dev"
Please add the files from PR, https://github.com/VTUL/vtechworks/pull/87/files, to dspace_6_dev so the lock symbol for restricted files will appear for all users.

[2019-05-07 01:00] keithgee commented on #568
I resolved this small header issue by taking Amber's old commit and applying it DSpace 6, although it gave a new commit #55a5090c7d54191.

The plan is to soon - but probably after the initial deployment - we will switch to a new theme with a new header and a slightly different logo.

Unfortunately I couldn't get this to work by copying the file to the dspace/modules area, and then making the chang

[2019-05-07 01:00] #568 closed, assigned to keithgee

[2019-05-07 03:22] keithgee commented on #556
@alawvt these commits have been picked into the vt_6_x_dev branch tonight, and also deployed to dspace 6 dev server.

Some notes:
 - Is there anything missing here, or any additional steps to get this to work? The URLs on the Wiki page (when adjusted for the server name) don't work to get metadata - there's an error that says the metadata format is unknown.
- This also doesn't appear to be deploye

[2019-05-07 11:23] keithgee commented on #571
I'll look at this again soon. Adding the files from this previous pull request won't work with DSpace 6 for these reasons:

- The DSpace API has changed from version 5 to version 6 such that the files won't compile without modification to account for these changes.
- The customized "AuthorizeManager.java" file  serves as an overlay for a file in the DSpace release, but that original "AuthorizeMana

[2019-05-08 14:48] alawvt commented on #568
@keithgee, thank you for making this change and attempting to incorporate it as a module overlay. It looks good now.

[2019-05-08 15:11] alawvt commented on #556
@keithgee, thank you very much for committing this change. I do see dplava listed in

`https://vtechworks6-dev.cloud.lib.vt.edu/oai/request?verb=ListMetadataFormats`.

The records look correct at

`https://vtechworks6-dev.cloud.lib.vt.edu/oai/request?verb=ListRecords&metadataPrefix=dplava&set=col_10919_10202` (notably they include the `<edm>` elements including thumbnail URL).

A sample record is

[2019-05-08 15:11] #556 closed, assigned to keithgee, alawvt

[2019-05-08 15:31] alawvt commented on #571
@keithgee, thank you for researching this issue. I hope that it will be manageable with the DSpace 6 API.

Most of the [Creative Writing theses](https://vtechworks.lib.vt.edu/handle/10919/9291/discover?field=department&filtertype=department&filter_relational_operator=equals&filter=Creative+Writing) are restricted to campus only. Examples are https://vtechworks.lib.vt.edu/handle/10919/42646, https:

[2019-05-08 19:25] alawvt commented on #569
No changes to dspace/modules/xmlui/src/main/resources/aspects/Discovery/i18n/messages.xml should be needed.

[2019-05-09 15:54] alawvt opened #573 "Improve mapping for NDLTD OAI-PMH harvest"
Check harvest by [NDLTD](http://search.ndltd.org/)

Change the prefix from etdms to oai_etdms.
Do not map dc.identifier.sourceurl.
Map to the [theses schema](http://www.ndltd.org/standards/metadata/etdms/1-1) fields.

Notes:
https://vtechworks.lib.vt.edu/oai/request?verb=ListRecords&metadataPrefix=etdms&set=com_10919_5534

https://github.com/VTUL/vtechworks/blob/vt_5_x_dev/dspace/config/crosswalks

[2019-05-09 15:58] alawvt opened #574 "Improve mapping in oai_dc for OCLC DCG OAI-PMH harvest"
Do not map dc.identifier.sourceurl.
Check result in OCLC.

Notes:

https://vtechworks.lib.vt.edu/oai/request?verb=ListRecords&metadataPrefix=oai_dc&set=com_10919_5534

https://vtechworks.lib.vt.edu/oai/request?verb=ListRecords&metadataPrefix=etdms&set=com_10919_5534

https://github.com/VTUL/vtechworks/blob/vt_5_x_dev/dspace/config/crosswalks/oai/metadataFormats/oai_dc.xsl

[2019-05-09 17:17] alawvt opened #575 "Run stats cron job on vtechworks6-dev and check for number of items"
Run legacy stats cron job on vtechworks6-dev and check for https://github.com/VTUL/vtechworks/issues/319.

[2019-05-09 18:15] alawvt opened #576 "Take off Search Stats and Workflow Stats from home page in vtechworks6-dev"
Please apply to DSpace 6, https://github.com/VTUL/vtechworks/issues/316 and PR https://github.com/VTUL/vtechworks/pull/318.

[2019-05-09 18:40] alawvt commented on #576
Resolved by #577

[2019-05-09 19:06] alawvt opened #578 "Tried to submit an ETD on vtechworks6-dev - "Permission denied""
I tried to submit an ETD to the masters thesis collection on vtechworks6-dev and received the error, "Permission denied" at the end of the file upload step. I hit the back button and got the Upload File(s) step again, which said, "The item must contain at least one file." see screenshot,
<img width="1224" alt="ETDSubmissionDSpace6" src="https://user-images.githubusercontent.com/13037168/57479578-b

[2019-05-09 19:12] alawvt commented on #578
I just tried to submit an article in the Library Test collection and also received the "No such file or directory" error after uploading a file.

[2019-05-09 19:16] keithgee commented on #578
Well, this seems like a critical issue. I will have a look now.

[2019-05-09 19:17] alawvt commented on #578
Thanks, @keithgee.

[2019-05-09 19:35] keithgee commented on #578
In our initial setup we found that there were some permission problems with the assetstore because it had been synchronized from a system with different user and group ID numbers for the DSpace app user.
Apologies, I thought that this had been fixed when the system was opened for testing, but it seems this is still the same way.

I'm currently running a command to change ownership of all files to

[2019-05-09 19:41] alawvt commented on #578
Thanks for working on this, @keithgee.

[2019-05-09 19:43] keithgee commented on #578
@alawvt It really limits testing if you can't add items!

[2019-05-09 19:44] alawvt commented on #578
Ah, but we get to record this configuration detail, which may be useful in the future.

[2019-05-09 20:35] keithgee commented on #578
@alawvt, thanks for finding this. The task has finished now, and I'm able to upload a file and complete a submission.

[2019-05-09 20:36] alawvt commented on #578
Great, @keithgee. I will also check it tomorrow.

[2019-05-10 17:49] alawvt commented on #578
I am able to submit an item now. Thank you very much, @keithgee, for fixing this.

[2019-05-10 17:49] #578 closed, assigned to keithgee

[2019-05-10 18:15] alawvt opened #579 "Enable Sherpa/Romeo lookup in submission form on vtechworks6-dev"
In the submission form, if you choose the content type, Article, then on the second page of the submission form will be a textbox for Journal Title. Please enable the Sherpa/Romeo lookup button that should be below this textbox in vtechworks6-dev. The setting are in #174. The file changes for DSpace 5 are in PR #306. Also need to add the change in PR #467.

[2019-05-10 19:01] alawvt opened #580 "Add content types to legacy statistics in vtechworks6-dev"
Please add the list of content types for the legacy statistics listed in PR #347 to vtechworks6-dev. It would be good if the legacy stats files were added so we can check how they appear, see https://code.vt.edu/it-services/vtlibans_dspace/wikis/home#legacy-stats-migration.

[2019-05-10 19:22] alawvt opened #581 "Ensure that ClamAV is enabled in vtechworks6-dev"
PR #314 adds settings for  dspace/config/modules/clamav.cfg,  dspace/config/modules/curate.cfg, and  dspace/config/modules/submission-curation.cfg. Please ensure that these changes have been added to vtechworks6-dev. Also "Scan for viruses" is not appearing in the System Curation Tasks list and should be enabled.

[2019-05-10 19:39] alawvt opened #582 "Check mail addresses for vtechworks6-dev"
Comparing the Control Panel configuration page, the mail server address differ between vtechworks and vtechworks6-dev. Please make sure that the 'SMPT Mail Server' and 'From Email Address' are correct.

[2019-05-10 20:18] alawvt opened #583 "Ensure that only logged-in users can request a copy of a restricted item in vtechworks6-dev"
As in PR #75, please ensure that only logged-in users can request a copy of a restricted item in vtechworks6-dev.

dspace/config/dspace.cfg
`request.item.type = logged`

[2019-05-14 14:22] keithgee commented on #583
Reinstated with commit c4d2b422bf77bbe2, but placed in local.cfg template instead.

However, this is not the way the current production VTechWorks system is configured.

My thought is that we might limit new customizations (even configuration) that aren't currently in production until we've completed the upgrade, just to help get this done, given the current situation. Do you agree?

[2019-05-14 14:22] #583 closed, assigned to keithgee

[2019-05-14 15:20] keithgee commented on #583
I got feedback from Gail and @pyc1. Anyone should be allowed to request a copy.
I have reverted the previous commit with new commit 5433cc5aa42f3aaf770148c370e8.

[2019-05-14 15:57] keithgee commented on #576
Thank you, @alawvt. Squashed, merged, and tested.

[2019-05-14 15:57] #576 closed, assigned to keithgee

[2019-05-14 16:23] keithgee commented on #580
I've incorporated commit 1f2e6f8e497cd9 into the vt_6_x_dev branch.

This applies changes directly to dstat.cfg, which is an exception to our new policy of making changes to our local.cfg template and not in other configuration files.

At a glance, it appears that this file must be separate - it's not in a modules directory and the names aren't parameterized. And note that the legacy statistics ar

[2019-05-14 16:24] #580 closed, assigned to keithgee

[2019-05-14 21:19] keithgee commented on #581
Partially addressed with commit 314f80ce7100, which adds the custom ClamAV parameters to our Space 6 configuration and enables the virus scan during submission.

Unsure why "Scan for viruses" is not appearing - I'm looking into this.

[2019-05-15 19:06] keithgee commented on #581
"Scan for viruses" is appearing in the Systems Curation Tasks list with commit fc13a4535bdbcf56.

[2019-05-15 21:38] kdweeks commented on #570
In testing with this spreadsheet, I found the following issue when submitting an item to VTechWorks:
I was able to add metadata in the two describe tabs (which is weird to me).  Upon file upload I received the following error: Authorization denied for action READ on BITSTREAM:1c2c3bc9-011d-477e-bb22-b6d11b9471e2 by user null, at the following URL https://vtechworks6-dev.cloud.lib.vt.edu/handle/109

[2019-05-16 05:09] keithgee commented on #570
@kdweeks thank you for finding this problem. I believe it may be related to enabling the virus scanner for uploads. So that testing may continue, I've disabled the virus scanner for uploads on the dev system. The virus scanner is still enabled and working from the curation menu.

[2019-05-16 05:10] keithgee commented on #570
Virus scanner was enabled with #581

[2019-05-16 15:47] keithgee commented on #581
Scan during submission is disabled on dev at the moment (but not reverted in commits) due to an issue reported by @kdweeks with new uploads. Scan in curation tasks is still enabled.

[2019-05-16 15:54] keithgee commented on #575
#319 is not related to legacy statistics. It's for the solr statistics.

These changes have been incorporated, and the DSpace 6 version of VTechWorks is currently showing 100 items on the statistics-home page.

*Closing

[2019-05-16 15:54] #575 closed, assigned to keithgee

[2019-05-16 16:29] alawvt commented on #582
In https://github.com/VTUL/vtechworks/commit/89a467edd538a972fc022705bc87ce5df0705e2b#diff-a60e58808bf42c545ed0dc04a4d6d5f9,

`request.item.helpdesk.override = true`

However in the latest commit on vt_5_x_dev and on vtechworks prod it is

`request.item.helpdesk.override = false` so let's just go with that. Thanks.

[2019-05-16 16:38] keithgee commented on #582
Two items here:

1. From Email address and server were incorrectly configured on the DSpace 6 vtechworks dev server. They're normally handled in the Ansible playbooks, which weren't used for setup of this system. You can move them to local.cfg if it makes sense to do that. This should be on a checklist of things to test when dev/preprod/prod servers are deployed. (It probably already is on a list)

[2019-05-16 16:39] keithgee commented on #582
DSpace 6 dev is now using the correct settings.

*Closing - issue/s resolved.

[2019-05-16 16:39] #582 closed, assigned to keithgee

[2019-05-16 18:17] alawvt commented on #582
@keithgee, @kdweeks reports that she can now register a new user and received an email.

[2019-05-16 18:49] alawvt commented on #575
@keithgee, thank you for the correction and incorporating these changes.

[2019-05-16 18:59] alawvt commented on #569
Resolved with #572

[2019-05-17 15:37] kdweeks opened #584 "Unable to load SAF batches via command line"
When trying up upload a SAF batch following the steps here: https://code.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/SAF_upload/, the import process breaks in two areas so far.  I can't proceed further.

1) The directory at /dspace/assetstore/ingest/SimpleArchiveFormatBatchloads/ is read-only so I can copy the files from /tmp to the proper location to run the batch.
Command and

[2019-05-18 16:51] keithgee commented on #584
@kdweeks, I've marked this as a DSpace 6 issue. Let me know if that's not the case.
Thanks!

[2019-05-18 17:07] keithgee commented on #584
Also, @kdweeks, please indicate if you were testing this on your local development environment, on the shared DSpace 6 dev server, or somewhere else.

[2019-05-20 11:23] keithgee commented on #584
@kdweeks, I'm unable to access the specific instructions that you reference this morning because code.vt.edu Shibboleth login is inaccessible right now, possibly from a planned middleware maintenance window. I tried to recreate this from the instructions you provided.

I was able to load Anita's open textbook collection into your test batch load collection on the DSpace 6 test server. There was on

[2019-05-20 15:57] alawvt commented on #584
@keithgee, thank you for testing this. I also think the problem was the missing `sudo -u vtechworks` for the cp command.

[2019-05-22 15:53] kdweeks commented on #584
@keithgee @alawvt  Hi, sorry I've been off for a couple of days and unable to respond.  I was using the using rain.lib.vt.edu.  I thought this was the DSpace testing server!  If not, that's another issue altogether.   I did use the proper command the first couple of times when I was trying to copy with the `sudo -u vtechworks` prepended to it.  I logged in this morning just to test again and I'm g

[2019-05-22 17:38] keithgee commented on #584
@kdweeks, I reopened this issue. Please verify that you're using the correct port number when you connect. This is in the email that I sent to you with the chat. Also, please let me know what the "hostname" command returns once you're logged in.

[2019-05-22 17:48] kdweeks commented on #584
@keithgee I was using the wrong port!!  I was using 2023 on rain.lib.vt.edu.  Since I put that in my ssh config file when I first logged in, I didn't think about it again.  I was logging into: `vtechworks@vtechworks-pprd` before.  Using port 2030, I can't login at all 🙁.

I get the following:
`kdweeks@rain.lib.vt.edu: Permission denied (publickey).`

[2019-05-22 17:52] alawvt commented on #584
You may to ask @soumikgh to add you and then add the public key to your known keys.

[2019-05-22 18:23] kdweeks commented on #584
@alawvt @keithgee -  @soumikgh added my public key.  At least I'm on the correct server now - duh!  FYI vtechworks-pprd is having trouble with command line batch loading.

[2019-05-22 18:52] kdweeks commented on #584
@keithgee The command line batch loading process we use is working beautifully on DSpace 6 dev!

[2019-05-22 18:52] #584 closed, assigned to keithgee

[2019-05-28 20:44] alawvt commented on #567
As per our meeting today, I added `local.cfg` to `dspace/config.` However `.gitignore` has
[code]

@keithgee, do you think I should remove that from `.gitignore`?

[2019-05-29 12:24] keithgee commented on #567
You can do that, but if it were me, I think I'd just use a different name, as I did with local.cfg.VTDSPACE6DEV (which we won't need anymore, by the way). That file would then be copied (and parameterized, if necessary) to local.cfg during installation.

Including local.cfg in .gitignore prevents accidentally checking in a local.cfg file with local modifications, for example during testing with a

[2019-05-29 12:34] keithgee commented on #565
This was handled in our DSpace 5 Ansible playbooks, but not in the DSpace 6 version. I'll close this issue as there's now an open issue for this item in our deployment project.

[2019-05-29 12:34] #565 closed, assigned to nobody

[2019-05-29 12:35] keithgee commented on #567
It does seem like it might be simpler to just name it local.cfg instead of naming it something else and then copying it. I don't know what's best. Your call, Anne!

[2019-05-29 18:12] alawvt commented on #567
I think it would be easiest if the file were named `local.cfg` in this GitHub repository and had the settings needed for the LDE, so that the VM could be built locally with Maven. The vtlibans project would parameterize different settings needed for dev, pprd, and prod.

@keithgee do you have a preference whether we keep `/dspace/config/local.cfg` in `.gitignore` and `git add -f local.cfg` when we

[2019-05-29 18:25] keithgee commented on #567
Anne, it's up to you which of those you prefer.

Note though, that the having a parameterized file doesn't prevent the LDE from being built locally with maven. It would be parameterized with settings in the site secrets file, just like the other systems. It's similar to how the dspace.cfg file is parameterized with our version 5 deployment project. But maybe you have in mind being able to set up a

[2019-05-29 20:50] alawvt commented on #567
Created PR #585 and am testing it.

[2019-06-04 19:53] alawvt commented on #552
Please replace underscores "_" in subjects and dc.coverage.spatial with spaces, " " (and any other fields besides file name and id.) The underscores were part of the hyperlinking of subjects and locations in [Discovery Commons](https://dcr.emd.vt.edu/vital/access/manager/Index?site_name=Agricultural%20Engineering).

[2019-06-05 15:38] alawvt commented on #566
This has been resolved in the vtlibans project, https://code.vt.edu/it-services/vtlibans_dspace/issues/106.

[2019-06-05 15:38] #566 closed, assigned to nobody

[2019-06-05 15:49] alawvt commented on #567
Resolved in vtlibans issue, https://code.vt.edu/it-services/vtlibans_dspace/issues/111.

[2019-06-06 16:28] kdweeks commented on #552
The VTechWorks collection for this content is here:
https://vtechworks.lib.vt.edu/handle/10919/87778

[2019-06-06 19:13] kdweeks commented on #552
I am working on the the 2nd batch of project 10, and thus far there are no extensions in the "filename" column to denote what type of file in the file folder and should be loaded to VTechWorks.  When there are multiple file types in a batch,  this will need to be done by hand I think.  HMMM.  In the first batch, the actual filename did not match the filenames in the metadata spreadsheet.

[2019-06-08 14:08] alawvt commented on #552
@kdweeks, thanks for resolving the filenames in the first batch. Perhaps each item has multiple files with the same name but different extensions. I can't remember off hand whether the other image batches had multiple files per item. I think not, so this may the only one that needs extensions.

[2019-06-13 15:59] kdweeks commented on #552
@alawvt The documents batch from AE_documents/AE_publish_load_6-11-14/documents filename list not only didn't have extensions but there were 2 files per item both with different extensions and only a single root name was listed.  Luckily both files per item shared the same root name, and there was exactly one .pdf and one .png per item.  With over 400 files, this could have been a lot worse.  I wa

[2019-06-13 18:42] alawvt commented on #552
@kdweeks, that's great that you were able to generate the filenames.

[2019-06-19 18:19] alawvt opened #586 "Load publications from old Special Collections website"
I would like to propose the inclusion of Curtis W.  Roane’s (professor emeritus of Plant Pathology, Physiology, and Weed Science at VT, 1921-2018) “A History of Plant Pathology in Virginia (1988-1997) for inclusion in VTechWorks. It is another series of pages lost in the recent website transition in Special Collections. The site may be viewed on the “way back “ machine: https://web.archive.org/web

[2019-06-19 19:09] gailmmac commented on #586
It all sounds appropriate to me.

Gail McMillan
Director, Scholarly Communication <http://scholar.lib.vt.edu>
Professor, University Libraries
Virginia Tech
orcid.org/0000-0001-8817-3819

On Wed, Jun 19, 2019 at 2:19 PM alawvt <notifications@github.com> wrote:

[2019-06-21 16:37] alawvt commented on #567
Now the dspace-6.x branch in the vtlibans project uses the local.cfg file in the vt_6_x_dev branch in this project.

[2019-06-24 15:14] alawvt opened #587 "Check Elements' migration from Internal IDs to UUIDs when migrating to DSpace 6"
#128733 Repository Tools 2 and DSpace 5 to 6 migration--switch from Internal IDs to UUIDs?

We are planning to migrate soon from DSpace 5 to 6. What do we need to do for Elements Repository Tools 2 to transition from using Internal IDs in DSpace 5 to UUIDs in DSpace 6?

[2019-06-24 19:15] alawvt commented on #587
from @AndrewBennet,

The transition from DSpace 5.x to DSpace 6.x will require a script to be run against the operational database to migrate all the existing DSpace IDs from the DSpace 5 integer ID to the DSpace 6 UUID. This script requires an input CSV file containing, for each DSpace item, the old ID and the new UUID.
​
The timing of the upgrade should be carefully coordinated with the running

[2019-06-24 19:18] alawvt commented on #581
@keithgee, I just checked the Scan for Virus curation task on my LDE on the search_filters_facets branch and received,

`STATUS: Error, RESULT: Unable to connect to virus service - check setup`

On my LDE, /dspace/config/local.cfg has
[code]
so submission is disabled but it seems like the curation task should work.

[2019-06-24 19:29] alawvt commented on #539
We can revisit this after DSpace 6.

[2019-06-24 19:29] #539 closed, assigned to pyc1

[2019-06-24 19:43] alawvt commented on #579
- dspace/config/dspace.cfg needs to be overwritten in local.cfg.
- dspace/config/spring/api/sherpa.xml needs to be modified.
- dspace/modules/additions/src/main/resources/spring/spring-dspace-addon-sherpa-configuration-services.xml needs to be added.
- The changes needed for  dspace/modules/xmlui/src/main/webapp/i18n/messages.xml are already there.
- dspace/modules/additions/src/main/java/org/dspa

[2019-06-24 19:55] alawvt commented on #567
To clarify, of the 29 config files in DSpace 5,
[code]
only dspace.cfg file and the dspace/config/modules/*.cfg files will be overwritten by local.cfg? Therefore a file like dstat.cfg will still be changed directly in that file.

[2019-06-24 20:16] #567 closed, assigned to keithgee

[2019-06-25 13:39] #569 closed, assigned to keithgee

[2019-06-25 20:20] alawvt opened #588 "Sherpa/Romeo lookup in submission form not working"
in the submission form, if you choose the content type, Article, then on the second page of the submission form will be a textbox for Journal Title. The Sherpa/Romeo lookup button is below this textbox. When I submit a journal name in the textbox, there are no results and "untranslated," see screenshot.
<img width="1303" alt="SherpaSubmissionFormError" src="https://user-images.githubusercontent.co

[2019-06-26 12:43] alawvt commented on #588
Well, it works this morning--go figure. Yesterday, I tried the Sherpa REST-API from a browser and it worked, so I had assumed that it wasn't the Sherpa REST-API. But I don't know what else it might be.

[2019-06-26 16:35] alawvt commented on #579
Partly resolved with #589.

[2019-06-27 16:23] alawvt opened #590 "Remove configurations from local.cfg that are already in stock dspace.cfg"
Remove configurations from local.cfg that are already in stock dspace.cfg

[2019-06-27 17:37] alawvt commented on #590
Resolved by #591

[2019-06-27 17:41] alawvt opened #592 "Add customizations from DSpace 5 dspace.cfg, modules/cfg, and build.properties to local.cfg"
Add customizations from DSpace 5 dspace.cfg, modules/cfg, and build.properties and Ansible templates to local.cfg.

[2019-06-27 18:25] alawvt commented on #592
in dspace.cfg (DSpace 6)
- db.maxidle = 10

in build.properties (DSpace 5)
- db.maxidle = -1
- db.statementpool = true
- db.poolname = dspacepool

in build.properties (DSpace 5)
- handle.canonical.prefix = http://hdl.handle.net/

in local.cfg
- mail.from.address = no-reply@vtechworks.lib.vt.edu
- feedback.recipient = vtechworks@vt.edu
- mail.admin = vtechworks@vt.edu
- registration.notify = ${mail

[2019-06-28 15:48] keithgee commented on #590
Per my comment in the review stating that we should leave values in ~~dspace.cfg~~  local.cfg that will be customized by Ansible, here's a rudimentary diagram of my current understanding of what we're aiming at.

EDIT: I had accidentally typed dspace.cfg instead of local.cfg!
`

                 ┌──────────────┐           ┌──────────────────────────────┐   ┌─────────────────────────────────┐

[2019-06-28 16:39] keithgee commented on #590
More notes: Above diagram omits a couple of details that I think we can ignore for this discussion, including separate module configuration files, as you mentioned, and also that the stock DSpace install process can use variables.

And here's the Stack Overflow discussion I mentioned about using a file stored in a repository that's separate from the Ansible project as a template.
https://stackover

[2019-06-28 16:42] alawvt commented on #590
@keithgee, thank you for the diagram. It is helpful to see the relationship of the files. I will create a new issue to test creating local.cfg as local.cfg.j2 and calling it from vtlibans.

[2019-06-28 17:48] alawvt commented on #592
dspace.cfg (DSpace 5) vs dspace.cfg (DSpace 6)

dspace.cfg (DSpace 6)
##### Email settings ######
mail.server = smtp.example.com
mail.server.username =
mail.server.password =
mail.server.port = 25
mail.from.address = dspace-noreply@myu.edu
feedback.recipient = dspace-help@myu.edu
mail.admin = dspace-help@myu.edu
alert.recipient = ${mail.admin}

dspace.cfg (DSpace 5) with overwritten settings from

[2019-06-28 19:20] alawvt opened #593 "Configure bitstream storage in config/spring/api/bitstore.xml"
Configure bitstream storage in config/spring/api/bitstore.xml.

from DSpace 6 dspace.cfg
[code]
See [Configuring the Bitstream Store](https://wiki.duraspace.org/display/DSDOC6x/Storage+Layer#StorageLayer-ConfiguringtheBitstreamStore)

[2019-06-28 19:44] alawvt opened #594 "Investigate if config/log4j.properties must be modified"
In  DSpace 6 dspace.cfg
[code]

 Settings in dspace.cfg for DSpace 5
[code]

[2019-06-28 19:48] alawvt opened #595 "Investigate search settings in /config/spring/api/discovery.xml"
From DSpace 6 dspace.cfg
[code]
Search settings in DSpace 5 dspace.cfg
[code]

[2019-06-28 19:58] alawvt opened #596 "Check Media Filter settings including new plugins"
DSpace 6 dspace.cfg
[code]
DSpace 5 dspace.cfg
[code]

References

- [Mediafilters for Transforming DSpace Content](https://wiki.duraspace.org/display/DSDOC6x/Mediafilters+for+Transforming+DSpace+Content)
- [ImageMagick Media Filters](https://wiki.duraspace.org/display/DSDOC6x/ImageMagick+Media+Filters)

[2019-06-28 20:16] alawvt opened #597 "Check event system configuration in dspace.cfg"
DSpace 6 dspace.cfg
[code]
DSpace 5 dspace.cfg
[code]

[2019-07-01 16:28] alawvt commented on #587
In addition to the synchronization listed above, it will be important have db backups from VTechWorks prod and Elements prod that are closely in sync, as listed in https://code.vt.edu/digital-research-services/vtw-elements/wikis/home.

[2019-07-01 17:55] alawvt commented on #593
In dspace.cfg in vtechworks prod on 5:
[code]

[2019-07-01 18:14] alawvt commented on #594
We are currently using the default log4j settings so we don't have to include any settings in local.cfg or other files.

[2019-07-01 18:14] #594 closed, assigned to nobody

[2019-07-02 17:29] mhp0rtal opened #598 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => dspace-sword/src/main/java/org/purl/sword/base/ChecksumUtils.java: Line number => 63: API name => MessageDigest:Unexpected call to method reset on object of type java.security.MessageDigest. Expect a call to one of the following methods digest,update<BR> File name => dspace-sword/src/main/java/org/purl/sword/base/ChecksumUtil

[2019-07-03 12:36] cecross1 commented on #588
This happened again today. But this time, after pushing the lookup button, all the metadata that I'd entered into the form disappeared. The submission is still listed as in progress, but all the blanks are empty now.

[2019-07-08 16:38] alawvt commented on #587
Continued in [#128733 Repository Tools 2 and DSpace 5 to 6 migration--switch from Internal IDs to UUIDs?](https://code.vt.edu/digital-research-services/vtw-elements/issues/4)

[2019-07-08 16:38] #587 closed, assigned to alawvt

[2019-07-08 19:35] alawvt commented on #590
@keithgee, in site_secrets, endpoint_url is just a web address without http or https. We need to specify the full URL in local.cfg for dspace.baseUrl and dspace.url. Will https be the same for LDEs, dev, pprd, and prod or do we need to specify in site_secrets or somewhere else, which urls are http and which are https?

[2019-07-09 18:46] alawvt commented on #590
I have added the variable, `http_s` to example_site_secrets.yml and called it in local.cfg for `dspace.baseUrl = ${{ http_s }}${dspace.hostname}`.

[2019-07-09 20:45] alawvt commented on #590
I believe PR #599 resolves this issue

[2019-07-09 20:45] #590 closed, assigned to alawvt

[2019-07-10 14:48] alawvt commented on #597
We will go with the defaults in dspace.cfg for now

[2019-07-10 14:48] #597 closed, assigned to nobody

[2019-07-10 15:02] alawvt opened #601 "Check database settings in dspace.cfg and local.cfg"
Differing settings:

dspace.cfg in DSpace 6 has
[code]

VTechWorks settings for DSpace 5 in dspace.cfg
[code]

[2019-07-10 15:22] alawvt commented on #601
For DSpace 6,

`db.dialect` is in `dspace.cfg` but not in the Wiki page, https://wiki.duraspace.org/display/DSDOC6x/Configuration+Reference#ConfigurationReference-ConfigurationFileSyntax.

`db.statementpool` and `db.poolname` are in the Wiki page, https://wiki.duraspace.org/display/DSDOC6x/Configuration+Reference#ConfigurationReference-ConfigurationFileSyntax, but not in `dspace.cfg`.

[2019-07-10 15:43] alawvt commented on #596
@keithgee, in DSpace 5, we are using ImageMagick Image Thumbnail and ImageMagick PDF Thumbnail filter.plugins. In DSpace 6, dspace.cfg calls for JPEG Thumbnail and PDFBox JPEG Thumbnail filter.plugins. As far as you know, will we continue to use ImageMagick to create thumbnails or will we be switching?

[2019-07-10 18:15] alawvt commented on #596
I will disable mediafilter.WordFilter since it outdated and enable mediafilter.PoiWordFilter, since it indexes .docx files.

[2019-07-10 19:18] alawvt commented on #596
It was able to create .txt files from a .pdf, .doc, and .docx.

[2019-07-10 20:18] alawvt opened #602 "Check logging configuration"
DSpace 6 dspace.cfg
[code]
DSpace 6 log4j.properties differences from DSpace 5
[code]

DSpace 5 settings
[code]

[2019-07-10 20:35] alawvt commented on #602
@keithgee, I'd appreciate any help on this. I created the branch, `add_media_filters_to_local.cfg` for Issue #596 and added the new media filter, mediafilter.PoiWordFilter. It worked, creating .txt files from a .pdf, .doc, and .docx. However the mediafilter commands failed to create thumbnails of these files. The errors included problems with the location and permissions of the log files. The log

[2019-07-11 14:58] alawvt commented on #593
Currently, assetstore for LDE and prod are `assetstore` and pprd and dev are `assetstore1`.

[2019-07-11 15:00] keithgee commented on #602
@alawvt I'm looking at this now. Please join me in Slack if you are available.

[2019-07-11 15:41] keithgee commented on #602
I've fixed this issue with commit 7258c17.

The dspace.dir parameter was no longer in the local.cfg file; I put it back in.

This doesn't really mesh with my understanding of how the configuration system works - I thought that if this variable was in dspace.cfg (it is), it would be available everywhere.

Closing.

[2019-07-11 17:15] alawvt commented on #602
I just built this and the logs are back where they belong. Thank you very much @keithgee.

[2019-07-11 18:53] alawvt commented on #596
After rebasing this branch, `add_media_filters_to_local.cfg`, to include in `local.cfg`,
[code]
I reran `sudo -u vtechworks ./dspace filter-media -i 10919/87721`

The .txt files had already been derived. It produced this error for the thumbnail creation,
[code]
`ls -al /tmp` produces
[code]
https://wiki.duraspace.org/display/DSDOC6x/ImageMagick+Media+Filters#ImageMagickMediaFilters-PossibleErrors/

[2019-07-11 19:44] alawvt commented on #596
This is a continuation of Issue #547. @soumikgh had modified /etc/ImageMagick-6/policy.xml on the current server. Apparently it still has not been fixed in Ubuntu. I will create an issue in vtlibans, https://code.vt.edu/it-services/vtlibans_dspace/issues/117, to add a task for this.

I commented out the policies on my LDE as described in https://wiki.duraspace.org/display/DSDOC6x/ImageMagick+Media

[2019-07-11 19:55] #602 closed, assigned to keithgee

[2019-07-11 20:04] alawvt commented on #593
[Add a variable in site_secrets.yml for assetstore number to overwrite in local.cfg](https://code.vt.edu/it-services/vtlibans_dspace/issues/118) adds the variable, assetstore_dir to site_secrets.yml.

[2019-07-15 16:37] #601 closed, assigned to alawvt

[2019-07-16 18:22] alawvt commented on #593
Note that DSpace 5 uses the variable, `assetstore.incoming` to determine which assetstore is used. In DSpace 6, this variable has been moved to `dspace/config/spring/api.bitstore.xml`. However, in this file, it is assigned the value of `assetstore.dir` in `dspace.cfg`, which we overwrite in `local.cfg`.

[2019-07-16 21:09] alawvt commented on #593
Resolved with PR #604.

This will need to be tested on dev or pprd to make sure that it calls assetstore1 properly. Continued in #605.

[2019-07-16 21:10] alawvt opened #605 "Test bitstream storage on vtechworks-pprd"
Continues #593. Test that this configuration calls assetstore1 for vtechworks-dev.

[2019-07-17 19:26] alawvt commented on #595
The customizations in dspace/config/spring/api/discovery.xml have been migrated for DSpace 6. The browse setting have been checked in dspace.cfg

[2019-07-17 19:26] #595 closed, assigned to nobody

[2019-07-18 20:19] alawvt commented on #592
I have reorganized local.cfg into 3 sections:

[code]

Please make changes in the appropriate section. I am testing it in branch, `organize_local_cfg`.

[2019-07-18 20:22] keithgee commented on #592
I love these comments about the file organization.

[2019-07-18 20:23] alawvt commented on #592
Thanks, @keithgee!

[2019-07-19 13:39] alawvt commented on #592
It looks like changes for `dspace/config/modules/authentication-ip.cfg` and `dspace/config/modules/authentication.cfg` were made directly to those files for DSpace 6. I have moved the changes for the variables in `authentication.cfg` to `local.cf`g and left the changes for variables in `authentication-ip.cfg`.

[2019-07-19 14:04] alawvt opened #606 "SWORD and SWORDv2 Bad URLs"
When I try `http://192.168.60.4/swordv2/servicedocument` in the browser, I get the error,
[code]
I am wondering if this is due to the nginx config, since it is adding the port 8080 to the URL.

I am using the branch `organize_local_cfg`.

There is a corresponding issue, https://code.vt.edu/it-services/vtlibans_dspace/issues/119, in the vtlibans project.

I get a very similar error for SWORD.

[2019-07-19 15:09] alawvt opened #607 "SWORD v1 error in vtechworks6-dev.cloud.lib.vt.edu"
SWORDv2 seems to work ok on https://vtechworks6-dev.cloud.lib.vt.edu.

However https://vtechworks6-dev.cloud.lib.vt.edu/sword/servicedocument yields the error:
[code]

[2019-07-19 17:29] alawvt commented on #607
In attempting to troubleshoot this error, I tried
`sudo -u vtechworks ./dspace database test`
and got:
[code]
The database did connect but it continued to complain about space for logging.

[2019-07-19 20:34] alawvt commented on #607
Also noting nginx is not used in https://vtechworks6-dev.cloud.lib.vt.edu:
[code]

[2019-07-22 14:15] keithgee commented on #607
Thanks, Anne. This is interesting. It previously worked, and based on what you found in the log files, this may be an issue with disk space.

I don't think I should spend any time getting this working on this particular system again. This system was deployed with the old Ansible project, and not the new one that we're now working with, and as you mentioned, it used Apache httpd instead of nginx.

[2019-07-22 14:15] #607 closed, assigned to keithgee

[2019-07-22 18:04] #598 closed

[2019-07-22 18:04] #588 closed, assigned to nobody

[2019-07-22 18:30] alawvt commented on #592
Resolved with PR #608.

[2019-07-22 18:31] #592 closed, assigned to alawvt

[2019-07-23 19:26] alawvt opened #609 "Check configuration settings that are not local.cfg, dspace.cfg or modules/*.cfg"
Check configuration settings that are not local.cfg, dspace.cfg or modules/*.cfg.

[2019-07-23 20:16] alawvt commented on #609
Complete

[2019-07-23 20:16] #609 closed, assigned to alawvt

[2019-07-23 20:19] alawvt opened #610 "Check dspace/modules folder for customizations"
Check dspace/modules folder for customizations.

[2019-07-23 20:50] alawvt commented on #610
Files in VTW DSpace 5 that are not in VTW DSpace 6, /dspace/modules/

- [x] additions/src/main/java/org/dspace/app/itemimport/itemimport.java # this was fixed in DSpace 6 with https://github.com/DSpace/DSpace/pull/1241/commits/261dee47143bc7ca31b41be92bdbf41b3bc6cce8 so this file is not needed.

- [ ] additions/src/main/java/org/dspace/authorize/AuthorizeManager.java # used for lock symbol commit,

[2019-07-25 18:53] keithgee commented on #606
@alawvt, as per your diagnosis the problem was resolved by adjusting the nginx configuration.

A change was made to our separate ansible project.
`proxy_set_header Host $host;`
was added to the nginx configuration to pass the original hostname along through nginx to Tomcat.

[2019-07-25 21:19] keithgee commented on #606
I've merged the code in the other project and closed the associated issue; I'll close this issue as well.

*** Closing

[2019-07-25 21:19] #606 closed, assigned to nobody

[2019-07-26 13:01] alawvt commented on #606
@keithgee, thank you so much for figuring out this issue.

[2019-07-26 15:12] keithgee commented on #610
@alawvt, thank you for your thoroughness in checking this. Could you open up specific issues that address any problems found in testing?

Some of these files, for example, ItemImport.java - are missing because the DSpace API and other parts of the codebase were reorganized in DSpace 6, and those files no longer exist.

It's possible that some of the customizations in these missing files have moved

[2019-07-26 15:30] keithgee commented on #610
Here's a specific example:

The ItemImport.java file had this in the commit message:

[code]

If there's a problem with our current project in reading the collections file from the SAF upload, I'd like to have an issue open specifically for that so I know that it needs to be fixed. It could also be useful to know where this fix was made, because the fix is likely similar for the new version of the

[2019-07-26 17:24] alawvt commented on #571
Two files that aren't in the dspace/modules folder are

- additions/src/main/java/org/dspace/authorize/AuthorizeManager.java # used for lock symbol commit, https://github.com/VTUL/vtechworks/commit/9b6d9625b390e9abc34dd4bac08ca2b775329a85, however dspace-api/src/main/java/org/dspace/authorize/AuthorizeManager.java **does not exist** in DSpace 6.

- xmlui/src/main/java/org/dspace/app/xmlui/objectma

[2019-07-26 19:22] alawvt commented on #610
@keithgee, I agree that any issues for these files should be separate. I have listed all the files above and whether they exist in DSpace 6. Aside from the video.js question, https://github.com/VTUL/vtechworks/issues/610#issuecomment-514378747, I have created separate issues for those that still need attention. See links above

[2019-07-26 20:00] alawvt commented on #579
additions/src/main/resources/spring/spring-dspace-addon-sherpa-configuration-services.xml # used for Sherpa Romeo authority control, https://github.com/VTUL/vtechworks/commit/182d6b35cca5def43799e860da4dcfc3804673aa. dspace-api/src/main/resources/spring/spring-dspace-addon-sherpa-configuration-services.xml **does exist** in DSpace 6.

[2019-07-26 20:37] alawvt opened #611 "Check that error message has been customized to hide Java stacktrace."
Check that the Java stacktrace is hidden on the error page.

xmlui/src/main/webapp/exception2dri.xslt # used to customize error page, e1039be. dspace-xmlui/src/main/webapp/exception2dri.xslt does exist in DSpace 6.

xmlui/src/main/webapp/exception2html.xslt # used to customize error page, e1039be. dspace-xmlui/src/main/webapp/exception2html.xslt does exist in DSpace 6.

These should hide the Java

[2019-07-26 20:52] keithgee commented on #611
This customization was left out on purpose; we had agreed that it would be helpful during testing to have the full error message quickly available. We'd also discussed whether we should add this customization back at all; the original motivation was during work to add Single Sign On to VTechWorks; that project was ultimately cancelled.

@alawvt, do you think this should be added back in? On a sepa

[2019-07-26 20:54] keithgee commented on #611
I've marked this with "wont fix" for now - though that's subject to change.

[2019-07-26 21:07] keithgee commented on #570
I have tagged this with "waitfordevdeploy". I believe that we are waiting until this is deployed to another system to finish testing.

A DSpace 6 test plan and previous VTechWorks test plans are available on our Google Drive.

[2019-07-26 21:08] alawvt commented on #611
@keithgee, I had forgotten about leaving this customization off during testing. I agree that it would be helpful for testing. Do we want to re-enable it once we're through testing? I recall that ITS wanted to hide the stacktrace for security.

[2019-07-26 21:56] keithgee commented on #611
If it's a security issue, perhaps we should include it. I think a good time to put it back in (and hide the stack trace) might be just before the pre-prod installation.

[2019-07-29 20:15] #570 closed, assigned to nobody

[2019-07-29 20:18] alawvt opened #612 "Create a test plan for DSpace 6"
Use previous tests and other repository DSpace 6 tests to create a test plan. All testing materials are in Google Drive/VTechWorks/Testing/DSpace6/.

[2019-07-30 14:51] keithgee commented on #581
I've added an Ansible task over in our Dspace 6 version of the vtlibans_dspace project to start the clamav daemon automatically. In my testing, this resolves the curation task issue again. I'm testing a potential fix for the other issue, scanning during initial submission.

[2019-07-30 16:36] keithgee commented on #581
The remaining issue has been corrected with commit 6cbbdfd, except I forgot to enable the virus scanner in the configuration file again.

[2019-07-30 16:38] alawvt commented on #581
@keithgee, please enable ClamAV in the config so we can test it.

[2019-07-30 16:42] keithgee commented on #581
Commit 0d1b112 enables clamAV in the config.
@alawvt, I can leave this issue open if you'd like to verify the fix. It ended up being two simple fixes, but finding things and testing has proven tricky.

[2019-07-30 16:45] alawvt commented on #581
@keithgee, thank you very much for your work on this. I will build it now to verify.

[2019-07-30 17:06] alawvt commented on #581
Success: the latest build ran both the ClamAV curation task and detected a file with a virus during submission.

[2019-07-30 17:06] #581 closed, assigned to keithgee, alawvt

[2019-07-30 17:22] alawvt commented on #580
Yes, dstat.cfg is not in the modules folder and not included in dspace.cfg, so it needs to be customized separately from local.cfg.

[2019-07-30 20:29] alawvt commented on #571
@keithgee, I am running through some tests on the LDE with the latest build. The item, http://192.168.60.4/handle/10919/37514, has the lock symbols. I am trying to figure if it thinks I am off campus. What do you think I should see?

[2019-07-30 21:21] keithgee commented on #571
@alawvt, it probably does think that you are off-campus. I notice that you took out all of the on-campus IP address ranges with commit 630fd2c0062f9223cfa390764e329b311ed8d914, which was a revert of a previous commit.

We'd recently talked about how to organize the ip-address configuration. I'm wondering if maybe you meant to only revert part of the previous commit, and leave the ip addresses in m

[2019-07-30 21:25] keithgee commented on #580
Okay, good to have confirmation. Another quick note on this - Aaron suggested that we turn down the log levels very low to help with performance. These legacy statistics depend on log files, so it's possible that they'll break more when the log levels are turned down.

[2019-07-31 12:11] alawvt commented on #571
@keithgee, yes, that is exactly what happened. I reverted my commit and added another commit to just change authentication.cfg back to the DSpace6 default. The lock symbols now appear. Once again, thank you for figuring these things out!