[2015-08-24 19:13] amandafrench opened #15 "Need to configure search"
Ex: "Department of Energy" finds all results for energy - quotation marks don't work
[UPDATED] Ex: search for "LD5655.V855_1947.B695.pdf" in quotes pulls up numerous results instead of the single item with that PDF

[2015-08-24 20:32] alawvt commented on #15
A search for "LD5655.V855_1947.B695.pdf"  (in quotes) should yield one result but instead yields 35,284 results! In quotes, this search would have yielded 1 result in version 4.

[2015-08-25 12:21] alawvt commented on #15
I strongly suspect the searcher in version 5 is returning the "exact match" (as top result) plus 35,283 "similar" results, ranked in order of relevance.

This is probably due to the use of Solr for searching and the way the Solr searcher has been defined for the main search box.

Cheers,

Paul.

That does seem to be the case. Personally, I don’t find the other 35,283 results helpful. Hopefully we

[2015-08-25 13:53] alawvt opened #16 "Compare configuration files in versions 4 and 5"
Please compare configuration files (for example, .cfg, .xml) in versions 4 and 5 and list differences. The code for version 4 is in Google Drive Digital Research Services/VTechWorks Team/Technology/vtechworks_dspace4.tar.gz.(Keith: I added the "4" to the file name.)

[2015-08-25 13:55] alawvt commented on #16
I am unable to assign Jing to this issue because she is not in the list.

[2015-08-25 14:06] alawvt opened #17 "Add additional search filters"
Please create the search filters that were available in VTechWorks version 4. The patches used for version 4 are in Google Drive Digital Research Services/VTechWorks Team/Technology/vtechworks_dspace4_patches_search_filters, https://drive.google.com/a/vt.edu/folderview?id=0B0VhWgQOPYz8fnJPdFdqWTcwZURWd2NsVkxYcVpvLW9jMzVIOThoWFZ2QlVFM29UZFAteU0&usp=sharing.

[2015-08-25 14:24] amandafrench commented on #16
@alawvt Jing's GitHub userid is @AmberPoo1 :)

[2015-08-25 14:26] amandafrench commented on #16
Hi @AmberPoo1, be sure to list the differences on the wiki at https://github.com/VTUL/vtechworks/wiki/Configurations-and-Customizations -- plain text is fine for now; we want to evaluate these before we recreate them.

[2015-08-25 16:43] alawvt opened #18 "In full record display, please fix abstract display so lines don't break mid-word (contribute to DSpace)"
In full record display, lines are breaking mid-word, for example dc.description.abstract for http://vtechworks.lib.vt.edu/handle/10919/48142?show=full. Please change so that lines break only between words.

[2015-08-25 16:57] alawvt opened #19 "Request to remove "Select a community to browse its collections" from home page"

[2015-08-25 17:01] alawvt commented on #17
The list of filters should contain

Title
Author
Subject
Date Issued
Content Type
Abstract
Keyword
Series
Identifier
Mime-Type
Coverage
Sponsor
Language (ISO)
Technical Report No.
Department
ETD Advisor
ETD Level

Please see https://redmine.lib.vt.edu/projects/vtechworks-projects/wiki/VTechWorks_search_configuration, for details of configuration in VTechWorks_dspace4.

[2015-08-25 18:59] alawvt opened #20 "OAI-PMH harvest search by date returns error"
The request, https://vtechworks.lib.vt.edu/oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2015-08-20, produces the error, "invalid date given in until parameter." There is mention of a similar error in the DSpace issue, https://jira.duraspace.org/browse/DS-2542.

[2015-08-25 20:30] amandafrench opened #21 "Font has insufficient contrast"
color is #7f7f7f
lightest to pass minimum standard (1:4.5) is #767676
lightest to pass enhanced standard (1:7.0) is #595959

[2015-08-25 20:38] amandafrench opened #22 "Need a larger logo in the header"
[code]

[2015-08-25 23:40] keithgee commented on #20
I think we probably shouldn't spend time on this issue here, unless it is hurting us in some way.

[2015-08-26 02:13] keithgee commented on #20
What I mean is:  we'll have a lot of other issues and I'd be happy to make this a low priority unless it's interfering with one of our current processes or workflows.

[2015-08-26 12:16] alawvt commented on #20
I agree, I can live without it. I did want to note it, though.

[2015-08-26 12:20] alawvt opened #23 ""View Usage Statistics," http://vtechworks.lib.vt.edu/statistics-home, not viewable unless logged in as administrator"
Logged in as an admin, "View Usage Statistics," http://vtechworks.lib.vt.edu/statistics-home, seems to show cumulative statistics on the home page, collection page, and individual item pages.

Logged out, there are not statistics links from the home page or an item page. Previously, "View Usage Statistics" was viewable without being logged in.

Keith Gilbertson @vtkeithg about 10 hours ago

This i

[2015-08-26 13:10] amandafrench commented on #20
@alawvt @keithgee Definitely, note all issues here -- really all the issues we're putting here are for revisiting later. On Monday (I hope, assuming we've gotten outstanding issues from the server move resolved) we will decide what to work on in the next sprint. We'll mark those with the "current sprint" lavel. I'm going to reopen these two but mark them to revisit later.

[2015-08-26 14:55] amandafrench opened #24 "Document location of and any notes on ETD scripts"
Hey @rotated8, when you're finished with the ETD scripts (or while you're working on them), could you update the wiki page at <strike>https://wiki.duraspace.org/pages/viewpage.action?pageId=32481931</strike> https://github.com/VTUL/vtechworks/wiki/Automatic-imports with their location on the server and any necessary notes about them? I remember we had suggested that the scripts have their own repo

[2015-08-26 18:36] alawvt commented on #15
Related message  on DSpace-tech mailing list:
[Dspace-tech] Search problem in DSpace 5.2 Mirage2, http://sourceforge.net/p/dspace/mailman/message/34407849/

[2015-08-26 18:40] alawvt commented on #15
It looks like Texas A&M DSpace with Mirage2, https://oaktrust.tamu.edu/discover,  has the same issue. A search for "ESL-TH-91-05-03.pdf" yields 48,083 results.

[2015-08-26 18:43] amandafrench commented on #20
We are working on this with Francis over on GitLab (which I hope we can soon clean up and close out!), so I will indeed close this here.

[2015-08-26 18:53] alawvt commented on #15
The DSpace repository, OceanDocs, from Belgium with Mirage2 (@mire?), http://www.oceandocs.org/discover, works as expected. A search for "AFFDU_36.pdf" yields one result. A search for AFFDU_36.pdf (no quotes) yields 5606 results. Hmmm.

[2015-08-26 19:07] amandafrench commented on #15
I was trying unsuccessfully to find a repo with DSpace 5.x but *not* Mirage2 to pin down whether it was the theme or the code, but couldn't -- nice work! That repo runs on DSpace 5.1, so perhaps it's some change in the path from 5.1 to 5.2. Was also looking through the issues at http://jira.duraspace.org to see if it had been reported, but haven't found it yet. Does seem like it's the code and not

[2015-08-27 14:16] alawvt commented on #24
I'm curious about that wiki page. It looks like it is from version 3.

[2015-08-27 14:37] amandafrench commented on #24
@alawvt Crumbs, second time this week where I pasted the wrong link -- I meant to link to our own wiki page here on Github. I was looking at that DSpace page for an entirely different reason.

Correct link: https://github.com/VTUL/vtechworks/wiki/Automatic-imports

I'll edit the note above.

[2015-08-27 14:48] amandafrench opened #25 "HTML encoding for abstracts"
Would be excellent, since there are many abstracts that contain bulleted lists, etc. But I realize we're still in the testing phase, so no rush! Thanks so much :).

Reported by Melissa Lohrey.

[2015-09-03 22:08] amandafrench commented on #16
Closing -- documentation created on the wiki. Thanks, @AmberPoo1.

[2015-09-03 22:08] #16 closed

[2015-09-08 17:11] amandafrench commented on #15
Commit a0ff090d3486e456d698ef7dd15d2f007a79a3e9 should resolve this issue -- tested locally and it seems to. Grabbed from https://github.com/DSpace/DSpace/pull/1045 -- thanks @aschweer :)

[2015-09-08 20:00] keithgee commented on #15
@alfrench, when you have a chance, can you show me what you've done to test this locally? I will add something to our Selenium tests to make sure that we don't break it in the future.

[2015-09-08 20:52] amandafrench commented on #15
I did a basic search for "LD5655.V856_1990.X8.pdf" which found only the single item with that PDF locally, whereas on production it finds 240 items.

[2015-09-08 21:34] alawvt commented on #15
This is great news.

[2015-09-08 22:04] keithgee commented on #15
@alawvt, were you able to verify the test results of @amandafrench ?

[2015-09-08 22:42] keithgee commented on #15
@amandafrench - I'm re-opening this issue; the fix doesn't work in production to resolve the issue as stated.

[2015-09-08 22:51] keithgee commented on #15
@aschweer has also fixed overly-aggressive query escaping in a related commit, so we might need that, too.

[2015-09-08 23:01] aschweer commented on #15
If you're using 5.3 then yes you need both commits from DSpace/DSpace#1045 - just the operator setting by itself won't work due to the escaping bug.

If you do get this to work using the two commits from DSpace/DSpace#1045, please also leave a comment on the PR :)

[2015-09-10 16:22] alawvt opened #26 "Request to review documentation in Wiki"
@keithgee, I would appreciate it if you would review the following pages that I edited after our meeting this morning.
https://github.com/VTUL/vtechworks/wiki/2.-Making-changes-on-the-local-development-environment
https://github.com/VTUL/vtechworks/wiki/3.-Issue-pull-request-to-Github
https://github.com/VTUL/vtechworks/wiki/3.-Pushing-local-changes-to-GitHub
https://github.com/VTUL/vtechworks/wiki

[2015-09-10 18:50] alawvt commented on #26
I reviewed the "feature branch/review/merge" video and think it is worth recreating with the new branch name, vt_5_x_dev. In the meantime, I transcribed the instructions in the video to the corresponding wiki pages.

[2015-09-10 19:17] alawvt opened #27 "Document Project Maintainer Instructions wiki page"
Please document [Project Maintainer Instructions](https://github.com/VTUL/vtechworks/wiki/Project-Maintainer-Instructions) on the wiki.@alawvt will test.

[2015-09-11 11:59] keithgee commented on #26
@alawvt I will have a look.

[2015-09-12 17:51] keithgee commented on #15
@alaw @amandafrench I have deployed a hotfix to production in order to test the new git workflow, The hotfix includes the previous commit and the other commit from DSpace/DSpace#1045.

"LD5655.V856_1990.X8.pdf" finds 1 result
LD5655.V856_1990.X8.pdf finds 240 results , expected result is first

"flotation of fines" finds 10 results, expected result is second
flotation of fines find 183 results, ex

[2015-09-14 12:19] amandafrench commented on #15
@keithgee Yes, indeed! Great work -- thanks so much.

[2015-09-14 12:19] #15 closed

[2015-09-14 14:52] amandafrench commented on #25
Example: http://vtechworks.lib.vt.edu/handle/10919/43537 -- shows <p> tags.

[2015-09-14 15:44] amandafrench opened #31 "Recreate video playback feature on item display page"
A very popular and much-requested feature. I looked for documentation related to it in Redmine, but didn't see any -- will trust @keithgee to find and document it.

Might actually be good to create a separate GitHub repo for this, @keithgee, so you can abstract it enough to submit to DSpace core. I see you've got a fork of VTW, but if you forked DSpace core to your own profile and developed there,

[2015-09-14 15:50] amandafrench opened #32 "Display DSpace usage stats on home page"
For all users, including those who are not logged in. See https://redmine.lib.vt.edu/issues/214

Note too that there was a request for explanatory text, as well: https://redmine.lib.vt.edu/issues/144 -- seems a good idea to include that. If you want me to write it, @keithgee, let me know: otherwise please just do something short and sweet yourself.

[2015-09-14 15:54] amandafrench opened #33 "Add Content Type browse facet to all pages"
Will apply to the home page but also all collections.

See https://redmine.lib.vt.edu/issues/293

[2015-09-14 16:02] keithgee commented on #32
@amandafrench let's make the explanatory text a separate issue in the backlog and handle it in another sprint. I've already finished the task with the original scope.

[2015-09-14 16:03] keithgee commented on #32
See pull request #34

[2015-09-14 16:18] amandafrench opened #35 "Remove Author, Subject, Date facets from home page"
Related to https://redmine.lib.vt.edu/issues/328

Note that I looked in Google Analytics to determine whether anyone actually uses these and found no evidence of use from the home page. These facets are all in the "Discover" feature, and links of this type from the home page are constructed with the syntax "discover?filtertype=".  A report from the last three weeks (8/21/15 - 9/14/15), when we've

[2015-09-14 16:24] amandafrench opened #36 "Rewrite home page tagline"
Add email address vtechworks@vt.edu and something like "Join the VTechWorks Information group at vtechworks-g@vt.edu" to the home page tagline.

[2015-09-14 16:26] amandafrench commented on #23
Whoops, same as #32. Will close this one.

[2015-09-14 16:26] #23 closed

[2015-09-14 16:27] amandafrench commented on #32
Okay, will add that to backlog! Man that was fast, @keithgee.

[2015-09-14 16:27] amandafrench commented on #32
And bad @amandafrench for adding to the scope. :)

[2015-09-14 16:37] amandafrench opened #37 "Add three static HTML pages: About, Policies, and Help"
Ideally these three pages should be available from any page in the site, and ideally they wouldn't be in the footer, but for preference in the top right hand sidebar above the Browse facets. I'll write the text for the first three as soon as I can -- feel free to assign it back to me, @AmberPoo1, if you need the text before you can implement the pages.

[2015-09-14 16:43] amandafrench commented on #37
There's a bit of documentation about how to do this at  http://dspace.org/sites/dspace.org/files/archive/1_5_2Documentation/ch05.html#N11EFE  -- don't know if that's the best way, but it'd do.

[2015-09-14 16:43] amandafrench commented on #36
This thing is called a "news item" in DSpace jargon for some reason.

[2015-09-14 18:13] amandafrench commented on #37
I've edited this issue to reflect the need for only three pages: I think I'll link or embed the "Request Service" form on the Help page.

[2015-09-14 20:10] #36 closed

[2015-09-14 20:14] amandafrench commented on #32
I've suggested in https://github.com/VTUL/vtechworks/wiki/Issue-tracking that we close issues upon pushing a fix to GitHub that we *think* will solve the issue. We can always reopen it if, after testing, it isn't actually fixed and can't be deployed to production. Therefore closing this, @keithgee, since you submitted a fix in #34.

[2015-09-14 20:14] #32 closed

[2015-09-15 13:39] keithgee commented on #31
I have submitted a pull request to resolve this issue.

@amandafrench, what sort of documentation would you like? I've previously placed multiple documents related to the previous implementation in our VTechWorks group folder. I may already have something that matches what you're looking for, and can move it to your preferred location. If there's something missing, I'll add it. Let me know what do

[2015-09-15 13:39] #31 closed

[2015-09-15 14:42] keithgee commented on #26
@alawvt

https://github.com/VTUL/vtechworks/wiki/2.-Making-changes-on-the-local-development-environment
Looks good.

- maven commands don't fit in the wiki display on my screen. let me know if you have a solution, I need a wider display for a document that I'm working on as well.
- asking to type the" vagrant up" command assumes that the virtual machine is not already running, but perhaps that's o

[2015-09-15 14:42] #26 closed

[2015-09-15 16:26] alawvt commented on #26
@keithgee, thank you for your review. I made some changes based on your comments. I agree that certain sections, particularly the project maintainer instructions, need more detail.

[2015-09-15 21:00] amandafrench commented on #31
Thanks, @keithgee! I think you can save documentation for after the sprint, if you like, or include it in a future sprint. Though if you want to just copy-paste what you have already on the wiki as a placeholder, that'd be fine. I'd need to learn more about the feature before I know what documentation it needs, though as I mentioned it's probably good to list what files it affects so that it can b

[2015-09-17 17:27] keithgee commented on #19
Implemented with commit c5c2fad6fa9ebf2f4b2, which removes the text from the home page and the community list page.

[2015-09-18 23:54] mello99 opened #41 "Items don't immediately appear in VTW search after approval"
Hi all, I recently approved an item submitted to VTW; the item was not private, nor did it have an embargo. It's called "Integrating the Adaptive Lighting Database with SHRP 2 Naturalistic Driving Data" (it was submitted to the VTTI community, specifically the NSTSCE collection). Even though I approved it for entry into VTW about 10 minutes ago, I can't find it at all in VTW when I search by title

[2015-09-19 11:44] keithgee commented on #41
@mello99 , VTW indexing was not working as planned. I noticed early this morning that the etds that had loaded yesterday also did not appear in recent submissions.

This was a Solr issue that also occurred once before, soon after we did the install of the new system.
I reindexed this morning and your item appears. Everything is back to normal and newly added items should appear almost immediately.

[2015-09-19 11:44] #41 closed

[2015-09-21 15:08] amandafrench commented on #41
Thanks for fixing this, @keithgee.

[2015-09-22 17:41] amandafrench commented on #22
This definitely does create issues on mobile devices -- see comments on pull request https://github.com/VTUL/vtechworks/pull/43. I think one good way to resolve this might be to use em or % instead of px to set the .navbar and img size. Actually I'm surprised they aren't already expressed in those units, since this is supposed to be a responsive theme! Can you try this out if you come in tomorrow,

[2015-09-22 17:51] AmberPoo1 commented on #22
Sure @amandafrench

[2015-09-22 18:11] amandafrench commented on #22
Actually, never mind, @AmberPoo1 -- I looked into this and made a change that I *think* will solve it. It's not deployed to the dev server yet: we've got a couple other changes we might want to deploy to development tomorrow, so I'll wait until I know about those.

[2015-09-22 18:56] amandafrench commented on #22
Looks like my fix worked! This change did get deployed to dev today, so you can take a look there on mobile if you like, @keithgee and @alawvt. Closing the issue. Thanks, @AmberPoo1.

[2015-09-22 18:56] #22 closed

[2015-09-23 01:19] mello99 opened #44 "Can't move items from one collection to another"
Hi all, I remembered that I needed to move some items from the [2014 Veterans in Society collection] (http://vtechworks.lib.vt.edu/handle/10919/56348) to the [2013 Veterans in Society collection](http://vtechworks.lib.vt.edu/handle/10919/56640), but unfortunately that didn't work out.

I tried to do this using the "Move" functionality under "Edit Item". Although certain items are now listed as bei

[2015-09-23 04:38] keithgee commented on #44
@mello99, the specific item you've pointed out - "Veterans and Broadband Access in Virginia: Implications for Healthcare Planning and Policy" - looks fine right now. Maybe it's been fixed?
[Item showing in correct collection](http://vtechworks.lib.vt.edu/handle/10919/25211)
[Item appearing in title browse index of collection](http://vtechworks.lib.vt.edu/handle/10919/56640/browse?type=title)
[Item

[2015-09-23 05:43] mello99 commented on #44
Yep, it works now - over 3 hours later. Don't know why or what happened, but it works. Me and my need for instant gratification :).

Do we want to close this issue? It seems to be related to Issue #41 .

[2015-09-23 06:10] keithgee commented on #44
It might be related. I'm not sure.

I want to close it. Instant gratification.

[2015-09-23 06:10] #44 closed

[2015-09-23 15:38] keithgee commented on #22
That's a huge improvement @amandafrench, and I'm surprised that such a small change can make such a big difference.

[2015-09-24 14:24] alawvt commented on #25
I want to add a related observation, but it probably needs its own issue: abstracts from the Grad School system come with line breaks between paragraphs, example http://vtechworks.lib.vt.edu/handle/10919/56637. (Metadata from the Grad School does not include any HTML tags.) These line breaks are not displayed (per usual HTML rendering) in the Simple and Full Item views in VTechWorks. However they

[2015-09-25 17:25] alawvt commented on #35
With the pull request #47, the home page and default advanced search page facets are:
* Content Type
* Date Issued
* Subject

Each has a maximum of 5 items (same as facets in Summon).

[2015-09-25 17:28] alawvt commented on #33
Content Type has been added as a facet with pull request #47 for the default and homepage but not for the ETD search configuration.

[2015-09-25 17:29] alawvt commented on #17
This list of search filters/facets has been added with pull request #47.

[2015-09-25 18:33] alawvt opened #48 "2 ETDs didn't process with ETD script; uploaded them to be processed again tomorrow"
The Grad School ETD script threw error messages (not XML or zip problems) for 2 of 3 ETDs it processed this morning. I tested batch uploading and the database seems ok. I reloaded the 2 ETDs to the FTP server and we'll see if they are processed tonight.

[2015-09-25 20:40] keithgee commented on #48
@alawvt if there are similar problems on the next run, you might want to open a TeamDynamix ticket so that ITS can look into it.  The scripts were able to load items into VTechWorks fine prior to today (for the few days they after they had been re-enabled.) It's my understanding, based on other issues you have been dealing with today, that there was some difficulty running the /dspace/bin/dspace c

[2015-09-25 20:44] alawvt commented on #48
@keithgee, thank for your ideas on this issue. I'm glad you pointed out the possible connection between the permission issue and this one. I will report it on TeamDynamix if it doesn't resolve or if it reoccurs.

[2015-09-28 01:07] keithgee commented on #48
@alawvt I hate to undo recent work, but I'm wondering if we should disable the cron job until it's resolved. You've had to re-upload things to the FTP server, and also, is one of the scripts emailing out the strange error messages to our users?

Also I wanted to clarify that I'm happy to help if any work is needed from me; I do just feel that ITS may have a better handle on how to fix the issue an

[2015-09-28 12:56] alawvt commented on #48
@keithgee , thank you very much for your assistance. Both scripts ran correctly through Thursday morning. They failed Friday, Saturday, and Sunday. I will submit a TeamDynamix request.

[2015-10-01 18:18] amandafrench opened #49 "Fix logo link"
The Virginia Tech logo in the header should link to the Virginia Tech home page at http://www.vt.edu, not to the VTechWorks home page.

[2015-10-05 15:24] amandafrench opened #51 "Enable HTML in Full Item View"
Enable HTML in Full Item View

[2015-10-05 15:25] #25 closed

[2015-10-05 15:25] amandafrench commented on #51
Related to #25

[2015-10-05 15:26] #48 closed

[2015-10-05 19:28] amandafrench opened #52 "Explore adding explanatory text to Statistics"

[2015-10-06 15:26] keithgee commented on #33
I've verified that Content Type has been added as a facet to the main page, and to the collections, except for ETDs. Some metadata cleanup  of Content Type would  also be useful - e.g. article/Article, Dissertation/dissertation,Image/Photograph/Digital Photographs/Digital photographs.

Closing.

[2015-10-06 15:26] #33 closed

[2015-10-06 15:28] alawvt commented on #33
Thanks for testing. Not including Content Type in the ETD collections was intentional. I added ETD Level in its place.

[2015-10-06 15:34] keithgee commented on #35
Verified content type, date issued, subject facets on home page and search page.
Collections also have an author facet.
ETDs have a custom configuration with department/advisor/ETD level facets, though  NDLTD is configured with configuration of other collections.
Found no missing i18n key/value pairs.
Closing.

[2015-10-06 15:39] keithgee commented on #17
Verified that pull request #50 includes the above list of filters, except for keyword, which was purposely removed by @alawvt.

Closing.

[2015-10-06 15:39] #17 closed

[2015-10-06 15:59] alawvt commented on #35
Thanks for testing and realizing the NDLTD collection was missing. I'll add it to the list.

[2015-10-06 16:30] alawvt opened #53 "Make sure lock symbol appears on restricted items for on-campus users (as well as off campus users)"
The library uses this symbol for databases that are restricted to campus only. I suggest we use it, too.

![l_vtonly](https://cloud.githubusercontent.com/assets/13037168/10314923/5238a9a8-6c25-11e5-851b-db5cd54a0b5e.gif)

The tool tip that appears with it says, "This resource is restricted to Virginia Tech users only". I think it would be helpful to have a tool tip, too.

An example of the logo on

[2015-10-06 16:31] alawvt commented on #53
I think it would be helpful to have a tool tip, too.

[2015-10-06 17:12] amandafrench commented on #33
Agree about metadata cleanup of content types -- have put that in the metadata backlog.

[2015-10-07 17:40] #35 closed

[2015-10-07 18:59] amandafrench opened #55 "Ansible link in "You have a new task" email is broken"
See screenshot -- email doesn't include a valid link.

![screenshot 2015-10-07 14 56 55](https://cloud.githubusercontent.com/assets/227453/10347850/eeefc720-6d03-11e5-9ee4-ff5beac09b5f.png)

[2015-10-07 19:09] #55 closed

[2015-10-12 04:01] mello99 opened #57 "Private & Withdrawn Item bitstreams still available via Google"
Hi all, I sent a lengthy email about this earlier, but withdrawn and/or private DSpace items can indeed be indexed by Google. I learned this the hard way when, in Google, I stumbled upon a link to a bitstream belonging to an item I'd made private in VTW.

The only way I could remove the item bitstream from Google's index was to 1) Delete the bitstream, and 2) Request that Google remove the bitstre

[2015-10-12 04:02] #57 closed

[2015-10-12 12:20] alawvt commented on #57
In my experience private items are findable on Google but withdrawn items are not. However items that were previously viewable and moved to withdrawn probably would be viewable unless we ask Google to remove them from their cache.

[2015-10-15 16:36] amandafrench commented on #37
Move pages below search bar

[2015-10-19 16:42] AmberPoo1 opened #64 ""dspacedevvm.local.vt.edu.properties" is missing in "vt_5_x_dev" branch"
Hi @keithgee, @alawvt, @amandafrench , I found "dspacedevvm.local.vt.edu.properties" is missing in "vt_5_x_dev" branch now (which is supposed to be in root folder), which may cause the dspace build failed.

[2015-10-19 17:13] keithgee commented on #64
@amberpoo1,thanks. right now we're keeping that file in the vtlibans_dspace project on git.it.vt.edu. You have to copy it manually from that project (it's in the templates folder) over to the dspace source code.

This may have been done because of passwords that are stored in the file.

[2015-10-19 18:35] AmberPoo1 commented on #64
@keithgee, thanks

[2015-10-20 13:00] #64 closed

[2015-10-20 14:38] alawvt commented on #19
Please redo this change as an overlay, rather than a change to the original code. This will make migration of our customizations much easier. Please copy dspace-xmlui/src/main/java/org/dspace/app/xmlui/aspect/artifactbrowser/CommunityBrowser.java
to dspace/modules/xmlui/src/main/java/org/dspace/app/xmlui/aspect/artifactbrowser/CommunityBrowser.java and
remove the customizations from dspace-xmlui/s

[2015-10-20 15:38] amandafrench commented on #57
Interesting -- and, yes, worrisome. At some point, maybe in a few months when we've made a serious dent in our tech backlog, or maybe even sooner depending on the issue, I'd like us to move more to working on DSpace core, fixing issues that are a problem for us and therefore also for others. This is a good candidate for that.

[2015-10-22 17:19] keithgee commented on #44
This issue has not been seen again, to my knowledge, in the several weeks that the Tomcat user on the VTechWorks machine was changed.

[2015-10-23 00:38] mello99 opened #68 "Publisher information is concatenated in search results"
Hi all, I apologize if this has been identified earlier, but I've noticed that the publisher names for several items in the collection I'm working with (http://vtechworks.lib.vt.edu/handle/10919/50816) are incorrectly strung together in the search results (see screenshot below). The publisher names are correctly separated and parsed in the actual metadata record - the issue is the display of those

[2015-10-23 12:43] alawvt commented on #68
@AmberPoo1, did the HTML display change do anything to the publisher field in list view?

[2015-10-23 17:52] amandafrench opened #69 "QT files play as only audio?"
Report that item https://vtechworks.lib.vt.edu//handle/10919/36551 used to play as video and now only plays as audio. Related to #31?

[2015-10-23 18:44] keithgee commented on #69
Hi, Amanda. My guess is that this is related to a change in your operating system or browser. It won't play in my Safari browser - latest version. I can download it with Firefox, and then open it with QuickTime, which now converts it to a .mov file before it will play it.

Can you narrow this down for a range of time when it broke? Does it work differently with different browsers/computers?

It's

[2015-10-23 18:55] alawvt commented on #69
I played one in Firefox and was only able to hear the audio.

[2015-10-23 19:06] amandafrench commented on #37
I'm getting very confused by your lack of commit messages, @AmberPoo1! There's a pretty good blog post about good git commit messages at http://chris.beams.io/posts/git-commit/ -- I do tend to use only the subject line of less than 50 characters and not a full message, but at the very least could you write "Fix bug #61" or "Separate pull request #37 into four commits" or something? Thanks!

[2015-10-23 19:13] AmberPoo1 commented on #37
@amandafrench , I have updated the title of the pull requests.

[2015-10-23 20:08] keithgee commented on #69
This is for Gail's presentation on November 3. I'll convert the files to the supported formats. I probably won't be able to devote time to figuring out why only the audio is playing in QT files. This format is unsupported, except that we'll allow people to download the exact file that was deposited.

[2015-10-23 20:13] keithgee commented on #37
@amandafrench, that's a great post you've referenced.
@AmberPoo1, it's not just the pull requests, it's the actual commits. Sometimes it's helpful to quickly browse the commit messages to get an idea of recent changes. If all we see is numbers, it's hard to quickly get an idea of what's new.
@AmberPoo1 I do like the way that you use GitHub's abilities to cross reference issues/commits/pull-request

[2015-10-23 20:56] amandafrench commented on #69
Thanks much, @keithgee. Not really your job, but Gail will be grateful. Close the issue when the files in that item are converted.

[2015-10-26 14:49] amandafrench commented on #37
@keithgee @AmberPoo1 @alawvt @mello99 -- The last sprint's changes have been deployed to development, by the way, and this issue has been resolved, so I'm closing it. It is true that the About, Help, and Policies pages don't show up on the search results page, but I'll make that a separate issue.

[2015-10-26 14:49] #37 closed

[2015-10-26 14:54] #19 closed

[2015-10-26 14:55] amandafrench commented on #49
Thanks @AmberPoo1!

[2015-10-26 14:55] #49 closed

[2015-10-26 16:28] keithgee commented on #69
I've added .webm and .mp4 files for this item, along with thumbnails and a movie "poster".

http://vtechworks.lib.vt.edu/handle/10919/36551

Results are not great.
- the embedded video playback system currently only supports 1 video per item. this item has two. However, the videos can still be played by clicking on the appropriate .mp4 or .webm (for Chrome) links
- the embedded video playback syst

[2015-10-26 16:29] #69 closed

[2015-10-26 16:36] keithgee opened #71 "The dspace.cfg file in production is not synchronized with changes from last deployment"
This line should be in the dspace.cfg file
[code]
It's part of a customization for video playback with this commit d631f212893f710aa47a, which has already been deployed to production.

The rest of the code is in place, but this configuration change is missing. This may be a side effect of trying to avoid wiping out production-specific parameters in the configuration file during the deployment proc

[2015-10-29 22:17] #51 closed

[2015-10-29 22:35] amandafrench commented on #51
Example, for future reference, of this when broken:
![screenshot 2015-10-29 18 32 47](https://cloud.githubusercontent.com/assets/227453/10833923/b4626828-7e6b-11e5-86fa-ca5acbd523a8.png)

And this when fixed:

![screenshot 2015-10-29 18 35 10](https://cloud.githubusercontent.com/assets/227453/10833945/d1f869aa-7e6b-11e5-9794-db106a1c04a8.png)

[2015-10-30 13:50] alawvt opened #72 "Suggestion to change the "request a copy" setting to logged"
From the DSpace 5 Wiki, "Request a Copy," https://wiki.duraspace.org/display/DSDOC5x/Request+a+Copy#RequestaCopy-Configurationparameters,

"Request a copy is enabled in DSpace 4 by default. Only two configuration parameters in dspace.cfg relate to Request a Copy:

Property: request.item.type

Example Value request.item.type = all

Informational Note

This parameter manages who can file a request f

[2015-10-30 18:38] kayiwa opened #73 "Add a captcha/recaptcha form"
Heya,

Is it possible to enable a "prove you are not a spambot" feature in DSpace? Jane Wills is getting periodic annoying spam floods which admittedly could be mailheader spoofing.

Cheers.

[2015-10-30 19:17] amandafrench commented on #73
I just wrote @alawvt about this today! Thread here: https://groups.google.com/forum/#!topic/dspace-tech/mTlDmDWRghw (but no code). However, we have decided (especially since JW is leaving) to restrict requests to registered users for the time being, as described in #72. That should solve the spam issue, unless of course people start creating spam accounts. Closing.

[2015-10-30 19:17] #73 closed

[2015-10-30 23:12] amandafrench commented on #18
Broken:

![screenshot 2015-10-30 19 02 23](https://cloud.githubusercontent.com/assets/227453/10860058/07edf3b2-7f3a-11e5-80a8-55b0397c8e4c.png)

Fixed:

![screenshot 2015-10-30 19 01 56](https://cloud.githubusercontent.com/assets/227453/10860066/150e76a2-7f3a-11e5-8577-bb41e2851186.png)

[2015-11-02 14:42] alawvt commented on #18
Thank you--much improved!

[2015-11-02 17:10] amandafrench opened #77 "Enable Sherpa/Romeo lookup in submission process"
See https://wiki.duraspace.org/display/DSDOC5x/Configuration+Reference#ConfigurationReference-ConfiguringtheSherpa/RoMEOPublishersPolicyDatabaseIntegration for instructions

[2015-11-02 17:14] amandafrench opened #78 "Add off-campus sign-in link"
Probably best to add it to the navigation bar under the Help page, but could be implemented in any number of ways. Make sure it shows up on all Simple Item and Full Item views, in particular. See http://www.lib.vt.edu/help/extended/extproxy.html for link / button. If necessary, you can consult with @alawvt if necessary to confirm the best method of implementation.

[2015-11-02 17:17] amandafrench opened #79 "Research how to import content from Symplectic Elements"
This commercial system (see http://symplectic.co.uk/products/elements/ ) is in the process of being implemented at Virginia Tech. There is a test system at http://ed.lib.vt.edu. I will set up a meeting with the developer of that system and will see about getting us access to it. See also presentation at http://researchcommons.waikato.ac.nz/handle/10289/9339

Ideally, what we want is for content an

[2015-11-02 17:27] amandafrench opened #80 "Revise text and license options on license page in submission workflow"
so that they are clearer

[2015-11-02 17:30] amandafrench commented on #68
This is probably due to the lack of a space or '''&nbsp;''' in some file: am adding this to the current sprint, @AmberPoo1, since it should be a very fast fix. Will add to product backlog too.

[2015-11-02 17:37] amandafrench opened #81 "After Shib or CAS implemented, review helpdesk option & workflow for request a document"
Related to #72

[2015-11-02 17:46] AmberPoo1 commented on #68
@alawvt , @amandafrench ,yes, I think so. Adding something like ";" between multiple publishers will solve this problem.

[2015-11-02 18:02] amandafrench opened #82 "Map URLs in submission form to dc.identifier.url instead of dc.identifier.uri field"
dc.identifier.uri should be reserved for handle. See Redmine issue https://redmine.lib.vt.edu/issues/222

We may need to do a database operation to move existing dc.identifier.uris to the .url field.

[2015-11-02 21:16] #72 closed

[2015-11-03 13:47] alawvt opened #83 "Figure out why "|||" is appearing in the department facet for ETDs."
The department facet for the ETD community and collections, e. g., https://vtechworks.lib.vt.edu/handle/10919/5534, lists many with the value, "|||." If you click on the facet, no search results appear. I downloaded all the metadata for the dissertation collection and did not find any "|"s in the dc.contributor.department[] and dc.contributor.department[en_US] and thesis.degree.discipline fields (

[2015-11-03 13:55] keithgee commented on #83
@alawvt I couldn't figure out how to see this issue 🦄

[2015-11-03 13:55] alawvt commented on #83
If you go to this collection and view the right department facet, you should be able to see it.

[2015-11-03 14:39] amandafrench opened #84 "Fix HTML in ALL the fields (Subject, Title)"
See for instance http://vtechworks.lib.vt.edu/handle/10919/46509?show=full

Frankly I'd rather strip the HTML tags out, but I think we need to coordinate with the grad school for that and/or add some HTML stripping functions to our ETD ingest scripts. If you come across non-ETD items that have HTML in the data, @alawvt and @mello99, could you add them here in the comments? I feel like it's mostly

[2015-11-03 16:25] alawvt commented on #84
This is from ETD-db. You can tell by the "dc.identifier.sourceurl=http://scholar.lib.vt.edu/theses/available/etd-72698-12353/" and the date: pre-2012. I don't think the current Grad School ETDs have HTML. ETD-db data also has \r and \n in it, which may have been translated from <p> when they were imported to VTechWorks. BTW, "&szlig-95-Cysteinyl" should be β-95-Cysteinyl."

[2015-11-03 19:23] alawvt commented on #83
The search, https://vtechworks.lib.vt.edu/handle/10919/11041/discover?filtertype_0=advisor&filtertype_1=dateIssued&filtertype_2=dateIssued&filter_relational_operator_1=equals&filtertype_3=department&filter_relational_operator_0=equals&filter_2=[2010+TO+2015]&filter_relational_operator_3=equals&filter_1=2014&filter_relational_operator_2=equals&filter_0=Brandon%2C+Thomas+L&filter_3=Civil+Engineering

[2015-11-03 19:40] alawvt commented on #83
https://vtechworks.lib.vt.edu/handle/10919/43536?show=full has dc.contributor.advisor="", so it is appearing in committee chair facet=|||. It looks like these records were all migrated from ETD-db. It seems like it took in blank fields.

I am thinking about how to fix this. Usually with the batch metadata tool, when we want to get rid of a value in a field, we just load that field as blank. I'm no

[2015-11-03 20:54] alawvt opened #85 "Item count for VCE collection /5523 doesn't update after items deleted"
Do we have a cron job to reindex VTechWorks? If so, how often or when does it run? Same question for itemcounter. Thanks.

[2015-11-03 23:06] kayiwa commented on #85
once a day for

[code]

nothing on

[code]

[2015-11-04 13:00] alawvt commented on #85
Thanks, @kayiwa.

@keithgee, is itemcounter something we need to run regularly? We have noticed that collection item counts don't seem to be changing. For instance, @mello99 deleted 47 items from the VCE collection, https://vtechworks.lib.vt.edu/handle/10919/5523, last week but the item count has not changed.

[2015-11-04 15:02] kayiwa commented on #85
FWIW I ran and I've run

[code]

multiple times since your request. If this hasn't made a difference (I suspect not given how quickly it completes) the fix lies elsewhere.

[2015-11-04 15:05] alawvt commented on #85
@kayiwa, thank you for trying that. You are correct, the item count of the VCE collection has not changed.

[2015-11-04 15:06] alawvt commented on #85
@keithgee, do you have any ideas?

[2015-11-04 16:11] alawvt opened #86 "Items 11/4/2015 were givent the incorrect handle prefix, 123456789/"
Yesterday, the commits from the Bichon Frase sprints were pushed to production. The customization in dspace.cfg for our handle was omitted so it was left to the incorrect default, 123456789/. I have started to identify items that were assigned that handle. One is http://vtechworks.lib.vt.edu/handle/123456789/63904?show=full. @kayiwa, would it be possible for you to give us a list of items that wer

[2015-11-04 16:28] alawvt commented on #86
Using a search for "123456789", I found these handles:
vtechworks.lib.vt.edu/handle/123456789/63900 can't be found.
vtechworks.lib.vt.edu/handle/123456789/63901 can't be found.
vtechworks.lib.vt.edu/handle/123456789/63902 can't be found.
vtechworks.lib.vt.edu/handle/123456789/63903 - I have already deleted this ETD and will upload it tomorrow.
http://vtechworks.lib.vt.edu/handle/123456789/63904 -

[2015-11-04 16:30] kayiwa commented on #86
Is the -r flag it?

[code]

From the duraspace documentation.

[2015-11-04 16:34] alawvt commented on #86
I don't think removing the items from the index would help at the moment. Perhaps later.

[2015-11-04 16:35] kayiwa commented on #86
I would remove and reindex. Wouldn't that solve the problem?

[2015-11-04 16:36] alawvt commented on #86
That would remove items from the search index. But we need to find them and give them new handles either by assigning them new handles or resubmitting them.

[2015-11-04 18:48] mello99 commented on #86
Hi there, I deleted both the "Instructional Materials, University Libraries" collection and the "Center for Peace Studies and Violence Prevention" communities, then re-created them both. I still ended up with the funky handles - http://vtechworks.lib.vt.edu/handle/123456789/63907 for Center for Peace Studies and Violence Prevention, and http://vtechworks.lib.vt.edu/handle/123456789/63910 for "Inst

[2015-11-04 19:00] kayiwa commented on #86
hey guys. This is a dspace problem... admittedly caused by a borked configuration. Someone (not going to be me I'm afraid) will need to figure out how to remove the wrongly assigned handles and reindex them.

[2015-11-04 19:08] alawvt commented on #86
@kayiwa restarted Tomcat and now the handles are correct.

[2015-11-04 19:40] mello99 commented on #86
Hi all, I deleted the 3 problematic BioMed Central items and re-uploaded them using the "Import Metadata" tool. Their new handles are as follows:

http://hdl.handle.net/10919/63915
http://hdl.handle.net/10919/63916
http://hdl.handle.net/10919/63917

I also recreated the "Center for Peace Studies and Violence Prevention" community, which now has a correct handle (http://vtechworks.lib.vt.edu/handle

[2015-11-04 19:40] #86 closed

[2015-11-04 20:30] alawvt commented on #85
Here are some notes about itemcount from two old Redmine issues,

https://redmine.lib.vt.edu/issues/216

"Updated by Keith Gilbertson over 1 year ago
    Due date set to 2014-02-07
    Status changed from New to Resolved

Comment Edit

Collection strengths do update automatically, in a sense, but not immediately after items are loaded. Due to the design of DSpace, and for performance reasons, an e

[2015-11-04 21:54] keithgee commented on #86
Great work!
This sort of thing happens from time to time, and there's even a ```/dspace/bin/dspace update-handle-prefix 123456789 10919``` spell to help with cleanup.

Also, at the time the aardvark sprint was released to production, I'd merged all of the changes back into the dspace_5_x branch and then tagged it as a release. Should we do this with Bichon Frise as well? I think we're deploying di

[2015-11-04 22:13] keithgee commented on #71
Closing this issue. The configuration file has been updated and Tomcat has restarted.

[2015-11-04 22:13] #71 closed

[2015-11-04 22:22] keithgee commented on #85
@mello99, do you remember what day you deleted the items?

[2015-11-05 01:50] mello99 opened #88 "VTW was down for about 3 minutes last night (it's been fixed)"
According to Francis, tomcat7 was eating up memory cycles. He restarted it and things went back to normal (he did mention that tomcat7 would have restarted even if I hadn't told him about the outage). Just wanted to keep you all in the loop. Feel free to close this after you've read it.

[2015-11-05 12:21] keithgee commented on #85
@mello99 and @alawvt, I also didn't actually go through and count every item, but that VCE collection does go up to 3052 in the results pages:
http://vtechworks.lib.vt.edu/handle/10919/5523/recent-submissions?offset=3040

What items were deleted, specifically? And when? This will help to track things down.

[2015-11-05 13:16] alawvt commented on #86
@keithgee, thank you for the information about the update-handle-prefix utility. That will make things easier in the future.

I agree: I would like to have commits that in production be on the dspace_5_x branch.

[2015-11-05 19:01] amandafrench commented on #88
Thanks, @mello99!

[2015-11-05 19:01] #88 closed

[2015-11-05 21:51] AmberPoo1 commented on #77
Hi @amandafrench, @alawvt , Sherpa/Romeo is enabled by default in dspace 5, but it relys on the correct ISSN of we input during submission. For example, for publisher "Nature"(Journal), ISSN should be "0028-0836". Now not all of the articles in our repository have valid ISSN information.

These are two examples running in my local machine:
1. The submitting item's publisher is "American Journal of

[2015-11-05 22:00] AmberPoo1 commented on #77
@amandafrench ,@alawvt, I have applied for an Sherpa/Romeo API key, it's free and can raise the usage limit (There is a limit of 500 calls/day for unregistred user).

[2015-11-05 22:05] amandafrench opened #89 "Create smaller .sql file for local machines so that indexing doesn't fail / take so long"
@alawvt, can you write up some guidelines for @keithgee on how many items from each collection / community this should have and any other specs that are important? Do all communities / collections need to have some items, for instance?

Will assign this to you for now: assign it back to Keith when you've written it up.

[2015-11-06 03:04] mello99 commented on #85
https://drive.google.com/open?id=0B7IH56M-y5-ldGxUOXBZa3hZVVE

Above is the list of removed duplicates. They were deleted approximately 5 days ago.

[2015-11-06 13:05] keithgee opened #90 "VTechWorks University text on recent submissions page"
http://vtechworks.lib.vt.edu/recent-submissions

That page says "VTechWorks University"

[2015-11-06 14:00] alawvt commented on #90
This was one of the differences in dspace.cfg. I thought it has been corrected when the handle was corrected.

[2015-11-06 16:06] alawvt commented on #85
I seems like DSpace has it's own peculiar way of counting. For recent submissions, it's supposed to show 20 items per page. However  it actually can show less:
http://vtechworks.lib.vt.edu/handle/10919/5523/recent-submissions? "Now showing items 1-19 of 3052" (Where is item 20?)
http://vtechworks.lib.vt.edu/handle/10919/5523/recent-submissions?offset=20 "Now showing items 21-39 of 3052"  (Where is

[2015-11-06 16:42] mello99 opened #91 "DSpace chokes on large uploads (over 2 GB)"
Hi all, I've been trying to upload 2 event capture videos (from Jing's computer) and DSpace has choked on both of them. After the item upload reaches 100%, I get a notice that says "Notice: Error while uploading file." I'll try again, but this has happened several times, so it appears to be a pattern. Thanks.

[2015-11-06 17:09] alawvt commented on #89
@keithgee and I had discussed this on Wednesday and considered using two test sql files: one with the complete community/collection structure but with far fewer items in the large collections and a second that has many few items but content to test full text indexing. I think we could wait a bit on the second file.

Here are the specs that I suggest for the first file:

A full copy of the present

[2015-11-06 18:01] alawvt commented on #83
I think the investigative part of this issue is complete. I have added a task in the Metadata backlog to remove these offending fields.

[2015-11-06 21:51] keithgee commented on #91
Thanks @mello99. Ginormous files will need to be squeezed into VTechWorks using the command line utilities.

[2015-11-06 22:02] BorwickAtVT commented on #91
FWIW: https://jira.duraspace.org/browse/DS-2359

[2015-11-06 22:22] keithgee commented on #91
@mello99, how big are the files? The fix that John sent may get us up to 4 gigabytes.

[2015-11-07 20:49] mello99 commented on #91
2.24 and 2.26 GB

[2015-11-09 16:03] mello99 commented on #91
2.24 and 2.26 GB

[2015-11-10 18:09] alawvt opened #96 "New item submitted through the web interface not showing up in the collection."
Yesterday, I submitted a new item, http://vtechworks.lib.vt.edu/handle/10919/63992, with the web interface. It is available at that handle but does not show up in its owning collection, http://vtechworks.lib.vt.edu/handle/10919/19372, nor can the item be found with a search for the author. When I upload items with the SAF batchload tool, they are viewable from the collection immediately. @keithgee

[2015-11-10 18:10] #53 closed

[2015-11-10 18:23] alawvt opened #97 "Determine if we can remove the dcterms and eperson metadata schemas from the metadata registry."
We need only metadata schemas:
dc, http://dublincore.org/documents/dcmi-terms/, and thesis, http://www.ndltd.org/standards/metadata/etdms/1.0/, in the metadata registry, http://vtechworks.lib.vt.edu/admin/metadata-registry.

We'd like to remove the eperson, http://dspace.org/eperson, and dcterms, http://purl.org/dc/terms/,  schemas from the registry to reduce the number of choices in the field dro

[2015-11-10 18:27] amandafrench commented on #97
Retitling this issue assigning to @keithgee to look into. I feel like dc.terms it has something important to do with Linked Open Data. Still, I'm definitely open to deleting it if we really don't need it.

[2015-11-10 18:29] amandafrench commented on #97
Hmm, there's a fair discussion here: https://wiki.duraspace.org/display/DSPACE/Proposal+to+Update+DC+Registry+and+Add+DCTERMS+Registry

[2015-11-10 19:58] alawvt commented on #97
@keithgee pointed out that some DCTERMS are in the ```<head>``` of the HTML page for each item. For example, in http://vtechworks.lib.vt.edu/handle/10919/23111,
[code]
However, these are not the fields that we (or, rather, the ETD ingest script) added. They were somehow crosswalked from our DC fields. I see another example of this:

[code]
which is crosswalked from our DC.contributor.author.

We n

[2015-11-10 21:44] alawvt commented on #91
I attempted to upload these two videos with the itemupdate command line utility. It gave permission errors along the way for /dspace/log/checker.log.2015-11-10 (Permission denied) and
/dspace/log/solr.log.2015-11-10 (Permission denied). I have reported those errors in a TeamDynamix request.

Despite the permission errors, the command seemed to run. The files are now in the two items but they won't

[2015-11-10 22:04] keithgee commented on #91
@alawvt, what do you mean that they won't play?

The videos have to be in a particular format for the embedded playback controls to show up. My understanding is that the Victoria Stodden video in particular was just going in as a placeholder so that Philip could share it, until the video could be encoded in the proper formats.

We should meet with Event Capture group soon to figure out the workflo

[2015-11-10 22:05] keithgee commented on #91
@alawvt I see the (Firefox won't run. Safari indefinitely "Loading" comment). Most likely is the video format - Event Capture is trying a new encoding process with new software procured last month.

[2015-11-11 13:07] alawvt commented on #91
@keithgee, thanks for taking a look at this. There were 4 recent videos from Event Capture. @mello99 was able to load the two smaller ones and they are viewable from Firefox. We could find out if there was anything about these two. The originals play fine in QuickTime.

Also, @kayiwa fixed the permission errors mentioned earlier.

[2015-11-11 14:45] alawvt commented on #96
This items now appears in the collection.

For future reference,
[code]
It was not viewable on 2015-11-10 but is viewable today 2015-11-11.

[2015-11-11 14:45] #96 closed

[2015-11-11 19:56] amandafrench commented on #85
This issue has metastasized into several issues: I think the pagination issues @alawvt mentions above are different from the item counts in the VCE collection. I also think the 3007 items in metadata download vs. 3052 in item count is a separate issue; that might have to do with mapped items. I'll put those two in the backlog for investigation. I'm also going to rename this issue so that it's more

[2015-11-11 20:43] keithgee commented on #85
It's a good thing this isn't an accounting application, because it isn't a' countin' right.

[2015-11-11 21:51] amandafrench commented on #77
Thanks for this, @AmberPoo1! This will be good information for @alawvt and @mello99 to have if they upload things through the browser submission form, and good for me to have as I see about simplifying and clarifying the submit form. I'll close this issue.

[2015-11-11 22:16] mello99 opened #98 "Empty bars/pipes in the "dc.contributor.author" field (Rare Books Collection)"
Hi all, the problem that Anne was having with the ETDs and the double bars/pipes has infected the [Rare Books collection] (http://vtechworks.lib.vt.edu/handle/10919/5518)! The empty "dc.contributor.author" fields appear as pipes, which is a pain in the neck (see picture below). I know the fields are currently empty, and although they were originally empty, DSpace assigned a unique identifier to th

[2015-11-11 23:19] amandafrench commented on #97
I am becoming increasingly convinced that deleting these registries will cause widespread unanticipated technical difficulties in the future, including potentially making it harder for other systems to index and aggregate our content, for what is after all a small local benefit to 3 or 4 people: having fewer choices to scan through when adding items or editing metadata. The more I read about it in

[2015-11-11 23:19] #97 closed

[2015-11-11 23:20] amandafrench commented on #85
Like

[2015-11-12 03:46] keithgee commented on #89
I've placed ewer_items_database_dump.sql.gz on our folder in Google Drive.
It's *approximately* to @alawvt specifications.
Closing.

[2015-11-12 03:46] #89 closed

[2015-11-12 10:45] keithgee commented on #98
Thanks for finding this, @mello99. I've cleaned it up by removing all empty contributor.author fields in the database (18 of them, though it sounds like you had already deleted the ones in this particular collection) and then started a new build of the solr search index.

It's gone, at least from this collection.
Closing.

[2015-11-12 10:45] #98 closed

[2015-11-12 12:11] keithgee commented on #90
I've manually edited dspace.cfg and opened a TeamDynamix request to restart Tomcat on VTechWorks.

[2015-11-12 13:11] alawvt commented on #98
@keithgee, thank you for fixing this. I'd like to talk about how we might do this for the rest of the repository, since there are hundreds of these empty fields in the ETD collections, alone. So far, it seems like they are items that were in the initial import into VTechWorks back in 2011.

[2015-11-12 14:02] alawvt commented on #83
Test removing blank field using the web batch metadata uploading tool:

Item: https://vtechworks.lib.vt.edu/handle/10919/56631
Empty field: dc.degree.discipline[en_US]

export metadata for item.
save a csv with only id and empty thesis.degree.discipline[en_US]
[code]
upload csv with web batch metadata tool.
result
[code]
This method does not appear to work.

[2015-11-12 14:02] #83 closed

[2015-11-12 14:28] keithgee commented on #90
Aaron has restarted Tomcat after the edit, and this has resolved the issue.
This is something to watch for - it may occur again after deployment.
Closing.

[2015-11-12 14:29] #90 closed

[2015-11-12 16:34] amandafrench commented on #90
Thanks for this, @keithgee!

[2015-11-12 16:45] keithgee commented on #91
I have tracked down the problem downloading large files. The web browsers request partial ranges of the files with HTTP headers like this:
Range: bytes=2238906368-
The DSpace XMLUI is based on Cocoon. Cocoon's Byte Range handler has code that tries to parse each number in the byte range as an integer.
In Java, the maximum size of a signed integer is 2,147,483,647, which is less than 2238906368. Th

[2015-11-12 16:50] alawvt commented on #91
That's great that you have figured this out, @keithgee. We should tell event capture about the size limit and keep it in mind for other large files. Is this a problem for all types of files over 2GB, say a data file or extremely large BTD? If so, we might need to review our bitstreams for possible offenders and possibly take other actions.

[2015-11-12 16:59] keithgee commented on #91
Yes, all bitstreams.
We have two larger:
MeganWawro_1.mov
Scenery_1.mp4

[2015-11-12 16:59] #91 closed

[2015-11-12 17:32] AmberPoo1 commented on #79
We will revisit this issue in spring.

[2015-11-12 17:32] #79 closed

[2015-11-12 17:54] #81 closed

[2015-11-12 17:54] #52 closed

[2015-11-12 17:56] #27 closed

[2015-11-12 17:56] #24 closed

[2015-11-12 18:26] amandafrench opened #99 "Pick an issue, any issue, in DSpace core Jira"
DSpace core's Jira issue tracker is located at https://jira.duraspace.org/browse/DS/?selectedTab=com.atlassian.jira.jira-projects-plugin:issues-panel

There are many issues there that, if resolved, would help not only our own workflow but that of hundreds of institutional repository managers around the world. If you run out of things to do this week and next, @AmberPoo1, you can pick almost any is

[2015-11-12 18:29] alawvt opened #100 "Issue, Commit, or Pull request tag for potential DSpace contributions?"
I propose using a tag(s) for issues or commits or pull requests that we might want to contribute to the DSpace project. For instance, "Separate publishers in list view," #92 is a candidate, since it clearly fixes a shortcoming in the Mirage 2 theme. Possible tags are  "possible contribution to DSpace," "contribute to DSpace," and "contributed to DSpace."

Possible advantages of the tags are that w

[2015-11-12 18:33] amandafrench opened #101 "Create custom submission forms for NDLTD collection /18725"
DSpace documentation: https://wiki.duraspace.org/display/DSDOC5x/Submission+User+Interface

Nice presentation on customizing the DSpace submission process here: http://www.slideshare.net/bramluyten/secrets-of-the-dspace-submission-form

Here are the required fields for the submission user interface for this collection:

dc.contributor.author
dc.contributor.committeechair
dc.contributor.committeeco

[2015-11-12 18:40] amandafrench opened #102 "Create a custom submission form for the OMALS collection /51287"
Same process as #101. Fields for submission process:

dc.contributor.author
dc.date.issued
dc.title
dc.description.abstract
dc.subject
dc.publisher
dc.rights
dc.type
dc.contributor.department
dc.description.degree
thesis.degree.name
thesis.degree.level
thesis.degree.grantor
thesis.degree.discipline

dc.contributor.committeechair
dc.contributor.committeemember

According to @alawvt:

dc.rights
dc.d

[2015-11-12 18:42] amandafrench opened #103 "Get Shibboleth authentication"
* Ask @kayiwa to implement on dev
* Ask @keithgee to verify what gets stored in the database
* Complete and turn in forms
* Magic unicorns prance across the land

[2015-11-12 18:45] amandafrench commented on #100
Good idea, @alawvt! I think you can create labels: feel free to create one and apply it here to any appropriate issue. That word-wrap issue I fixed is another candidate: I've got on my to do list to set up a separate repo so I can contribute that back to Mirage2.

[2015-11-12 18:51] amandafrench commented on #98
I asked for shell access for @AmberPoo1, so when (if) she has that she can begin making some of these type of changes.

It does sound like one browser-based workaround is to export the metadata from the collection, delete the empty fields, and then reupload the metadata, so that's an option.

[2015-11-12 18:54] amandafrench commented on #99
See also issue #57, which references core DSpace issues in Jira.

[2015-11-12 18:55] amandafrench opened #104 "Rewrite text & configure options on license page to make CC options clearer"

[2015-11-12 18:56] amandafrench opened #105 "Review default submission forms"

[2015-11-12 19:03] alawvt commented on #100
@amandafrench, would you add labels since it wouldn't let me?

[2015-11-12 19:11] alawvt commented on #98
The browser could work for many changes but this particular issue will probably have to be fixed directly in SQL. We could size up the situation off line, though with a recent database dump from @keithgee.

[2015-11-12 19:16] alawvt commented on #102
I realized later there were a few other options for thesis.degree.discipline so we might have to leave it free text.

[2015-11-12 19:31] alawvt commented on #101
The form for this collection probably will not need:
dc.date.accessioned - system generated info
dc.date.available - system generated info
dc.description.admin
dc.description.provenance- system generated info, have used for email addresses
dc..identifier.oclc - unlikely
dc.publisher - usually dissertations are unpublished
dc.relation.haspart
dc.subject.lcc - unlikely
dc.subject.lcsh - unlikely
dc.

[2015-11-12 21:02] alawvt commented on #102
I'd suggest doing this form before the NDLTD one.

[2015-11-12 21:03] alawvt commented on #101
I'd suggest doing the OMALS one before this one.

[2015-11-13 13:31] alawvt commented on #73
dspace-community@googlegroups.com 11/12/15 posting, http://groups.google.com/group/dspace-community/msg/1e5dd03782608?utm_source=digest&utm_medium=email, had detail instructions for adding a Captcha.

[2015-11-13 22:04] mello99 opened #107 "BioMed Central Collection - 3 recently accessioned items have no files"
Hi all, 3 items that were recently exported via SWORD into the BioMed Central Collection (11/4/2015) don't have files associated with them. Their handles are the following:

http://hdl.handle.net/10919/63917
http://hdl.handle.net/10919/63916
http://hdl.handle.net/10919/63915

I can go ahead and find the files on BMC, download them, and then upload them to VTW. I just wanted to mention this in case

[2015-11-15 06:37] mello99 opened #108 "BioMed Central Collection - Non-UTF-8 encoding issues"
Hi @amandafrench and @keithgee, the items in the BioMed Central collection (http://vtechworks.lib.vt.edu/handle/10919/18629) have a ton of non-UTF-8 encoding errors (especially HTML encoding issues), like `&#8472;` in place of ℘, `&#8805;` in place of ≥, and so on. I corrected most of these errors using LibreOffice ("Find and Replace"), but I don't know what else we can do since these items are im

[2015-11-15 06:40] mello99 opened #109 "Remove BioMed Central Collection duplicates (95 out of 375 items)"
Hi @amandafrench , I've been reviewing the metadata in the BioMed Central Collection (http://vtechworks.lib.vt.edu/handle/10919/18629) and have noticed that there are possibly around 95 duplicate items (I checked this using Google Refine). I haven't gotten the chance to go through all of these duplicates in depth (should I try to do this before the sprint retrospective?), but it may take quite a w

[2015-11-15 08:56] mello99 commented on #109
Okay, I just went through the metadata for all of the possible duplicates and found a total of 95 out of 375 total items. I looked at 12 of these 95 items and found that each one contained the same bitstreams, so it looks like these are indeed full-blown duplicates. I have the duplicates list, but I won't remove anything until next week (in case someone needs to poke around to see what went wrong)

[2015-11-15 09:09] mello99 opened #110 "BioMed Central Collection - DOI appearing in URI field (around 45 items)"
Hi @keithgee , the metadata for around 45 out of the 375 BioMed Central items (not accounting for the 95 duplicates, which may significantly reduce this number) contain DOIs in the URI field (dc.identifier.uri); this field should be reserved for the DSpace-generated handle. I just wanted to bring this issue to your attention; thanks so much!

[2015-11-16 12:57] keithgee commented on #107
It looks like at least two of these are duplicates, as well. I'm not sure if BioMed Central is trying to send metadata updates, or what.

[2015-11-16 13:17] keithgee opened #111 "VTechWorks handles not resolving"
When entering a handle url, such as http://hdl.handle.net/10919/63916 into the browser, the following message appears instead of the expected page.

Error - Cannot Connect to Server

The handle you requested --

10919/63916

-- cannot be found.

[2015-11-16 13:21] alawvt commented on #111
Thanks, @keithgee, I have reported it to CNRI.

[2015-11-16 13:49] keithgee commented on #111
Thanks, @alawvt . I also opened TeamDynamix issue 1137438, as the problem is more likely with VTechWorks.

[2015-11-16 13:49] keithgee commented on #111
or, something on our end, at least

[2015-11-16 14:32] alawvt commented on #111
It's resolving now.

[2015-11-16 14:32] #111 closed

[2015-11-16 15:46] keithgee commented on #111
Aaron restarted the handle server.

[2015-11-16 16:09] amandafrench opened #112 "DSpace not sending emails to people who submit items"
Anne and I were testing today and we discovered that submitters are not getting emails to say that their submission has gone live in the system (this is true whether or not the collection has an Approval Step defined). Submitters do however get emails when their submission is rejected.

[2015-11-16 16:11] amandafrench commented on #112
This might be due to my email filters: will test more.

[2015-11-16 16:12] amandafrench commented on #112
Never mind: this seems to be working on production, just not on pre-prod.

[2015-11-16 16:12] #112 closed

[2015-11-16 17:29] AmberPoo1 commented on #84
I noticed a misuse of "&amp;" in http://vtechworks.lib.vt.edu/handle/10919/46509?show=full , "&amp;" should only be used when writing URLs in HTML, in other common cases, "&" should be used. For example, "&szlig". One solution is transferring these tags using some api in our code.

[2015-11-16 18:11] alawvt commented on #84
In DLA, we routinely used many HTML entities in HTML, not just in URLs. It was necessary before browsers supported UTF-8. I am sure you will see plenty of them in HTML imported from DLA.

[2015-11-16 18:13] alawvt commented on #77
@AmberPoo1, please apply for another API key and mail it to me. I will coordinate to have it installed. Thanks.

[2015-11-16 18:45] alawvt commented on #108
@mello99, thank you for the report. Please add a backtick, `, before and after the character or HTML entity, so we can tell them apart, otherwise they will appear identical. I added the backticks to your report above.

@amberpoo, also reported problems in the ETD collection with HTML entities like `&#8472`. We might look for a library or program to run the metadata through to convert these to stan

[2015-11-16 18:59] alawvt commented on #109
@keithgee knows much more of the history of the SWORD import for BioMed Central since he set it up. I recall it beening off for period(s). It is possible that it accepted the same articles. The accession dates might suggest a pattern.

[2015-11-16 21:58] amandafrench opened #113 "Item not indexed"
Report from a user that item https://vtechworks.lib.vt.edu/handle/10919/51133 does not show up in search results and is not listed in its assigned collection at https://vtechworks.lib.vt.edu/handle/10919/50956. It is public, and the same item is properly indexed on dev. Some bug in indexing? All item, bundle, and bitstream authorizations seem to be correct. (READ: ANONYMOUS)

Thread at http://dspa

[2015-11-17 14:23] alawvt commented on #113
This item was deposited 12/13/14, which I believe, was soon after we moved to DSpace 4 and Discovery became the default, so I don't think that discovery=false bug reported in dspace.nabble is the issue. In my local copy of the repository, the CS4984 collection does include this item. That makes me think this is an indexing issue. @keithgee or @kayiwa, can you think of a reason only selected item(s

[2015-11-17 17:32] alawvt commented on #113
On VTechWorks server, in /dspace/log/, there is
[code]
I thought the cron job was to run index-discovery nightly but it doesn't look like it has run successfully since 2015-10-30.

[2015-11-17 19:44] alawvt commented on #113
solr.log.2015-10-30 contains item https://vtechworks.lib.vt.edu/handle/10919/51133 and it appears to have indexed it properly. But if today's indexing job didn't finish (file size=0) and it hasn't been indexed since 10/30, it seems like another indexing would be a good place to start.

[2015-11-18 20:59] amandafrench commented on #113
Recently added items are indexed, though, @alaw which you'd think they wouldn't be if indexing weren't finishing. See for instance http://vtechworks.lib.vt.edu/handle/10919/63991 -- search for "geoblacklight" produces expected results.

[2015-11-19 20:28] keithgee commented on #113
The item is now indexed. I took these actions.

- Add "ZIP" to mime-type registry
- Delete *.zip.txt file built by media registry
- Change file type of zip file from TXT to ZIP
- Edit a name in the metadata field
- Change the name back to what it was previously

Also noting that this item is versioned and has a strange message at the top of the page, but I'm not sure if it's related.

Closing.

[2015-11-19 20:28] #113 closed

[2015-11-19 21:52] amandafrench commented on #100
I created an issue Label called "dspacecore" for this category of issue, and I'll go back and apply it to #92 and other relevant issues (esp with the Mirage theme). Git tags is another topic altogether: I hadn't heard about that at all. Pretty good overview at https://git-scm.com/book/en/v2/Git-Basics-Tagging.

I think if we can remember to tag do this (and train one another, and write it in the w

[2015-11-19 21:52] #100 closed

[2015-11-19 22:09] amandafrench opened #114 "Make sure HTML entities display correctly"
Related to #84 -- it seems to be the case that HTML entities such as `&amp;` and `&szlig` are not displaying correctly. Sample items: http://vtechworks.lib.vt.edu/handle/10919/59451 and http://vtechworks.lib.vt.edu/handle/10919/46509?show=full. These were hard-coded in before UTF-8.

More on HTML entities at http://www.w3schools.com/html/html_entities.asp

[2015-11-19 22:10] amandafrench commented on #108
Related to #114.

[2015-11-20 14:00] alawvt commented on #113
@keithgee, thank you for fixing this item.

I could see why indexing would choke on a zip file. Why wouldn't indexing of the metadata for the item still be ok?

I checked for other items that have (only) zip files. http://vtechworks.lib.vt.edu/handle/10919/18720 has only a zip file and is findable now in vtechworks. I searched for the same item on vtechworks.dev., where zip has not been added to t

[2015-11-20 15:21] keithgee commented on #113
Good morning, @alawvt!
Editing the metadata for an item does indeed often cause the item to be added or updated in the solr index. I tried this first, but it didn't work.

Then, I noticed that there was a file with a .zip.txt extension in the bitstreams, which meant that DSpace had tried to full-text index the ZIP file. There was, um, garbage inside of the .zip.txt file, so I deleted it. I also no

[2015-11-20 15:22] alawvt commented on #100
@amandafrench, thank you for the dspacecore tag. Labeling Pull Requests and Issues works for me.

[2015-11-20 15:56] alawvt commented on #113
@keithgee, thank you for the explanation.

The same item on vtechworks.dev. also has a outbreaksum_code.zip.txt associated with it. I wonder why that one was indexed.

I checked other items from the CS4984: Computational Linguistics collection on the development server. They are discoverable. Even though zip is listed as "Undefined" on vtechworks.dev, zip.txt files were not created for these items

[2015-11-23 14:09] alawvt commented on #113
After discussion with @keithgee, I will add two follow up tasks to the Technology backlog:

check database for other possible zip.txt files

after version 5.4 is installed, check that logging of solr indexing occurs. ([5.4](https://wiki.duraspace.org/display/DSPACE/DSpace+Release+5.4+Status) has a fix for this.)

[2015-11-27 07:19] mello99 opened #116 "Issue with "Virginia Tech News" Name Record"
Hi all, I've tried endlessly to correct an author name inconsistency in the VT News Collection (http://vtechworks.lib.vt.edu/handle/10919/19073), but to no avail. In short, there are two discrete name records for "Virginia Tech News" (dc.contributor.author). There are 159 total items authored by "Virginia Tech News" in this collection, and if you look at the author browse list or the author facet

[2015-11-30 16:14] kayiwa opened #117 "etd ingest "logrotate""
The import script seems unable to forget files it already processed. My understanding of the port is all we would need to do is a name change. Can you give it a looksie and see why it keeps trying to process already deleted directories?

[2015-11-30 16:22] alawvt commented on #117
I'm not sure that is a problem. upload_Myers_PE_T_2015.zip was uploaded twice this morning to /space/etd/etd_incoming/2015113009:36:13093613-0500 and to /space/etd/etd_incoming/2015113009:38:34093834-0500. I received two messages, one that it was processed correctly and another that it had already been uploaded to VTechWorks. This is the expected behavior. I will check the others.

[2015-11-30 16:29] kayiwa commented on #117
I was not refererring to any specific one @alawvt any script that spits out this many errors should be source for concern. But if this is expected behavior. Please close the ticket.

[2015-11-30 16:34] kayiwa commented on #117
Specifically. My question amounts to. This is a cron job that will fail given this.

[code]

The error at the bottom will require human action.

[2015-11-30 16:41] alawvt commented on #117
The script does remove the file from the FTP server once it runs, so that is why there were all the "no such file" messages. Most of the error messages seem to be from items you loaded as tests, which are previously loaded items.  So the errors are mostly, "this item already exists." The script is acting normally. I will delete them from the error folder. If you want to delete the potato files fro

[2015-11-30 18:11] alawvt commented on #117
For most of these test ETDs that were uploaded previously, there were two error messages sent on 11/24 and another this morning, 11/30. If the files are being moved off etdingest after the script runs, then they shouldn't reappear tomorrow. I'm sorting through the error folder. Let's leave this issue open and see how things go the next few days. It should be easier to see what's going on without t

[2015-11-30 21:19] alawvt commented on #116
From the "Filter by: Author" list for "V," http://vtechworks.lib.vt.edu/handle/10919/19073/search-filter?field=author&starts_with=v,

If I select "Virginia Tech News (35)," http://vtechworks.lib.vt.edu/handle/10919/19073/discover?field=author&filtertype=author&filter_relational_operator=equals&filter=Virginia+Tech+News, the search results filter is labeled "Virginia Tech News" and there are 159 re

[2015-12-01 13:58] alawvt commented on #117
@kayiwa, 40 test files ran again this morning. Let's figure out why this is happening.

[2015-12-01 14:12] alawvt commented on #117
@kayiwa, I notice that the script is looking for
[code]
but the email has colons in the path, e.g.
[code]

[2015-12-01 16:12] alawvt commented on #117
In the latest log file for the etd-ingest script, `/dspace/assetstore/ingest/etd-gradschool/log/cron-2015-12-09.log`, there are a two errors each of:

[code]
and

[code]

[2015-12-01 16:23] amandafrench commented on #116
Hi @alawvt and @mello99 -- this sounds like a great candidate for querying the dspace-tech listserv about; I feel like we don't participate enough there. I chime in occasionally but have been too busy to read it much lately.

[2015-12-01 16:24] amandafrench commented on #116
Also I don't think we've actually implemented authority control on any elements, though my understanding might be imperfect -- it's something I want to do, but it's not super high priority.

[2015-12-01 16:26] alawvt commented on #116
I think by turning on ORCID, we've turned on authority control for the dc.contributor.author field.

[2015-12-01 16:27] alawvt commented on #116
I agree about querying the DSpace tech listserv.

[2015-12-01 16:58] alawvt commented on #117
I deleted a few duplicate folders in /dspace/assetstore/ingest/etd-gradschool/incoming/ and ran the script again. It processed 3 ETDs and sent the 3 corresponding messages. There were no error messages sent. There also was no /dspace/assetstore/ingest/etd-gradschool/incoming/ folder afterward, which I believe is good. We'll check tomorrow morning's run before closing the issue.

[2015-12-01 17:26] amandafrench commented on #116
Oh, good point about ORCID, @alawvt. I wonder if that's what's causing those weird long strings.

[2015-12-01 18:18] amandafrench opened #118 "Add .svg format to registry"
So that svg files can be uploaded

[2015-12-01 19:56] alawvt commented on #118
I added svg to the file format registry. However this does not enable support in the theme.

"Themes

A Theme is a collection of XSL stylesheets and supporting files like images, CSS styles, translations, and help documents. The XSL stylesheets are applied to the DRI Document to covert it into a readable format and give it structure and basic visual formatting in that format. The supporting files

[2015-12-02 13:25] #117 closed

[2015-12-02 22:25] amandafrench commented on #118
I kind of figured that, but good to have confirmation. Thx @alawvt. Will close.

[2015-12-02 22:25] #118 closed

[2015-12-03 06:26] mello99 opened #119 "VTechWorks is choking on CSV uploads (anywhere from 400 to 990 items per CSV)"
Hi @kayiwa, @amandafrench, @keithgee, and @alawvt , I made a few corrections to the "dc.type", "dc.contributor.author", and "dc.subject" fields in the "College of Science" and "College of Engineering" communities, but I wounded DSpace in the process.

To elaborate, when I uploaded the edited CSV files for the aforementioned collections, DSpace choked on them, even if the CSVs contained less than 1

[2015-12-03 16:56] alawvt commented on #119
@mello99, I'm sorry the web metadata upload is so problematic. The command line version, "Item Update tool, https://wiki.duraspace.org/display/DSDOC5x/Updating+Items+via+Simple+Archive+Format, is better in that it gives more communication and a better trail. If you want me to load the larger batches that way, that would be fine. If there is bitstreams to add for the item, they would be listed in t

[2015-12-03 17:00] keithgee commented on #110
@mello99, I've done a database query and moved metadata with http://dx.doi.org* values from the identifier.uri field to identifier.doi.
Is this what you needed?
If so, had you already done most of this manually?
If not, which items still show the problem and what specifically should be done with DOIs in the URI field?

[code]

[2015-12-03 17:40] keithgee commented on #110
Verified with @mello99 that identifier.doi is the correct field. There may be another issue opened soon about how to fix this permanently.
Closing this issue.

[2015-12-03 17:40] #110 closed

[2015-12-03 17:54] #84 closed

[2015-12-03 18:17] amandafrench commented on #77
Have applied for new API key, but I haven't gotten the confirmation email yet. Hoping it didn't get blocked; it's not in spam.

[2015-12-03 18:23] amandafrench commented on #116
Assigning to @alawvt to report on DSpace Tech and/or in DSpace Jira: close it once it's reported.

[2015-12-03 18:24] amandafrench commented on #99
To keep in mind for the future.

[2015-12-03 18:25] amandafrench commented on #82
One of a long list of database changes to make.

[2015-12-03 18:25] #82 closed

[2015-12-03 18:28] amandafrench commented on #108
I'll close this, since I want to see whether solving #114 (in other words, general HTML and character display issues in DSpace / Mirage2) will solve this. If not, we might have to configure or troubleshoot  SWORD.

[2015-12-03 18:28] #108 closed

[2015-12-03 18:29] amandafrench commented on #107
I think this and #109 are both fixed, right, @keithgee?

[2015-12-03 18:30] amandafrench opened #120 "Make sure SWORD puts DOIs in dc.identifier.doi"
Not in dc.identifier.uri, which should be reserved for the handle.

[2015-12-03 19:04] amandafrench commented on #114
See perhaps https://jira.duraspace.org/browse/DS-1092?jql=text%20~%20%22entities%22 for a solution?

[2015-12-03 19:10] alawvt commented on #114
`&amp;` is an HTML entity but `&szlig` is missing the ending semicolon, so I don't expect it to every be handled well.

[2015-12-03 19:41] amandafrench opened #121 "SMTP server settings in build.properties"
So the build.properties file in the dspace root directory lists "smtp.example.com" as the SMTP server -- is that the correct SMTP server that DSpace actually uses? Surely not.

Also, build.properties is tracked by version control; it's not ignored by .gitignore. Is the prod version of build.properties the same as the one in our local environments / GitHub? I want to set the SMTP server to smtp.gma

[2015-12-03 19:57] kayiwa commented on #121
Hmmm.

Hey @amandafrench I'd caution against using this. Certainly an edge case decision shouldn't be the driver. This source of this problem is being addressed. Some compromised machines in the library blacklisted lib.vt.edu for mail delivery. Your solution here wouldn't fix it because while it the smtp.gmail.com would send it the headers would say the source is lib.vt.edu and delivery would fail

[2015-12-03 19:58] amandafrench commented on #121
Ah, good to know, @kayiwa. Thanks. Will close.

[2015-12-03 19:58] #121 closed

[2015-12-03 20:55] keithgee commented on #107
@amandafrench, not yet. _Sorry_, @mello99 I had let slip these problems with BioMed Central for so long.

[2015-12-04 04:14] mello99 opened #123 "How long does it take for DSpace to generate item thumbnails?"
Hi all, a professor submitted an image file to VTechWorks today and wanted to know how to create a thumbnail for it.

I know that DSpace automatically generates thumbnails, but *how long* does it take for DSpace to generate a thumbnail? One day, two days, one week? Thanks so much for your help, and I hope all is well.

[2015-12-04 14:29] keithgee commented on #123
One day.

[2015-12-04 14:43] keithgee commented on #123
There's a command ```dspace filter-media``` that runs each night to build new thumbnails. @mello99, I just ran this manually, because it looked like it didn't run last night. I don't have access to see what time it runs (or else just don't know how to use the access).

It's also possible to make a custom thumbnail for filename.jpg, call it filename.jpg.jpg, and then upload it to the "THUMBNAIL" bu

[2015-12-04 14:43] #123 closed

[2015-12-04 14:55] keithgee commented on #20
This is fixed in DSpace 5.4, which is merged into our codebase but not yet deployed.
See the update at the bottom of the aforementioned page at https://jira.duraspace.org/browse/DS-2542

Closing.

[2015-12-04 14:55] #20 closed

[2015-12-07 15:44] alawvt commented on #78
On vtechworks.dev.vt.edu, clicking on the link for for Off Campus Sign, produces this message,

[code]
Noting this in case EZproxy needs configuring for vetchworks.lib.vt.edu, vtechworks.dev.lib.vt.edu, or vtechworkspprd.lib.vt.edu.

[2015-12-07 15:51] kayiwa commented on #78
I've passed this on to Aaron to set up. Will update this when it is done.

[2015-12-07 16:17] kayiwa commented on #78
Please test this now.

[2015-12-07 19:54] alawvt commented on #78
Thank you. It seems to work from on-campus. We'll have to wait until it is installed on production to test it from off campus.

[2015-12-07 19:54] #78 closed

[2015-12-07 21:11] alawvt commented on #116
Reported in DSpace DS-2938, Multiple dc.contributor.author facets have same authority value but different confidence value, also incorrect # of items, https://jira.duraspace.org/browse/DS-2938.

[2015-12-07 21:11] #116 closed

[2015-12-09 16:15] amandafrench commented on #119
I think the "Not found" error was likely due to something happening on the server at the time you were working, @mello99 -- either @kayiwa making changes or a cron job happening. I did also try to replicate this with the College of Science collection, and the CSV of 991 rows did upload just fine, though I only made 69 changes. We'll make sure to get us trained in the command line tools soon. If th

[2015-12-09 16:15] #119 closed

[2015-12-09 16:30] amandafrench commented on #109
Hi @mello99 -- sorry have let this slip. I say for this issue we just remove the duplicates from the Biomed Central collection and hope they don't reappear. If you want to do this manually, you can, but I'm also looking into whether we can buy the Metadata Quality module from @bram-atmire - see https://atmire.com/website/?q=modules/mqm

I'll assign you to it, @mello99, but no need to do it until J

[2015-12-09 16:32] amandafrench commented on #104
Duplicate of #80 -- closing.

[2015-12-09 16:32] #104 closed

[2015-12-09 16:59] alawvt opened #124 "Test v. 5.4 and other changes on vtechworks.dev"
Please use the testing spreadsheet in Google Drive to record results. If there is a problem, please list an item where it can be observed.

[2015-12-09 17:35] keithgee commented on #120
I just pushed up a branch that has the 'gist' of the fix. But I'm having problems with the theme on my local and want to sort that out.
Also, the fix needs some discussion.
- It's for SWORD 1.3, which is what BioMed Central uses
- The fix I have maps all of the URIs sent in the mets.xml to identifier.doi.  I think I need to make it more specific, in case other URIs, besides the DOI are ever includ

[2015-12-09 17:39] alawvt opened #125 "Improve git procedure and branches to track changes to dev, pprd, and production"

[2015-12-09 17:40] keithgee commented on #109
What, @amandafrench ? I was just about to fix this!
Okay, not really. I hadn't figured out how this happened. I'll cross my fingers as well and work on other things.

[2015-12-09 17:56] keithgee commented on #125
There's a nice wiki page here that had a suggested workflow for tracking changes to production, especially, but now it may be out of date - we haven't been following it:
https://github.com/VTUL/vtechworks/wiki/Workflow-Summary

[2015-12-09 17:56] alawvt commented on #124
Changes to check
- fix HTML all fields
- add off campus sign in link
- separate publishers in display
- DSpace 5.4 release notes, https://wiki.duraspace.org/display/DSPACE/DSpace+Release+5.4+Status

[2015-12-09 17:58] keithgee commented on #120
Also, the 4 character change in the not-quite-complete fix truly represents hours of work. Testing was a challenge!
 9ef49dc
Edit: This is the initial, simple commit. Fixed later to put the URL in identifier.doi _only_ if it contains "dx.doi.org".

[2015-12-09 18:00] alawvt commented on #125
I think we could follow our original plan. @kayiwa would have to be aware of the plan and where to pull from.

[2015-12-10 14:26] keithgee commented on #120
I addressed the concern above and made the fix more specific. Branch biomed_central_doi_to_identifier_doi contains the fix that places url identifiers in "identifier.doi" if the url contains "dx.doi.org", and in "identifier.url" otherwise.

@amandafrench this may also cause changes in SWORD 2. I don't think that anything will break, but if there are problems with any SWORD integration projects you

[2015-12-10 14:26] #120 closed

[2015-12-10 14:49] alawvt commented on #102
Note to @alaw to review submission form with OMALS members.

[2015-12-10 16:54] amandafrench commented on #125
I think we've been doing pretty well with creating branches for features, at least: the main thing we haven't been doing is creating release branches and asking @kayiwa to deploy from there. I'll see if I can study up on this more.

[2015-12-10 16:59] #109 closed

[2015-12-10 17:47] amandafrench opened #127 "Contribute pull #92 (separate publishers) to DSpace core project"
We think #92 should be contributed to the DSpace core -- assigning to @AmberPoo1. If you can, while you're doing it, please review and if necessary rewrite the [instructions on the wiki](https://github.com/VTUL/vtechworks/wiki/9.-Contributing-to-the-main-DSpace-project) about how to contribute to the core project. See also issue #68.

[2015-12-11 18:45] AmberPoo1 commented on #124
Hi, @alawvt ,@kayiwa, when testing on vtechworks.dev, it seems the dev machine doesn't have available space for creating new items.
This is the error message:  "ERROR: could not extend file "base/29257/30954": No space left on device Hint: Check free disk space."

[2015-12-11 20:45] amandafrench commented on #77
I did get the new API key, yay! I forwarded it to @alawvt and @AmberPoo1. Assigning to @alawvt for implementation.

[2015-12-11 20:53] amandafrench commented on #103
Check out this recent commit by @jcreel at TAMU -- they are using Shibboleth to map users to DSpace groups. I'd love to do that! In their case they're doing it by role (faculty etc) rather than by dept., but it's good to know about. https://github.com/TAMULib/DSpace/commit/87a20fb7b018be8dd98f495f9773c08280f6097e

[2015-12-14 14:31] alawvt commented on #124
I also attempted to upload an item with the web form and had the same problem, see screenshot below. I reported the error with TeamDynamix 12/14.

![vtechworksdevsubmissionerror20151214](https://cloud.githubusercontent.com/assets/13037168/11783447/6441e67c-a245-11e5-92f9-5145d3f9d1ff.png)

[2015-12-14 19:34] amandafrench commented on #125
Updated documentation at https://github.com/VTUL/vtechworks/wiki/0.-Workflow-Summary:-Development-and-Deployment - closed for now while we test.

[2015-12-14 19:35] #125 closed

[2015-12-14 19:44] alawvt commented on #124
@kayiwa, thank you for increasing the volume size. I was able to upload an item. @AmberPoo1, please continue testing.

[2015-12-14 20:06] AmberPoo1 commented on #114
@amandafrench, @alawvt , Dspace can decode html entities correctly by default. The problem with http://vtechworks.lib.vt.edu/handle/10919/46509?show=full is that it contained illegal html entities. for example: "&amp;szlig".
![screen shot 2015-12-14 at 3 00 13 pm](https://cloud.githubusercontent.com/assets/13734326/11792481/4e1095e0-a274-11e5-9d0e-0be85720a125.png)

The legal html entities should

[2015-12-14 20:12] #114 closed

[2015-12-14 21:48] alawvt commented on #127
@AmberPoo1, I added more instructions to https://github.com/VTUL/vtechworks/wiki/9.-Contributing-to-the-main-DSpace-project. Please test and improve them.

[2015-12-15 13:31] alawvt commented on #77
I submitted a TeamDynamix request for this and @kayiwa responded by adding the key to dspace.cfg on vtechworks.lib.vt.edu. I reverted the original commit.

[2015-12-15 13:31] #77 closed

[2015-12-15 16:52] alawvt opened #133 "Testing finished on vtechworks.dev; can be deployed to vtechworks.pprd"
We have finished testing 5.4 and other changes on vtechworks.dev. The code can be deployed to vtechworks.pprd.

[2015-12-15 16:55] alawvt commented on #124
finished testing.

[2015-12-15 16:55] #124 closed

[2015-12-16 19:33] alawvt opened #134 "Copy customizations from modules/xmlui-mirage2/src/main/webapp/themes/vtmirage2/i18n/messages.xml and remove."
Copy customizations from modules/xmlui-mirage2/src/main/webapp/themes/vtmirage2/i18n/messages.xml to dspace/modules/xmlui/src/main/webapp/i18n/messages.xml and remove modules/xmlui-mirage2/src/main/webapp/themes/vtmirage2/i18n/

See comment in #129.

[2015-12-16 20:01] alawvt commented on #134
Customizations have already been copied in pull request #131, so I will just delete this folder.

[2015-12-16 20:23] #134 closed

[2015-12-17 18:25] amandafrench commented on #133
Have created the branch vt_5_x_pprd_deploy and asked @kayiwa to push to pprd. The tag structure I came up to track "release versions" feels too cumbersome to me, but for now we're sticking with [YYYY_MM_DD_sprintname]. We can always rename the tags alter if we like (I kind of like vtw_aardvark, vtw_bichon, vtw_chipmunk, vtw_dogue etc. without dates.) Will close the issue when the pprd server is up

[2015-12-17 18:51] amandafrench commented on #133
Done

[2015-12-17 18:51] #133 closed

[2015-12-17 18:56] alawvt opened #136 "Test v. 5.4 and other changes on vtechworks.pprd"
@AmberPoo1, please do a cursory test of v. 5.4 and other changes on vtechworks.pprd.

[2015-12-17 21:05] alawvt opened #137 "Email issues on vtechworks.pprd?"
We are able to register for a new account on vtechworks.dev but not on vtechworks.pprd. The error message is `Unable to send email to this address.`

Similarly, if we use the form to reset a password, the error message is `Connection refused.`

@kayiwa, would you check the mail setting on vtechworks.pprd?

Thanks.

[2015-12-17 21:22] AmberPoo1 opened #138 "Display of long item file name needs wrapping"
On the simple item view, file name field will overlap the abstract part if the file name or file description is too long.  See: http://vtechworks.pprd.lib.vt.edu/handle/123456789/64324
![image](https://cloud.githubusercontent.com/assets/13734326/11882431/6323e384-a4da-11e5-9a12-98c71d2b882b.png)

[2015-12-17 21:31] alawvt commented on #138
That's a mess. @AmberPoo1, please try this test on production.

[2015-12-17 21:34] AmberPoo1 commented on #138
@alawvt, production has the same problem.

[2015-12-17 21:34] AmberPoo1 commented on #138
![image](https://cloud.githubusercontent.com/assets/13734326/11882711/19ae4e54-a4dc-11e5-8643-7b2c272b3cf1.png)

[2015-12-17 21:39] alawvt commented on #138
Need to fix on production, too.

[2015-12-17 23:41] zhiwuxie opened #140 "This item cannot be found via browsing and/or search"
War and Agriculture: Three Decades of Agricultural Land Use and Land Cover Change in Iraq

https://vtechworks.lib.vt.edu/handle/10919/46772

Its owning collection shows no item:

https://vtechworks.lib.vt.edu/handle/10919/46771

[2015-12-18 00:11] mello99 commented on #140
Hi @zhiwuxie , this is not the first time that DSpace has inaccurately counted the number of items in a collection (see issue #85 ).

However, if you export the metadata from the "Research Data, Department of Geography" collection, you'll get a spreadsheet that lists the metadata for the dataset you referenced (https://vtechworks.lib.vt.edu/handle/10919/46772).

I've attached the exported metadata

[2015-12-18 09:41] keithgee commented on #140
@mello99, it is definitely significant that it takes 3 minutes to load the spreadsheet.

The description.abstract field is using most of that 1.5 megabytes. There's a very long file listing there.

The VTechWorks search configuration is setup in such a way that abstracts larger than 32K will prevent the item from being indexed. Presumably this is the DSpace default; if so someone might want to che

[2015-12-18 09:46] keithgee commented on #140
I'm noticing, too, that there are already text files in the item that contain file listings. So some of the work in the strategy I suggested above may have already been done. Just make sure the abstract field is not massively long.

[2015-12-18 13:13] alawvt commented on #140
I attempted to view the full item record of this item and received an unresponsive script error,

[code]
@keithgee, thank you for troubleshooting this.

I added an item to the Technology to consider an abstract length check in the submission process to prevent this for new items.

[2015-12-18 13:43] keithgee commented on #140
Well, that's embarrassing. My mother didn't even get to see that.
I placed a shortened abstract back in now - everything but the file listings - and it's indexed.

I also have problems when I try to view the full item record on that page. I think it is a separate problem and merits a new GitHub ticket.

Also, some of the line endings are being stripped out of the abstract in the display in the sho

[2015-12-18 16:43] mello99 commented on #140
Hi @keithgee , thanks so much for looking at that during your vacation and for creating that shortened abstract. I apologize for disturbing you. I'm sick today (sorry if I haven't read everything clearly), but when I'm better I will take the information in that abstract and place it into a ReadMe file; I think that would be a much better strategy. Thank you again for your help, and yours as well,

[2015-12-18 16:57] kayiwa opened #141 "VA Tech now IP ranges"
Could you add the following as part of VA Tech's (going in early January) network to the `/dspace/config/modules/authentication-ip.cfg`

`45.3.96.0/19`
and
`45.3.64.0/19`

Cheers.
./fxk

[2015-12-18 17:16] alawvt commented on #141
@kayiwa, I have added these IP addresses in commit 136a732.

[2015-12-18 17:16] #141 closed

[2015-12-18 17:29] alawvt opened #142 "Script error when loading full-item-view of large item"
I attempted to view the full item record of a large item, https://vtechworks.lib.vt.edu/handle/10919/27671?show=full, and received an unresponsive script error,

[code]
This was first reported in issue #140.

[2015-12-18 17:39] alawvt commented on #140
@keithgee, DSpace by default, does not display line returns in metadata fields in simple item view or full item view. I agree that it would be good to have this functionality. That way we could eventually move from those pesky HTML <p> tags to hard coded line returns. I have added an item in the Technology backlog to consider this.

[2015-12-18 18:38] alawvt commented on #137
@kayiwa, thank you for restarting the mail server.

@AmberPoo1, you may continue testing pprd, when convenient.

[2015-12-18 18:38] #137 closed

[2015-12-18 19:53] zhiwuxie commented on #140
Thank you, guys. Now it makes sense. There may be other items buried due to
long descriptions? May be the field needs to have a length limit and have
the form truncate the input? Nothing urgent though.
On Dec 18, 2015 12:39 PM, "alawvt" <notifications@github.com> wrote:

[2015-12-18 20:37] alawvt commented on #136
@AmberPoo1 has completed testing on pprd.

@amandafrench, It may be deployed to production.

[2015-12-18 21:23] alawvt opened #143 "Enable display of line returns in metadata fields in simple item view and full item view"
Metadata fields such as the abstract in https://vtechworks.lib.vt.edu/handle/10919/46772 contain line returns between paragraphs. The line returns are displayed in the "edit metadata view"

![edititemview](https://cloud.githubusercontent.com/assets/13037168/11907617/73bd3dd4-a5a3-11e5-99ee-624ec93efa30.png)

but not in the simple item view or full item view.

![simpleitemview](https://cloud.github

[2015-12-18 21:44] amandafrench commented on #140
Thanks for helping with this, @keithgee! I'm going to close this issue since this particular item is now functioning, but it's good that issues to overly long abstract length are in the product backlog.

[2015-12-18 21:44] #140 closed

[2015-12-18 22:13] amandafrench commented on #136
I have merged commits from vt_5_x_pprd_deploy into vt_5_x_prod_deploy and have asked @kayiwa to deploy them to production on Monday morning. That way he won't have to work late tonight if there are hiccups.

[2015-12-21 17:46] alawvt commented on #136
We're live. Thanks, @amandafrench  and @kayiwa!

[2015-12-21 17:46] #136 closed

[2015-12-21 17:47] alawvt opened #144 "Test v. 5.4 and other changes on vtechworks production"
Please use the testing spreadsheet in Google Drive to record results. If there is a problem, please list an item where it can be observed.

[2015-12-21 19:36] alawvt opened #145 "Can't download files from vtechworks"
Attempting to download a file from vtechworks, for example, http://vtechworks.lib.vt.edu/bitstream/handle/10919/56550/Pierre%20Jourde%20Interview%20-%20French%20Review.pdf?sequence=1&isAllowed=y, produces an error message,
[code]

[2015-12-21 19:51] alawvt commented on #145
working now

[2015-12-21 19:51] #145 closed

[2015-12-21 20:58] #80 closed

[2015-12-21 22:12] amandafrench opened #146 "Some search results display bitstream metadata"
This might not be a bug, but certain search results are showing bitstream metadata, and I'm not certain if it's expected behavior. Report from user:

**Bianchi**, Laurie Marie (Virginia Tech, 2014-03-24) stream_size 94 stream_content_type text/plain stream_name **Bianchi**_L_D_2014.pdf.txt stream_source_info **Bianchi**_L_D_2014.pdf.txt Content-Encoding ISO-8859-1 Content-Type text/plain; charset=

[2015-12-22 14:52] alawvt commented on #146
I searched for other dissertations from 2014 with no search term, http://vtechworks.lib.vt.edu/handle/10919/11041/discover?filtertype_1=dateIssued&filter_relational_operator_1=equals&filter_1=2014&submit_apply_filter=&query=&rpp=100&sort_by=score&order=desc, and none of the results included bitstream data. However searching for "assetstore" http://vtechworks.lib.vt.edu/discover?filtertype_1=title&

[2015-12-22 16:43] alawvt commented on #146
This post from the DSpace Technical Support group looks useful, especially the last few posts:

https://groups.google.com/forum/#!topic/dspace-tech/9V2wqRmuLrM

[2015-12-22 17:15] alawvt commented on #146
Other relevant pages:

https://wiki.duraspace.org/display/DSDOC5x/Discovery
https://wiki.duraspace.org/display/DSPACE/Solr

[2015-12-22 17:32] amandafrench commented on #103
I'm going to close this issue for now: I've redone the forms and am waiting for them to get signed so I can turn them in to the ED-ID group. Once they have approved, we can set it up and test it.

[2015-12-22 17:32] #103 closed

[2015-12-22 17:41] amandafrench commented on #142
This is a Firefox-specific error (it doesn't happen in Safari or Chrome) and is low priority: users could fix it by changing their Firefox settings. It's also highly unlikely to affect many items in VTechWorks, so I'm going to close it.

[2015-12-22 17:41] #142 closed

[2015-12-22 18:18] AmberPoo1 commented on #68
@alawvt , display of multiple publishers still has problem. Redundant comma in browse view. Mulple publishers are is concatenated in search view, I reopened this issue and will update the pull request later.

Browse view:
![screen shot 2015-12-22 at 1 18 15 pm](https://cloud.githubusercontent.com/assets/13734326/11962530/7de8a88a-a8ae-11e5-8748-b499d750c40a.png)

Search view:
![screen shot 2015-12

[2015-12-22 18:23] mello99 opened #147 "Draft Moving Image Submission Form Mockup, Draft Moving Image Metadata Elements List"
Hi @amandafrench  and @alawvt , I have attached the draft versions of the moving image submission form mockup and the moving image metadata element list to this issue.

The two documents are not completely consistent; to be specific, there are elements in the moving image metadata element list that are not included in the moving image submission form because 1) I wasn't sure whether certain elemen

[2015-12-22 18:42] alawvt commented on #68
@AmberPoo1, thank you for testing this. The items referenced in the original comment, http://vtechworks.lib.vt.edu/handle/10919/50816, all look good. Let's wait a day or so and see if indexing helps the display of this new item you created.

[2015-12-22 18:44] AmberPoo1 commented on #18
@amandafrench , @alawvt , this problem is caused by the long text without space of "dc.identifier.url" field in full item view, we should add auto line break if this kinod of text is too long. The style of abstract is correct.

[2015-12-22 18:52] alawvt commented on #147
Melissa,

Those are very nice documents. I like your instructions for each field on the submission form. I think that users will find them very helpful.

Thanks,

Anne

[2015-12-23 18:14] alawvt commented on #144
@AmberPoo1, thank you very much for testing, reporting, and fixing issues found.

[2015-12-23 18:14] #144 closed

[2015-12-23 18:26] alawvt opened #151 "Request to improve indexing of Computer Science Technical Reports"
Computer Science Technical Reports, http://vtechworks.lib.vt.edu/handle/10919/19372

Requester:  People reference TRs by number, and thus it is reasonable to expect that someone can find a CS TR by its assigned number.  On the VTechWorks site, the CS TR numbers are not indexed anywhere (yes, they're given in the full details, AFTER you've already found the TR!), so it is nigh impossible to find a

[2015-12-23 19:41] alawvt commented on #151
A possible (temporary fix) would be add a temporary hint on the advanced search page to use double quotes. More permanently, we might remove other characters from the SOLR word stop list.

We added the TR number to the simple item view for this collection in Pull Request #76.

The requester would like the TR number displayed in the browse and search results views.

The search results view is a lis

[2015-12-23 19:57] alawvt commented on #151
The search results could be altered by overwriting dspace/solr/search/conf/schema.xml, line 240

[code]

with `generateNumberParts="0"`. We'd have to think about the implications of this.

Solr Filter Descriptions: Word Delimiter Filter, https://cwiki.apache.org/confluence/display/solr/Filter+Descriptions#FilterDescriptions-WordDelimiterFilter,

[code]

[2016-01-04 14:54] keithgee commented on #110
The xslt code/configuration that maps DOIs from SWORD to dc.identifier.doi hasn't been deployed yet, so I ran some SQL again this morning to update 10 new items.

[code]

[2016-01-04 16:56] amandafrench commented on #151
Keeping this issue for indexing only -- assigned to @AmberPoo1

[2016-01-04 16:56] amandafrench opened #152 "Improve display of CS Technical Reports"
See #151. @keithgee will look to see if can recover old DSpace 3 customizations.

[2016-01-04 17:36] amandafrench commented on #18
@AmberPoo1 -- assigning you to contribute this to dspacecore! There might be conflicts with other changes to the CSS, though. See commits https://github.com/VTUL/vtechworks/commit/0b94ad48c9c8a22e6eaa033597b35fbbcb0feebf and https://github.com/VTUL/vtechworks/commit/4efb84202fc6aff9e6c16bbf6e108bfdd963806c for code changes.

[2016-01-04 17:44] amandafrench commented on #146
I tried implementing the code in the dspace-tech thread mentioned above before the holidays, @AmberPoo1, but it didn't work (broke the whole system). Assigning to you to look into further, but it's not high priority, so feel free to mark wontfix and close if it will take too long.

[2016-01-04 17:48] amandafrench commented on #147
Assigning to @mello99 to create a custom submission template for the Event Capture collection.

[2016-01-04 17:53] #68 closed

[2016-01-04 17:55] amandafrench commented on #138
Will close this issue, since it's fixed, although it's not yet deployed to production.

[2016-01-04 17:55] #138 closed

[2016-01-04 17:56] amandafrench opened #153 "Add December commits to deployment branch"
For deployment to development

[2016-01-04 18:16] amandafrench opened #154 "Change configuration file so that restricted items can't be requested"
... because we don't really have anyone to do the research right now.

[2016-01-04 20:54] keithgee commented on #107
**TL;DR - These items appear to have been created accidentally during a bulk metadata spreadsheet upload. I've fixed it so the handles redirect to the original items, with files.**

I can't quite pin down what happened, but I don't believe these three DSpace items were created with SWORD ingests. Normally, there would be a sword package ZIP file in the bitstreams section, because it also contains

[2016-01-04 20:54] #107 closed

[2016-01-04 23:02] keithgee commented on #152
I've added two zip files to our Google Drive VTechWorks Team/technology area.
These are old themes from VTechWorks that both have customizations for Technical reports.
We can't use Chris's code directly, because,it's for themes older than Mirage 1 or Mirage 2, but it's well commented and could be a guideline.
- vtCSTheme is a theme that was applied only to the computer science technical reports( o

[2016-01-04 23:06] keithgee commented on #152
Also, the only display related item  mentioned in #151 that we haven't already done in a previous commit is this:

[code]

@alawvt @amandafrench is this the only display change that is required for this open issue?

[2016-01-05 15:00] alawvt commented on #152
@keithgee, thank you for finding those old themes. Yes, the TR number displayed in the search results and when browsing the collection. They also wanted the browse to be in reverse chronological or TR number order.

@AmberPoo1, these old themes were implemented as overlays of the dspace-xmlui module, rather than as overlays of the dspace-xmlui-mirage2 module. They would have been in dspace/modules

[2016-01-05 20:40] alawvt commented on #127
@AmberPoo1, please add commit in Pull Request #148 to the contribution to DSpace core project.

[2016-01-05 23:56] mello99 opened #155 "Invisible Submission (or something to that effect)"
Hi all, we recently received a submission from Dr. Xin Luo entitled "Paradoxical effects of all-trans-retinoic acid on ..." to the "Research Articles, (VMRCVM)" (http://vtechworks.lib.vt.edu/handle/10919/23146) collection. I took the task to see if I could approve the item, but when I clicked on the item, I was taken to a completely blank metadata record (no file or anything).

<img width="755" al

[2016-01-05 23:58] mello99 commented on #155
Okay, so I clicked on "Edit Metadata" and saw the actual metadata associated with the file; it must be an interface thing with the new version of DSpace. I'll get to this in the morning.

[2016-01-06 13:29] alawvt commented on #155
Hmmm. I submitted a test item to this collection and it looked normal, see below. All the metadata that I submitted appears.

![itemsubmission20160106](https://cloud.githubusercontent.com/assets/13037168/12143552/8606600a-b44f-11e5-9c03-8e0c8abb7eea.png)

[2016-01-06 13:57] keithgee commented on #85
I found that the items that @mello99 had deleted still had documents in the solr index. I deleted these solr documents, and now the item count in the collection is at 3006. This also fixed some of the pagination issues.

Thank you @mello99 for providing the spreadsheet of deleted items. This was useful for fixing the problem. Please keep an eye out to see if this happens again; I'm not sure why th

[2016-01-06 13:57] #85 closed

[2016-01-06 15:17] alawvt commented on #143
Other items with line returns in the abstract:
http://vtechworks.lib.vt.edu/handle/10919/49002
http://vtechworks.lib.vt.edu/handle/10919/49001
http://vtechworks.lib.vt.edu/handle/10919/48985
http://vtechworks.lib.vt.edu/handle/10919/48984

[2016-01-06 15:40] #143 closed

[2016-01-06 15:53] alawvt commented on #143
For future reference, https://css-tricks.com/almanac/properties/w/whitespace/, has a good explanation of the css white-space options. normal is the default.

[2016-01-06 16:24] #154 closed, assigned to amandafrench

[2016-01-06 16:45] #153 closed, assigned to amandafrench

[2016-01-06 16:51] amandafrench commented on #155
Maybe try one more test, @alawvt and @mello99, where one of you submits and item and the other tries to claim the task? If we can't reproduce the issue, though, let's close it. If it happens again we can reopen it.

[2016-01-06 17:44] amandafrench commented on #18
FYI, @AmberPoo1 and @alawvt, the issue I created for this in DSpace Jira is https://jira.duraspace.org/browse/DS-2963

[2016-01-06 17:46] amandafrench commented on #18
Please note that this issue is fixed; like all of the issues labeled "dspacecore," it's just open until we figure out a workflow for contributing it to DSpace core.

[2016-01-06 18:19] alawvt commented on #138
@amandafrench and @AmberPoo1, long file names do wrap properly in dspace demo, http://demo.dspace.org/xmlui/handle/10673/614, so we don't need to submit our fix.

[2016-01-06 18:33] mello99 commented on #155
@alawvt and I tried it again. Anne submitted an item herself and was able to see the full metadata record (see above).

I still wasn't able to see the full metadata record for the item in question (nor was Anne), but I was nonetheless able to approve the item and correct/add to the existing metadata. The submitter provided very little metadata altogether; the submitter also mistakenly designated t

[2016-01-06 19:05] AmberPoo1 opened #156 "CSS Multiple browser, different display resolution support problem - e.g. Word-break in full item record view"
In the full item record view, word-break works fine in Firefox browser or big screen. But the context of metadata fields may be truncated in other browsers like chrome and Safari, or in smaller windows or PC like surface.
For example, http://vtechworks.lib.vt.edu/handle/10919/49255?show=full
This item has a field "dc.identifier.url", the value is long and without white space: "http://www.plospatho

[2016-01-06 20:48] alawvt opened #157 "Test latest changes on vtechworks.vt.edu since Dec. 1."
Please test the changes on vtechworks.dev.vt.edu, https://github.com/VTUL/vtechworks/commits/vt_5_x_dev_deploy, since Dec. 1 commit 9d2dc78. You can create a spreadsheet of appropriate tests that we'll repeat on dev, pprd, and production.

[2016-01-06 20:59] amandafrench commented on #105
Current default item submission (first two screens):

![screenshot 2016-01-06 15 57 48](https://cloud.githubusercontent.com/assets/227453/12154565/41a9be2c-b48e-11e5-921f-f9a359d32f1c.png)
![screenshot 2016-01-06 15 58 25](https://cloud.githubusercontent.com/assets/227453/12154577/5897b896-b48e-11e5-88c6-9af128c3b32b.png)
![screenshot 2016-01-06 15 59 24](https://cloud.githubusercontent.com/assets

[2016-01-06 21:02] alawvt commented on #156
I tried a few items in DSpace demo, for example, http://demo.dspace.org/xmlui/handle/10673/608?show=full, and they wrap correctly in a smaller window in Safari. This item in VTechWorks in Safari gets a horizontal scroll bar when the window is shrunk. So it may be something that we have done to the original theme.

[2016-01-06 21:14] AmberPoo1 commented on #156
Yes, the dspace demo also works fine in Chrome.

[2016-01-06 21:57] alawvt opened #158 "URLs of items no longer match their original handles"
Observed mainly in College of Science collections, also some in College of Engineering.

Example, an item by John Cairns was batch loaded to collection 10919/24287 on 20150521. It was assigned handle 10919/52378. The item now appears at URL, http://vtechworks.lib.vt.edu/handle/10919/25048, but the URI in the simple item view is still correct.
![wrongurl](https://cloud.githubusercontent.com/assets/

[2016-01-06 22:04] amandafrench opened #159 "URGENT: Files associated with the wrong records"
Numerous (or all) records in the College of Science and at least a few records in the College of Engineering on production have the wrong files associated with the records. Click on the PDF (or other bitstream) for any of the following to see the issue:
- http://vtechworks.lib.vt.edu/handle/10919/64167
- http://vtechworks.lib.vt.edu/handle/10919/25240
- http://vtechworks.lib.vt.edu/handle/10919/48

[2016-01-06 22:10] amandafrench commented on #158
Duplicate of #159, but will leave both open for now.

[2016-01-06 23:08] keithgee commented on #158
This particular item was actually first loaded into VTechWorks on 2014-01-23, according to the provenance field,  and also DSpace log files. My working hypothesis is that the handle 10919/25048 is correct, but the current identifier.uri field is incorrect.
The item appears to have been updated on 2015-12-03, but I can't see specifically what was changed. I'm still investigating.
@alawvt, where did

[2016-01-06 23:17] keithgee commented on #158
Okay, I see that an item was loaded on 20150521 to handle 10919/52378. That's  ~~the physics department annual report~~ "The interaction between a monolayer of single-molecule magnets and a metal surface -- by Barraza-Lopez" found in our "ingest/SimpleArchiveFormatBatchloads/20150521_10919_24287/item_1" directory. Looking at this, I again believe that it is the identifer.uri metadata that is incor

[2016-01-06 23:37] keithgee commented on #159
I've been looking at this, and I believe that the handles are correct and the identifier.uri metadata is incorrect.
I believe that it doesn't make sense to try to restore the database. The last updates that I see to these items were on 12/02 and 12/03 by @mello99, and on 12/09 by @amandafrench. That's long enough ago that we'd undo a lot of work if we restored the database to that point (if a back

[2016-01-07 00:17] keithgee commented on #159
@amandafrench your title says that items have the wrong files associated with them.
The last example in particular makes me think that it's not just the identifier.uri that's wrong, but the metadata is all scrambled up. So, in that last example, note that the file in the article matches the abstract metadata; it's the title metadata that's wrong.

[2016-01-07 00:25] amandafrench commented on #159
I think both of us used the batch metadata editing tool, yes. But here's a wrinkle: I located the unedited metadata export file on my hard drive from the College of Science from 12/9/15. Everything looks just fine in the spreadsheet: it has the correct handle listed in dc.identifier.uri for the accompanying metadata. So, for instance, http://hdl.handle.net/10919/47889  is associated with "Spectral

[2016-01-07 00:26] keithgee commented on #159
The suggestion above about writing a script to update the identifier.uri with the correct handle isn't a good idea anymore, I think. I misunderstood the problem, even with your title. I think that all items with the problem need to be identified, and that all of the metadata should be reviewed and corrected.

DSpace has a tool to update items - this may be useful as well.
@amandafrench thanks for

[2016-01-07 00:27] amandafrench commented on #159
And by the way @mello99 has lots of versions of those spreadsheets in that same folder.

[2016-01-07 00:32] keithgee commented on #159
@amandafrench why do you say that 47889 is the correct handle for h "Spectral density and magnetic susceptibility for the asymmetric degenerate Anderson model"

[2016-01-07 00:33] keithgee commented on #159
EDIT: wrong
~~I believe that 5937 is the correct handle for that item.~~

[2016-01-07 00:36] keithgee commented on #159
Perhaps not. I'm quite confused at the moment.

[2016-01-07 00:39] amandafrench commented on #159
I am too: :) That might have been a poor example: the record at http://vtechworks.lib.vt.edu/handle/10919/5937 lists _both_ those handles in the dc.identifier.uri field.

[2016-01-07 00:45] amandafrench commented on #159
So, okay, here's what I mean by saying the spreadsheets look correct. http://hdl.handle.net/10919/48016, according to the spreadsheet, should go to an article called "Santini, P., et al., "The evolution of the dust and gas content in galaxies," A&A 562, A30 (2014). DOI: 10.1051/0004-6361/201322835." Naturally it doesn't at the moment, but if you do go to that handle the _file_ is of that article.

[2016-01-07 00:48] amandafrench commented on #159
So essentially the handles are pointing to the correct bitstreams but the wrong metadata records.

[2016-01-07 00:49] amandafrench commented on #159
Okay, I'm going home now and letting my poor cold cats in.

AF Edit 1/8/16: Cats were indeed cold, but otherwise fine. They refused to go outside the next morning, though.

[2016-01-07 01:17] mello99 commented on #159
Okay @amandafrench  , @alawvt , and @keithgee , after looking through the spreadsheets I think I found where I completely, utterly, and totally screwed up. I moved the handles to the "dc.identifier.uri[en_US]" field instead of the "dc.identifier.uri" field (no encoding), which is probably the source of the error. Also, DSpace has not fully reindexed the old spreadsheet that was uploaded this after

[2016-01-07 01:32] keithgee commented on #159
No worries, @mello99. We'll find a way to fix everything soon. Just make a note of where the spreadsheet is that has the _most_ correct information so that we can work on it tomorrow. No need to spend anymore time on it tonight!

Thanks for letting us know what happened! That's awesome and will let us get things back to normal.

[2016-01-07 01:42] amandafrench commented on #159
Yes, no worries, @mello99 -- much better to be a hard worker who makes mistakes sometimes than be someone who never does anything! This could easily have been (and still might prove to have been) me. I committed one or two howlers with the THATCamp user database in my time, believe me.

One thing, though: it's the _entire_ metadata record that seems to be incorrect in relation to the files, not ju

[2016-01-07 02:50] keithgee commented on #159
@amandafrench, I see what you're saying about it being not just identifier.uri. It's inconsistent now. Sometimes some of the metadata is correct - authors for example. Sometimes tonight when I've looked the abstract is correct and title is wrong. Other times it is the opposite. I'm not sure if it was this way when I started looking at things or if it's changed.
We'll fix this all tomorrow. Please,

[2016-01-07 02:53] keithgee commented on #159
@mello99  I still see updates happening but I don't know how to contact you.

[2016-01-07 02:57] keithgee commented on #159
And sorry - I should have made it clear earlier that it might be best not to change a lot on the system right now until it's back to normal, including work on other communities and collections.

[2016-01-07 03:03] keithgee commented on #159
And @amandafrench , @mello99 has also placed a very large PDF file in that metadata directory that shows which metadata was added/deleted on the 12/03 batch change. Very useful to have, especially if it matches the current state of the system.

[2016-01-07 03:07] mello99 commented on #159
Sorry @keithgee , I was uploading batches of 50 items apiece because DSpace will index those automatically (we don't have to wait a day, or 2 days, etc.). I got up to 500 out of the 991, so 500 items in the College of Science collection are correct, but I will stop uploading now (let me know if you want me to restart). Thanks so much for your help, and thank you, @amandafrench , for your spot-chec

[2016-01-07 03:10] keithgee commented on #159
@mello99 is it fixing them? If you still see this call me at xxx-xxx-xxxx

[2016-01-07 03:10] mello99 commented on #159
Yes, it's fixing them. Still want me to call you?

[2016-01-07 03:10] keithgee commented on #159
yes

[2016-01-07 03:12] mello99 commented on #159
Here's one of the spreadsheets -
[10919-5553_35584_34167.csv.zip](https://github.com/VTUL/vtechworks/files/80684/10919-5553_35584_34167.csv.zip)

[2016-01-07 03:33] keithgee commented on #159
@mello99 demonstrated that her upload of 50 items at a time from the spreadsheet that she originally downloaded on December 2 is fixing things. Included so far is the item Amanda mentioned at http://vtechworks.lib.vt.edu/handle/10919/5937.

She will handle corrections for this problem, and please nobody will change anything on production while she is working on it, especially me!

[2016-01-07 03:35] keithgee commented on #158
@mello99 is handling this issue by uploading 50 items at a time from a metadata spreadsheet that she downloaded from the collection on December 02 to restore them to the original state.
Thanks @mello99!

[2016-01-07 05:21] mello99 commented on #159
I went back and uploaded all of the items, 50 per spreadsheet. I'm still having trouble with the first 50 items, which include many articles from the Dept. of Chemistry; for some reason DSpace isn't processing the changes. I'll try uploading a smaller batch (less than 50) and see what happens. The other content, beyond the Dept. of Chemistry articles, looks consistent now.

[2016-01-07 05:31] mello99 commented on #159
Okay, now some of the uploads aren't taking, for some reason. I think that most of the files are okay except for several in the Dept. of Chemistry and Dept. of Physics collections, but I'm exhausted and need to get some sleep. I don't specifically know what's going on; I just know that I don't have the energy to upload each of the ~990 files one-by-one in one evening. It would be super if I could

[2016-01-07 05:54] mello99 commented on #159
This item is a mess - http://hdl.handle.net/10919/24398. I've reuploaded the metadata for the metadata (very meta, I know) and the metadata for the file, and yet there's still this discrepancy. Hopefully all will be well when Tomcat restarts (fingers crossed). At least Dr. Merola's articles are correctly synchronized.

KG Edit: This one looks good as of 7AM January 7

[2016-01-07 11:33] keithgee commented on #159
Sleep is definitely important! I was wondering, too, just how many uploads would be required to fix all of the items. That's a lot of work!

If this still seems to be working, maybe we can split this work up - if you trust us - and/or try slightly larger uploads. I like this method because it seems successful so far.
As of 6 A.M., Both solr and the VTechWorks xmlui have been restarted. @mello99, t

[2016-01-07 13:18] alawvt commented on #158
This was the metadata for that item uploaded 2015-05-21

`<?xml version="1.0" encoding="UTF-8"?><dublin_core><dcvalue element="title">The interaction between a monolayer of single-molecule magnets and a metal surface</dcvalue><dcvalue element="identifier" qualifier="doi">http://dx.doi.org/10.1063/1.2830014</dcvalue><dcvalue element="identifier" qualifier="url">http://scitation.aip.org/content/aip/

[2016-01-07 18:02] AmberPoo1 commented on #157
A new spreadsheet named "Dspace_5.4_Dec.1_Testing" is created in Google Driver/VTechWorks Team/Testing for this testing.

[2016-01-07 19:16] alawvt commented on #101
Reference: NDLTD ETD-MS v. 1.1 metadata schema, http://www.ndltd.org/standards/metadata.

[2016-01-07 19:31] amandafrench commented on #156
This probably is related to mozkit stuff in CSS: not sure all browsers support it.

[2016-01-07 19:36] amandafrench commented on #158
Going to close this issue: we'll handle and track it in #159. Thanks for all the investigation, everyone!

[2016-01-07 19:36] #158 closed, assigned to mello99

[2016-01-07 19:46] AmberPoo1 commented on #156
I tested our "word-break" css style in "_style.scss", the full item view won't have content overflow problem if I get rid of this css class. So our word-break do support Firefox, but has problems in other browsers.maybe we still need to improve our workd-break class for multiple browsers support in the future.

[2016-01-07 20:47] AmberPoo1 commented on #157
@alawvt , I have tested all of the changes except this case:  #126 Biomed central doi to identifier doi.
Thanks.

[2016-01-08 16:41] amandafrench opened #161 "7 items in College of Science don't have attached files"
See recent items at http://vtechworks.lib.vt.edu/handle/10919/5553

Example: http://vtechworks.lib.vt.edu/handle/10919/64239 Says it was deposited 11/29/15 but doesn't say who by. Item ID 74417,

[2016-01-08 16:42] amandafrench commented on #161
See also http://vtechworks.lib.vt.edu/handle/10919/64238 in College of ENgineering - these might be related to #159, but maybe not.

[2016-01-08 16:43] amandafrench commented on #161
Also one in CLAHS: http://vtechworks.lib.vt.edu/handle/10919/64232

[2016-01-08 17:02] amandafrench commented on #161
By the way, you don't need to work on this until Monday, @keithgee.

[2016-01-08 17:42] #152 closed, assigned to AmberPoo1

[2016-01-08 21:35] alawvt commented on #159
I tried changing the handles of a couple items in my local vm from the dc.identifier.uri field to  the field dc.identifier.uri[en_US] both manually and with the metadata upload tool. This did not mess up the handle or metadata, so I don't think that was the cause of this issue. I do recall that @mello99 reported that metadata upload tool seemed to hang sometimes on large spreadsheets. I wonder if

[2016-01-09 02:29] keithgee commented on #159
@alawvt, no I don't think that caused the issue, either. When we looked at the oldest csv file that we had for these items, the "id" column ( the leftmost column) was incorrect for several items. (EDIT KG: Or, if the id column was correct, at least some of the other metadata didn't match the metadata for that id) That explains why the metadata and the items(with the corresponding bitstreams) were

[2016-01-09 02:58] keithgee opened #162 "VTechWorks database connection error - slots reserved for superuser connections"
There's an intermittent database related error in VTechWorks that seems to have started happening today. It's hard to reproduce because it's intermittent. I will open a TeamDynamix issue, because it may mean that Tomcat or the database needs to be restarted, and possibly the Postgres configuration tuned.

ERROR org.dspace.storage.rdbms.DatabaseManager @ SQL getDataSource Error -
java.sql.SQLExcept

[2016-01-09 03:00] mello99 commented on #159
I didn't batch-load a single thing! All I'm doing is looking at each of the
items in DSpace and noting whether each item's metadata and associated
files match up - I'm not going near the batch-uploading tool with a 10-foot
pole! I really hope we can get to the bottom of this and that it doesn't
remain a mystery like the 47 phantom items in the VCE collection.
On Jan 6, 2016 9:50 PM, "keithgee" <no

[2016-01-09 03:04] mello99 commented on #159
So sorry for the previous comment; I accidentally responded to Keith's comment from 2 nights ago, lol. Thanks, @keithgee and @alawvt  for your warm words and for continuing to work on this. @keithgee , please try to enjoy your weekend! Thank you!

[2016-01-09 03:10] keithgee commented on #162
I opened TeamDynamix request 1248760. I think I opened it in the "don't page anybody on Friday night just to fix this" queue.

[2016-01-09 03:24] kayiwa commented on #162
restarted the postgres DB server. Let me know if this persists. Nagios had been reporting this for a while but I was ignoring it until I saw your report. I planned to kick it back on my AM checkups.
<img width="864" alt="screen shot 2016-01-08 at 10 22 46 pm" src="https://cloud.githubusercontent.com/assets/685884/12214125/8a8214c2-b656-11e5-8642-aae3b103a466.png">

[2016-01-09 03:58] mello99 commented on #161
The plot really thickens here, @amandafrench and @keithgee .

Those items that have missing files? Those are Web of Science items that I uploaded on November 28, 2015.

I initially thought that I'd goofed and uploaded only the spreadsheets without uploading the associated files, but that doesn't appear to be the case. If you look at the attached ZIP file, you'll see the spreadsheets that I created

[2016-01-09 04:10] mello99 commented on #162
You're probably aware of this, but the Handle server is down. Apologies if this is redundant information; I just wasn't sure if this was part and parcel of the restart process. Thanks so much everyone.

[2016-01-09 06:38] mello99 opened #163 "Can we accept new VTW submissions? (not sure how much to avoid meddling with DSpace)"
Hi @keithgee , I know we want to limit our activities with VTechWorks during this sensitive time, but is it permissible to accept items that faculty, staff, and students have submitted to VTechWorks? These items (well, just one item) are waiting in the submission queue for approval. I just wasn't sure if I should wait or not.

Also, can we create individual uploads via the web form (NO spreadsheet

[2016-01-09 08:58] keithgee commented on #161
Yes, that's helpful Melissa!

[2016-01-09 09:36] keithgee commented on #161
The very first item id that Amanda has given, 74417, does appear in the CSV file that's in our "Metadata" directory. But the row only has some of that metadata. There was a suggestion by @alawvt that some of these large files might be parsed incorrectly.

[2016-01-09 11:41] keithgee commented on #161
@mello99, I looked at the log file from November 28 2015, which was the Saturday of Thanksgiving weekend. It looks to me like you may have uploaded these items twice.

I looked at the first and last example you gave in your comment. In each case, there are currently three items with the title.
1. An item with the correct file attached, created at 4:53PM
   [I think you want to save these]
2. An it

[2016-01-09 15:53] mello99 commented on #161
I'll go ahead and delete the items with no files, but I SWEAR I didn't go back and reupload everything after getting a successful upload message (see the attached ZIP file for the import maps).

Maybe I uploaded the items a second time after getting an UNSUCCESSFUL upload message, or a blank screen altogether (that happens sometimes - I don't get notified that the items have been successfully uplo

[2016-01-09 16:58] mello99 commented on #161
@keithgee , if you have time, could you look at my VTechWorks submissions page sometime next week? I ask because I noticed that one of the items that was uploaded on 11/28 was NOT reuploaded on 11/29, despite the fact that the 3 other items on the same spreadsheet WERE reuploaded on 11/29. I have no idea what happened.

[2016-01-11 07:02] mello99 commented on #159
Okay, so I've been looking through the 12/02/2015 College of Engineering spreadsheet for mismatches between files and metadata, as well as any other issues that might crop up. Of the 990 items in the College of Science collection, I've gone through (one-by-one) 740.

49 items, thus far, are flat out mismatches (see the last column, column I, on the spreadsheet for the "Notes" field). 7 items were

[2016-01-11 11:18] keithgee commented on #162
Thanks @kayiwa. This hasn't happened again after you restarted the database server on Friday. Closing.

[2016-01-11 11:18] #162 closed, assigned to nobody

[2016-01-11 14:43] keithgee commented on #159
I'm using this information to restore metadata, starting with the third row in your table (you had questions about the first two), to get a feel for how long this strategy will take. I'm doing this based on the item id, because "identifier.uri" is metadata and not reliable in our scenario.
Remind me at the stand-up, @mello99, to address your other questions either then or afterward.

[2016-01-11 16:34] alawvt commented on #159
Our procedure, "Editing metadata with Batch Metadata Editing tool," https://redmine.lib.vt.edu/projects/vtw_content_acquire_ingest/wiki/Editing_metadata_with_Batch_Metadata_Editing_tool#section-5, includes downloading and saving the metadata for a community or collection before a metadata change and saving the spreadsheet of changes. I included a warning about DSpace's sometimes failure to confirm

[2016-01-11 17:59] keithgee commented on #161
The duplicates were deleted by @mello99. I'm closing this issue per our discussion at the stand-up meeting.
Closing.

[2016-01-11 17:59] #161 closed, assigned to keithgee

[2016-01-11 18:03] keithgee commented on #159
@mello99 metadata for the items you identified as problematic in your spreadsheet attachment (except for the first two rows) was restored according to the copy of the database I have from November 11. Most are correct now but I think that just a few had incorrect or less than great metadata before that date.

Let me know if these corrections seem fine, and also let me know the remaining items that

[2016-01-11 19:28] keithgee commented on #163
Melissa, that's up to you. Last week Amanda was exploring, with Francis and Aaron, the option of reverting the database and file system to an earlier date, which as a side-effect would cause new work to be lost.

I feel like we're cleaning everything up without needing to do that, so if you want to accept or add new items and can still keep track of everything, that's fine with me.
Closing.

[2016-01-11 19:28] #163 closed, assigned to keithgee

[2016-01-11 21:13] amandafrench commented on #163
Yes, @mello99 & @keithgee, we can accept new items -- they'll be fine. Agree that we're cleaning it up without needing to roll back the database, so new work will be fine.

[2016-01-12 18:40] mello99 commented on #159
Hi @keithgee , thanks so much for doing the database operation and correcting the bulk of the problematic records. Of the 49 problematic records, 45 have been corrected. Of those 45 records, 3 have minor metadata issues like misspellings that I can easily correct myself.

4 records, however, still have incorrect or missing files. The wrong files were probably uploaded a while back (and, regarding

[2016-01-12 20:15] alawvt commented on #157
@amandafrench, we have tested the changes on vtechworks.dev. You can request that it be deployed to vtechworks.pprd.

[2016-01-12 20:32] keithgee commented on #159
@mello99, I just looked at the 4 items you listed as incorrect in the spreadsheet. This time I went all the way back to our June 16 2015 dump of the database, and the metadata and the files listed are the same as they are now. So, whatever is wrong with them isn't caused by our recent issue!

I'm not sure if you want to adjust the metadata to match the files or the files to adjust the metadata, bu

[2016-01-12 20:40] alawvt commented on #159
The record of the Cairns batch load is in gateway1 VTechWorks/SAF_batchloads/2015_SAF_Batchload_Progress.xls, sheet 2013-2014. The batch is on gateway1 VTechWorks/SAF_batchloads/20131219_10919_24381/.

[2016-01-12 20:59] #102 closed

[2016-01-13 20:09] #101 closed

[2016-01-14 16:38] mello99 commented on #159
Okay, @alawvt and @keithgee , I've uploaded the original Cairns spreadsheet to GitHub (see below).

One of the outstanding 4 items, "Eco-Ethics and Sustainability Ethics", http://hdl.handle.net/10919/25051, does not have a file because the filename was incorrectly entered in the original CSV (the file was named "cairns_ecoethics_sustainability_ethicsecoethics_sustainability_ethics2.pdf" instead of

[2016-01-14 18:16] mello99 commented on #159
Fixed the 4 outstanding files: http://hdl.handle.net/10919/25015, http://hdl.handle.net/10919/25016, http://hdl.handle.net/10919/51701, and http://hdl.handle.net/10919/25051.

[2016-01-14 21:25] keithgee commented on #159
Great work finding and fixing that, @mello99 ! Now it's better than before! ;)

[2016-01-19 07:24] mello99 commented on #159
Okay, @amandafrench, @alawvt, and @keithgee,  based on Manuel's preliminary search of 100 College of Engineering items (out of 2,375), the College of Engineering community is a mess too (see the [Google Sheets](https://docs.google.com/a/vt.edu/spreadsheets/d/169BCgQ1ZX3v_SC6NBVvVi4IV4dyB2xwWbPkr9doTIFU/edit?usp=sharing) tracking document). Here's a [link to the College of Engineering spreadsheets]

[2016-01-19 19:48] amandafrench commented on #157
Will do!

[2016-01-19 21:06] amandafrench commented on #157
Have merged changes from dev_deploy branch into branch vt_5_x_pprd_deploy and have asked @kayiwa to deploy to pre-production.

[2016-01-19 21:17] kayiwa commented on #157
deployed this. Currently reindexing.

[2016-01-20 03:43] mello99 opened #164 "Incorrect metadata element in the "dcterms" registry ("dcterms.comformsTo")"
Hi all, while I was updating the metadata documentation to include elements from the "dcterms" namespace, I noticed that one of the "dcterms" elements is incorrectly entered in the DSpace Registry. To be specific, element 122, "dcterms.comformsTo", should be "dcterms.conformsTo" (http://purl.org/dc/terms/conformsTo). I've added "dcterms.conformsTo" (173) to DSpace's "dcterms" registry, but I've ye

[2016-01-20 13:14] alawvt commented on #164
@mello99, thank you for discovering and reporting this.

@AmberPoo1, please correct this in dspace/config/registries/dcterms-types.xml, ~line 95. Since it is incorrect in the main DSpace project, please submit a pull request there, as well.

[2016-01-20 13:16] alawvt commented on #157
@AmberPoo1, please review this on pprd.

[2016-01-20 17:57] mello99 commented on #164
Hi @alawvt , thanks for taking action on this!

[2016-01-20 21:47] mello99 opened #165 "DSpace can now upload large files (~ 5 GB)?"
When did this become possible? I remember a few weeks to a month ago that I couldn't upload anything larger than 2 GB, and I tried uploading files using more than one machine. @keithgee , do you know why this has happened? If you did something to make it happen, great work! Thanks, everyone.

[2016-01-21 21:12] alawvt commented on #164
@AmberPoo1, please contribute this to DSpace.

[2016-01-21 21:13] AmberPoo1 commented on #164
Have contributed this change to Core DSpace.
1. Relevant ticket in the DSpace Issue Tracker:
https://jira.duraspace.org/browse/DS-2998?filter=-2&jql=ORDER%20BY%20createdDate%20DESC
1. Add comments in the "metadata registries" parts of  both DSpace 5.x and 6.x documentation:
   https://wiki.duraspace.org/display/DSDOC5x/Metadata+and+Bitstream+Format+Registries
   https://wiki.duraspace.org/display/

[2016-01-24 21:03] mello99 opened #167 "Issue with VTW Login Page ("The file is restricted")"
Hi all, I signed-in to VTechWorks today (the snow is starting to melt, yay!) and noticed that the login page has changed. In short, the VTW login page read "The file is restricted" at the top, and displayed the boxes for one's username and password at the bottom (see image below). I'd like to note that I wasn't looking at another item when I decided to log-in and that I also cleared my browser cac

[2016-01-24 22:08] mello99 commented on #167
Ok, I'm going to close this issue because I logged-in again and didn't encounter this problem. I still think that DSpace is playing games with me, but perhaps I'd looked at that item the last time I logged-in. If someone else encounters this, we can re-open the issue.

[2016-01-24 22:08] #167 closed, assigned to nobody

[2016-01-25 06:18] mello99 commented on #159
Hi @amandafrench and @keithgee , attached is a spreadsheet that lists the items in the College of Engineering that were uploaded after November 1, 2015. There are only 7 items altogether; hopefully I didn't overlook anything. Let me know if you need any additional information. Thanks, talk to you soon.

[COE_NOV_1.csv.zip](https://github.com/VTUL/vtechworks/files/102822/COE_NOV_1.csv.zip)

[2016-01-25 16:56] keithgee commented on #159
Thanks, @mello99. I'll work on updating my method for restoring metadata to the old version so that it can work with an entire community or collection at once (except for the items you listed), instead of a single item at a time. If that works out, I'll also need to index VTechWorks, which will be done sometime in an evening or early morning. I feel like we might be able to wrap it up this week!

[2016-01-25 17:18] mello99 commented on #159
Hi @keithgee , thanks for looking this over. In accordance with Amanda's instructions during our standup conversation, I'm going to say that the COE community is ready to be rolled back. Thanks for your hard work, and take care.

[2016-01-25 20:23] AmberPoo1 opened #168 "Enable html in title in the search view"
Html has been enabled in the simple/full item view. In the search results, It is hard to enable html in the abstract field (The content of this filed may come from different sources, e.g., from the metadata filed "abstract", like item "Enable HTML in all fields, <i>e.g., abstract, title and subject</i> "; or from the content of attached files, like item "XML for ETDs"). But at least we can enable

[2016-01-25 20:39] amandafrench commented on #164
Thanks, @AmberPoo1! And @mello99!

[2016-01-25 20:39] #164 closed, assigned to AmberPoo1

[2016-01-25 20:43] amandafrench commented on #167
Hi @mello99 -- yes, weird. If the above screenshot had the URL in it we might be able to troubleshoot more: are you certain you were on the page https://vtechworks.lib.vt.edu/password-login ? So far on all three servers it seems to be okay.

But I too have sometimes had weird issues with being redirected to the thumbnail after logging in or re-logging in on an item page -- not sure why I haven't r

[2016-01-25 20:45] amandafrench commented on #165
Assigning @keithgee just to answer the question, really, not to do anything about it.

[2016-01-25 20:46] alawvt commented on #167
I have experienced the thumbnail issue, too. I'll try to document it when it occurs next.

[2016-01-25 20:49] AmberPoo1 commented on #157
@alawvt, I have finished the test on pprd. The test report is in Google Driver/VTechWorks Team/Testing/Dspace_5.4_Dec.1_Testing.

[2016-01-25 22:29] amandafrench commented on #156
Note too that this issue is related to #18, which alters the word-break class. It's not really very high priority, but you can work on it if you like, @AmberPoo1. It's definitely a good thing to contribute to Mirage2 if you can get it sorted.

[2016-01-25 22:44] keithgee commented on #167
I've also seen this, going way back to work at OhioLink from 2007-2009. It seems to be triggered by thumbnails with access restrictions (though it's still a bug).

[2016-01-25 23:25] keithgee commented on #159
I'm working on this now. I've restored metadata for the College of Engineering to the November 11 state. I'll start re-indexing of solr search/browse/item counts soon. In the course of working on this, I see that I have wiped out metadata for item 74700 ( https://vtechworks.lib.vt.edu/handle/10919/64499). This item was uploaded to the College of Engineering today, and thus wasn't accounted for in

[2016-01-25 23:38] keithgee opened #169 "Item not displaying; files and metadata exist"
The item at https://vtechworks.lib.vt.edu/handle/10919/23898 is not displaying properly, even though the files and metadata exist.

[2016-01-26 00:07] mello99 commented on #159
Ok, the only issue that I've encountered with the metadata thus far is that the following item - http://hdl.handle.net/10919/64499 - has been mapped to the Event Capture collection, but it doesn't appear in the recent list of items uploaded to the Event Capture collection. This is the Schnabel Engineering Lecture item that I uploaded today and whose metadata was erased (it's since been re-done). I

[2016-01-26 00:09] keithgee commented on #159
@mello99 it is re-indexing now. I've discovered a mistake I made. I accidentally typed '74839' instead of '74389 in one place in a list of the 7 item ids to preserve. I should have used copy/paste. So let me know if I need to restore metadata for the item at http://hdl.handle.net/10919/64211, or if you can handle it. Sorry!

[2016-01-26 00:16] keithgee commented on #159
Thanks for checking. I am hoping that the re-indexing will also make the item appear in Event Capture. It may take most of the night for re-indexing to finish. Also, I opened a separate issue #169 for the first item on Manuel's preliminary search - it looks to be a different, display-related problem.

[2016-01-26 00:25] mello99 commented on #159
If it wouldn't be too onerous for you to restore the metadata for https://vtechworks.lib.vt.edu/handle/10919/64211, that would be wonderful. Please let me know how long that will take you; if it's too long, I'll do it (it'll take me around 15 minutes).

[2016-01-26 11:15] keithgee commented on #159
- http://hdl.handle.net/10919/64499, the item that was added yesterday and not on the "preserve" list, _was_ displaying in Event Capture, but at the bottom of the recently submitted list instead of the top. I added dc.date.issued and dc.date.accessioned fields to fix this problem. (They're added automatically by DSpace on item submission). So that issue you found is fixed.
- https://vtechworks.lib

[2016-01-26 16:07] alawvt commented on #157
@AmberPoo1, thank you for testing on pprd.

@amandafrench, you can request that it be deployed to production.

[2016-01-26 16:14] amandafrench commented on #159
Let's call it done! Closing. Thanks, everyone.

[2016-01-26 16:14] #159 closed, assigned to amandafrench

[2016-01-26 16:15] amandafrench commented on #157
Will do!

[2016-01-26 21:47] alawvt opened #170 "Item contains an invalid XML file"
ETD https://vtechworks.lib.vt.edu/handle/10919/25142 contains a supporting bitstream, https://vtechworks.lib.vt.edu/bitstream/handle/10919/25142/Deshpande_SG_D_2014_support_3.xml?sequence=2&isAllowed=y, that is a malformed XML file. When one clicks on it in Firefox, it yields the error,

![malformedxml](https://cloud.githubusercontent.com/assets/13037168/12595936/d6f7a71a-c44b-11e5-9133-1460647e0d

[2016-01-27 15:00] alawvt commented on #157
@AmberPoo1, please wait to test; there seems to be an issue.

[2016-01-28 14:12] amandafrench commented on #157
Some of the changes seem not to have made it from pre-production to production, notably the Creative Commons license changes in the submission process and the text on the login page (and presumably other pages where messages.xml was changed). See for instance http://vtechworks.pprd.lib.vt.edu/password-login versus http://vtechworks.lib.vt.edu/password-login. Not sure why -- when I get back to my d

[2016-01-28 15:31] keithgee commented on #157
I'm wondering if the code for #120 was supposed to be deployed, too. I don't see it on production in /dspace/config/crosswalks/sword-swap-ingest.xsl.

The change is in a config directory, by the way, as are other changes you've mentioned. This may be a conversation with @kayiwa  to resolve as part of the production deployment process.

[2016-01-28 16:40] alawvt commented on #155
I just had the same experience. I received notice of an OMALS submission and the screen was blank.
![nometadatasubmission](https://cloud.githubusercontent.com/assets/13037168/12650827/550106bc-c5b2-11e5-820e-c6ae8e36902a.png)

I could see the metadata by clicking on "Edit metadata."
![nometadatasubmissionfilemetadata](https://cloud.githubusercontent.com/assets/13037168/12651148/6b50ed0a-c5b3-11e5-

[2016-01-28 16:49] alawvt commented on #155
I approved the submission and it appears in the collection with file description, which is ok.

![nometadatasubmissionafterupload](https://cloud.githubusercontent.com/assets/13037168/12651530/f0bfa11a-c5b4-11e5-9d7d-2539c11506ca.png)

When I click on the file, there is another error.
![nometadatasubmissionafteruploaderror](https://cloud.githubusercontent.com/assets/13037168/12651566/09fc3904-c5b5-

[2016-01-28 16:51] AmberPoo1 commented on #127
This change has been submitted to DSpace core project.
The ticket on the DSpace Issue Tracker: https://jira.duraspace.org/browse/DS-3006
Pull request was created in the github/DSpace core project: https://github.com/DSpace/DSpace/pull/1250

Didn't find the relevant page on the DSpace wiki, so I didn't add new comments in the wiki.

[2016-01-28 17:20] amandafrench commented on #169
I looked this up on the Wayback Machine, and it was functioning fine BOTH on September 10th 2015 (before the video playback feature in https://github.com/VTUL/vtechworks/issues/31 was reimplemented) AND on September 26th, after the video playback feature was enabled. See https://web.archive.org/web/*/https://vtechworks.lib.vt.edu/handle/10919/23898. So at least we've narrowed it to something that

[2016-01-28 18:20] amandafrench commented on #99
See for instance https://jira.duraspace.org/projects/DS/issues/DS-2998 ! Nice work, @mello99 and @AmberPoo1! Let's start a habit of contributing to DSpace core.

[2016-01-28 18:20] #99 closed

[2016-01-28 18:20] #127 closed

[2016-01-28 18:24] amandafrench commented on #146
Marking this to revisit later. Have entered in backlog.

[2016-01-28 18:43] amandafrench commented on #147
The task to create the mockups and metadata definitions is done: now we just have to create the moving image item custom submission form! Will consider doing that next sprint.

[2016-01-28 19:26] alawvt commented on #169
The full item was recorded once in the Internet Archive on 2015-12-22, https://web.archive.org/web/20151222105653/http://vtechworks.lib.vt.edu/handle/10919/23898?show=full, with no metadata displayed.

[2016-01-28 19:26] alawvt commented on #169
The metadata is all in the `<head>`,

[code]

and appears in the export of the metadata for the collection.

[2016-01-28 20:38] keithgee commented on #157
Great release notes @amandafrench !

[2016-01-28 21:41] amandafrench commented on #157
This was totes my fault -- I merged all the changes into the prod branch properly and then FORGOT TO PUSH. Ugh. Francis deployed the previously deployed prod_deploy branch!! Have updated the documentation, though, to remind me to push, and @kayiwa has deployed the updated prod_deploy branch to production. Ready for testing -- assigning to @AmberPoo1.

[2016-01-29 16:13] AmberPoo1 commented on #155
Found the similar problem when doing the "Test latest changes on vtechworks.vt.edu since Dec. 1. ". I created an test item, no content shows when click on the "show full item record" or "show simple item record".
![screen shot 2016-01-29 at 11 09 39 am](https://cloud.githubusercontent.com/assets/13734326/12680659/0c7c99c0-c679-11e5-8431-12950b1fe985.png)

[2016-01-29 16:37] AmberPoo1 commented on #157
I have tested the latest changes on vtechworks.vt.edu since Dec. 1.

[2016-01-29 16:57] amandafrench commented on #157
Great! @AmberPoo1, are you recording test results anywhere? Also, I'm not sure that the "request a copy" configuration is working as it should: I think it is allowing access to restricted material to logged-in users.

When I test access to restricted items such as http://vtechworks.lib.vt.edu/handle/10919/53688 with hide.me, it does ask users to log in at the item record, but then if I do log in,

[2016-01-29 17:59] amandafrench commented on #157
Okay, @alawvt and @AmberPoo1, I've tested by logging in with my non-admin account on a proxy server, and when I do I'm still getting the request form for the above item.

[2016-01-29 18:18] alawvt commented on #157
The test results are on Google Driver/VTechWorks Team/Testing/Dspace_5.4_Dec.1_Testing.
I have added a reminder to check the BioMed Central collection for new submissions. @amandafrench will ask @kayiwa to add the request-a-document config change manually.

[2016-02-01 19:53] mello99 opened #173 "Custom Submission Form - Audiovisual Resources"
Hi @AmberPoo1 , during our recent sprint planning meeting @amandafrench discussed giving you the task of creating a custom submission form for audiovisual materials (videos, for the most part). The mockup of the form is in the [custom submissions folder on Google Drive](https://drive.google.com/open?id=0B0VhWgQOPYz8U2dhYlctSHFNbkk) - it's entitled [Moving_Image_Sub_Mockup_V1.pdf](https://drive.goo

[2016-02-01 21:26] alawvt commented on #173
This will be a modification of the default "traditional" submission form with a "type-bind" for moving image. The submitter will see all the default submission form questions on the first page. It they select type=moving image, then they will see questions specific to moving images on the next page(s).

[2016-02-01 21:28] amandafrench commented on #147
We can use these documents for the moving image submission form, although @mello99 may have to specify which dc.terms elements the form fields in the mockup refer to.

[2016-02-01 21:45] amandafrench commented on #173
See also #147

[2016-02-01 22:13] amandafrench commented on #170
Noted in the backlog: closing for now.

[2016-02-01 22:13] #170 closed, assigned to nobody

[2016-02-01 22:14] amandafrench commented on #169
Will leave this open since it's a bug: don't want to close it and forget about it. But won't assign anyone to it for now.

[2016-02-01 22:32] amandafrench commented on #168
This is finished and deployed, correct? Closing, but reopen, @AmberPoo1, if I'm wrong.

[2016-02-01 22:33] amandafrench commented on #165
Maybe ask @keithgee this question on Wed at the standup, @mello99.

[2016-02-01 22:33] #165 closed, assigned to nobody

[2016-02-01 22:34] amandafrench commented on #157
Thanks for the testing doc -- I thought that spreadsheet was just the point upgrade test sheet! Closed; I'm holding off on asking @kayiwa to deploy dspace.cfg until we get the GitLab process set up.

[2016-02-01 22:34] #157 closed, assigned to amandafrench

[2016-02-01 22:36] amandafrench opened #174 "Add Sherpa/Romeo Authority Controls to Journal Title field so that users can find policies by journal title"
See documentation at https://wiki.duraspace.org/display/DSPACE/Authority+Control+of+Metadata+Values

[2016-02-01 22:38] amandafrench opened #175 "Make "get help" more prominent on home page"
Even just by adding bold, if possible. Other creative solutions welcome! That text is controlled by ./dspace/config/news-xmlui.xml .

[2016-02-01 22:43] amandafrench opened #176 "Pilot deposit of VTechWorks content into DPN via DuraCloud"
More of a project than an issue, but will track here.

[2016-02-01 22:43] amandafrench opened #177 "Create test plan for Elements"

[2016-02-01 22:45] amandafrench opened #178 "Finish testing Elements"
and find problems.

[2016-02-01 22:45] amandafrench opened #179 "Set up automatic install of Elements module on development server"
with @kayiwa

[2016-02-01 22:45] keithgee commented on #176
It seems that DPN leadership is suggesting we use APTrust to do DPN deposits, so I will start by doing one test deposit of one file and then we'll go from there.

[2016-02-01 22:47] amandafrench opened #180 "Write instructions for using compression / webm scripts (in README)"

[2016-02-01 22:49] keithgee commented on #180
There's a very bad first pass at this in GitLab. I just wanted to get something up fast.
https://git.it.vt.edu/vtkeithg/VTechWorks-scripts/blob/master/event_capture/readme.txt

[2016-02-01 23:00] amandafrench opened #181 "Implement Altmetrics badges"
For documentation, see the following pages:
-  http://www.altmetric.com/products/free-tools/institutional-repository-badges/
- https://help.altmetric.com/support/solutions/articles/6000086842-getting-started-with-altmetric-on-your-journal-or-institutional-repository
- http://api.altmetric.com/embeds.html

I have already written altmetric to let them know to start tracking us once we add the embed

[2016-02-01 23:05] amandafrench commented on #151
By the way, I decided not to assign the Browse by Technical Report issue yet: we've given @AmberPoo1 plenty to do. Ditto regarding Kb vs. KB issue! Those are in the backlog if she runs out of things to do.

[2016-02-01 23:48] mello99 commented on #173
Hi @AmberPoo1 and @alawvt , I've created a mapping from the MovingImage Submission Form elements to the DSpace (Dublin Core) elements; [it can be found in Google Drive](https://drive.google.com/open?id=1WK4kKDcRLghNQihKFHfJSBWzzRUe0G9l839cef2F1mw) (in both the "Metadata" and "Custom Submission Forms" folders). Feel free to ask questions or make comments, and take care.

[2016-02-02 01:22] AmberPoo1 commented on #168
@amandafrench, title in the search view hasn't been enabled yet. Html is enabled in browser view and item view.

[2016-02-02 13:59] alawvt commented on #105
@amandafrench, will all these fields remain on the default submission form? Will they all be on one page? Knowing this would help me set up the moving image fields for @AmberPoo1.

[2016-02-02 16:06] amandafrench opened #182 "Test emu sprint changes"
The emu sprint changes (from January) have been deployed to development by the intrepid @kayiwa. Please test. I drafted release notes at https://github.com/VTUL/vtechworks/releases, though since they're just a draft I'm not sure if you can see them. Let me know if it would be helpful to publish them, though I'm inclined not to until they go to production.

[2016-02-02 17:51] amandafrench opened #183 "Fix Sherpa/Romeo gray.submission error and contribute to DSpace"
When a journal's policies are unknown to SHERPA / RoMEO, the Mirage2 theme classifies it as "gray." However, there are no gray messages in messages.xml and no gray class defined in the Mirage2 CSS. Good candidate for contributing to DSpace core when fixed.

[2016-02-02 18:28] #147 closed

[2016-02-02 18:30] amandafrench commented on #105
As per this morning's standup, we'll review the default submission forms together in a separate meeting. I do want to remove some (Subject Categories and Other Description at the very least) and combine them onto one page: I think we're agreed on that.

[2016-02-02 18:42] alawvt commented on #173
@mello99, thank you for the mapping.

@AmberPoo1, we will wait to implement this until after the default custom submission form issue and the Sherpa Romeo issue are resolved..

I have added the mapping to the MovingImageCustomSubmissionForm "form fields" sheet. I have separated out the fields that would be in the default section of the form with those that are moving image specific. I have added c

[2016-02-02 19:42] alawvt commented on #105
**New default submission form**

**dc.type**
Label: Item Type
Hint: Select the type(s) of content you are depositing. To select more than one value in the list, you may have to hold down the "CTRL" or "Shift" key. Examples: Article, Learning Object, Video Recording and Presentation.

Modify common_types value-pairs list (remove others)
- Audio recording
- Article
- Book
- Book chapter
- Dataset
-

[2016-02-02 20:15] mello99 opened #185 "Metadata guidelines PDF"
Hi @alawvt and @amandafrench , attached is a new PDF of the metadata guidelines. If I publish the guidelines as a PDF via Google Drive, Google Drive automatically formats the PDF, so there's not much I can do. If I export the PDF, then add it to the web and link to it, I can make some changes. The thing is, I'm not sure which changes you'd like me to make; the chart is quite large, so it won't loo

[2016-02-02 20:19] alawvt commented on #185
@mello99, that's so much easier to read --thank you!

[2016-02-03 18:42] alawvt commented on #182
I have tested these changes on vtechworks.dev. The testing spreadsheet is in Google Drive/VTechWorks Team/Testing/Dspace_5.4_Jan_7_Feb_1_Emu_Testing.

@amandafrench, you can deploy it to pprd.

[2016-02-03 19:52] alawvt commented on #174
Notes from https://wiki.duraspace.org/display/DSPACE/Authority+Control+of+Metadata+Values#AuthorityControlofMetadataValues-ConfigurationProperties,

In dspace.cfg,

un-comment [ChoiceAuthority Plugin](https://wiki.duraspace.org/display/DSPACE/Authority+Control+of+Metadata+Values#AuthorityControlofMetadataValues-ChoiceAuthorityPlugins)

[code]

[Select the choice plugin](https://wiki.duraspace.org/

[2016-02-04 18:45] alawvt opened #186 "In the submission form, remove the colon after the label"
In the submission forms, remove the colon after the label, for example, `Date of Issue` instead of `Date of Issue:`

[2016-02-04 18:47] alawvt opened #187 "In the submission form, make the asterisk for a required field red"
In the submission forms, make the asterisk for a required field red, for example, `Title*`

[2016-02-04 19:04] alawvt opened #188 "In the submission form, change the messages for the name and series input-types"
In the submission forms, change the messages for the name input-type.

name – Personal name, with separate fields for family name and first name. When saved they are appended in the format 'LastName, FirstName'

current messages are

Left box: Last name, _e.g. Smith_
Right box: First name(s) + "Jr", _e.g. Donald Jr_

change messages to

Left box: Last name, _e.g., Kennedy_
Right box: First name(s)

[2016-02-04 19:43] alawvt commented on #105
@mello99 and @amandafrench, it would be great if you could compare my notes above to yours and edit, as needed.

[2016-02-04 19:48] alawvt opened #189 "Check the status on vtechworks.lib.vt.edu for requesting a document"
Please check the latest configuration.

[2016-02-04 19:49] alawvt commented on #182
@AmberPoo1, please test these changes on vtechworks.pprd.vt.edu.

[2016-02-04 19:58] amandafrench commented on #188
New one for the first name (right box) should be as follows:

`First name(s) and Middle Initial(s), e.g., John F. Jr.`

Italics are fine, but not essential -- either way. Otherwise looks good. I know it doesn't make sense, but it's approved practice. :)  Right, @mello99?

[2016-02-04 20:03] mello99 commented on #188
Yes, that's how we want things to look. Just to add, there's often a comma inserted between the middle initial and the name suffix. For example, if you look at William F. Buckley, Jr.'s entry in [VIAF](http://viaf.org/viaf/73943799), there's a comma. Same with [Cuba Gooding, Jr.](http://viaf.org/viaf/85825053), [Martin Luther King, Jr.](http://viaf.org/viaf/100170140), and [Robert Downey, Jr.](htt

[2016-02-04 20:06] amandafrench opened #191 "Delete old upstream branches?"
There seem to be some old branches hanging around, e.g., the one for adding the off-campus sign-in link. The instructions at https://github.com/VTUL/vtechworks/wiki/6.-Pushing-changes-to-Github do say to delete the _local_ branch after everything has been merged (and I suppose deployed), but should we do some cleanup of the upstream branches, i.e., the ones on GitHub? At some point there will be s

[2016-02-04 20:13] alawvt commented on #188
@amandafrench and @mello99, thank you for the review. I have updated the first post with jr.

[2016-02-04 20:36] alawvt commented on #191
@amandafrench, Thanks for pointing these out. I deleted some of these merged branches. I will leave aschweer_query_escaping_fix and mobile_video_fixes for @keithgee to handle. date-issued-desc was not merged, so I think we should keep it for future work. You merged configure-submission; is it something that you could decide on? The other branches are current.

[2016-02-04 20:37] amandafrench commented on #174
We need to wait on this until we've finished coming up with a plan for the default submission forms, as per #105, #186, #187, #188.

[2016-02-04 20:39] amandafrench commented on #105
Please note that I did just find and push all my previous changes (which I hadn't finished making) to input-forms.xml and messages.xml to the configure-submission branch at https://github.com/VTUL/vtechworks/tree/configure-submission We can use that for reference if need be in our next meeting, and/or @AmberPoo1 can pull that branch and work on it once we give her the specifications. That branch i

[2016-02-04 20:51] alawvt commented on #191
@amandafrench, I see in #105, that configure-submission is your current submission form branch.

[2016-02-04 21:04] mello99 commented on #105
Hi @alawvt , your notes on the common_types value-pairs list match mine. I guess the only concern  I have about our common_types value-pairs list is the integration with Symplectic; they have their own list of common value types, which I forgot to bring up during today's meeting, and they can be found in the [Symplectic Mapping on Google Drive ](https://docs.google.com/a/vt.edu/spreadsheets/d/1YAB

[2016-02-04 21:25] alawvt commented on #105
@mello99, thank you very much for the review and comments. I corrected the typo in the publisher hint.

I agree that we should consider the Symplectic item type mapping. I think we'll need to test if not having the mapped type in the common_types list will be a problem for ingest. I'll add the test to the backlog. Those types on the Elements map, that are not in our current list are:
- Journal art

[2016-02-04 21:29] alawvt commented on #105
@amandafrench, thank you for the configure-submission branch. I am copying the hints, etc. to the spreadsheet.

[2016-02-05 15:42] amandafrench commented on #191
Yes, please don't delete configure-submission -- if you @alawvt or @AmberPoo1 like, you can pull that branch and work from it. Will close this issue.

[2016-02-05 15:42] #191 closed, assigned to nobody

[2016-02-05 19:50] alawvt commented on #188
In the submission forms, change the messages for the series input-type.

series – Series/Report name and number. Separate fields are provided for series name and series number, but they are appended (with a semicolon between) when saved.

current messages are

Left box: Series Name
Right box: Report or paper No.

change messages to

Left box: Series name, _e.g., NSTSCE_
Right box: Report or paper

[2016-02-05 20:03] alawvt opened #192 "In the submissions form, remove File Description field from the Upload step"

[2016-02-05 21:10] alawvt commented on #105
@amandafrench, do you want the examples in the hints italicized? (I have italicized the examples in messages.xml.)
@mello99 and @amandafrench, it would be great if you could compare my notes above to yours and edit, as needed.

[2016-02-05 21:17] alawvt opened #193 "In submission form, modify the embargo step"
Research the embargo date field: is it a date picker or should it be changed to a date box (but needs to have a date, not year requirement.
Hint: make similar to date issued.
add a statement explaining what the embargo does.

keep embargo reason
Hint: Enter the reason for the embargo. Example: awaiting publication

[2016-02-07 21:55] AmberPoo1 commented on #182
@amandafrench , @alawvt , @mello99 , It still shows "dcterms.comformsTo" on vtechworks.pprd.vt.edu, while on vtechworks.dev.vt.edu this dcterm has been corrected.
Other emu sprint changes has been tested and passed on our pprd. Test details can be found in the spreadsheet "Test on vtechworks.pprd" in  Google Drive/VTechWorks Team/Testing/Dspace_5.4_Jan_7_Feb_1_Emu_Testing.

[2016-02-07 22:33] AmberPoo1 commented on #183
@amandafrench , I tested with an SHERPA/RoMEO unknow journal whose issn is "1674-1633".
gray message didn't show, the page only showed "To learn whether your journal or publisher allows you to deposit a version of your published work in this institutional repository, please consult the comprehensive SHERPA/RoMEO database of publisher copyright and self-archiving policies."
![screen shot 2016-02-07

[2016-02-08 02:39] AmberPoo1 commented on #189
On http://vtechworks.lib.vt.edu/, when ordinary users or a guest access restricted item off campus, the page shows:
![1](https://cloud.githubusercontent.com/assets/13734326/12877570/69ad3228-cde3-11e5-9fd6-c02d274ed878.png)

Administrators, VPN guest and VPN ordinary users can access  restricted item directly.

[2016-02-08 14:17] alawvt commented on #182
@AmberPoo1, thank you for testing. I have corrected the metadata registry, so testing on pprd is complete.
@amandafrench, theses changes are ready to deploy to production.

[2016-02-08 15:06] alawvt commented on #189
I used free-proxyserver.com to access http://vtechworks.lib.vt.edu/handle/10919/53800. I got the slightly different screen,
![request_item_from_off_campus_20160208](https://cloud.githubusercontent.com/assets/13037168/12889108/7019d842-ce4b-11e5-88a5-5be67d36c264.png)

[2016-02-08 15:36] alawvt opened #196 "Missing rubygem when running Maven"
[code]

I searched for `rubygems:rb-inotify:gem:0.9.6` and found an issue in [Stack Overflow](http://stackoverflow.com/questions/35270637/rb-inotify-0-9-6-gem-missing-from-rubygems-org), from this morning and in  [Redhat bugzilla](https://bugzilla.redhat.com/show_bug.cgi?id=1305192) from Friday https://bugzilla.redhat.com/show_bug.cgi?id=1305192

[2016-02-08 15:41] alawvt commented on #196
There is a discussion of this on the [DSpace Tech Support listserv](http://dspace.2283337.n4.nabble.com/DSpace-5-4-Rebuildprocess-with-maven-td4680821.html).

[2016-02-08 16:07] keithgee commented on #189
Jing was already logged-in as a user on the screen that she shared.

[2016-02-08 16:23] alawvt commented on #183
When I searched directly in SHERPA/RoMEO for ISSN=1674-1633, the result was `No journals found when searched for: 1674-1633`
When I submitted an article with that ISSN, this was the file submission screen,
![sherparomeoissnsubmissionnotinsr](https://cloud.githubusercontent.com/assets/13037168/12891418/dff4e9fe-ce55-11e5-8a90-e14a5dc402fc.png)

When I submitted an article with an ISSN that is in SH

[2016-02-08 17:45] AmberPoo1 commented on #196
@alawvt, I found the same problem yesterday. It was caused by the maven dependency RUL of rubygems which is no longer available. The problematic code is in the pom.xml under vtechworks/dspace/modules/xmlui-mirage2/pom.xml. Code snippet：
`<repositories>
        <repository>
              <id>rubygems-release</id>
              <url>http://rubygems-proxy.torquebox.org/releases</url>
             </r

[2016-02-08 18:20] amandafrench commented on #183
Thanks for the screenshots, @alawvt -- was just going to put those here.

[2016-02-08 18:21] amandafrench commented on #182
I've merged to the production branch and have emailed @kayiwa.

[2016-02-08 18:32] amandafrench commented on #189
True, @keithgee, but the request form is supposed to be turned off for all off-campus users, whether logged in or not, because I commented it out in #154. Administrators would be able to see the file, of course, when logged in, even off-campus, but they wouldn't get the request form.

In any case, although we do have to make sure that changes to dspace.cfg get deployed somehow, there's not much po

[2016-02-08 18:34] amandafrench commented on #185
Thanks, @mello99! All done!

[2016-02-08 18:34] #185 closed, assigned to nobody

[2016-02-08 19:02] amandafrench commented on #105
@alawvt I'd prefer the examples in the hints not to be italicized, but it doesn't really matter. I did go over the notes above and altered the hints just a bit for Titles (I put in real publication titles by real VA Tech authors) and for Series / Report Number (I added a third one since the lack of balance disturbed me). I also changed "the current date" to "today's date" in the Date hint, as both

[2016-02-08 19:10] amandafrench commented on #105
@alawvt Addendum: I meant that italicization doesn't matter _to me_, but since I've spent a lot of time on things that arguably matter as little, feel free to require italicization of the examples! Though I think it might be harder to put italics in the hints than in messages.xml; not sure html codes are allowed in item-submission.xsl.

[2016-02-08 19:20] amandafrench commented on #193
One addendum: it might not be a good idea to make it similar to Date, since an embargo date (surely?) must have YYYY-MM-DD, whereas Date only needs a YYYY. But I'd be interested to know what the heck happens to embargoed items when only YYYY or YYYY-MM is specified; when does the embargo lift? Needs testing. If the lack of DD messes up the embargo lift date, this might be worth contributing to DSp

[2016-02-08 19:24] amandafrench commented on #189
@keithgee Although perhaps you were responding to @alawvt's comment that the screen she got is "slightly different" than the one @AmberPoo1 got. The only difference (apart from screen resolution) is that the second screenshot adds an invitation to log in.

[2016-02-08 20:04] alawvt commented on #196
@AmberPoo1, thank you very much figuring this out. I was able to get Maven to work this way.

[2016-02-08 22:46] AmberPoo1 commented on #192
@alawvt , do we need to remove File Description filed from all of the submissions form, including default, OMALS and NDLTD?

[2016-02-09 13:12] alawvt commented on #183
@AmberPoo1, please submit this to DSpace core.

[2016-02-09 13:13] alawvt commented on #192
@AmberPoo1, I believe we want it removed from all submission forms.

[2016-02-09 19:47] #168 closed, assigned to AmberPoo1

[2016-02-09 21:21] alawvt commented on #193
The embargo field has a date picker which results in a date text stream, e.g. 2016-02-09, in the text box. One can backspace and remove the month and date leaving 2016-02 or 2016. On vtechworks.dev, I created an [embargo date test item](http://vtechworks.dev.lib.vt.edu/handle/123456789/64419), with files with various embargo release dates. The file that was submitted with an embargo date of 2016-0

[2016-02-09 22:17] kayiwa commented on #196
Has this been tested further? mvn runs successfully but it still fails to build local
`[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] DSpace Parent Project .............................. SUCCESS [  0.626 s]
[INFO] DSpace Services Framework :: API and Implementation  SUCCESS [  2.102 s]
[INFO] DSpace Kernel :: API and Implementa

[2016-02-09 22:25] mello99 opened #197 "VT EZ-Proxy Users Cannot View Restricted Items"
Hi @kayiwa , @amandafrench , @keithgee , and @alawvt , I received an email from a VT user who was unable to access an ETD from off-campus using EZ-Proxy. I signed-in to EZ-Proxy using my personal VPN and was also unable to access the ETD; this has been the case for all of the ETDs I've looked at since I was notified of this issue. There are no issues with the ETDs' authorizations; they are correct

[2016-02-10 01:17] keithgee commented on #197
I was asked by Aaron to check that IP address of 198.82.230.35 was whitelisted in our ip-config. It is, however the EZ-Proxied users are being seen with the 192.168.2.81 IP address.
I've let Aaron know on the chat.

[2016-02-10 13:22] alawvt commented on #197
He said it was an issue with the F5 appliance and that he was working on a fix.

[2016-02-10 13:25] alawvt commented on #196
Yes, I am able to run it  by installing the dependencies for Mirage2, as @AmberPoo1 described and manually downloading the gem, as described in the linked DSpace Tech Support issue.

[2016-02-10 15:03] #197 closed, assigned to nobody

[2016-02-10 16:05] alawvt commented on #174
TODO: check/develop associated hint for the lookup

[2016-02-10 16:34] alawvt opened #198 "Create a new default "traditional" submission form"
Please use the MovingImageCustomSubmissionForm "form fields" sheet (Google Drive... Custom Submission Forms folder) to customize the default "traditional" submission form. Please implement the fields on page 1 of the form. I have tried to highlight in yellow, all the attributes that are changing, but please check them all.

In a later issue, we will implement the moving image fields on page 2 (gre

[2016-02-10 16:35] alawvt commented on #105
@amandafrench, thank you for reviewing these notes. I'll not specify italics for the examples in the hints. I have incorporated the changes into the MovingImageCustomSubmissionForm. This issue is continued by #198.

[2016-02-10 18:40] alawvt commented on #182
@AmberPoo1, the emu changes have made it to production. Please test them on vtechworks.lib.vt.edu. Thanks.

[2016-02-11 16:50] AmberPoo1 commented on #182
Emu changes have been tested and passed on vtechworks.lib.vt.edu. Test results are in the spreadsheet "Test on vtechworks.lib.vt.edu" in Google Drive/VTechWorks Team/Testing/Dspace_5.4_Jan_7_Feb_1_Emu_Testing.

[2016-02-11 16:59] alawvt commented on #182
@AmberPoo1, thank you.

[2016-02-11 16:59] #182 closed, assigned to AmberPoo1

[2016-02-11 18:53] alawvt commented on #181
Most(?) of our DOI are in the dc.identifier.doi field. Some start with "http://dx.doi.org" but some start with "doi" or "10.1" The [Wikipedia article about DOI's](https://en.wikipedia.org/wiki/Digital_object_identifier) give more details about the format of DOIs.

[2016-02-11 19:03] alawvt commented on #181
There is some discussion of Altmetric badges on the [DSpace Tech Support listserv](http://dspace.2283337.n4.nabble.com/template/NamlServlet.jtp?macro=search_page&node=3276944&query=altmetric&n=3276944).

Specific threads
[Putting Altmetric code or enabling Altmetric on DSpace](http://dspace.2283337.n4.nabble.com/Putting-Altmetric-code-or-enabling-Altmetric-on-DSpace-td4680868.html)

[Altmetrics an

[2016-02-11 21:09] AmberPoo1 commented on #181
According to Altmetric API documents, we can try to use "data-handle" attribute to specify the url, the value is from "citation_abstract_html_url" head meta element, whose value is the handle url, e.g. "http://hdl.handle.net/10919/49255".
Add code like this:
`<div class="altmetric-embed" data-handle="10919/49255"></div>`

We can test if it will work.

[2016-02-11 21:25] alawvt commented on #181
That sounds good, @AmberPoo1.

[2016-02-16 17:59] #175 closed, assigned to AmberPoo1

[2016-02-16 18:39] alawvt commented on #181
According to http://wiki.lib.sun.ac.za/index.php/SUNScholar/Altmetrics,
"The Altmetrics feature in DSpace needs to consult an external database when doing social metric lookups. Therefore you MUST ensure that your repository server has unrestricted access via ports 80 and 443 to the following web site:" `http://api.altmetric.com`

@amandafrench, are we ok for this?

[2016-02-18 19:56] #181 closed, assigned to amandafrench

[2016-02-18 20:00] amandafrench commented on #189
This isn't really an issue any more; the next time we deploy, though, I'll be sure to remind @kayiwa to compare the dspace.cfg file on production with the one in the release.

[2016-02-18 20:00] #189 closed, assigned to amandafrench

[2016-02-18 20:01] amandafrench commented on #179
Will probably do next sprint.

[2016-02-18 20:01] #179 closed, assigned to keithgee

[2016-02-18 22:13] amandafrench commented on #193
Ah, so that's good to know that the date picker and dates are working with the current field setup. I think it's probably not worthwhile to change the input type for either the embargo date or the "Date issued" inputs. Here are new labels:

Label: Embargo this file until a specific date
Hint: To keep this file private until a certain date (embargoed), enter the date on which it should become publi

[2016-02-22 08:40] mello99 opened #203 "Items uploaded via CSV import (2/16/2016) don't show up in search"
Hi, everyone, I was mentally prepping myself for the backlog meeting today and thought about the Open Access Subvention Fund articles that I uploaded to VTW last week (yes, I know it's late at night, but if I didn't add this issue now I'd completely forget about it).

In short, I uploaded 25 articles using the "Import Metadata" functionality and then added the article files manually. The items are

[2016-02-22 15:00] alawvt commented on #203
@mello99, as you predicted, I just searched for two authors and both items were in the search results.

[2016-02-22 17:32] #186 closed, assigned to AmberPoo1

[2016-02-22 18:49] amandafrench commented on #203
I just searched for keywords in the title of 64819 (Phosphorylation collective) and found it as well. I also tried it using an off-campus proxy, just in case, and that worked too, so I guess I'll close the issue!

[2016-02-22 18:49] #203 closed, assigned to nobody

[2016-02-22 19:02] #187 closed, assigned to AmberPoo1

[2016-02-22 19:12] alawvt commented on #187
actually $burnt-orange

[2016-02-22 19:35] alawvt commented on #193
@AmberPoo1 please modify the embargo fields in the submission form to the labels and hints listed in the comment above.

[2016-02-22 21:11] #188 closed, assigned to AmberPoo1

[2016-02-22 21:12] alawvt commented on #188
To get the first name message on one line, I had to shorten it to,

First name(s) + initial(s), e.g., John F. Jr.

[2016-02-23 17:26] alawvt opened #204 "Test frog sprint changes on vtechworks.lib.vt.edu"
The frog sprint changes (from January) have been deployed to development. Please test. There are release notes at https://github.com/VTUL/vtechworks/releases.

[2016-02-24 20:04] alawvt opened #205 "Browse-by-title search for title in quotes fails"
Example, in [browse by title](http://vtechworks.lib.vt.edu/browse?type=title) search for (including quotes) `"Do authors"`  Result:

[code]

![browsebytitlequotesbug1](https://cloud.githubusercontent.com/assets/13037168/13299890/37001d2e-db0b-11e5-92e1-b5b272875a00.png)
![browsebytitlequotesbug2](https://cloud.githubusercontent.com/assets/13037168/13299891/38505b8a-db0b-11e5-8fe7-f615ff5ad681.png)

[2016-02-25 17:32] AmberPoo1 commented on #204
@keithgee, @alawvt , @amandafrench , The test sheet has been created in Google Drive/VTechWorks Team/Testing/Dspace_5.4_Feb_Frog_Sprint_Testing.
I have tested all changes on vtechworks.dev expect this item: "Added more IP addresses as authentic Virginia Tech IPs".

And the Altmetrics badges show too close to the above row, should add some space between two rows.
I have created a related issue: #20

[2016-02-25 17:33] AmberPoo1 opened #206 "Altmetrics badges show too close to the above row in simple/full item viw"
the Altmetrics badges show too close to the above row, we should add some space between two rows.

[2016-02-25 17:59] alawvt commented on #206
@AmberPoo1, thanks for noticing this. The item that I tested for the Altmetrics badge didn't have a Creative Commons license, so I missed the conflict with the CC license box. I agree some space between them would be good.

[2016-02-26 18:42] AmberPoo1 commented on #206
Hi @amandafrench , I saw your commit of adding padding to Altmetrics badges, I tested on my local machine, it did work:
![screen shot 2016-02-26 at 1 37 19 pm](https://cloud.githubusercontent.com/assets/13734326/13361723/6169ae3e-dc8e-11e5-89d7-01a9587374db.png)

Maybe we didn't merge this change to dev machine?

Additionally, I make some improvement on Altmetrics badegs, including:
1. Get “data-h

[2016-02-29 15:00] AmberPoo1 commented on #183
Have contributed this change to Core Dspace.
1. Relevant ticket in the DSpace Issue Tracker ():
   DSpace / DS-3085   "Sherpa/Romeo ungraded journal (gray) shows error"

   https://jira.duraspace.org/browse/DS-3085
2. Create a pull request in Core Dspace Master Branch.
   DSpace/DSpace #1324
   Correct Sherpa/Romeo ungraded journal (gray) error message

   https://github.com/DSpace/DSpace/pull/132

[2016-02-29 15:06] alawvt commented on #183
Thanks, @AmberPoo1.

[2016-02-29 15:06] #183 closed, assigned to AmberPoo1

[2016-02-29 16:38] #18 closed

[2016-02-29 16:39] amandafrench commented on #156
Won't contribute to DSpace; involved issue.

[2016-02-29 16:39] #156 closed, assigned to AmberPoo1

[2016-02-29 17:09] amandafrench commented on #206
Already fixed in commit 39aec0922e9ef20a8ed87891f7ea123712eaaa7c

[2016-02-29 17:09] #206 closed, assigned to AmberPoo1

[2016-02-29 17:17] amandafrench commented on #193
Done: being reviewed

[2016-02-29 17:17] #193 closed, assigned to AmberPoo1

[2016-02-29 17:19] amandafrench commented on #204
These changes are ready to go -- #206 was resolved in commit 39aec0922e9ef20a8ed87891f7ea123712eaaa7c -- so I will move the changes to pprd_deploy.

[2016-02-29 17:20] amandafrench commented on #151
This issue is on hold: we can revisit it later.

[2016-02-29 17:20] #151 closed, assigned to AmberPoo1

[2016-02-29 17:21] amandafrench commented on #180
Done, more or less, with help from @mello99!

[2016-02-29 17:21] #180 closed, assigned to nobody

[2016-02-29 17:22] amandafrench opened #209 "Test Shibboleth on development"
Test Shibboleth login on development server

[2016-02-29 17:25] amandafrench commented on #176
This is on hold: @keithgee will talk to Nathan about various issues.

[2016-02-29 17:25] #176 closed, assigned to keithgee

[2016-02-29 17:27] amandafrench opened #210 "Set up Elements Repository Integration Tools on development server"
Waiting for Symplectic to finish migrating data and setting up an Elements development server; also waiting on completion of a metadata crosswalk

[2016-02-29 17:35] amandafrench opened #211 "Write automation scripts for Elements Repository Integration Tools"
Waiting on Elements to set up a dev server on their end. Automating the process can come before, during, or after getting E Repo Integ Tools set up on the server. This will likely happen at the end of March.

[2016-02-29 18:27] amandafrench commented on #196
If possible / necessary, I'd like us to fix this upstream in DSpace core, if it hasn't already been fixed by someone there. Assigning it to @AmberPoo1 to look into.

[2016-02-29 18:29] amandafrench commented on #196
Or even in the Maven project! https://maven.apache.org/ But not if it will take a lot of time.

[2016-03-01 18:58] amandafrench opened #212 "Change text on "choose a way to log in" page on dev"
The 'login' page currently at http://vtechworks.dev.lib.vt.edu/login will need to be modified. Current version looks like this:
![screenshot 2016-03-01 13 10 39](https://cloud.githubusercontent.com/assets/227453/13436864/4ee46fe6-dfaf-11e5-929c-f5b6514f1b22.png)

The text on the page should be as follows:

And then we should probably take the "register new user" stuff off the password-login page p

[2016-03-01 19:01] amandafrench commented on #212
Meant to mention that as best I can tell, this page isn't in source control, so we can't edit it on our local VMs.

[2016-03-03 15:32] alawvt commented on #204
@AmberPoo1, please test these changes on pprd. The Almetrics badge padding commit won't be pushed until the next testing cycle.  Thanks.

[2016-03-03 16:19] alawvt commented on #196
This seems to have been fixed.

[2016-03-03 16:19] #196 closed, assigned to AmberPoo1

[2016-03-03 16:56] AmberPoo1 commented on #204
I have tested all changes on vtechworks.pprd expect "Added more IP addresses as authentic Virginia Tech IPs". item. According test report has been created in Google Drive/VTechWorks Team/Testing/Dspace_5.4_Feb_Frog_Sprint_Testing/Test on vtechworks.pprd.

[2016-03-03 19:01] alawvt commented on #204
@AmberPoo1, thank you for testing.
@amandafrench, these changes are ready for production. We'll hold until you deploy the Altmetric commits to dev and pprd before proceeding to production.

[2016-03-03 20:05] amandafrench commented on #209
Hi @alawvt, @AmberPoo1, and @mello99 -- if you get a chance, can you test the Shibboleth login on dev now that it's back up?  You will almost certainly need to set or reset your PID and password on the middleware pprd server first: I will email you all the link that will let you do that.

[2016-03-03 20:08] amandafrench commented on #209
I did get a PID & pwd on middleware pprd today and tested, and all works very well! (In Firefox.) Even better than expected, in fact. I can log in with both my PID via the Shib link and with my existing VTW login and pwd, with no error message, which is great. Means I don't have to choose.

[2016-03-03 21:48] keithgee commented on #212
@amandafrench, you're right that there's no html file for this login choosing page!!

The code that generates this is in[ LoginChooser.java](https://github.com/VTUL/vtechworks/blob/9b5ddcfb65576adfdb13fd2bb75221270ec1b4d7/dspace-xmlui/src/main/java/org/dspace/app/xmlui/aspect/eperson/LoginChooser.java).

Two options are:
1.  Create a maven overlay for a customized version of LoginChooser.java, and

[2016-03-03 22:31] mello99 commented on #212
Okay, is it fair to say that we're not testing the the Shibboleth login on dev right now, @amandafrench and @keithgee ? Until we get the homepage issue resolved, that is. I ask because 1) I read your discussion, and 2) I tried logging-in to dev and no longer saw the Shibboleth notice (see below). Thanks, take care.

<img width="1235" alt="screen shot 2016-03-03 at 5 29 15 pm" src="https://cloud.gi

[2016-03-04 15:45] alawvt commented on #204
@amandafrench, I see the padding change on dev and it looks fine. You can push those changes to pprd. You could move the whole lot to production to test next week or wait until the following week.

[2016-03-04 16:01] amandafrench commented on #204
Might as well get them to prod today if we can: I'll create both pprd and prod branches today and ask @kayiwa if he can get them out before C4L.

[2016-03-04 16:03] amandafrench commented on #212
This is fixed, @mello99 -- looks like the new deployment branch I set up yesterday overwrote the Shibboleth stuff that @kayiwa and @keithgee were doing. But they've re-implemented Shib on the dev server; give it another shot.

[2016-03-04 16:25] alawvt commented on #204
@AmberPoo1, please add the additional Altmetrics commits to the frog testing spreadsheet and test all these changes on production.

[2016-03-04 17:15] amandafrench opened #214 "Altmetrics badges not working on production :("
Drat, I was hoping they'd work. Maybe they just have to be crawled before we get any data? Not sure.

Example: https://vtechworks.lib.vt.edu/handle/10919/18649

Anything helpful here?

https://help.altmetric.com/support/solutions/articles/6000086842-getting-started-with-altmetric-on-your-journal-or-institutional-repository

If we really do need DOIs to get them working, maybe we can look into auto

[2016-03-04 17:19] alawvt commented on #214
Linking Issue #81,

According to http://wiki.lib.sun.ac.za/index.php/SUNScholar/Altmetrics,
"The Altmetrics feature in DSpace needs to consult an external database when doing social metric lookups. Therefore you MUST ensure that your repository server has unrestricted access via ports 80 and 443 to the following web site:" http://api.altmetric.com

[2016-03-04 17:26] amandafrench commented on #214
Got it. Francis is on holiday but I'll put in a TD request.

[2016-03-04 17:29] keithgee commented on #214
It's showing up okay on my Mutant Superheroes paper.

On Friday, March 4, 2016, alawvt notifications@github.com wrote:

[2016-03-04 17:33] keithgee commented on #214
http://vtechworks.lib.vt.edu/handle/10919/23885

1 is good, right? I'm number 1!

[2016-03-04 18:10] alawvt commented on #214
That's great @keithgee.  It looks like Altmetrics is passing a citation id, http://www.altmetric.com/details.php?domain=vtechworks.lib.vt.edu&citation_id=6047808, rather than a handle.

http://vtechworks.lib.vt.edu/handle/10919/50827 has Altmetrics=18 with no DOI in the metadata. The link for it is http://www.altmetric.com/details.php?domain=vtechworks.lib.vt.edu&citation_id=2876823, which is agai

[2016-03-04 18:45] keithgee commented on #214
Here's a link to the mutant paper altmetric page using a handle: https://www.altmetric.com/details/handle/10919/23885

You can also construct a handle link to Brian's papers. The original one in this post doesn't have any activity detected. Some ideas that may be wrong: tweets and blogs about the paper weren't recent. tweets and blogs that linked to the paper linked directly to the pdf.

In any ca

[2016-03-04 23:05] amandafrench commented on #214
Aha, I managed to get mine to work, too, by tweeting it. Right now it only sees my own tweet, although other people have liked it, also on FB, but only one has mentioned it, and that was in a "Quoted Tweet." http://vtechworks.lib.vt.edu/handle/10919/64842 It had the gray doughnut and question mark, before, like so many of the others. Hmm.

Looks like the "citation_id" is what gets generated when t

[2016-03-04 23:25] amandafrench commented on #214
The page at http://api.altmetric.com/embeds.html suggests that for the first badge style, at least, "If an article has no mentions the Altmetric badge will show a score of 0." If we can even get that ? to a 0 I'll be happy. But a nice feature, anyway! I think @keithgee is likely right that "Think Like a Startup" and other popular items with no apparent data might be linking directly to the PDF. To

[2016-03-07 17:37] AmberPoo1 commented on #204
Have tested these new changes expect for the "Added more IP addresses as authentic Virginia Tech IPs" on production, and the test results are in "Google Drive/VTechWorks Team/Testing/Dspace_5.4_Feb_Frog_Sprint_Testing/Test on vtechworks.lib.vt.edu".

[2016-03-08 16:46] amandafrench opened #216 "Put in new vtechworks-requests Google Group address into dspace.cfg"
We need to alter the following line in dspace.cfg (line 2094 in my version, in the Request Item Configuration section):

 mail.helpdesk = ${mail.admin}

I created a Google group with the address vtechworks-requests-g@vt.edu to manage these requests. Carrie will be handling these -- I added her to that group, as well as Melissa and Anne, although I might remove Melissa and Anne so that we don't all

[2016-03-08 18:27] amandafrench opened #217 "Turn off or enhance ORCID functionality"
We need to either turn off or enhance ORCID functionality; we could research it more to make it more useful: the hash error is annoying, and the fact that there's no link to the ORCID profile of the researcher makes it pointless. Not for the current sprint.

[2016-03-08 21:46] mello99 commented on #216
I can ask Aaron Hunnewell to forward emails from "etd-submit@dla.lib.vt.edu" to Carrie; that way they would go directly to her mailbox. I currently get emails from "etd-submit@dla.lib.vt.edu" sent to my personal mailbox (not just the VT Support Mailbox), and I could forward her any related ETD request emails that are sent to vtechworks@vt.edu. Then again, if your strategy is more efficient, that's

[2016-03-09 17:38] amandafrench commented on #209
This did used to work, but today I'm getting an "Authentication Failed" message.
![screenshot 2016-03-09 12 37 26](https://cloud.githubusercontent.com/assets/227453/13644435/c9994faa-e5f3-11e5-8e53-f742c982d843.png)

[2016-03-14 17:12] amandafrench commented on #216
Sigh, I don't know why those requests are going to etd-submit@dla.lib.vt.edu, but you're right, they are. All the email stuff is a complete mess -- way too many darn email addresses in this thing. I thought all the requests were going to the administrator email address, ${mail.admin}, which should be vtechworks@vt.edu, but they aren't.

[2016-03-14 17:17] amandafrench commented on #216
I think a few people get etd-submit@dla.lib.vt.edu emails, actually, though I don't seem to.

[2016-03-14 19:05] mello99 opened #218 "Thumbnails not showing for restricted items"
Hi, all, I think @keithgee said that this was a bug (#167 - @keithgee wrote "I've also seen this, going way back to work at OhioLink from 2007-2009. It seems to be triggered by thumbnails with access restrictions, though it's still a bug").

Anyways, here's a screenshot of what I see when I try to access VTechWorks using a VPN:

![restricted_thumbnail_issue](https://cloud.githubusercontent.com/ass

[2016-03-15 11:55] keithgee commented on #218
Hey, @mello99.

If it's okay to display the thumbnail, there are options.
1. Use the web interface to add Anonymous read permission to the thumbnail of each of these items
2. When these items are loaded in via batch, there may be parameter that can be set in the CONTENTS file that can give Anonymous read to the thumbnails. @alawvt may be able to find out more.

If it's not okay to display the thum

[2016-03-15 11:56] keithgee commented on #218
EDIT above: add Anonymous READ permission to _the THUMBNAIL_s of these items... And not the entire item. :)

[2016-03-15 15:45] amandafrench opened #219 "Investigate why Google Scholar is not finding PDF of item"
The author of http://vtechworks.dev.lib.vt.edu/handle/10919/64500?show=full points out that Google Scholar cannot find the PDF of his work; it only points to the item record.
![screenshot 2016-03-15 11 26 01](https://cloud.githubusercontent.com/assets/227453/13783217/d919d330-eaa0-11e5-985d-3c3d31742b4c.png)

It should find the PDF, as in this example:

![screenshot 2016-03-15 11 21 39](https://cl