[2016-03-15 19:04] alawvt commented on #218
When we load these restricted ETDs, we're loading the PDF as "-r VT_campus". DSpace uses that to create a thumbnail with the same restriction. If I were loading the thumbnail, I could set a different restriction for it. I don't see an easy option for changing this behavior.

[2016-03-15 19:05] alawvt commented on #217
It definitely makes metadata clean up and manipulation harder.

[2016-03-15 19:50] alawvt commented on #219
We added a suggestion to the ETD projects file that the Grad School add larger title font size to their ETD formatting guidelines, http://etd.vt.edu/guidelines/index.html.

[2016-03-16 20:08] alawvt commented on #204
@AmberPoo1, thank you for testing the frog changes.

I added an item to the Technology Backlog to investigate improving the Altmetric results.

[2016-03-16 20:08] #204 closed, assigned to AmberPoo1

[2016-03-16 20:27] alawvt commented on #214
Did Altmetrics give any indication how long it would take to index our site, once we notify them, https://help.altmetric.com/support/solutions/articles/6000086842-getting-started-with-altmetric-on-your-institutional-repository?

Did ITS verify that were open on ports 80 and 443?

Related issue, http://dspace.2283337.n4.nabble.com/Altmetrics-and-DSpace-how-to-add-td4678559.html.

"The Altmetrics fe

[2016-03-16 22:57] keithgee opened #220 "Customize error page(s) in VTechWorks"
We've been asked by ITS to customize an error page so that it does not give debug information, including the stack trace.

The error page is at /dspace-xmlui/src/main/webapp/exception2html.xslt.

Please remove stack trace and other debug information from this page. Just let the user know there was an error, and how to get in touch with us.

If you can do this as a Maven overlay, that would be best

[2016-03-17 14:38] alawvt commented on #220
@keithgee, I understand the security concern but wonder if this will hinder development work on our Vagrant instances. Will this error info and stack trace be available anywhere else (i.e. log file)?

[2016-03-17 15:08] amandafrench commented on #216
Apparently the "helpdesk" option in dspace.cfg was never really working. Aaron added Carrie to the etd-submit email delivery list, so I'll close this issue.

[2016-03-17 15:08] #216 closed, assigned to amandafrench

[2016-03-17 15:34] amandafrench commented on #214
You can write Aaron or @kayiwa to ask them about the ports if you like, @alawvt, but it seems a bit moot to me anyway since we know that altmetrics definitely is indexing the site (see various examples above of working items). It's just that most handles in VTechWorks have no altmetrics data, since people aren't putting them in Zotero, tweeting or blogging them, etc. I think we should probably hid

[2016-03-17 15:49] amandafrench commented on #218
Aha, this is an existing issue at DSpace Core with an apparent fix: https://jira.duraspace.org/browse/DS-2789

We will need to generate a "restricted item thumbnail" image, though. Will assign the project of creating that image to you, @mello99, though I won't put it in this sprint. You can do it next month, or this month you want to avoid other work. :) It should be about 100px by 125px and clear

[2016-03-17 15:50] alawvt commented on #214
I just submitted a TeamDynamix request to verify the port access. It seems possible that altmetric.com knows about those items from references on other sites, rather than from directly scanning our site. The request to scan our site sounded like a separate step and required our ports to be available.

[2016-03-17 15:54] keithgee commented on #220
@alawvt, that's a great point! A friend told me that I might want to point out to our IT security office that DSpace is open source and the stack traces aren't state secrets, which made me laugh!

The cocoon stack trace will still be recorded in the cocoon.logs, and this may help diagnose some problems.

[2016-03-17 15:56] alawvt commented on #218
To not break our theme, I suggest our standard thumbnail size, which is 80x80 pixels.

[2016-03-17 15:57] amandafrench commented on #214
Well, before we even added the code I emailed the altmetrics support team and let them know to scan it.

[2016-03-17 16:00] amandafrench commented on #218
Sure, that's fine. But I don't think it would break the theme -- I went by the size of the actual thumbnail shown on the item Melissa listed above (from on campus, obviously), which is 99px by 128px.

[2016-03-17 16:28] zoto724 commented on #214
Hey Anne,
When i do:
curl https://api.altmetric.com
curl http://api.altmetric.com
from vtechworks i receive content, this means that OUTBOUND ports connecting to 80 and 443 work fine.  Their source ports will be random numbers generated by the OS.

If altmetric is trying to "scan" vtechworks, they'll be connecting to TO vtechworks.lib.vt.edu on port 80 and 443, these are INBOUND connections from t

[2016-03-17 16:42] amandafrench commented on #214
I was definitely using "scan" and "crawl" very loosely (i.e., wrongly). But altmetrics says "Tell us the domain of your institutional repository (so we can make sure we’re tracking mentions to it and unlock all of the data) – email support@altmetric.com", and that's what I did. That DSpace issue seems like it's saying that OUTBOUND ports 80 and 443 need to be able to visit api.altmetric.com, which

[2016-03-17 16:42] #214 closed, assigned to AmberPoo1

[2016-03-17 16:43] alawvt commented on #218
That's interesting; there are multiple thumbnail sizes. The latest items that I had sampled were 80x80px. I could dig into the thumbnail generating script to find out the latest setting.

[2016-03-17 16:54] amandafrench commented on #218
Doesn't matter. Seems wise to have the default "restricted item" thumbnail be smaller, though, so go for the 80 x 80 size, @mello99. Thanks.

[2016-03-17 17:27] mello99 commented on #218
Thanks everyone for clarifying; I'll stick to the 80 x 80 size, then create 2 canned thumbnails:
- One that can be used for VTechWorks' restricted items
- Another that is sufficiently general and can be used for restricted items in any DSpace instance
  Thanks for your help!

[2016-03-18 18:35] #192 closed, assigned to AmberPoo1

[2016-03-18 18:38] alawvt commented on #209
No response yet trying to reset middleware password.

[2016-03-22 12:26] alawvt commented on #209
My password was reset and I changed it successfully. I tried to log in to vtechworks.dev and saw the same "Authentication Failed" screen. I filed a TD request.

[2016-03-22 12:28] alawvt opened #222 "Merge and test DSpace 5.5 changes"
We have already implemented a security fix for the vulnerability remedied in this upgrade.

[2016-03-22 13:47] alawvt commented on #209
Waiting on ITS to reconfigure DSpace and Shibboleth.

[2016-03-22 20:00] alawvt commented on #209
@amandafrench, ITS has reconfigured DSpace and Shibboleth. I am now able to log into vtechworks.dev with Shibboleth.

[2016-03-23 20:32] keithgee commented on #209
We want to make sure that IP Authentication stuff still works even after Shibboleth has been turned on, too.

[2016-03-28 15:41] mello99 commented on #218
Hi, everyone, I've created some thumbnails for us to evaluate (see attached ZIP file). I created 7 possible thumbnails for restricted items (a lot, I know), and the difference between each thumbnail mostly involves the language used.

I actually think we should go with thumbnail 7, which is just a padlock. Including language with the thumbnail works when the thumbnail is much larger, but not as mu

[2016-03-29 16:53] mello99 opened #223 "Issue with Mary Finn's VTW Access and Modification Credentials"
Hi, all, Mary Finn, for some reason, is not able to edit items in VTechWorks because the "Edit Metadata" pane in the menu on the right hand side of the screen does not appear. She has administrative privileges to selected collections, but I forget specifically where I need to go in order to correct her permissions so that she can make edits. I'll look into this, but I just wanted to see if anyone

[2016-03-29 17:21] amandafrench commented on #223
I've added Mary to the general Administrators group [id=1] via Access --> Manage Groups. Jana was already in that group. Mary can now edit any item in the repository. (I'm going to remove her email from the issue, too.)

[2016-03-29 17:21] #223 closed, assigned to nobody

[2016-03-30 15:35] alawvt commented on #105
Copied comment from https://github.com/VTUL/vtechworks/pull/213#issuecomment-203024204,

Whoops, we forgot volume number and issue number - dc.identifier.volume, dc.identifier.issue -- we will probably need to add separate Identifier fields ...

options for volume and series fields
- create a onebox for each, with a separate hint and label
- add these fields to the existing identifier "qualdrop_va

[2016-03-30 15:49] keithgee commented on #210
The tools are installed. I have some fixes/documenting to do for install scripts, but there is a separate issue open for that.

We'll open separate issues for anything we find during testing, I think. Good?
**Closing

[2016-03-30 15:49] #210 closed, assigned to keithgee

[2016-03-30 15:49] alawvt commented on #218
@mello99, I can see the lock symbol clearly in all the images (viewed at 100% zoom level). However, I can only, just barely, read the text in Restricted_1_80x80.tiff and none of the text in the others. The lock symbol by itself in Restrict_7_80x80.tiff is the clearest, but I am afraid that might scare off patrons, not realizing what it means. Maybe you could experiment with larger font.

Another p

[2016-03-30 15:50] keithgee commented on #210
I should have noted that the connection is from ED -> PPRD.

[2016-03-30 15:58] keithgee commented on #211
I've created some install scripts and used them on pre-prod. There were a few problems which I will document and fix. The scripts are in a Gitlab project.

[2016-03-30 17:15] alawvt opened #224 "Create VTechWorks Elements mapping file"
I started a wiki page about the Elements integration in GitLab, https://git.it.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/Elements_integration.
I renamed our mapping file to VTechWorks_Elements_Field_Mappings to distinguish it from the DSpace-Elements default mapping file.

[2016-03-30 20:12] amandafrench commented on #224
Great, thanks, @alawvt! Take note, @mello99. Closing.

[2016-03-30 20:12] #224 closed, assigned to nobody

[2016-03-30 20:22] amandafrench opened #225 "Elements deposits going into wrong collection on pprd"
They should go into collection http://vtechworks.pprd.lib.vt.edu/handle/123456789/64474, currently titled "All Faculty Deposits." The one successful pprd deposit so far went into http://vtechworks.pprd.lib.vt.edu/handle/10919/18739 instead (Charles Bostian).

[2016-03-30 20:27] amandafrench opened #226 "Elements dev won't allow file upload"
See screenshot:

![screenshot 2016-03-30 16 25 00](https://cloud.githubusercontent.com/assets/227453/14156359/051afdde-f694-11e5-96a0-53baef02492b.png)

URL of item: https://ed.lib.vt.edu/repository.html?pub=743641

Happened on another item as well.

[2016-03-30 20:51] amandafrench opened #227 "Repository Tools Module on ed.lib lacks "RoMEO Precedence" menu item on clio.cc.lib"
Potentially because there's a new version of the Repo Tools Module, or possibly because I don't have sysadmin privs on ed.lib.

clio.cc menu:
![screenshot 2016-03-30 16 50 31](https://cloud.githubusercontent.com/assets/227453/14157093/91ee9b5a-f697-11e5-89fe-cbc4836b8e1e.png)

ed.lib menu:
![screenshot 2016-03-30 16 51 08](https://cloud.githubusercontent.com/assets/227453/14157114/a21f1c70-f697-11

[2016-03-30 20:52] amandafrench commented on #227
Fixed by Keith B by bumping up my privs to sysadmin. Yay.

[2016-03-30 20:52] #227 closed, assigned to nobody

[2016-03-30 21:29] amandafrench commented on #226
Fixed!

[2016-03-30 21:29] #226 closed, assigned to nobody

[2016-03-30 21:29] amandafrench commented on #225
Fixed!

[2016-03-30 21:29] #225 closed, assigned to keithgee

[2016-03-30 21:39] amandafrench commented on #220
This is done and merged.

[2016-03-30 21:39] #220 closed, assigned to AmberPoo1

[2016-03-31 16:58] alawvt commented on #105
added to backlog, to be resumed at a future sprint

[2016-03-31 16:58] #105 closed

[2016-03-31 16:59] #205 closed, assigned to nobody

[2016-03-31 16:59] #219 closed, assigned to nobody

[2016-03-31 17:01] amandafrench commented on #209
I'll test this tonight from home. I never quite trust the proxy servers when it comes to IP authentication.

[2016-03-31 17:07] amandafrench commented on #209
Whoops, I forgot, one can't test on development when off-campus. But I need to clarify, @keithgee: is it that you want to make sure that IP address-based restriction of certain items still functions when Shibboleth is implemented? I think we will have to wait until Shib moves to production to test that.

[2016-03-31 17:09] amandafrench commented on #218
I'm going to put a "revisit later" mark on this and close it for now, though I think we'll need to reopen it and several others next month.

[2016-03-31 17:09] #218 closed, assigned to nobody

[2016-03-31 17:19] amandafrench opened #228 "Create Elements XSL crosswalks"
By Tuesday, 4/5. See links under "Elements Integration" on the VTechWorks Documentation wiki on git.it.vt.edu for links to current google Docs and Symplectic documentation.

[2016-03-31 17:20] mello99 commented on #228
Noted, thanks!

[2016-03-31 18:01] keithgee commented on #209
Yes, that's helpful.

It was partly because on some of our systems (production for example), we
weren't using Apache httpd in the request chain, but needed to enable it
for Shibboleth.

Aaron changed production on Tuesday so that all requests go through Apache
httpd now, and IP restriction was still working, so it may not be a problem.

But definitely test when Shibboleth is installed, too.

On Th

[2016-03-31 20:49] amandafrench commented on #209
I'm going to close this issue for now, since Shibboleth login is currently working on <strike>production</strike> development. I'll add a reminder to the backlog to test restricted item IP authentication whenever Shib moves to production.

[2016-03-31 20:49] #209 closed, assigned to amandafrench

[2016-04-01 13:55] alawvt opened #230 "Test giraffe+ sprint changes on vtechworks.pprd"
Note: After we have deployed to vtechworks.dev, add tests from Google Drive...DSpace_5_5_Testing, #222, to testing list for this sprint.

[2016-04-01 13:56] #222 closed, assigned to alawvt

[2016-04-01 15:48] #198 closed, assigned to nobody

[2016-04-01 20:47] keithgee commented on #169
I've corrected this particular item.

The authorizations on the item are complicated, and were strange. Some of the users/groups said just "...". I think that somewhere along the way, one of the groups that had "authority" over this item was deleted.
This creates a situation where DSpace cannot see the METS information for the item.

I removed all permissions with "..." group from the item, and no

[2016-04-01 20:49] keithgee commented on #169
<img width="751" alt="screen shot 2016-04-01 at 4 42 59 pm" src="https://cloud.githubusercontent.com/assets/6785790/14219684/a8eb3bae-f829-11e5-8bff-f02460f4069f.png">
I've attached a partial screenshot of the "..." permissions.

**Closing.

[2016-04-01 20:49] #169 closed, assigned to nobody

[2016-04-04 12:33] alawvt commented on #169
@keithgee, thanks, that's good to know for future troubleshooting.

[2016-04-04 17:13] mello99 opened #231 "Error submitting file to DSpace via Elements"
Hi, @keithgee and @amandafrench , I tried to deposit the attached file - "Zou_Targeting_Fox.pdf" - to DSpace PPRD via the Symplectic Elements user interface (I'm logged-in to ed.lib.vt.edu, NOT clio), but I received the following error message:

<img width="538" alt="screen shot 2016-04-04 at 1 09 35 pm" src="https://cloud.githubusercontent.com/assets/5408616/14256405/eee529e6-fa66-11e5-84b4-fab88

[2016-04-04 17:17] mello99 commented on #231
I'd also like to note that I've been unable to upload PDF, RTF, and CSV files.

[2016-04-04 17:32] keithgee commented on #231
@mello99 let me look into it. vtechworksdev recently had a deployment, so I probably need to run a script again.

[2016-04-04 17:33] keithgee commented on #231
oops - I just realized that our elements is connected to vtechworks pre-production. i'll look into it, though.

[2016-04-04 17:56] keithgee commented on #231
I was able to submit a PDF file to the repository just now, from ed.lib . It's at http://vtechworks.pprd.lib.vt.edu/handle/123456789/64484. I'll come by and take a look, @mello99. You're probably testing more thoroughly than I have, and amight be doing something I haven't tried.

[2016-04-04 18:52] keithgee commented on #231
@mello99 manually entered the metadata for an article, including eISSN metadata.
The VTechWorks Pre-prod was missing dc.identifier.eissn. Now she has added idenitfier.eissn it to the
Dublin Core metadata registry on pre-prod, and then submitted the PDF file again. The deposit was successful.
We'll have to remember to check metadata fields in all registries on production when we do the install ther

[2016-04-04 18:52] #231 closed, assigned to nobody

[2016-04-04 19:12] mello99 commented on #231
Thank you, Keith!

[2016-04-04 21:38] mello99 commented on #228
Uploaded test XSLT to GitHub - [it can be accessed at the following link](https://github.com/VTUL/vtechworks/blob/vt_5_x_dev/dspace/config/crosswalks/symplectic_xwalks_dspace_default.xsl).

[2016-04-04 22:04] keithgee commented on #228
@mello99 - the new crosswalk is now on VTechWorks pre-production.

[2016-04-04 22:38] mello99 commented on #228
Hi, @keithgee , thanks for taking care of that so quickly. I was able to deposit a test item and while PPRD didn't break (hooray!), there are a few kinks that I need to work out. Here's a link to the test record that went through - http://vtechworks.pprd.lib.vt.edu/123456789/64486. The issues that I encountered are the following (not all-inclusive):

1) There are lots of duplicate fields - "dc.ide

[2016-04-05 11:59] keithgee commented on #228
@mello99, yes. Commit the changes to GitHub, and then let me know that you've done that so I can move them over to PPRD. Unfortunately, we don't have a way to test crosswalk changes for Elements on your local system right now.

In production, changes to the crosswalk, if they're ever necessary, will work the same way as other production changes. Commit new changes to GitHub during a sprint, and at

[2016-04-05 15:53] alawvt commented on #230
I have finished testing on vtechworks.dev.  @amandafrench, please deploy to pprd.

[2016-04-05 17:23] mello99 commented on #228
Posted questions about these issues on Symplectic's forums:
- Duplicate metadata fields - https://support.symplectic.co.uk/support/discussions/topics/6000035125
- Forward slashes - https://support.symplectic.co.uk/support/discussions/topics/6000035126
- Creative Commons language export - https://support.symplectic.co.uk/support/discussions/topics/6000035127

[2016-04-05 17:33] amandafrench commented on #228
Great, thanks, @mello99. Make sure you mention that this is specifically for an installation of Elements 4.16 with a Repository Tools Module connecting to DSpace 5.x, too -- not all Elements installations have the Repo Tools Module, and not all of them connect to DSpace.

[2016-04-05 18:45] mello99 commented on #228
I added that information to the first two postings - they haven't allowed me to comment on the third post (odd, hopefully that will change soon).

[2016-04-05 23:31] mello99 commented on #228
OK, @amandafrench and @keithgee , here's the response that I got from Symplectic about the duplicates issue:

"Can you check in your dspace.cfg for following list?  All your customised new metadata field must be in that list.

If not, you have to update the list.

[code]

I looked in the dspace config file and couldn't find any reference to a "pubs" or "publications" metadata authority list. Thank

[2016-04-06 13:30] alawvt commented on #228
publications.metadata.authority-list is in append_to_dspace.cfg. It was appended to dspace.cfg on the server but not added to the GitHub repository. It matches the list there. I will email you the contents.

[2016-04-06 16:18] keithgee commented on #228
Thanks, @alawvt. I do have permission now from Symplectic to add configuration for Elements to the GitHub repository, so I will likely add this soon. It's not necessary on all of our installations, but I think it makes sense to track it the same way we track the rest of our source code, anyway. Config for pre-prod and prod will be slightly different.

[2016-04-06 17:52] keithgee commented on #228
@mello99 I added a few lines to that configuration.
  dc.description.notes, \
        dc.title.serial, \
        dc.title.volume

I'm wondering if, when you submit again, the Journal Title field in dc.title.serial won't be duplicated. I'm not saying you need to do this now; whenever you're ready let me know. Thanks!

[2016-04-06 20:21] mello99 commented on #228
Hi, @keithgee , I resubmitted an item with the "dc.title.serial" field; that field isn't duplicated, but several others are (e.g, volume and issue numbers, embargo period, etc.). "dc.description.notes" is fine - I'd like to manually upload a publication with all of the fields in it before I make a final decision on whether that's okay, though. Take care! And I will upload the article today! Thanks

[2016-04-06 21:03] mello99 commented on #228
@keithgee , you are rocking and rolling with this! The latest journal article I imported has NO duplicate metadata fields (http://vtechworks.pprd.lib.vt.edu/123456789/64494); the only fields that look close to being duplicates (and this may be a different issue altogether) are two "dc.provenance" fields (see below):

![screen shot 2016-04-06 at 4 59 45 pm](https://cloud.githubusercontent.com/asset

[2016-04-06 21:21] mello99 opened #233 "Can a PPRD administrator reset my account password?"
Hi, all, I've been trying to log-in to VTW PPRD for quite some time using my email address - mlohrey@vt.edu - and password, but I've been prevented from doing so every time.

I'm able to receive a password reset message at mlohrey@vt.edu, but whenever I try to reset my password the changes don't go through. I've been able to log-in to PPRD using the vtechworks@vt.edu email account, **so there's no

[2016-04-07 11:26] keithgee commented on #233
@mello99 I'm interested in troubleshooting this when you're in the office. @kayiwa resolved a similar issue on production in 2015 May by changing the dspace hostname in the dspace.cfg file to use https. So I did this on pre-production this morning.

I wonder if this fixes the reset feature for you. Either way, we'll fix it so you can login to PPRD.

[2016-04-07 21:27] mello99 commented on #233
Hi, @keithgee , we can meet anytime after 1pm on Monday. For now I can just sign-in using the VTW support email. Thanks for your help, and take care.

[2016-04-13 15:44] alawvt opened #234 "Created 2 new user accounts and no emails were received"
Monday, I created two new VTechWork accounts for library employees. They both reported that they did not receive emails notifying them that the accounts were created. However they did receive password-reset emails.

[2016-04-13 16:55] amandafrench commented on #234
You might try testing this yourself, @alawvt, just to verify -- you can use mailinator.com to create temporary email accounts to test with. If you can reproduce the issue, I'd report it to @kayiwa using TeamDynamix.

[2016-04-13 18:14] alawvt commented on #234
@amandafrench, thank you for the suggestion to use mailinator.com. So far, no email for  ClueDinkle@mailinator.com.

[2016-04-14 13:43] alawvt commented on #234
The email for the new account never arrived. The email to reset the password was received immediately,
I tried with another email address and no response.
It should send the email in vtechworks/dspace/config/emails/register.

I have submitted a TeamDynamix request.

[2016-04-14 19:41] mello99 commented on #228
Hi, @keithgee , there are some ongoing duplication issues involving the Elements items being exported to PPRD (see [this item](http://vtechworks.pprd.lib.vt.edu/handle/123456789/64501)).

In short, the "dc.relation.ispartof" field is duplicated, and the "dc.format.extent" field is duplicated as well. The "dc.format.extent" field is uniquely problematic: one "dc.format.extent" field is different fr

[2016-04-14 20:42] mello99 commented on #228
@keithgee , never mind about "dc.format.extent" - there is no duplication. As it turns out, what I thought was a duplicate value was actually the number of chapters in the resource, which is one of a few fields mapped to "dc.format.extent" field. I'll let Symplectic know and hopefully they can provide more context for "dc.format.extent" regarding the # of chapters in a piece. So yes, there's nothi

[2016-04-15 18:41] mello99 opened #235 "Update Sherpa/Romeo green message in messages.xml"
Hi, @amandafrench , @alawvt , and @keithgee , I tested out VTW's Sherpa/Romeo lookup functionality for the "Journal of Library Metadata," and the information provided by the lookup functionality is, in my opinion, not entirely accurate.

To elaborate, the pithy message I received when I tried to upload a dummy publication from the Journal of Library Metadata was the following: "green - you may dep

[2016-04-15 19:05] alawvt commented on #235
Perhaps instead of "green - you may deposit any version of your work," it might say "green - you may be permitted to deposit any version of your work."
And perhaps instead of "More info" it could say "Please read detail" or something to that effect.

[2016-04-15 19:22] mello99 commented on #235
I'm reluctant to insert a "Please read detail" link in the same place as the "(More Info)" link because I doubt that people will take the time to do that. Perhaps it would work if we inserted a "Please read detail" link inside the green text; that text stands out and is easier to catch.

I just think it's too easy to get the wrong impression from the current message that's up there.

[2016-04-15 21:00] mello99 commented on #178
Hi, @amandafrench , what's the timetable for testing, in general? I know this is a high priority, but I just wanted to get a sense of how long we have to test. Thanks, take care.

[2016-04-19 14:25] alawvt commented on #234
@kayiwa replied in the TeamDynamix request,

"This looks like an application problem. We do know that mail on vtechworks works since it is able to reset my password etc., Unfortunately I don't know enough about dspace to begin to guess why this particular variable is not working. I do know @amandafrench made a request to change how one aspect of mailing works but I doubt this would be the source.

[2016-04-19 20:57] mello99 opened #236 "Can't deposit Elements items into PPRD (Elements upgrade has finished)"
Hi, all, I can't deposit Elements items into PPRD. This issue has occurred since early this afternoon after the Elements upgrade had been completed on ed.lib.vt.edu. Whenever I try to deposit Elements items into PPRD, I get the following message (see below). I asked Keith B. if he had any idea what was going on and he said no.

Keith G. - do you think it would be wise to revert to an earlier versi

[2016-04-19 22:18] keithgee commented on #236
@mello99, I found error messages in the DSpace log file. Here's the abbreviated version:

[code]

I reverted commits 2df8a111 and 2009b5c758, which added dc.rights[*| stuff to the XSLT file, and I was able to do a deposit from Elements to the repository.

Are you able to deposit now as well?

[2016-04-19 22:31] mello99 commented on #236
Hi, @keithgee , thanks so much for making that change. Yes, I was able to successfully deposit an Elements item into VTW!

Here's a list of what went **right**:

1) The full CC rights statement, in this case "Attribution-NonCommercial-NoDerivatives 4.0 International", went into "dc.rights"
2) The URI for the corresponding rights statement - "http://creativecommons.org/licenses/by-nc-nd/4.0/" - wen

[2016-04-19 22:37] keithgee commented on #236
Okay, I'm going to close this issue. We can open separate issues for each of the new problems you listed above.
*\* Closing

[2016-04-19 22:37] #236 closed, assigned to keithgee

[2016-04-19 22:39] keithgee opened #237 "dc.relation.ispartof field duplicated during Elements deposits"
Reported by @mello99

I've just added dc.relation.ispartof to publications.metadata.authority-list on preprod for testing; previously only the camelCase version, dc.relation.isPartOf was in the list.
This isn't in source control yet.

[2016-04-19 22:44] keithgee opened #238 "The string "page(s)" was not appended to the "dc.format.extent" field from Elements deposits"
Reported by @mello99

[2016-04-19 22:45] keithgee commented on #228
I'm closing this, and we will open separate tickets for each individual issue as we notice. We have an initial version of the Elements crosswalks.

[2016-04-19 22:45] #228 closed, assigned to mello99

[2016-04-19 22:57] mello99 opened #239 "dc.description.provenance has duplication"
Hi, @keithgee , we're having issues with the "dc.description.provenance" field. There's some duplication occurring in that field, specifically for the address information that's exported from Elements (see [this PPRD record](http://vtechworks.pprd.lib.vt.edu/handle/123456789/64511?show=full) - you have to be signed-in to PPRD and have admin privileges, though).

Tell you what - why don't we try ad

[2016-04-19 23:08] mello99 opened #240 "XSLT error (my bad) - duplicate "dc.format.extent" information"
Hi, @keithgee , I neglected to comment out a line of markup on the XSLT file for "dc.format.extent", so that caused some additional duplication ([see this latest commit for the fix](https://github.com/VTUL/vtechworks/commit/d203f13b83c76fe1b5b2f00970c18f494fa6584b)).

When you get the chance on Wednesday, could you restart PPRD to see if the change I made to the XSLT resolved this issue? Thanks so

[2016-04-20 11:29] keithgee commented on #240
@mello99, I have installed your changes and restarted PPRD.

[2016-04-20 11:42] keithgee commented on #237
The latest deposit after the change does not have duplication in dc.relation.ispartof duplication problems. I've added this change to the GitLab project, though it's likely that we will move all of our configuration into the GitHub project.
*\* Closing

[2016-04-20 11:42] #237 closed, assigned to nobody

[2016-04-20 11:43] keithgee commented on #238
After the latest change I see a field with "pages(s)" in some dc.format.extent fields. It's close!

[2016-04-20 12:05] keithgee commented on #239
I've added dc.description.provenance to the pubs metadata authority fields on PPRD and restarted Tomcat.

[2016-04-20 15:30] mello99 commented on #239
Thanks, I'll keep testing today since the new version of Elements is up and running; we'll see how it goes.

[2016-04-20 15:30] mello99 commented on #240
Thanks!

[2016-04-20 18:16] mello99 opened #241 "User cannot reset VTechWorks password"
Hi there, a VTW cannot reset her password; her email is correctly entered into VTW, so I'm at a loss as to what the issue is. Francis, can you email me to discuss this (I don't want to give away her personal info. on GitHub) when you get the chance? Thanks so much, take care.

[2016-04-20 18:17] mello99 commented on #234
Hi there, a VTW user cannot reset her password (she's not receiving the reset email). Her email is correctly entered into VTW, so I'm at a loss as to what the issue is. I've tried resetting her password for her, but I haven't heard back. I'll keep you updated if I need additional assistance.

[2016-04-20 18:17] #241 closed, assigned to nobody

[2016-04-20 18:18] mello99 commented on #241
There's another issue that describes this, so I moved the conversation over there - #234 . Thanks!

[2016-04-20 18:40] mello99 commented on #234
Ok, never mind, @kayiwa , the user eventually got her password reset emails, it just took longer than she'd anticipated. We're good (as far as the password reset emails are concerned), thanks so much.

[2016-04-20 18:49] alawvt commented on #234
We are still having the issue with no email for new accounts. We had two NLI classes full of folks who hadn't received the emails about their new accounts.

[2016-04-20 18:51] mello99 commented on #234
Yeah, I just wanted to clarify that the password reset emails weren't a problem (they are a little slow to get out, however).

[2016-04-20 21:05] mello99 opened #242 "XSLT Issue - "dc.date.available" is duplicated"
See screenshot below. @keithgee , could you add "dc.date.available" to the DSpace config. file when you get the chance? Thanks so much.

<img width="734" alt="screen shot 2016-04-20 at 5 04 48 pm" src="https://cloud.githubusercontent.com/assets/5408616/14690432/200773b6-071a-11e6-8dc4-e95caa0f183a.png">

[2016-04-20 21:18] mello99 opened #243 "Embargo period is available in Elements 5.0"
Hi, @amandafrench , I thought that we weren't going to allow users to select an embargo period for Elements items that they're depositing in VTechWorks, but the latest upgrade of Elements - 5.0 - gives users that choice (see below). Should we go ahead and test this functionality anyway? Thanks, take care.

<img width="489" alt="screen shot 2016-04-20 at 5 17 01 pm" src="https://cloud.githubusercon

[2016-04-20 22:58] mello99 opened #244 "Elements 5.0 is not saving manually entered metadata records (added to Basecamp)"
I entered several metadata records into Symplectic Elements this afternoon, and although I've been able to export them to VTW PPRD, the records themselves no longer appear in Elements. There's a discrepancy between the # of publications I have in my Elements profile (I've uploaded 33 pubs) and the number of publications that appear in my Elements profile (1 publication). Below are screenshots that

[2016-04-21 06:45] mello99 commented on #244
I'm closing this issue since it's an Elements issue, not a VTW issue. I posted a message on Basecamp, so hopefully it will be resolved. Apologies for the hassle!

[2016-04-21 06:45] #244 closed, assigned to nobody

[2016-04-21 11:08] keithgee commented on #242
I've added it.

[2016-04-21 11:11] keithgee commented on #240
Is this fixed?

[2016-04-21 16:22] mello99 commented on #240
Fixed

[2016-04-21 16:22] #240 closed, assigned to nobody

[2016-04-21 16:23] mello99 commented on #242
Thanks! Also, I've decided not to use it (sorry I decided this after you added it to the config!), so we're done with this field. Closed.

[2016-04-21 16:23] #242 closed, assigned to nobody

[2016-04-21 16:23] mello99 commented on #238
Yes, it's working, but awkwardly. I'll open another issue for formatting problems with "page(s)".

[2016-04-21 16:23] #238 closed, assigned to nobody

[2016-04-21 16:24] mello99 commented on #239
This is working, thank you!

[2016-04-21 16:24] #239 closed, assigned to nobody

[2016-04-21 17:02] mello99 opened #245 ""dc.type.other" is duplicated"
Hi, @keithgee , "dc.type.other" needs to be added to the config file to prevent duplication. Thanks so much!

[2016-04-21 17:08] mello99 opened #246 ""dc.format.medium" needs to be added to config file"
Hi, @keithgee , "dc.format.medium" needs to be added to the DSpace config file to prevent future duplication. I haven't used this field yet, but I'm anticipating that it will be duplicated if we don't add it to the config file. Thanks!

[2016-04-21 18:31] mello99 commented on #242
Hi, @keithgee , even though this issue is closed, I just wanted to make sure that "dc.date.available" was still in the config file, because I decided to change the mapping back to "dc.date.available". Thanks!

[2016-04-21 22:07] mello99 opened #247 "Please add "dc.relation.uri" to config file"
Many thanks!

[2016-04-22 13:48] keithgee commented on #247
Done.

[2016-04-22 13:48] #247 closed, assigned to keithgee

[2016-04-22 13:49] keithgee commented on #246
Got it.

[2016-04-22 13:49] #246 closed, assigned to nobody

[2016-04-22 13:51] keithgee commented on #245
Just added. You'll be able to update these fields yourself after our initial install of elements to production.

[2016-04-22 13:51] #245 closed, assigned to nobody

[2016-04-22 14:31] keithgee commented on #233
@mello99 I just used the reset password function from the "People" control panel in DSpace on PPRD to send a message that will allow you to reset your password.
Does this work for you now?

[2016-04-22 14:35] keithgee commented on #234
This isn't a bug; it's just the design of the system. It has always worked this way.

When an administrator uses the "People" screen to create new accounts for users, DSpace does not send e-mails to notify the users of the new accounts. This is on purpose. It sends e-mails when people self-register on DSpace, or when an administrator resets their password, but not when an administrator creates acc

[2016-04-22 14:42] alawvt commented on #234
@keithgee, thank you for this information.

[2016-04-22 14:42] #234 closed, assigned to nobody

[2016-04-22 18:49] mello99 opened #248 "Please add "dc.description.version" to config file"
This field is duplicated, which may be because of something that's going on in the crosswalk, but I can't be sure of that. Thanks again.

[2016-04-25 17:24] keithgee commented on #248
I've added it, and will restart PPRD soon.

**Closing

[2016-04-25 17:24] #248 closed, assigned to keithgee

[2016-04-25 17:33] mello99 commented on #233
Hi, @keithgee , it worked, so we're good now!

[2016-04-25 17:33] #233 closed, assigned to nobody

[2016-04-25 18:04] mello99 opened #249 "Can you add me to the branch listed below?"
I think I need to add the XSLT code for removing the forward slashes to [this branch](https://github.com/VTUL/vtechworks/blob/b79a7ca97cc15e5a068a9d81178312acc4238bb4/dspace/config/crosswalks/symplectic_xwalks_toolkit.xsl). Thanks, take care.

[2016-04-26 14:57] amandafrench commented on #235
Hi @mello99 - Please write the exact message that you think would be appropriate and include it here -- or you can change it yourself in the messages.xml file.

[2016-04-26 15:01] amandafrench commented on #243
No, let's not give users that option, at least not yet. If they don't want their item to be publicly available, they needn't deposit it to the repository. We can always test later if it proves to be a desired functionality.

[2016-04-26 15:01] #243 closed, assigned to nobody

[2016-04-26 15:01] amandafrench commented on #212
Shibboleth implementation is on hold till further notice.

[2016-04-26 15:01] #212 closed, assigned to keithgee

[2016-04-26 15:06] amandafrench commented on #249
@mello99 - That's not a branch: that's a commit. All you need to do is pull or fetch the current vt_5_x_dev branch and make the changes to the /dspace/config/crosswalks/symplectic_xwalks_toolkit.xsl file on your own machine, then push your own commit as described at https://github.com/VTUL/vtechworks/wiki/3.-Making-changes-on-the-local-development-environment, Feel free to reopen this issue if I'v

[2016-04-26 15:06] #249 closed, assigned to nobody

[2016-04-26 15:52] amandafrench commented on #230
I've merged the changes into vt_5_x_pprd_deploy, but I want to check to make sure we won't overwrite the Elements changes on pprd before I ask for it to be deployed. Might make sense to just do another deployment to dev and send it all along to pprd and prod.

[2016-04-26 17:23] amandafrench opened #250 "Make changes to paragraph on home page - news-xmlui.xml"
Change should be to the following:

VTechWorks publicizes and preserves the scholarly work of Virginia Tech faculty, students, and staff: journal articles, books, theses, dissertations, conference papers, slide presentations, technical reports, working papers, administrative documents, videos, images, data sets, and more. Write vtechworks@vt.edu to get help adding your content to VTechWorks and vi

[2016-04-26 17:23] keithgee commented on #230
Amanda, thanks for your care. I'm thinking that you should go ahead and ask for these to be deployed to PPRD. It _will_ temporarily overwrite Elements changes, but the README.md file for the elements_install_scripts project in our GitLab names one script that I will run to restore the Elements repository tools.

This is a great opportunity for me to test that script on a server that's configured l

[2016-04-26 17:35] amandafrench opened #251 "Make changes to Help page"
Fix text in first paragraph about Help channels, and either put Ginny's help page up or mine it for content. Refer to Help Google Doc for new content.

[2016-04-26 18:24] amandafrench commented on #230
Okay, @keithgee, will do! Was just about to contact @kayiwa about that.

[2016-04-27 05:02] mello99 opened #253 "List of metadata elements in config file?"
Hi, @keithgee , where can I find a list of the metadata elements in the DSpace config file? I looked in the "config" files on GitHub and couldn't find what I was looking for. I just wanted to add all of the remaining fields in the Elements schema to the config file to prevent possible duplication. Although doing this would add several fields that we might not use, I think it would be helpful to ad

[2016-04-27 11:49] keithgee commented on #253
@mello99 I've given you access to a project called "elements_install_scripts" on our GitLab service. The configuration parameter you are looking for is called publications.metadata.authority-list, and it is in a file called "append_to_dspace.cfg" in that GitLab project.

These configuration parameters will move to dspace.cfg in GitHub after the initial installation, because we now have permission

[2016-04-27 11:49] #253 closed, assigned to nobody

[2016-04-27 20:38] #250 closed, assigned to amandafrench

[2016-04-27 20:51] amandafrench opened #254 "Altmetrics badges (blank ones) not showing on items deposited from Elements"
Pre-production still has the altmetric badges showing for all items, even when there is no data, but items deposited from Elements do not have that badge.

![screenshot 2016-04-27 16 51 37](https://cloud.githubusercontent.com/assets/227453/14867813/5a69c29c-0c98-11e6-8e27-507585489b01.png)

[2016-04-27 22:21] mello99 commented on #254
Hi, @amandafrench , this appears to be a consistent issue for all items uploaded to PPRD. I recently uploaded an open access article that was one of the top [100 Altmetrics articles for 2015](https://www.altmetric.com/top100/2015/#explore); it has 2432 mentions.

I uploaded this article using the PPRD submission form - I did not use the Elements submission form. The article can be accessed here: h

[2016-04-27 23:45] amandafrench commented on #254
Hmm, I just tested myself in a different collection, and you're right, it's some issue with all new items on pprd. Again, it's not so much that I expect items in VTechWorks to show altmetrics data (our badges track only mentions of VTechWorks handles, so they won't capture mentions of article DOIs: basically, altmetrics thinks our article is a different item altogether from the one in the Top 100)

[2016-04-27 23:45] #254 closed, assigned to nobody

[2016-04-28 16:52] alawvt commented on #230
@amandafrench, I have tested the changes on vtechworks.dev and they are ready to deploy to vtechworks.pprd.

[2016-04-28 19:37] amandafrench commented on #230
Great, thanks! Will create the branch.

[2016-04-29 15:31] alawvt commented on #230
I see the non-Elements changes on pprd.

[2016-04-29 16:41] alawvt commented on #230
I have tested the non-Elements changes on pprd and they all pass. When Elements testing is finished, the changes can be deployed to production.

[2016-04-29 17:56] mello99 opened #256 "Issue with Spanish-language characters in VCE pubs"
Hi, @alawvt , I was talking to Jana earlier about language encoding and she showed me a VCE record in Spanish - https://vtechworks.lib.vt.edu/handle/10919/50757. The issue with this record is that the Spanish-language characters are awry, and we were trying to ascertain why this happened. We think that this item may have been batch loaded, but we're not positive. Any ideas? Thanks so much!

[2016-04-29 18:24] alawvt commented on #256
@mello99, I loaded that in batch, Food_Safety: 20140814_10919_5548, which I uploaded on 2014-11-05. Attached is the metadata file that was uploaded for that item. (I changed the file name from dublin_core.xml to dublin_core.txt so GitHub would upload it.) It looks ok in BBEdit which says it has UTF-8 encoding.
[dublin_core.txt](https://github.com/VTUL/vtechworks/files/242991/dublin_core.txt)
Since

[2016-04-29 23:31] amandafrench commented on #230
Great, thanks, @alawvt!

[2016-05-10 15:42] amandafrench opened #259 "Elements crosswalk (maybe) minor issue - invited talks"
For "Presentation" item types, there's a checkbox in Elements that asks whether the presentation was invited. This info gets pulled into the description.notes field, but in an ugly way, as follows:

When the "Invited" box is left unchecked, the field reads "false (Invited?)".

Don't know whether it's possible to fix this in the crosswalk: can report as minor issue to Symplectic if necessary.

[2016-05-10 16:32] mello99 commented on #259
Hi, @amandafrench , this is something we can fix. I actually added that customization because I wanted to provide more contextual information in the "dc.description.notes" field; a simple "true" or "false" wouldn't tell the user very much (and there's no custom Symplectic field for invited publications, though we could add one).

That being said, I can create a custom Symplectic field for invited

[2016-05-10 17:43] amandafrench commented on #251
Done!

[2016-05-10 17:43] #251 closed, assigned to amandafrench

[2016-05-10 17:44] #177 closed, assigned to amandafrench

[2016-05-10 17:44] #178 closed, assigned to amandafrench

[2016-05-10 17:44] #211 closed, assigned to keithgee

[2016-05-10 17:47] amandafrench commented on #230
The Elements (hamster) changes have been tested on pre-production: and all are ready to be tested on production. We can't really do much testing of the Elements crosswalk on production, since @mello99 doesn't have access to it and since in any case we don't want to create a bunch of dummy items, but I've done enough testing to pass it. (There is a spreadsheet of what I've done in the "Testing" fol

[2016-05-10 17:48] amandafrench commented on #235
Will bring these into line with what Elements says (Draft version, Submitted version, Accepted version, Publisher's version)

[2016-05-10 17:48] amandafrench commented on #256
Since this issue seems to be resolved, I'm going to close it. Thanks for troubleshooting, @alawvt!

[2016-05-10 17:48] #256 closed, assigned to nobody

[2016-05-10 17:49] amandafrench opened #260 "Change alert box background color"
to orange, so it's more prominent

[2016-05-10 18:19] amandafrench commented on #259
Personally I think that if the box is checked, we should get the string "Invited" in the notes field; if it's not checked, we should either get no data (for preference) or a string like "Not invited" (though that's a bit insulting). Will assign to you: you should probably enter any outstanding crosswalk issues here individually, too, though they're all covered on the task board by a single post-it

[2016-05-10 20:58] amandafrench opened #262 "Fix color of link in mobile breadcrumb bar"
![link_color_breadcrumbs](https://cloud.githubusercontent.com/assets/227453/15162362/73d2a8a6-16d0-11e6-9c0f-a318b7eed6b4.jpg)

[2016-05-10 22:59] mello99 opened #263 "VTW has been down for over 5 minutes"
Hi, @amandafrench , @alawvt , and @keithgee , I just put in a TeamDynamix request notifying IT services of this (not sure who's working right now, though). Apologies if this was expected and I'm causing a fuss over nothing. Thanks, everyone.

[2016-05-10 23:31] keithgee commented on #263
Thank you!

On Tuesday, May 10, 2016, mello99 notifications@github.com wrote:

[2016-05-10 23:37] mello99 commented on #259
Added some code that will hopefully achieve this (see [this commit](https://github.com/VTUL/vtechworks/commit/999cc9334be03fc9c31115cf714614ed232176c3)):

`<crosswalks:dictionary dspace="c-invited" mapped-only="true">
   <crosswalks:entry elements="true" dspace="Invited publication" />
 </crosswalks:dictionary>`

The rationale behind this code is that if there's no mapping for "false" (that is, if

[2016-05-10 23:47] mello99 commented on #263
VTW is back up again!

[2016-05-10 23:47] #263 closed, assigned to kayiwa

[2016-05-11 15:09] alawvt opened #264 "Incorrect links and non-functioning search box on error page"
In the attached screen shot of the error page, the link in the breadcrumb for "VTechWorks Home" is http://vtechworks.lib.vt.edu/handle/10919/236910 (the URL causing the error) but should be http://vtechworks.lib.vt.edu/handle. The link for "Log In" is also http://vtechworks.lib.vt.edu/handle/10919/2236910 (the URL causing the error) but should be http://vtechworks.lib.vt.edu/login.

Also the searc

[2016-05-11 15:32] alawvt opened #265 "OAI name should not be VTechWorks University"
An example of OAI Record Details, http://vtechworks.lib.vt.edu/oai/request?verb=GetRecord&metadataPrefix=mets&identifier=oai:vtechworks.lib.vt.edu:10919/51134,  is shown below. The name field is currently "VTechWorks University." It's part of the METS header as Organization Custodian
![oainame](https://cloud.githubusercontent.com/assets/13037168/15186441/0763ed4c-176b-11e6-8c89-91ce8fd67dc1.png)

[2016-05-11 15:48] alawvt opened #266 "URL encoding issue (DS-3050)"
DSpace 5.5 was supposed to fix URL encoding issue (DS-3050), https://jira.duraspace.org/browse/DS-3050. In ours, `"<FLocat xlink:type=""simple"" LOCTYPE=""URL"" xlink:href=""http://vtechworks.lib.vt.edu//bitstream/10919/51134/9/Flood+Presentation.pptx"" />`
should be Flood_Presentation.pptx" but is still Flood+Presentation.pptx.
Usinge `http://vtechworks.lib.vt.edu/oai/request?verb=GetRecord&metad

[2016-05-11 16:59] alawvt commented on #266
http://vtechworks.lib.vt.edu/oai/request?verb=GetRecord&metadataPrefix=mets&identifier=oai:vtechworks.lib.vt.edu:10919/51134

[2016-05-11 17:44] alawvt commented on #266
Commands,

[code]

Note that `oai import -c` alone did not fix the issues.

cured both this issue and #265
We will consider adding this to the cron job.

Possible related issue, https://groups.google.com/forum/#!topic/dspace-tech/dELHjbMUclQ

[2016-05-11 17:55] #266 closed, assigned to nobody

[2016-05-11 18:04] alawvt commented on #265
Resolved by action taken for #266.

[2016-05-11 18:04] #265 closed, assigned to nobody

[2016-05-11 18:48] alawvt commented on #230
I have tested the non-Elements changes on production and they all pass.

[2016-05-11 18:48] #230 closed, assigned to alawvt

[2016-05-16 12:58] alawvt opened #267 "Update the OMALS and NDLTD custom submission forms with the changes we made to the default form."

[2016-05-19 18:36] mello99 opened #268 "Versioning issue - items (and their handles) are being deleted"
Hi, all, I tried creating versions of an item in VTW on 3 different occasions. On 2 of those occasions, the versioning functionality went totally awry and created an entirely new handle, deleting (or rendering inaccessible) the old version of the item. On top of that, the new "version" of the item with the new handle is no longer accessible - you get a message saying that an error occurred.

I hav

[2016-05-19 19:30] mello99 commented on #268
I think I know what the problem is, because I just tried creating a versioned item on PPRD.

In essence, if you're going to create a new version of an item, you have to make changes to that particular version _during the process of creating that version_.

What I did the first time was create a second version and leave it the same as the first because I planned on making the changes after the seco

[2016-05-19 19:39] keithgee commented on #268
Good research, @mello99!

[2016-05-19 19:53] #268 closed, assigned to keithgee

[2016-05-20 14:45] alawvt opened #269 "Thumbnail different in collection item list and search results than in simple item view"
The author noted that the thumbnail in simple item view, http://vtechworks.lib.vt.edu/handle/10919/70924, is different than the one in the collection item list, http://vtechworks.lib.vt.edu/handle/10919/64855, and in search results. She would prefer to have the thumbnail that appears in the collection list, fair-use-week-2016-panels.pdf.jpg, appear in the simple item view, instead of FairUseWeek20

[2016-05-20 19:52] alawvt commented on #155
The head of OMALS has reported this same issue with multiple submissions to that collection, http://vtechworks.lib.vt.edu/handle/10919/51287.

I reported this issue as "Metadata missing in Item Approval View," https://jira.duraspace.org/browse/DS-3216 on 2016-05-20.

[2016-05-23 16:43] amandafrench commented on #269
Reported to DSpace -- will close since there's probably nothing we can do about it on our end.

[2016-05-23 16:48] amandafrench commented on #155
If (when) this occurs again, I'd suggest clicking on the "show" links on the error page and giving the full error messages to @keithgee and/or ITS, perhaps in a comment on this issue. Could be a system error instead of an application error. Will close for now since there's probably not much we can do about it now.

[2016-05-23 16:53] alawvt commented on #155
Since ITS changed the error page, we won't be able to click on a link to the stack trace. It is probably recorded in the log, but I don't know how well or hard it would be to find. The error page only shows up when clicking on the file link. The other screens weren't error messages.

[2016-05-23 16:54] amandafrench commented on #264
I'm going to assign this bug to @AmberPoo1 to take a look at -- unless you can, @keithgee? I'm not sure where the error page is generated. It can wait, but let's try to fix it this sprint if possible.

[2016-05-23 16:56] amandafrench opened #270 "Put in dspace-request-copy email in dspace.cfg"
So that requests go to that address instead of the vtechworks support address.

[2016-05-23 17:33] amandafrench opened #271 "Reorder communities on front page"

[2016-05-23 19:13] alawvt commented on #270
Possibly helpful notes
https://wiki.duraspace.org/display/DSDOC5x/Request+a+Copy#RequestaCopy-Configurationparameters

dspace.cfg, line 2089

[code]

[2016-05-23 19:26] alawvt commented on #217
July 20, 2015 Pull Request #3, commit 242ec71, to turn on ORCID authority control.

[2016-05-23 19:27] alawvt commented on #217
This change would make metadata work easier and safer.

[2016-05-23 19:31] amandafrench commented on #217
Feel free to just do it, @alawvt or @mello99! Or rather undo it. :) Assign yourself if you want to volunteer to remove the associated lines from dspace.cfg. And thanks for finding it, @alawvt.

[2016-05-23 19:38] amandafrench commented on #259
Great! Don't forget that you'll have to submit a pull request to merge the elements_dspace_xslt_changes branch into the main branch before the code can be deployed at the end of the sprint, @mello99. If you don't have any other changes to make to the crosswalk, you can do that now.

[2016-05-23 19:43] amandafrench commented on #173
MovingImageCustomSubmission is at https://docs.google.com/spreadsheets/d/1hIx4Tfn-z0dXFwOHTM5uqcp2_FVwwrYVdkcVTAWc50U/edit#gid=523580844

[2016-05-23 19:50] alawvt commented on #217
@keithgee, would reverting commit 242ec71 and removing `/dspace/bin/dspace index-authority` and `/bin/dspace dsrun org.dspace.authority.UpdateAuthorities` from crontab, if they exist, do it?

[2016-05-23 23:19] keithgee commented on #217
I think so, but I don't know. This sounds like a good one to try on an LDE
or on dev.

On Mon, May 23, 2016 at 3:50 PM, alawvt notifications@github.com wrote:

[2016-05-24 15:52] #259 closed, assigned to mello99

[2016-05-24 21:29] alawvt commented on #217
Neither of these tasks appear in crontab on vtechworks.lib.vt.edu.

[2016-05-25 15:22] keithgee commented on #264
This is fixed with commit 11c4d0b.

**Closing

[2016-05-25 15:22] #264 closed, assigned to keithgee

[2016-05-25 16:23] alawvt commented on #217
Resolved with Pull Request #273

[2016-05-25 16:23] #217 closed, assigned to nobody

[2016-05-25 17:52] mello99 opened #275 "Browsing by Issue Date"
Hi all, Gail asked me to mention a possible enhancement involving DSpace's "Browing by Issue Date" functionality. In short, a user contacted her and asked why it wasn't possible to browse by issue date for single years prior to 2005. This involves the "Browse" function, _not_ the faceted search function. As you know, the "Jump to a point in the index" function is set up to look back in 5-year incr

[2016-05-25 19:01] amandafrench opened #276 "Remove automatically added rights statements from OMALS and NDLTD submission forms"
Remove automatically added rights statements as displayed in http://vtechworks.lib.vt.edu/handle/10919/70992?show=full

Only Creative Commons data should be displayed.

[2016-05-25 19:02] amandafrench commented on #276
Take out the following:
- In Copyright (InC)
- This Item is protected by copyright and/or related rights. Some uses of this Item may be deemed fair and permitted by law even without permission from the rights holder(s). For other uses, you need to obtain permission from the rights holder(s).
- http://rightsstatements.org/vocab/InC/1.0/

[2016-05-25 20:43] alawvt commented on #276
also remove those rights statements from recent items in each collection.

[2016-05-26 10:32] keithgee commented on #155
@alawvt which specific items have had this problem recently?  I notice that we are now keeping only about 3 months of log files on the server, so it is more difficult to investigate the items from January.

[2016-05-26 12:07] alawvt commented on #155
From the latest report, I would imagine at least two of the items in the OMALS collection submitted in 2016 had this problem.

[2016-05-26 14:17] alawvt commented on #276
In the NDLTD collection, I left the rights fields for http://hdl.handle.net/10919/65154, since I loaded it.

In the OMALS collection, I removed the InCopyright fields for:
- http://hdl.handle.net/10919/70992
- http://hdl.handle.net/10919/70991
- http://hdl.handle.net/10919/70990
- http://hdl.handle.net/10919/70989
- http://hdl.handle.net/10919/70849

[2016-05-27 19:14] alawvt commented on #155
Just had another case loading http://hdl.handle.net/10919/71289 (5/27/2016 ~3pm). Here are screenshots:
![blanckapproval_1](https://cloud.githubusercontent.com/assets/13037168/15618686/7ea4b5e4-241d-11e6-9b8b-addeee2fe6af.png)

![blanckapproval_2](https://cloud.githubusercontent.com/assets/13037168/15618701/8d377312-241d-11e6-9c34-37ce15d533ab.png)

[2016-05-28 16:33] AmberPoo1 opened #277 "Maven Build Error - Error loading property file '.../target/dspace_local.properties.properties'"
Hi @keithgee, I have updated the configuration files under "vtlibans_dspace" from git.it.vt.edu, and also get the latest code from Branch: "vt_5_x_dev", but still get the following build error (it seems like "dspace_local.properties.properties" is missing, I cannot find this file anywhere), any ideas about it?

This is the error log:

---

[INFO] DSpace XML-UI (Manakin) ...........................

[2016-05-28 17:16] kayiwa commented on #277
Could you please confirm what steps you did? Did you run a `vagrant destroy` and then `vagrant up` and get this error?

If not thank you for doing this. If you did run `vagrant destroy` and then `vagrant up` you should have a symbolic link to that file as this step describes.

https://git.it.vt.edu/it-services/vtlibans_dspace/raw/master/provisioning/roles/dspace/tasks/maven_setup.yml

Pull request

[2016-05-28 17:24] AmberPoo1 commented on #277
Hi @kayiwa, it's not a VM issue. It happened in the build step which builds dspace target classes,  before start virtual machine.

[2016-05-28 17:27] AmberPoo1 commented on #277
@kayiwa, ok, I will try vagrant destroy and then vagrant up. Thanks.

[2016-05-28 17:28] kayiwa commented on #277
I'm confused. Where are you doing the building? on your computer?

[code]

Could you explain how what you mean ^^^

In the meantime you can fix that by running

[code]

In the directory where you run the `mvn clean...` command.

[2016-05-28 17:33] kayiwa commented on #277
The steps have changed a little bit so you can't do this on `autopilot`

I have another hour online and can be reached via IM if you run into problems.

I forgot to say make sure you run `git pull` before you run `vagrant up`

[2016-05-28 17:35] AmberPoo1 commented on #277
Well, I just want to say all my code is the latest version. And I want to know how to generate "dspace_local.properties.properties" on local host, I will try your solutions. :-)

The steps to run dspace on the vm is (This error happened in step 1. ):
1. build dspace target classes on local host
2. run "vagrant up" to open vm
3. resynchronize the built code on your local host to the vm
...

[2016-05-28 17:40] kayiwa commented on #277
the file is here. You will need to replace the `{{ }}` content with the variables.

https://git.it.vt.edu/it-services/vtlibans_dspace/raw/master/provisioning/roles/dspace/templates/build.properties.j2

[2016-05-28 17:41] AmberPoo1 commented on #277
Ok, thanks, @kayiwa

[2016-05-31 11:55] alawvt commented on #277
@AmberPoo1, the instructions, https://git.it.vt.edu/it-services/vtlibans_dspace/blob/master/README.md, have changed. I just fixed the path for this step that links the properties file,

[code]

[2016-05-31 16:04] keithgee commented on #155
I'm not sure where to go with this yet; the log files don't show anything unusual. I may try to replicate on my LDE when I get a chance.

@mello99 and @alawvt , if this is seen again would it be okay to not accept or edit the item until I can look at it? I wonder if I could spot any differences that would show why no information appears.

[2016-05-31 16:39] mello99 commented on #155
Sure, @keithgee , I'll let you know if we encounter those issues again and I won't approve anything until I get the go-ahead from you. Take care.

[2016-06-01 15:04] amandafrench commented on #270
Done. Pushed directly to dspace_dev branch. I don't think I can test whether it works on my VM, so we can just wait till it's deployed to development. Will assign to @mello99 to test after we've deployed to development.

[2016-06-01 15:08] alawvt commented on #277
I was finally able to build the new vagrant box. Please destroy and rebuild yours. Please note carefully the updated README and notes above.

[2016-06-01 18:53] alawvt commented on #277
Update - @kayiwa made another update to the vagrant box. After I built the vagrant box, I switched to another commit, rebuilt and there were no communities listed on the home page. I destroyed and am rebuilding vagrant again.

@keithgee, do you have any idea why the communities wouldn't show up on the home page? I tried `reindexing, sudo -u vtechworks ./dspace index-discovery -b`, to no avail. The

[2016-06-02 12:16] alawvt commented on #277
@keithgee, never mind. @kayiwa  figured out the issue.
"When we ran the vagrant rsync the /var/local/vtechworks/src/dspace/dspace/target/dspace-installer directory is then owned by the user vagrant I have updated the documentation here. https://github.com/VTUL/vtechworks/wiki/3.-Making-changes-on-the-local-development-environment to reflect this. The reason the build was running quickly is because

[2016-06-02 14:06] alawvt commented on #173
https://wiki.duraspace.org/display/DSDOC5x/Submission+User+Interface#SubmissionUserInterface-ItemtypeBasedMetadataCollection

[2016-06-02 14:08] alawvt commented on #277
@keithgee, even with the changes noted above, I'm still having the issue with no communities after rsyncing with a new branch.

[2016-06-02 15:06] alawvt commented on #277
@keithgee, never mind again. @kayiwa figured out the next issue. He changed the solr port from 8081 to 8080 in templates/dspacedevvm.local.vt.edu.properties. It all seems to work now.

Everyone, please be sure to pull the latest commit for https://git.it.vt.edu/it-services/vtlibans_dspace and use the latest instructions on that page.

[2016-06-02 18:34] AmberPoo1 commented on #277
Hi @kayiwa , when running "vagrant up", always get this error:

TASK [ant : download the ant binary] *******************************************
fatal: [vtechworksvm]: FAILED! => {"changed": false, "failed": true, "msg": "Failure downloading http://archive.apache.org/dist/ant/binaries/apache-ant-1.9.6-bin.tar.bz2, timed out"}

Is there any solution for this? the previous installations are successf

[2016-06-02 18:59] kayiwa commented on #277
always helpful if you say what you did. When you say this _always_ happens to you. I am assuming this is  after a `vagrant destroy` and then `vagrant up`. In which case you have really miserable luck. I've run (I can recall) at least 3 of those today and experienced no problem.

this makes me think you have a cached attempt that you are running.

Ideally try this (humor me) completely delete anyth

[2016-06-02 19:06] AmberPoo1 commented on #277
Each time I run "vagrant destroy" and then "vagrant up", and got this error, 3 times.

[2016-06-02 19:09] AmberPoo1 commented on #277
Thanks, @kayiwa , but where and how to clear the cached stuff?

[2016-06-02 19:10] kayiwa commented on #277
are you on campus when this happens? from your terminal can you run

`wget http://archive.apache.org/dist/ant/binaries/apache-ant-1.9.6-bin.tar.bz2`

Can you hangout right now?

[2016-06-02 19:45] AmberPoo1 commented on #277
I have gotten off work today. I can test it and hangout if you are free tomorrow. Thanks.

[2016-06-02 21:02] mello99 opened #281 "Giving Manuel high-level administrator privileges"
Hi all, Manuel has been working on a content mapping project in which he needs administrative access to numerous collections in VTechWorks. The issue is that the administrators group, which consists of Anne, Melissa, Manuel, and Amanda, is not included in all of these collections, specifically the smaller, less frequently used collections. As a result, I've had to add the administrators group manu

[2016-06-03 01:07] mello99 commented on #281
Never mind, I figured out which group I needed to add him to, so we're good. Thanks everyone!

[2016-06-03 01:07] #281 closed, assigned to nobody

[2016-06-03 18:38] alawvt opened #282 "Submission form is broken after installing Elements"
The submission form works after commit https://github.com/VTUL/vtechworks/commit/cda900e37563f9b6d56b692c956cfc81b7104602 (5/3).

The submission forms does not work after the next commit, which added the Elements configuration, https://github.com/VTUL/vtechworks/commit/574d07777825f150629e33ffa35f19ff12eeb6fb (5/9).

I would not push the Irish Setter sprint commits until we get this resolved. I wi

[2016-06-03 19:04] alawvt commented on #282
Need to gather data:
My understanding is that Elements servers are connected to both pprd and dev. The submission forms in both pprd and dev work. I can not see the dspace.cfg code for these two repositories. It would be good to compare them to the one here.

[2016-06-03 20:30] alawvt commented on #282
In the most recent version (commit https://github.com/VTUL/vtechworks/commit/0f360a9e76c712307c5579d10a34566919bca436) of dspace.cfg, row 751, if I delete ", elements" the submission form works, but probably Elements does not.

Submission form does not work:

[code]

Submission form does work:

[code]

I was able to compare dspace.cfg to the one in pprd. The one is pprd is very much like this one.

[2016-06-03 21:27] keithgee commented on #282
@alawvt, which system is this problem happening on? LDEs? Dev? Pre-production? Production?

Thanks!

[2016-06-03 22:18] mello99 commented on #155
Hi @keithgee , I ran into another invisible submission when Anita submitted her latest paper after 6pm today. I've returned it to the task pool so that you can look at it. Thanks.

[2016-06-06 12:06] keithgee commented on #282
Based on comments in this GitHub issue and others, this problem is currently only happening on LDEs, and not Dev, Pre-production, or production.

The line that is causing the problem,

[code]

is already installed in dev, pre-production, and production as part of the Elements install, and is not causing issues. [Though note that authority was still turned on in production]. In fact, the "elements"

[2016-06-06 12:12] keithgee commented on #155
@mello99, could I borrow your username and password sometime?(but don't post it here). I don't have access to the task pool for that collection, and adding my account to that list of people now still wouldn't let me see it.

Thanks!

[2016-06-06 16:13] alawvt commented on #282
I have submitted a TeamDynamix request to treat this setting as a parameter for LDEs, so the submission form and other events in the LDE will work. In the meantime, we can each omit this "elements" from dspace.cfg on our LDEs. I will put a note about this temporary fix in the README on GitLab and GitHub.

[2016-06-06 17:23] alawvt opened #283 "Test and deploy Irish Setter sprint"
Write an Irish Setter sprint testing plan.
Test on vtechworks.dev.

[2016-06-06 20:14] alawvt commented on #283
The test plan is in Google Drive at Dspace_5.5_April_28_June_3_Irish_Setter_Testing. I have finished all the non-Elements tests on vtechworksdev and they all pass.
I have written two possible tests for Elements:
- Check the myriad mapping changes
- Check that the Elements upload functionality still works

@amandafrench, what do you want to about testing Elements?

[2016-06-08 15:47] mello99 commented on #155
Hi @keithgee , I created 3 test submissions thus far:

One of them, "Test invisible submission 3”, is not showing any of the metadata (the submission is in the task pool and you should be able to look at it and take it when logged-in to VTechWorks).

The other two submissions showed the metadata associated with the records – these two records were submitted to the “Library Test” collection, wherea

[2016-06-08 15:56] mello99 commented on #155
@keithgee , also created another submission, "Test Invisible Submission 4" - that doesn't show the item's record, either.

[2016-06-08 17:27] mello99 commented on #283
Hi, @alawvt , @amandafrench , and @keithgee , I tried to deposit 4 items from Elements (ed.lib.vt.edu) into VTW Dev and all of the deposits failed. I got a message in Elements for each that read "The repository experienced a problem and indicated failure of the file upload." See the [testing spreadsheet](https://docs.google.com/spreadsheets/d/1zxlgMRBcAO39rjJ6zZGAjE1FcVHQzaqMnz39Qu98ozQ/edit#gid=0

[2016-06-08 18:14] alawvt commented on #283
@mello99, thank you for testing Elements. I'm sorry I can't help with Elements-- @amandafrench, @keithgee, TeamDynamix?

[2016-06-08 19:05] keithgee commented on #283
I'll open a separate GitHub issue for the problem that @mello99 mentioned with Elements deposits.

[2016-06-08 19:09] keithgee opened #284 "Elements deposits broken on VTechWorks Dev"
@mello99 has tried four deposits from ed.lib to VTechWorks Dev via the Elements Repository tools, and received an error on each one. The deposits were unsuccessful.

[2016-06-08 19:53] keithgee commented on #284
There is a parameter in dspace.cfg that specifies the handle of the collection where new items from Elements should be deposited.
On vtechworks.dev, this has reverted to an incorrect collection handle:

[code]

The timestamp on the dspace.cfg file is June 6.

I believe that this parameter should match what we have in source control, on our vt_5x_dev branch, instead:

[code]

[2016-06-08 19:55] mello99 commented on #284
Hi @keithgee , thanks so much for looking into this. When you think it's ready to be retested, could you let us know on GitHub? Thanks again!

[2016-06-08 19:59] keithgee commented on #284
@mello99 I requested on talk.lib for @kayiwa to change the parameter on dev and restart Tomcat so that it can be tested again.

[2016-06-08 20:00] mello99 commented on #284
@keithgee , okay, sounds good, I'll try again in about 2 hours (I'm guessing that should be enough time).

[2016-06-08 20:07] mello99 commented on #284
I heard through @alaw that @kayiwa said that I could retest. I just tried redepositing a conference item and a journal article and they both failed :(. I'll keep going.

[2016-06-08 21:18] keithgee commented on #284
The dspace.cfg file has been repaired and we've just tested two deposits successfully.
*\* Closing

[2016-06-08 21:18] #284 closed, assigned to nobody

[2016-06-08 21:22] mello99 commented on #284
Just retested, @keithgee , and all of the items were accepted and deposited in VTW Dev. Below are their handles:

1) http://hdl.handle.net/10919/71320
2) http://hdl.handle.net/10919/71319
3) http://hdl.handle.net/10919/71318
4) http://hdl.handle.net/10919/71321

There are some issues with the metadata that I thought I addressed by adding all of the fields to the dspace config file, but I'll create

[2016-06-08 21:25] keithgee commented on #284
Okay, thanks @mello99.

[2016-06-08 21:25] mello99 opened #285 "Elements titles appear twice in item records (VTechWorks Dev)"
Hi, all, I just deposited some Elements records into VTechWorks Dev and their titles appear twice in the item records - was this planned? Below are some screenshots of what I'm referring to:

<img width="882" alt="screen shot 2016-06-08 at 5 23 43 pm" src="https://cloud.githubusercontent.com/assets/5408616/15911407/c525204c-2d9d-11e6-8e9d-926afdeb3ab3.png">

<img width="870" alt="screen shot 2016-

[2016-06-08 21:30] mello99 opened #286 "Metadata duplication occurring for Elements deposits (VTW Dev)"
Hi everyone, I thought I corrected this issue in the DSpace config file by adding all of the metadata elements that we planned to use, but there continues to be metadata element duplication in the Elements records that were deposited into VTW Dev. Below are the URLs for the items' full records:

1) http://vtechworks.dev.lib.vt.edu/handle/10919/71319?show=full
2) http://vtechworks.dev.lib.vt.edu/ha

[2016-06-08 21:35] keithgee commented on #284
I updated the links above in your comment to point to vtechworks.dev. instead of hdl.handle.net. There's a canonical url parameter on dev that also is not what it should be right now.

[2016-06-08 21:44] mello99 commented on #286
Hi, @keithgee , I'm going to assign this to you, if you don't mind, because I just checked the DSpace config file and all of the duplicative elements are in there (at least _most_ of them are - I did a cursory search, so I may have missed some). I'm a bit lost as to what's happening, but I'll keep thinking. Thanks so much for your help getting Elements talking to DEV earlier!

[2016-06-09 12:23] alawvt commented on #285
In http://vtechworks.dev.lib.vt.edu/handle/10919/71321?show=full, the dc.title field is repeated,
[code]

[2016-06-09 14:43] AmberPoo1 commented on #277
Hi @kayiwa, I tried to get my virtual box work today, I updated all the tools needed according to our instructions, I did "vagrant destory", then "vagrant up". Other tools such as git, java installed successfully until I encountered the ant installation error as follows:

[code]

My Ansible version is 2.1.0.0, I searched online which said some Ansible versions may contain bugs with the ssh (https:

[2016-06-09 14:48] alawvt commented on #277
My vagrant box built with Ansible 2.0.2.0.

[2016-06-09 14:56] kayiwa commented on #277
Log into the VM with

[code]

manually download the file

[code]

unarchive the file

[code]

create the ant directory

[code]

move the unarchived directory in there

[code]

create a symbolic link to the binary

[code]

exit the vm

[code]

run

[code]

[2016-06-09 14:58] AmberPoo1 commented on #277
@kayiwa, thanks, I will try this.

[2016-06-09 15:00] kayiwa commented on #277
one more thing.  For good measure temporarily block the ant role

by deleting it from `provision.yml` so it goes from looking like this

[code]

to

[code]

[2016-06-09 16:18] #235 closed, assigned to amandafrench

[2016-06-09 16:18] #270 closed, assigned to amandafrench, mello99

[2016-06-09 16:18] amandafrench commented on #285
No, that's definitely not planned! Keep testing and troubleshooting ...

[2016-06-09 16:19] amandafrench commented on #173
Closing until next sprint or later ...

[2016-06-09 16:19] amandafrench commented on #271
Closing until later ...

[2016-06-09 16:19] #271 closed, assigned to nobody

[2016-06-09 16:21] amandafrench commented on #275
Okay, I've put this in the backlog. Will close until we decide to address it.

[2016-06-09 16:22] amandafrench commented on #276
Related to #267.

[2016-06-09 16:24] amandafrench commented on #262
That "View Item" link in the mobile view of an item disappears because it's maroon. Should be changed to white.

[2016-06-09 16:26] amandafrench commented on #260
Administrators can set "system alerts" that appear on the home page to let users know of downtime and so on. It needs a background color of some kind in the div (perhaps orange) so that it's more prominent.
![screenshot 2016-06-09 12 25 31](https://cloud.githubusercontent.com/assets/227453/15937547/64332a36-2e3d-11e6-83ad-88c95ca65173.png)

[2016-06-09 16:27] amandafrench commented on #260
I set up that alert on pre-production. Here's the code:
![screenshot 2016-06-09 12 27 03](https://cloud.githubusercontent.com/assets/227453/15937585/878d95c0-2e3d-11e6-9c2f-290b596e681f.png)

[2016-06-09 16:33] amandafrench commented on #146
This might be a bit more complicated than simple display issues, but would be a good one for @pgray64 to look into, I think.

[2016-06-09 16:41] amandafrench commented on #275
Question, @mello99 -- what exactly is the task? Are you (and Gail) just suggesting that we change the language of the phrase "Jump to a point in the index"? If so, I'd suggest we change the language to "Choose year." Will assign to Philippe to do that: it'll be in messages.xml, Philippe, though I don't recall the directory offhand.

This small language change is also a good candidate for contribut

[2016-06-09 16:46] amandafrench commented on #21
In general sometime it'd be good to run http://wave.webaim.org/ and do an accessibility review of the whole site, but for now we can address this very old issue of making a small alteration in the style so that our font color has sufficient contrast.

[2016-06-09 17:34] mello99 commented on #275
Hi @amandafrench , according to Gail, the user was confused by this functionality because all of the searchable years weren't showing up (the index, after a certain point, eventually starts going back in increments of 5 and 10 years). Because all of the years weren't showing up, the user assumed that there was no content created in the years between the 5 and 10-year increments. She eventually asc

[2016-06-09 17:56] keithgee commented on #285
DSpace will show the additional title if two titles are provided.
When I delete the extra dc.title metadata field, the title is only shown once.

I'm closing this issue because it is essentially a duplicate of #286.

[2016-06-09 17:56] keithgee commented on #285
***Closing

[2016-06-09 17:56] #285 closed, assigned to amandafrench, mello99

[2016-06-09 18:13] keithgee commented on #286
@mello99 please ask ITS to restart Tomcat on vtechworks.dev, and then test again. The config file on dev also appears correct, but Tomcat may not have been restarted since the latest update.

[2016-06-09 18:35] mello99 commented on #285
Thank you for fixing this!

[2016-06-09 18:36] mello99 commented on #286
Hi @keithgee , I just put in a TD request and asked them to restart Tomcat on vtechworks.dev. Thanks for addressing the earlier issue with the duplicate titles, and take care!

[2016-06-09 18:51] keithgee commented on #155
@mello99 thanks for creating these. I haven't had time to sort it out yet, [I only get a few minutes here and there], but it appears to be a problem with the internal mets.xml file that DSpace generates.

We had a previous issue with "blank items" that were already accepted, and in that particular problem it turned out that some groups had been deleted in VTechWorks (I'll try to find a reference s

[2016-06-09 18:57] keithgee commented on #155
Here is a link to the issue that I referenced earlier, about problems with mets.xml because of deleted groups. Probably not the same thing, but this may help remind me how I pinpointed the issue:
https://github.com/VTUL/vtechworks/issues/169

[2016-06-09 19:22] mello99 commented on #286
@kayiwa restarted Tomcat. Metadata element duplication is still occurring (see http://vtechworks.dev.lib.vt.edu/handle/10919/71324?show=full). There's also another issue involving Elements displaying the wrong URL for associated publications - I'll create an issue for that.

[2016-06-09 19:23] mello99 commented on #286
@keithgee I'd also like to mention that I put in a support ticket on the Elements website for a related issue and they're reviewing the crosswalk; maybe they'll find something wacky in there that will bring this to an end

[2016-06-09 19:31] mello99 opened #287 "Elements (ed.lib.vt.edu) is linking to the wrong URL for VTW Dev deposits"
Hi @keithgee and @kayiwa , I've attached a screenshot of my Elements homepage below (ed.lib.vt.edu). I apologize if this issue has been discussed earlier and I've forgotten the conversation.

In short, Elements (ed.lib.vt.edu) is linking to the wrong VTechWorksDev URL for publications that have been deposited in VTW.

To elaborate, for the publication "3D SYSTEMS INTEGRATION CONFERENCE. IEEE INTER

[2016-06-09 19:36] keithgee commented on #287
A parameter was set incorrectly in dspace.cfg.
handle.canonical.url

This should resolve itself when Tomcat is restarted on dev to resolve the other issues.

[2016-06-09 19:37] mello99 commented on #287
Francis restarted it 32 minutes ago (and the restart didn't resolve the metadata field duplication issues). Should I ask him to restart it again?

[2016-06-09 19:41] keithgee commented on #287
I saw production restart around that time. He might have accidentally been
on the wrong machine.

On Thursday, June 9, 2016, mello99 notifications@github.com wrote:

[2016-06-09 19:46] mello99 commented on #287
Ok, I asked him to restart on mattermost. Fingers crossed!

[2016-06-09 19:49] kayiwa opened #288 "Create list of correct values for dspace.cfg and foo.properties for each server"
Thanks for filling out the values that change on dspace.cfg based on server (we will ignore LDE for now)

I'm starting out with the ones I know

Thanks for the correct entries.

[code]

[2016-06-09 19:53] mello99 commented on #287
Tomcat was restarted and the URLs are still awry for Elements items deposited from ed.lib.vt.edu (that is, the URLs still aren't pointing to the correct locations from the Elements menu).

[2016-06-09 20:08] keithgee commented on #287
It won't fix previously deposited items. Only new ones.

On Thursday, June 9, 2016, mello99 notifications@github.com wrote:

[2016-06-09 20:10] mello99 commented on #287
I see. I worked for the latest item I deposited, _victory dance_

[2016-06-09 21:33] mello99 commented on #287
Okay, the last 3 items I deposited don't have this problem anymore (since the Tomcat restart), so I'm closing this issue. Well done, folks!

[2016-06-09 21:33] #287 closed, assigned to nobody

[2016-06-09 23:53] mello99 commented on #286
So, in case neither we nor Symplectic can identify the issue that's causing the duplicative metadata elements, I've created a new branch called "elements_original_xwalk" that contains the default, unedited XSLT that came with the Elements toolkit (this was the original Elements toolkit that we installed - it may have changed since April, but I was not able to find the newer version of the toolkit

[2016-06-10 00:46] keithgee commented on #286
Okay. I'm not seeing the problem on efarqa/pre-prod, though. I'm not sure what's different.

[2016-06-10 02:38] keithgee commented on #288
[code]

[2016-06-10 02:46] keithgee commented on #286
@mello99 it's working now. The dspace.cfg had some trailing white space in the section with this entry:

[code]

All of the lines in that section end with a "\" character. But on vtechworks.dev there were some spaces after the slash on some of those lines. When I took out the extra spaces, that resolved the issue.

I looked in the code on GitHub and there isn't any trailing whitespace in this sect

[2016-06-10 02:46] #286 closed, assigned to mello99, keithgee

[2016-06-10 05:22] mello99 commented on #286
Trailing whitespace!!! It's the little things that kill, lol. Thanks so much for figuring this out!

[2016-06-10 23:15] mello99 opened #289 "Issue with "c-review-type" on crosswalk (problem on Elements' end)"
Hi all (especially @amandafrench ), I just wanted to note that Elements has an unwieldy way of exporting metadata from the "c-review-type" field ("Peer reviewed?"), which is an option that users can select when uploading conference publications. I don't think that there's anything we can do on our end about this issue except remove the "c-review-type" field altogether from the mapping, but I just

[2016-06-10 23:50] mello99 commented on #289
Just put in a support ticket on Symplectic's site - https://support.symplectic.co.uk/support/tickets/21301. Also, here's a link to the feature request I put on Symplectic's site as well - https://support.symplectic.co.uk/support/discussions/topics/6000038020/page/last#post-6000081466

[2016-06-11 20:58] mello99 commented on #289
Hi @amandafrench and @alawvt  (I know you're reading this, Anne, lol!), after some thought, I would stash this issue under "much ado about nothing", but will leave it up to @amandafrench to close it.

In essence, if a user selects all 3 options, they've misunderstood the question (or done so accidentally). If a user selects both "Yes, full paper" and "Yes, abstract only", they've made a logical er

[2016-06-12 00:49] mello99 opened #290 ""Invited" field (for uninvited publications) not mapping correctly from Elements to VTW"
Hi, @amandafrench , there's an issue with the mapping of the "c-invited" (boolean) field from Elements to VTW. I recall earlier that you mentioned that you didn't want the value "false (Invited?)" to appear for conference publications that were not invited. I tried to adjust for this in the crosswalk, but my adjustment did not work. This mapping IS working correctly for invited publications, but t

[2016-06-12 09:12] keithgee commented on #290
@mello99 Please try again. It looks like an older version of the crosswalk was installed.

[2016-06-12 17:35] mello99 commented on #290
How can I see which version of the crosswalk has been installed? I'd like to make sure that it's the correct one. Is the crosswalk that's installed currently on the "vt_5_x_dev" branch?

[2016-06-13 04:35] mello99 commented on #290
It still didn't work :(. I put in a support ticket on Symplectic's website; in addition, I posted a question about this issue on the forums.

[2016-06-13 04:37] mello99 opened #291 ""Confidential" mapping not occurring for reports exported from Elements"
For reports marked "confidential" that are exported from Elements, no metadata is exported to the "dc.description.notes" field to indicate that the report is indeed confidential. I need to put in a support ticket on Symplectic's site and post the issue to the Symplectic community forums.

[2016-06-13 05:21] keithgee commented on #290
Yes, that's the one that's installed. I compared the digest of the file actually on vtechworks.dev with the digest of the one that is on the vt_5_x_dev branch. They match.

You have to have shell access to vtechworks.dev to do this:

[code]

[2016-06-13 12:29] alawvt commented on #289
@mello99, I think that requesting that users only be allowed to select one option makes sense. Thanks for reporting these issues with very clear detail.

[2016-06-13 17:34] alawvt commented on #283
@keithgee compared the Elements configuration files on GitHub and vtechworks.dev, https://github.com/VTUL/vtechworks/issues/290, and they are identical. Testing is complete on vtechworks.dev.
@amandafrench, the Irish Setter changes are ready to deploy to pprd.

[2016-06-13 18:51] amandafrench commented on #283
Okay, will create pprd deployment branch, thanks @alawvt.

[2016-06-13 19:01] amandafrench commented on #283
Done: have asked @kayiwa to deploy.

[2016-06-13 19:27] mello99 commented on #289
Ok, Symplectic support gave me some code to work with, plus I put in a [feature request](https://support.symplectic.co.uk/support/discussions/topics/6000038020), so I'm closing this issue. Thanks, all!

[2016-06-13 19:27] #289 closed, assigned to mello99

[2016-06-14 18:47] mello99 commented on #291
Closing, will reopen if necessary

[2016-06-14 18:47] #291 closed, assigned to mello99

[2016-06-14 18:47] mello99 commented on #290
Closing, will reopen if necessary

[2016-06-14 18:47] #290 closed, assigned to nobody

[2016-06-14 18:53] amandafrench commented on #275
We are not sure what to do about this issue, so we'll close it until further notice.

[2016-06-14 18:53] #275 closed, assigned to nobody

[2016-06-14 19:07] amandafrench opened #292 "Keep tweaking Elements crosswalk, create new branch"

[2016-06-14 19:10] amandafrench commented on #283
Both @mello99 and @alawvt can test this on pprd: assign it to me for deployment to production when it's done.

[2016-06-15 15:46] alawvt commented on #283
I have completed testing the non-Elements changes and they all passed. I did note in the backlog that the contact page, http://vtechworks.pprd.lib.vt.edu/contact, lists `vtechworks@dla.lib.vt.edu`, which I believe should be changed to `vtechworks@vt.edu`.

[2016-06-15 16:54] mello99 opened #294 "Keywords not being exported from Elements to VTW (Efars server)"
Hi all, Ginny mentioned that during her NLI class, keyword information was not being exported from Elements to VTW (this involves the EFARS server). This issue involves the following item: http://hdl.handle.net/10919/71356

I emailed Adrienne, who authored and deposited this item, and asked her if the keywords she added appeared in the Elements record. I say this because some of the items deposite

[2016-06-15 18:06] pgray64 commented on #260
Is there a way I can trigger that alert to show up on my local DSpace instance?

[2016-06-15 19:03] alawvt commented on #262
Resolved with PR #293.

[2016-06-15 19:03] #262 closed, assigned to pgray64

[2016-06-15 20:44] alawvt commented on #260
Resolved by PR #295. I suggest contributing this to DSpace main project.

[2016-06-15 20:49] pgray64 commented on #260
![alert-bg](https://cloud.githubusercontent.com/assets/7339589/16096789/9560d0ec-3318-11e6-8ee3-45159e1e8ead.png)
Using Bootstrap's `alert-warning` class

[2016-06-16 07:00] mello99 opened #296 "VTW PPRD URLs not connecting to Elements (Handle issue)"
Hi all, when I click on the link to VTW PPRD on EFARSQA for a given publication, I'm directed to a page with an error message regarding the handle service (I understand we're not technically using handles for PPRD, but there's still apparently a problem if the handle service isn't set up). Thanks, everyone.

![screen shot 2016-06-16 at 2 59 18 am](https://cloud.githubusercontent.com/assets/5408616

[2016-06-16 15:32] amandafrench commented on #296
This is by design; these links won't work on dev or pprd. Long story. :) Closing.

[2016-06-16 15:32] #296 closed, assigned to nobody

[2016-06-16 15:50] amandafrench commented on #260
Great, thanks! Exactly the right choice, too, to apply an existing "alert-warning" class from Bootstrap instead of redefining the "alert" class in our custom theme. Agree about contributing to DSpace main -- relevant file is here. Have applied the "dspacecore" label to indicate that the issue is still open until it's been contributed to DSpace core, @pgray64  -- see instructions at https://github.

[2016-06-16 16:39] pgray64 commented on #21
Web accessibility 2.0, https://www.w3.org/WAI/intro/wcag
Color contrast checker, http://webaim.org/resources/contrastchecker/

[2016-06-16 21:23] AmberPoo1 commented on #277
I run the vagrant box built  on a MacBook and finally succeed, however, there were two problems in the whole process when running "vagrant up"":
1) ant download and install failure, @kayiwa has given a walk-around solution;
2) got a path-error problem when executing the "tomcat_setup.yml" task (other machines don't have such problem, don't know why), **the solution is modifying line 7 in the "tomc

[2016-06-17 20:01] pgray64 commented on #146
Made this change on my local machine for search results from a match in bitstream data:

_Not clicked_
<img width="678" alt="screen shot 2016-06-17 at 3 52 54 pm" src="https://cloud.githubusercontent.com/assets/7339589/16162869/103849d0-34a4-11e6-8d5c-35bef85eed4e.png">
_Clicked_
<img width="653" alt="screen shot 2016-06-17 at 3 53 13 pm" src="https://cloud.githubusercontent.com/assets/7339589/161

[2016-06-19 17:42] kayiwa commented on #277
did you run `git pull` before running `vagrant up`

I see the file here.

https://git.it.vt.edu/it-services/vtlibans_dspace/blob/master/provisioning/roles/dspace/templates/server.xml.j2

./fxk

[2016-06-19 20:47] AmberPoo1 commented on #277
No, I didn't run git pull before vagrant up.

[2016-06-20 14:56] pgray64 commented on #146
Addressed with pull request #298

[2016-06-21 13:30] alawvt commented on #235
@amandafrench, I have a suggestion for the green message: "you **might** also be allowed or required to deposit the publisher's version" instead of  "...you **may** also be allowed or required to deposit the publisher's version.." I think "might" better conveys the uncertainty of uploading the publisher's version (and need to check) than "may." May has two possible meanings: permission and possibi

[2016-06-21 13:41] alawvt opened #299 "Broken link on breadcrumb bar on Help, About, and Policy pages"
From the About, Policies, and Help pages, the link to "VTechWorks Home" on the breadcrumb bar is http://vtechworks.lib.vt.edu/page/'/', which leads to the error page. It should be http://vtechworks.lib.vt.edu. These pages all have "page" in their path, e.g., http://vtechworks.lib.vt.edu/page/policies.

A related issue is that it might be better if we could omit "page" from the path, e.g., http://v

[2016-06-21 14:28] alawvt commented on #283
The Irish Setter changes have been deployed to production. All the non-Elements changes are ok except `mail.helpdesk = vtechworks-request-copy@vt.edu` has not been implemented yet. I submitted a TeamDynamix request for that.

[2016-06-21 16:24] mello99 opened #300 "I tried to map an item to another collection and it disappeared!!!"
Hi all, I tried to map an item from one collection to another using the "Item Mapper" function (this was an item authored by Nancy Dudek about ETDs) and the item just disappeared altogether from VTechWorks!!! I was never asked to delete the item at any point. I can't find the item in DEV or PPRD, and I have no idea what happened or why. Any help would be much appreciated. Thanks so much, and take

[2016-06-21 16:30] mello99 commented on #300
Ok, pretty sure this is an indexing issue - the handle still works (phew): http://hdl.handle.net/10919/71365. I did notice, however, that when I typed the handle into my browser, the URL that returned was the following:

vtechworks.lib.vt.edu//handle/10919/71365

That doesn't look quite right; any ideas as to what caused it? Thanks again.

[2016-06-21 16:47] mello99 commented on #300
This appears to be a network issue, so I'm closing it (I reported the double backslash issue on TeamDynamix). I can't log in to VTUL Talk, for some reason, which I also reported.

[2016-06-21 16:47] #300 closed, assigned to kayiwa, keithgee

[2016-06-21 20:14] alawvt commented on #300
The handle issue has been resolved.

dspace.cfg was corrected from `dspace.url = https://vtechworks.lib.vt.edu/` to `dspace.url = http://vtechworks.lib.vt.edu`.

[2016-06-22 18:31] amandafrench commented on #235
Sure thing, @alawvt -- feel free to correct this and push it yourself. No need to create a pull request even.

[2016-06-22 18:42] pgray64 commented on #21
Made contrast changes with pull request #302

[2016-06-22 18:44] alawvt commented on #283
After the email meeting today, the helpdesk has been disabled. All requests go directly to the eperson associated with the item. For etds, the eperson has been changed from etd-submit@dla.lib.vt.edu to vtechworks-request-copy@vt.edu. vtechworks-request-copy@vt.edu is now receiving requests for ETDs. Therefore, all tests of non-Elements changes have passed.

[2016-06-22 19:16] #267 closed, assigned to AmberPoo1

[2016-06-22 19:54] amandafrench commented on #283
@mello99 Can you close this issue after you've spot-checked Elements deposit on production today, please? Thanks!

[2016-06-22 19:55] amandafrench commented on #294
Per @mello99 at today's meeting, we couldn't reproduce this issue, so we'll close it.

[2016-06-22 19:55] #294 closed, assigned to mello99

[2016-06-22 19:57] amandafrench commented on #282
This is superseded by #288, correct? If not, feel free to reopen.

[2016-06-22 19:57] #282 closed, assigned to kayiwa

[2016-06-22 20:09] mello99 commented on #283
Yep, will do!

From: Amanda French notifications@github.com
Reply-To: VTUL/vtechworks reply@reply.github.com
Date: Wednesday, June 22, 2016 at 3:54 PM
To: VTUL/vtechworks vtechworks@noreply.github.com
Cc: Melissa Lohrey mlohrey@exchange.vt.edu, Mention mention@noreply.github.com
Subject: Re: [VTUL/vtechworks] Test and deploy Irish Setter sprint (#283)

@mello99https://github.com/mello99 Can you cl

[2016-06-23 01:10] #283 closed, assigned to mello99

[2016-06-23 01:20] mello99 commented on #283
Finished testing. No surprises, nothing different from the DEV testing. Thanks, all!

[2016-06-23 15:02] alawvt opened #304 "Fix display of Sherpa/Romeo messages"
In the submission form, if you add an ISSN as an identifier, at the bottom of the next page (file upload step) of the submission form will be a Sherpa Romeo message. We recently lengthened those messages and the text box should wrap for multiple lines of text. (Note: we may also want contribute this to the main DSpace project.)
![sherparomeonowrap](https://cloud.githubusercontent.com/assets/130371

[2016-06-23 15:02] #21 closed

[2016-06-23 19:15] pgray64 commented on #260
Created an issue on the Duraspace issue tracker. Created fork from DSpace master with the modification and submitted pull request.

[2016-06-23 19:15] #260 closed, assigned to pgray64

[2016-06-23 19:53] pgray64 commented on #304
I think the first looks better than the second
![screenshot](https://cloud.githubusercontent.com/assets/7339589/16317665/14b870ba-395a-11e6-9021-dd75af7c90cf.png)
![screenshot2](https://cloud.githubusercontent.com/assets/7339589/16317807/8b02234c-395a-11e6-97af-1a70a5444a6e.png)

[2016-06-23 20:04] alawvt commented on #260
Thanks, @pgray64. Please add a link to the Duraspace issue, https://jira.duraspace.org/browse/DS-3249, so we can refer to it.

[2016-06-24 16:15] amandafrench commented on #304
Yes, the first does look much better! If you can do that for all the colors in messages.xml, please make it so.

[2016-06-24 19:41] amandafrench commented on #277
Sounds like this issue is closable -- @AmberPoo1 does have a working environment on my laptop at the moment, and it sounds like the key to getting it working on her desktop is to 1) make sure it's a neutral, unmodified environment (maybe even reinstall the OS??) and 2) be sure to pull the latest from the vtlibans_dspace project on GitLab.

Any further issues with vtlibans_dspace should be reported

[2016-06-24 19:41] #277 closed, assigned to kayiwa

[2016-06-24 20:40] pgray64 commented on #304
Fixed in pull request #305

[2016-06-24 21:44] #304 closed, assigned to pgray64

[2016-06-27 11:37] keithgee commented on #299
@AmberPoo1 If these were working previously, it's possible that I broke them with the commit at https://github.com/VTUL/vtechworks/commit/0219883478f5f2b77a6146f10f5a21807bea569b. I remember rushing slightly to get this in as it was marked as high priority, and I see some odd code with '/' in it. That matches part of the link that @alawvt reported above, and also in some of the places I'm not sure

[2016-06-27 14:10] AmberPoo1 commented on #299
@keithgee, @alawvt , I also saw the code with '/'. A quick solution is changing `<trail target="'/'">` to `<trail target="/">` in "general.xsl". This will work.

[2016-06-27 15:16] alawvt opened #307 "ClamAV issue"
More detail in https://git.it.vt.edu/digital-research-services/VTechWorks_Documentation/issues/2

[2016-06-27 15:40] alawvt opened #308 "Fix insufficient contrast between the text and links"
Fix insufficient contrast between the text and links in paragraphs, for instance the home page intro has color rgb (51, 51, 51). The links are rgb (26, 0, 0). Requirements: http://webaim.org/blog/wcag-2-0-and-link-colors/

[2016-06-29 15:55] amandafrench opened #309 "Reset password is broken"
A user reports, and I have confirmed, that the Forgot Password flow is broken. Here's what happens:

1) Click "Forgot password" link on https://vtechworks.lib.vt.edu/password-login page
2) Be taken to https://vtechworks.lib.vt.edu/forgot
3) Enter email address, get "Verification email sent" confirmation page
4) Receive  "Change Password Request" email with link and token such as http://vtechworks.

[2016-06-29 15:55] amandafrench commented on #309
Should add, too, that the password itself is not changed, which isn't surprising.

[2016-06-29 16:52] keithgee commented on #309
Here are the current values in dspace.cfg for DSpace URLs:

[code]

I believe that @kayiwa corrected a similar issue in Spring of 2015 by changing these to "https" instead of "http". We will need to be careful so that a trailing slash is not added while editing, as that recently contributed to a separate issue.

[2016-06-29 16:53] keithgee commented on #309
I've modified dspace.cfg, live on the server, and will request a restart.

[code]

[2016-06-29 18:17] keithgee commented on #309
Francis has restarted Tomcat, and password reset is working now.
**\* closing ***

[2016-06-29 18:58] amandafrench commented on #309
Great! Thanks.

[2016-06-30 16:52] alawvt commented on #299
Resolved with PR #311. Thanks.

[2016-06-30 16:52] #299 closed, assigned to AmberPoo1

[2016-06-30 18:46] amandafrench commented on #81
Fixed by manually updating dspace.cfg so that requests for restricted items go to the item submitter, which is defined in the 'default etd eperson' as the etds-g Google Group.

[2016-06-30 18:47] amandafrench commented on #290
Fixed by #310

[2016-06-30 18:49] amandafrench commented on #24
The ETD scripts are now maintained on GitLab at git.it.vt.edu.

[2016-06-30 18:52] alawvt commented on #24
There are two ETD script projects on GitLab at git.it.vt.edu: the current script (not up to date with latest email and eperson changes) and the unfinished script rewrite.

[2016-06-30 19:03] amandafrench commented on #292
Closed by #310

[2016-06-30 19:03] #292 closed, assigned to mello99

[2016-06-30 19:05] amandafrench commented on #307
I've just been updating the backlog, so I think what was on line #118 has changed. This was the ClamAV issue, correct, @alawvt? Either way, can you please edit the subject line of this issue? Thanks.

[2016-06-30 19:06] alawvt commented on #307
See appropriate line of Technology Backlog

[2016-06-30 19:49] amandafrench opened #312 "Add copyright policies and likeness permissions to Policies page"
From Google Doc

[2016-07-01 18:06] pgray64 commented on #307
Assuming the ClamAV daemon is installed and running on port 3310, the only code change is to set a boolean flag to true in `dspace/config/modules/submission-curation.cfg`.

Don't know if that's the case, because otherwise it breaks submissions.

[2016-07-01 19:21] pgray64 commented on #307
ClamAV is failing on the submission form file upload for recognized formats > 3.6 mb and unrecognized formats > 2 mb. Its odd, because I configured the ClamAV daemon with high size limits and timeouts.

[2016-07-01 19:54] pgray64 commented on #307
ClamAV is failing to detect a test file that is designed to look like a virus to scanners (including ClamAV). Uploads are succeeding with all filetypes and sizes though.

[2016-07-04 14:05] ghost commented on #146
Hi all,

I was investigating the same problem and updated a mailing list discussion with some more info (See https://groups.google.com/forum/#!topic/dspace-tech/9V2wqRmuLrM). The short explanation is that enabling full text indexing causes Solr to add a field called 'fulltext' to the Solr indices. It uses a product called Apache Tika to do so and that inserts the funny 'stream_' text snippets that

[2016-07-05 14:27] pgray64 commented on #307
Pull Request #314

[2016-07-05 14:42] pgray64 commented on #308
For AA Accessibility

This is not possible without changing links to have pastel colors. VT maroon and pure black is 1.56:1.

Both link and nonlink text still has to have 4.5:1 contrast to the white background, further limiting choices.
Alternative is to underline links, which would still look strange in my opinion

[2016-07-05 16:44] alawvt commented on #309
This needs to be fixed on vtechworks.dev, too. I am filing a TeamyDynamix request. (pprd seems ok.)

[2016-07-05 16:53] amandafrench commented on #309
@alawvt It's broken just because dspace.cfg is out of sync with the other servers. All we need to do is make sure the dspace.cfg file is correct locally, push that to GitHub, and then deploy it in the usual fashion to dev and pprd. I'll make sure that the changes @keithgee has entered above are in the file properly.

There is a "hotfix" protocol that we outlined at https://github.com/VTUL/vtechwor

[2016-07-05 16:53] #309 closed, assigned to keithgee

[2016-07-05 20:19] amandafrench commented on #288
Hi @alawvt -- turns out that issue #309 is related to this issue, so I can't just update dspace.cfg and push it to GitHub and ask @kayiwa to deploy. Instead, what we need to do is create a full list on git.it.vt.edu of the correct values for each of these items. I went ahead and changed "http" to "https" for dspace.url and dspace.baseUrl in all the files I found those parameters in on vtlibans_dsp

[2016-07-05 21:24] amandafrench commented on #288
I think we actually probably need to assign this to @keithgee, and I think we need to get this straightened out before we deploy again. Keith, could you fill out the values at https://git.it.vt.edu/it-services/vtlibans_dspace/wikis/home as soon as you can? @alawvt, I don't think we need to replicate it in the Documentation project.

[2016-07-05 22:15] amandafrench commented on #312
Fixed by pull request #313

[2016-07-05 22:15] #312 closed, assigned to amandafrench

[2016-07-06 05:50] mello99 opened #315 "Has the latest XSLT file been deployed to DEV and PPRD?"
Hi @kayiwa and @amandafrench , do you know if the latest XSLT file has been deployed to DEV and PPRD? I clearly see that the latest XSLT file is included in the vt_5_x_dev branch, but when I look at the vt_5_x_dev_deploy and vt_5_x_pprd_deploy branches, the latest XSLT file isn't in either of them (sorry if I'm misinterpreting things - GitHub's organization is still an enigma to me). I just wanted

[2016-07-06 14:16] alawvt commented on #315
Melissa,

You were looking in the right branches. I don’t think the Jaguar changes have been deployed yet. (We have to get this dspace.cfg stuff straight first.)

Thanks,

Anne

From: mello99 notifications@github.com
Reply-To: VTUL/vtechworks reply@reply.github.com
Date: Wednesday, July 6, 2016 at 1:50 AM
To: VTUL/vtechworks vtechworks@noreply.github.com
Subject: [VTUL/vtechworks] Has the latest X

[2016-07-06 14:22] pgray64 opened #316 "Take off Search Stats and Workflow Stats from home page"

[2016-07-06 14:42] alawvt commented on #288
@amandafrench, I am able to access the servers and added the values in the GitLab wiki page.

@kayiwa, the settings for each server are in https://git.it.vt.edu/it-services/vtlibans_dspace/wikis/home. For dspace.url and dspace.baseUrl, dev and pprd have HTTP and prod has HTTPS . There is also a difference in assetstore.incoming for the three.

[2016-07-06 14:50] pgray64 opened #317 "Put individual download stats on simple and full item views"

[2016-07-06 15:53] pgray64 commented on #316
@alawvt @amandafrench Do non-admins need to see search and workflow stats at all? If not, its an easy fix to remove those from home page, but non-admins won't be able to see those stats elsewhere too.

[2016-07-06 15:56] alawvt commented on #316
Yes, you can remove those links for all users.

[2016-07-06 16:26] pgray64 commented on #316
Resolved with Pull Request #318

[2016-07-06 17:31] amandafrench commented on #317
You can see an example of the kind of thing we want at another DSpace instance run at the University of Maryland -- it says "No. of downloads":
![screenshot 2016-07-06 13 18 21](https://cloud.githubusercontent.com/assets/227453/16627669/4099957a-437c-11e6-90e0-7f569da0cec5.png)

Their GitHub repo is at https://github.com/jennielevineknies/drum so there might even be some code there you can use. I'

[2016-07-06 17:34] amandafrench opened #319 "Increase number of items on statistics-home to 100"
The link on the home page that goes to Usage Statistics for the whole repo at http://vtechworks.lib.vt.edu/statistics-home shows only the top ten most-visited item records. I'd like it to show more, preferably 100.

[2016-07-06 17:35] amandafrench commented on #315
No, we haven't deployed yet -- will let you know when we have. Sorry for chopping and changing.

[2016-07-06 17:35] #315 closed, assigned to amandafrench, kayiwa

[2016-07-06 17:38] amandafrench opened #320 "LInk titles on statistics-home to items"
The page at http://vtechworks.lib.vt.edu/statistics-home should have the item titles linked to the item records (simple view).

[2016-07-06 17:48] amandafrench opened #321 "Enable Content Type stats and standardize Content Types"
There's a thread at http://dspace.2283337.n4.nabble.com/DSpace-5-x-Legacy-Statistics-Item-Type-Breakdowns-td4676851.html that is relevant -- currently, the administrator view of statistics includes Content Types, but it doesn't seem to be accurately tracking how many items of each content type there are in the repository as it should.
![screenshot 2016-07-06 13 44 33](https://cloud.githubuserconte

[2016-07-06 17:49] amandafrench commented on #320
Related to #319.

[2016-07-06 18:04] amandafrench opened #322 "Investigate whether Altmetrics badges can run from BOTH the handle and a DOI"
We implemented a feature called the "Altmetrics badge" a few months ago, thanks to @AmberPoo1's good work. See #181 and #199 and #207 especially. The badge we currently have is tracking the number of times people have shared the item record handle, so, for instance, when someone tweets the link http://hdl.handle.net/10919/64842 (or, I think, http://vtechworks.lib.vt.edu/handle/10919/64842), the Al

[2016-07-06 18:09] amandafrench opened #323 "Write GitLab documentation for how to change case in Content Type fields with SQL commands (e.g., "article" to "Article")"
The only way we can make repository-wide data changes is with SQL commands. We'd like to start creating a library of such commands to do particular tasks -- sort of a recipe book. One common issue is that since the search filters are case-sensitive, things like "Article" and "article" are perceived as different types. We'd like a recipe for changing that (all types should be capitalized in sentenc

[2016-07-06 18:10] amandafrench opened #324 "Write GitLab documentation for how to move text from one field to another SQL commands (e.g., "Text" from dc.type to dc.type.dcmitype)"
Related to #323

[2016-07-06 18:26] amandafrench opened #325 "Write GitLab documentation for how to move a collection from one community to another with SQL"
Related to #323 and #324. This recipe would be for moving (for example) a collection from one community (or sub-community) to another without changing the handle. Example: moving http://vtechworks.lib.vt.edu/handle/10919/18629 (BioMedCentral) FROM the sub-community http://vtechworks.lib.vt.edu/handle/10919/8195 (Journals) in the community http://vtechworks.lib.vt.edu/handle/10919/25799 (Special Co

[2016-07-06 18:39] #174 closed, assigned to AmberPoo1

[2016-07-06 18:41] alawvt commented on #174
Resolved with PR #306.

[2016-07-06 18:55] keithgee commented on #288
So, do you all want me to do anything on this, or not?

[2016-07-06 19:02] #316 closed, assigned to pgray64

[2016-07-06 19:10] amandafrench commented on #288
You could look it over and make sure it's correct! If so, then you can close it -- @alawvt went ahead and did it.

[2016-07-06 19:16] keithgee commented on #288
Okay @amandafrench. Am I checking to see that that the documentation matches the current values on the servers, even if the values are incorrect and will break things?  Or should I change the documentation to what the values should actually be, even if the values on the servers are currently different?

That sounds like a silly question, probably, but I wanted to make sure I understand what we're

[2016-07-06 19:18] keithgee commented on #288
Basically - are we trying to document the way things are now, or the way they should be?

[2016-07-06 19:19] amandafrench commented on #288
Oh, the latter, I'd say -- change them to what they should actually be. Thanks.

[2016-07-06 22:18] keithgee commented on #288
I've updated the wiki page with desired values for configurations that are different across servers.

@alawvt wanted me to be sure to mention to @kayiwa that some of the values in the wiki page don't match the values currently on the servers.

_**Closing *_*

[2016-07-06 22:18] #288 closed, assigned to nobody

[2016-07-07 13:59] pgray64 commented on #317
Unfortunately that repo has .gitignores in quite a few places and uses DSpace 1.7. Based on the Dspace docs, I'll have to add XSL to the item view that queries SOLR directly.

[2016-07-07 14:46] pgray64 commented on #317
@AmberPoo1 Do you know if item visit counts and file download counts are already accessible as variables in item-view.xsl?

If there isn't, might have to write XSL that queries SOLR directly. Don't know how the UMD guy did it, because the relevant directories in his have .gitignores.

[2016-07-08 14:58] pgray64 commented on #323
Adding the custom SQL functions as I make them on the [SQL Resources Wiki](https://git.it.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/SQL_for_DSpace)

[2016-07-08 15:32] AmberPoo1 commented on #317
@pgray64 I agree with you that writing some XSL to query SOLR statistics is needed. There are some online resources might be useful.

https://wiki.duraspace.org/display/DSPACE/Solr
"Querying Solr from XMLUI"

https://wiki.duraspace.org/display/DSDOC5x/SOLR+Statistics
Especially,  in the sections: "2.1.4 Item home page" and "10 Custom Reporting - Querying SOLR Directly"

And DRYAD's documenatation

[2016-07-08 17:25] pgray64 commented on #323
Function to change specified metadata field values to sentence case is done. [SQL Resources Wiki](https://git.it.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/SQL_for_DSpace).

[2016-07-08 17:47] alawvt opened #328 "Move article specific fields, abstract, subject, and notes field to page 2 of submission form."
The new video specific fields on page 2 of the submission form means that all submitters will see page 2 of the submission form, whether they choose audio or video, or not. To avoid them seeing a blank page in the submission process, I'm moving the abstract field to page 2.

I am moving the article specific fields: journal title, volume, and issue to page 2. They will only appear if the content ty

[2016-07-08 19:03] AmberPoo1 commented on #322
Using two badges together for handles and DOIs is one way, another possible solution is to use raw Altmetric API. Introduction can be found here: http://api.altmetric.com/, https://help.altmetric.com/support/solutions/articles/6000092312-how-can-i-access-the-altmetric-api-documentation-.
Complex query and customization can be done with Altmetric API, however, commercial license is required to use

[2016-07-08 19:15] alawvt commented on #328
Resolved with Pull Request #329.

[2016-07-08 19:40] #328 closed, assigned to alawvt

[2016-07-08 20:41] #307 closed, assigned to pgray64

[2016-07-08 20:42] alawvt commented on #173
resolved with PR #326.

[2016-07-08 20:42] #173 closed, assigned to AmberPoo1

[2016-07-11 14:10] alawvt commented on #308
It would be ok if the body text were black for maximum contrast. Links will have to be lighter if we don't want them underlined. Please mock up a few possibilities: light maroon (contradiction in terms, I know), a blue, etc. Page 7 of 2015 VT Brand Guide, https://www.branding.unirel.vt.edu/2015-brand-guide.pdf, has official colors that you trial.

[2016-07-11 18:59] pgray64 commented on #308
Passes both Link:Text = 3:1 contrast and Link:background = 4.5:1 contrast
Links: c7510e (A little darker than VT orange ff6600)
Text: 2e2e2e (A little lighter than current 33333)

<img width="1284" alt="screen shot 2016-07-11 at 2 57 58 pm" src="https://cloud.githubusercontent.com/assets/7339589/16742943/0b561fbe-4778-11e6-9bcb-eae27377ed57.png">

[2016-07-11 19:10] pgray64 commented on #308
984422 links (close to one of VT's secondary web colors)
2e2e2e text
Passes both contrast reqs again.

<img width="1054" alt="screen shot 2016-07-11 at 3 09 28 pm" src="https://cloud.githubusercontent.com/assets/7339589/16743274/81022482-4779-11e6-883a-3c3d68ce429b.png">

[2016-07-11 19:13] pgray64 commented on #308
Links: 557082 An unmodified secondary VT web color
Text: 2e2e2e
Passes both contrast reqs

<img width="1108" alt="screen shot 2016-07-11 at 3 12 53 pm" src="https://cloud.githubusercontent.com/assets/7339589/16743366/fb1f646e-4779-11e6-9ef0-e3d7aae3bc0f.png">

[2016-07-11 19:17] pgray64 commented on #308
Default boostrap link color: #337ab7
Text: 2e2e2e
Passes both contrast reqs

<img width="1080" alt="screen shot 2016-07-11 at 3 17 37 pm" src="https://cloud.githubusercontent.com/assets/7339589/16743470/a3afd492-477a-11e6-85bf-b4f3bcf14029.png">

[2016-07-12 15:17] pgray64 commented on #317
I believe the current UMD DSpace repo is https://github.com/umd-lib/drum - found their custom item-view code.

[2016-07-12 15:56] amandafrench commented on #322
@AmberPoo1 Thanks! We did actually just subscribe to the Altmetrics Enterprise package, so we might be able to get this.

[2016-07-12 17:19] pgray64 commented on #317
**For file download count**
UMD's modification to java source is just a SOLR query, so can do that in our XSL instead.
Java to convert to XSL

[code]

https://github.com/umd-lib/drum/blob/drum-master/dspace/modules/xmlui/src/main/java/org/dspace/app/xmlui/objectmanager/ItemAdapter.java

[2016-07-12 17:42] alawvt commented on #308
I just received a link with more official VT web colors, [Web color palette](http://www.unirel.vt.edu/web/web-guidelines/guidelines-colors.html), linked from [Web guidelines and procedures](http://www.unirel.vt.edu/web/web-guidelines/guidelines-index.html).

[2016-07-13 15:06] mello99 opened #330 "Recently added item not appearing when clicked on"
Hi there, I clicked on a newly uploaded item in VTW this morning, and when I did this, I was not taken to the item itself, but to a list of related items. It's worth mentioning that this particular item is a duplicate of another item with the same title (http://hdl.handle.net/10919/71780 - no error occurs when I click on this item in "Recently Added"). It appears that these duplicates were generat

[2016-07-13 15:22] mello99 opened #331 "Selected item metadata is cut off on smaller computer screens"
Hi there, I viewed an item in VTW using my Macbook Air, which has a 13" screen, and the item's metadata was cut off. Even if I expanded the screen to full-size, the full metadata still wouldn't appear:

![screen shot 2016-07-13 at 11 20 32 am](https://cloud.githubusercontent.com/assets/5408616/16808794/ed626d94-48eb-11e6-966f-694504325c16.png)

This issue did not present itself on my iMac, which h

[2016-07-13 16:22] pgray64 commented on #331
Reproducible via Chrome dev tools
<img width="1220" alt="screen shot 2016-07-13 at 12 22 00 pm" src="https://cloud.githubusercontent.com/assets/7339589/16811029/7a0c414a-48f4-11e6-83c2-16397bca2f83.png">

[2016-07-13 17:30] pgray64 commented on #330
https://vtechworks.lib.vt.edu/handle/10919/71777 shows up as a normal item with two attached PDF's when inspected with the admin item viewer.

I'll look into why it is displaying a recent items listing instead of the normal simple and detailed view.

[2016-07-13 19:14] alawvt commented on #330
The collection view with the duplicates shown in the first screenshot is at https://vtechworks.lib.vt.edu/handle/10919/70873.

The related item list in the second screenshot is at https://vtechworks.lib.vt.edu/handle/10919/71777. This seems like an item with no display of the item metadata and bitstream info. It has Internal ID: 82072.

The correct item with the normal simple item view is at https

[2016-07-14 15:05] pgray64 commented on #331
Addressed with pull request #332

[2016-07-14 15:19] alawvt commented on #331
In Firefox, the long URL in dc.relation.uri, http://vtechworks.lib.vt.edu/handle/10919/71779?show=full wraps properly in both a full monitor and in mobile view. In Chrome, the same URL does not wrap in either a full monitor or mobile view. It pushes the language column off the window.

I submitted an item with this long URL to the DSpace demo site, http://demo.dspace.org/xmlui/handle/10673/1252?sh

[2016-07-15 13:32] pgray64 commented on #331
You're right - turns out someone had mistakenly added a CSS class to metadata table cells that caused this issue - removed it and it displays fine now.

[2016-07-15 14:13] pgray64 commented on #331
Was more than a simple revert, because parts of that added CSS class that caused the cutoff were needed. Fixed via new commits to my branch at pull request #332.

[2016-07-15 15:50] alawvt commented on #331
This probably continues Issue #138.
Thank you, @pgray64. It seems to all work now.

[2016-07-15 15:50] #331 closed, assigned to pgray64

[2016-07-15 16:45] pgray64 commented on #321
Yep, the three displayed content types are the only ones listed in dstat.cfg - just a matter of adding the types in use (and removing ones that aren't).

Its likely case sensitive though, and I know not all items are using consistent capitalization. The SQL function I put on the [gitlab wiki](https://git.it.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/SQL_for_DSpace) could fix t

[2016-07-15 17:12] pgray64 commented on #321
For the smaller database dump, after converting all item type values to sentence case, there are 85 distinct item types.

(Via this SQL query)
`select distinct text_value from metadatavalue where metadata_field_id=66;`

[2016-07-18 13:07] alawvt commented on #276
Resolved with PR #333.

[2016-07-18 13:07] #276 closed, assigned to alawvt

[2016-07-18 13:11] alawvt commented on #330
Since this duplicate was created by a user in Elements, it would be difficult for us to recreate and troubleshoot. After withdrawing or deleting the duplicate (Internal ID: 82072), I suggest closing this issue and reopening it if this occurs again.

[2016-07-18 14:40] alawvt commented on #321
We do have 3 "Preprint," http://vtechworks.lib.vt.edu/search-filter?field=type&starts_with=p, so that statistic is correct, . We have lots of "Thesis" and "Dissertation," which are not showing up.
- DIssertation (1)
- Dissertation (1070)
- dissertation (8192)
- Dissertation, Reproduction (Electronic) (247)
- Thesis (3938)
- thesis (12274)
- Thesis, Reproduction (Electronic) (88)

You could test wh

[2016-07-18 19:10] alawvt commented on #146
This is a way to stop the file metadata from being indexed by solr, and could supplement the  "View Excerpt" button.

DSpace Pull Request [Solving issue DS-3090 #1440](https://github.com/DSpace/DSpace/pull/1440)

"If you configure captureAttr to false, Tika puts the metadata about the processed file in the "content" field, which is certainly not the wanted behavior as the content is used as the fu

[2016-07-19 13:01] keithgee commented on #155
I have made a fix for this problem with commit  3e5f329 and issued a pull request.
We have some custom code that displays the lock for campus-only items, even when the user is on campus, that was added with commit 9b6d962.
The code had a problem that caused VTechWorks to not be able to get the metadata for items under certain conditions, which made the display look blank for some submissions in th

[2016-07-19 13:13] keithgee commented on #155
I cleaned up some weirdness with my own code with commit 7c214d5, which has also been added to the pull request.
**\* Closing ***

[2016-07-19 13:13] #155 closed, assigned to keithgee

[2016-07-19 13:22] keithgee commented on #330
All, I believe that this issue is likely to be corrected by my fix for issue #155 - (Invisible Submission - or something to that effect).
It would be fun to see that, if we're not in a hurry to delete or withdraw the duplicates.

[2016-07-19 13:24] pgray64 commented on #319
As of now, almost every option for xmlui's statistics view is hardcoded in the Java source. I'm modifying the java so these options can be changed via usage-statistics.cfg instead.

[2016-07-19 13:37] alawvt commented on #330
@keithgee, I thought the same thing when I read your comment about the metadata retrieval error caused by the lock symbol. If we do wait to delete this item we could see if the problem is cured by your fix.

I checked the policies for the good item (internal ID: 82075) and it has one "Anonymous" policy per bitstream. The bad item (Internal ID: 82072) has one "Anonymous" policy plus 4 policies with

[2016-07-19 13:39] alawvt commented on #319
That sounds good, @pgray64.

[2016-07-19 13:45] keithgee commented on #330
That coincides with what I saw in the code, too. Policies that don't have an associated group caused the error with the special lock symbol code.

[2016-07-19 15:13] pgray64 commented on #319
Addressed with pull request #335.
Number of results for usage stats is now configurable instead of hardcoded in java.

I could make similar changes for the other stats (search and workflow) as well. Figured a separate pull request would be better for that.

[2016-07-19 15:27] amandafrench opened #336 "Shouldn't handles with hdl.handle.net resolve to collections?"
I thought that since collections and communities are assigned handles, the official permalink structure that works for items would work for them as well. Handles are currently working fine for items, but when I attempt to link to the collection https://vtechworks.lib.vt.edu/handle/10919/5540 using the syntax http://hdl.handle.net/handle/10919/5540 the link doesn't work. Is this expected behavior?

[2016-07-19 15:33] keithgee commented on #336
@amandafrench use this instead;
https://hdl.handle.net/10919/5540

or http

[2016-07-19 15:33] alawvt commented on #336
I was able to use http://hdl.handle.net/10919/5540 to access this community. (you need an e)

[2016-07-19 16:01] amandafrench commented on #336
Huh, it does work now. The lack of 'e' in the comment above was a typo, but I'm almost certain I was spelling it correctly before when it wasn't working. Oh, well. Mysterious, but maybe my fault. Will close. Thanks for testing.

[2016-07-19 16:01] #336 closed, assigned to keithgee

[2016-07-19 20:44] alawvt commented on #319
Works, thank you!

[2016-07-19 20:44] #319 closed, assigned to pgray64

[2016-07-19 20:44] alawvt opened #337 "Submit PR #335 to DSpace main project."
Please submit PR #335 to DSpace main project.

[2016-07-20 13:34] pgray64 commented on #321
The config file for content-type stats doesn't interpret booleans and is also case sensitive. I could try to fix that, but it'll likely be java changes since its with legacy stats.

[2016-07-20 13:52] alawvt commented on #321
Thank you for testing this. Since these legacy stats seem to no longer be actively developed and they rely on logs which we no longer keep in full on our servers, I'd be inclined to just use them as-is.

[2016-07-20 20:31] alawvt commented on #308
@amandafrench, we'd like your feedback on these options or others.

[2016-07-20 21:48] mello99 opened #338 "Tested "Report - Technical" and "Report - Annual" on PPRD"
Hi @amandafrench , I created an item in PPRD called "Findability Test" and gave it the following content types: "Report - Technical" and "Report - Annual". When I typed in "Technical report" and "Annual report" (separately) in the free-text search field, the new item I created appeared first in my search results.

Additionally, when I used the advanced filters and entered "Technical report" and "A

[2016-07-21 14:36] pgray64 commented on #337
Contributed to DSpace main
[JIRA issue 3272](https://jira.duraspace.org/browse/DS-3272)
[DSPACE Pull Request 1470](https://github.com/DSpace/DSpace/pull/1470)

[2016-07-21 14:36] #337 closed, assigned to pgray64

[2016-07-21 17:45] alawvt opened #341 "Change Content Type facet to only show values for dc.type"
Currently the Content Type facet is defined with the same Search Filter that is used for the Advanced Search filter. It searches dc.content.*.

Change this so the Content Type facet displays and Content Type advanced search searches only values in dc.content.

I will add to the backlog to consider whether we want to create a different Search Filter to search in dc.content.\* for the Advanced Searc

[2016-07-21 19:50] alawvt commented on #341
Resolved with PR #342.

[2016-07-21 19:50] #341 closed, assigned to alawvt

[2016-07-21 19:55] alawvt opened #343 "Deploy jaguar and koala changes"
Open PR #298 will not be included in this month's sprint.

When you are ready to deploy jaguar and koala changes to vtechworks.dev, please request that IT Services reindex the server.

[2016-07-21 19:59] alawvt commented on #146
@pgray64 was unable to make this work setting captureAttr to true.

[2016-07-22 13:17] alawvt opened #345 "Create a test plan for jaguar and koala commits"
Please create a test plan for jaguar and koala commits. Use the files in Google Drive VTechWorks/Testing/ as a template.

[2016-07-22 13:39] alawvt commented on #345
I added some instructions for creating the test plan in the Wiki, [06. Testing](https://github.com/VTUL/vtechworks/wiki/06.-Testing). Please feel free to improve these.

[2016-07-22 15:42] amandafrench commented on #343
Great! Am tagging the release commit now and will push, then ask for deployment to development.

[2016-07-22 16:15] amandafrench commented on #343
@kayiwa says will be done by 2pm -- he'll ping us on talk when done.

[2016-07-22 16:15] amandafrench commented on #343
We can leave this issue open and change it to "pprd" etc. when time to do that.

[2016-07-22 16:17] amandafrench commented on #338
Thanks, @mello99 -- sounds like we can keep these values, then.

[2016-07-22 16:17] #338 closed, assigned to nobody

[2016-07-22 17:21] amandafrench commented on #146
@alawvt @pgray64 Seems like fixing this issue will take (has taken) more work than it's worth: I'm going to put it on hold and close it and the related pull request #298. If either of you have a brainstorm and think you can solve it quickly, you can reopen it. Thanks for investigating!

[2016-07-22 17:21] #146 closed

[2016-07-22 17:46] amandafrench commented on #308
@alawvt @pgray64 Sorry for my delay! I got really behind on GitHub notifications the last couple of weeks. Hmm, I think https://github.com/VTUL/vtechworks/issues/308#issuecomment-231834844 is my favorite, the second one with the dark orange links. I'd say meeting accessibility guidelines (which is federal law) is more important than meeting university branding guidelines.

@pgray64, if you haven't

[2016-07-22 17:47] amandafrench commented on #317
Putting this on hold for now.

[2016-07-22 17:47] amandafrench commented on #320
On hold.

[2016-07-22 17:47] #320 closed, assigned to pgray64

[2016-07-22 18:17] amandafrench commented on #321
Thanks to @mello99 we do now have a sense of what we want our Content Types to be (see spreadsheet at https://docs.google.com/a/vt.edu/spreadsheets/d/1Ul-hTkUt5TFJKPTOIXD27CmLagKWaBDomNLsKcBL4Xw/edit?usp=sharing ), so I went ahead and did this, though we won't deploy till next month. Created pull request at #347 to address this and assigned to @pgray64 for testing. Once it passes, we can close thi

[2016-07-22 18:19] amandafrench commented on #323
Great! I think we'll test these next week / month on development & pre-prod before we run them on production to clean up our actual data. Thanks!

[2016-07-22 18:19] #323 closed, assigned to pgray64

[2016-07-22 18:26] amandafrench commented on #324
This task isn't specifically addressed in https://git.it.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/SQL_for_DSpace, is it? Doesn't look like it to me, but maybe I'm missing something.

[2016-07-22 18:35] amandafrench commented on #330
Will leave this open for now: let's make sure to test it before the end of the month.

[2016-07-22 18:38] amandafrench commented on #345
Can you link to the test plan from this issue when it's done, please, @pgray64?

[2016-07-22 18:39] amandafrench commented on #324
Think I'll close this and #325: let's just run some tests on #323 first.

[2016-07-22 18:40] amandafrench commented on #325
Revisit after we test #323.

[2016-07-22 20:06] amandafrench commented on #343
Jaguar and Koala changes are now on development server, @mello99 @alawvt @pgray64

[2016-07-22 20:26] keithgee commented on #330
I have just tested this on https://vtechworks.dev.lib.vt.edu/handle/10919/71777, where the Koala changes have been deployed, and the item is appearing as normal, even when not logged in.

The "duplicate" problem mentioned here may be a separate issue from the "not appearing" issue. The user may have submitted twice, or even deleted a file or withdrawn a license, as per the elements configuration:

[2016-07-22 21:32] amandafrench commented on #330
Yes, that "remove license" option in Elements is very annoying: it really always affects the whole item and not just the license file. I've changed the settings in the Repository Connection on Elements production to the following:

Allow file deletion when item is in review = true
Allow file deletion when item is live = true

Both those options were false before. I've made myself a note to change

[2016-07-22 22:06] mello99 commented on #343
K, thanks for the update, will start testing soon.

On Fri, Jul 22, 2016 at 4:06 PM, Amanda French notifications@github.com
wrote:

##

Melissa Lohrey
Repository Collections Specialist
Virginia Tech
University Libraries
mlohrey@vt.edu
540-231-0267

[2016-07-22 22:21] mello99 commented on #330
Hi all, I goofed and deleted this before I saw Amanda's message, but we'll probably encounter the issue again (and I will NOT delete it when that occurs). Thanks to everyone who worked on this!

[2016-07-25 12:24] alawvt opened #348 "Submission not working on vtechworks.dev"
The jaguar and koala changes have been pushed to vtechworks.dev. Attempted submission produces an error message.

@pgray64, you might want to ask IT Services to turn off ClamAV temporarily to isolate the error.

[2016-07-25 15:25] amandafrench commented on #348
@alawvt @pgray64 That's the kind of error that has in the past been caused by trailing slashes and/or conflicts between http and https in the config files, I think. Not necessarily a ClamAV error.

[2016-07-25 15:32] amandafrench commented on #348
![screenshot 2016-07-25 11 31 47](https://cloud.githubusercontent.com/assets/227453/17107011/7e2b8630-525b-11e6-9347-874652eb57d7.png)

[2016-07-25 15:33] amandafrench commented on #348
Note too in screenshot above that although I _did_ log in on the previous page, the "Log in" link in the upper right on the submission page seems to indicate that I'm not logged in.

[2016-07-25 15:36] amandafrench commented on #348
Possibly related to #282?

[2016-07-25 15:50] amandafrench opened #349 "Document IP addresses etc. for Elements"
Which Elements IP addresses do VTW dev and pprd connect to? Please document at https://git.it.vt.edu/it-services/vtlibans_dspace/wikis/home. Thanks!

[2016-07-25 15:57] mello99 commented on #348
Hi all, I recently tried depositing an item from ed.lib.vt.edu (Elements) to DEV and got the following message, so these issues are probably related:

![screen shot 2016-07-25 at 11 57 01 am](https://cloud.githubusercontent.com/assets/5408616/17107839/ec1fc1ee-525e-11e6-9fd5-e7c121af482c.png)

[2016-07-25 18:59] alawvt commented on #348
@kayiwa reran the Elements script and now the event handler works. That means the submission form works until you get to the file upload step where there is an antivirus error.
@pgray64, would you look into the ClamAV?
![clamaverror](https://cloud.githubusercontent.com/assets/13037168/17113343/4c3f65b6-5278-11e6-9334-a6b95a67f0f1.png)
?

[2016-07-25 19:00] pgray64 commented on #345
Test plan
https://docs.google.com/a/vt.edu/spreadsheets/d/1glO8ERl28f8uVZz2BgTiZD5OCm2jNoH_G3GTur0GB48/

[2016-07-25 19:07] alawvt commented on #345
Very nice. @mello99, the Elements tests are at the top of the spreadsheet. I've asked @pgray64 to let you know when Elements is ready to test. (We have to get ClamAV working first.)

[2016-07-25 19:09] alawvt opened #350 "Test jaguar and koala changes on vtechworks production"
Test plan
https://docs.google.com/a/vt.edu/spreadsheets/d/1glO8ERl28f8uVZz2BgTiZD5OCm2jNoH_G3GTur0GB48/

[2016-07-25 20:53] pgray64 commented on #348
I'll test that uploads work on my local box and link to a copy my clamav config file.
That is, once I figure out why I'm getting`java.lang.IllegalStateException: DSpace kernel cannot be null` errors with Tomcat when I try to rebuild

[2016-07-26 13:05] #330 closed, assigned to nobody

[2016-07-26 16:50] pgray64 commented on #348
My local LDE is now up and running with vt_5_x_dev_deploy. Uploads and ClamAV is working fine on it without modification.

[2016-07-26 18:32] alawvt commented on #348
I submitted a [Symplectic support ticket](https://support.symplectic.co.uk/support/tickets/23553) about this issue.

"We are running DSpace 5.5 with Elements Repository Tools 1.7.3.5. DSpace supports ClamAV to check submissions for viruses, https://wiki.duraspace.org/display/DSDOC5x/Curation+System#CurationSystem-VirusScan. On our Local Development Environments that do not have Elements Repository

[2016-07-26 20:33] alawvt commented on #345
@pgray64, we have decided to revert the ClamAV commit.
Please remove ClamAV from the test plan and add the test of PR #347.

[2016-07-26 20:39] alawvt commented on #343
I have merged PR #347 and reverted the ClamAV commit.

@amandafrench, please add these commits to the vt_5_x_dev_deploy branch and request that it be deployed to vtechworks.dev.

[2016-07-26 22:26] amandafrench commented on #348
@kayiwa has gotten direct deposit working on vtechworks.dev (with ClamAV), but Elements deposit from ed.lib is still broken. Let's go ahead and start testing all the non-Elements stuff on vtw.dev.

I think @keithgee and @kayiwa will need to troubleshoot this together, since it might involve changes to the Elements install scripts, DSpace debugging mode, and/or the Ansible playbook. Keith is busy t

[2016-07-27 14:23] amandafrench commented on #343
Sorry, @alawvt, @mlohrey, @pgray64 -- late change of plans from after 6pm last night. Submission is now working on vtw.dev, so we can test everything EXCEPT Elements deposits there. Let's go ahead and do that, and when @keithgee has time (possibly next week), he can work with @kayiwa to troubleshoot Elements deposit with DSpace debugging & they can update the Elements install scripts and Ansible p

[2016-07-27 14:24] amandafrench commented on #345
See comments on #343 -- for now we can test ClamAV on development but not Elements deposit to vtw.dev.

[2016-07-27 14:54] alawvt opened #352 "Add documentation for Elements troubleshooting"
Please expand on Elements checklist, https://docs.google.com/spreadsheets/d/1YN0Y4ClOSd99k7sB3ID721LV8FWN4A56vNQ1EeZPkY4/edit#gid=1946758951.

[2016-07-27 15:00] keithgee commented on #348
I will open a separate issue for the Elements deposit. It's already resolved, but I want to make sure it is documented. Elements is ready for testing from ed.lib -> vtechworks.dev @mello99 @amandafrench

[2016-07-27 15:04] keithgee opened #353 "Elements deposit broken from ed.lib -> vtechworks.dev"

[2016-07-27 15:13] keithgee commented on #353
There was a configuration option missing from Tomcat's server.xml on vtechworks.dev.

I'm not supposed to have access to change this, but I do on dev, and I added the configuration and restarted Tomcat7 and tested the Elements deposit.

[code]

This line allows Tomcat to see the IP address of the machine that originated the requested (in this case ed.lib) and not the address of proxies or network

[2016-07-27 15:13] #353 closed, assigned to keithgee

[2016-07-27 15:16] alawvt commented on #345
@pgray64, do not add these items to the test plan. We'll keep it as you first wrote it.

[2016-07-27 15:16] #345 closed, assigned to pgray64

[2016-07-27 15:33] alawvt commented on #348
Thank you, @kayiwa and @keithgee, for resolving this issue.

[2016-07-27 15:33] #348 closed, assigned to nobody

[2016-07-27 15:35] alawvt commented on #343
I reverted the reversion, so ClamAV is again enabled. We can leave the stats content type commit to the next sprint.

[2016-07-27 17:47] amandafrench commented on #348
Ditto on the thanks, @keithgee and @kayiwa.

[2016-07-27 17:47] amandafrench commented on #352
Related to #349.

[2016-07-27 17:49] amandafrench commented on #321
Just a note that I'm going to keep this issue open until we plan the next sprint and will include it there so we remember to test it at the end of August.

[2016-07-27 19:44] alawvt opened #356 "Journal Title Sherpa Romeo look up not working on vtechworks.dev."
The new submission form should have a Sherpa Romeo look up button for the journal title field but it does not appear.

The regular Sherpa Romeo look up for the ISSN field does work in the submission form on vtechworks.dev.

The Sherpa Romeo lookup button for the journal title field does appear in LDEs built with the latest commits on vt_5_x_dev, https://github.com/VTUL/vtechworks/commit/fbb7550538

[2016-07-27 20:06] alawvt commented on #350
@mello99 has tested the Elements commits. There is an issue with one that will be addressed in the next sprint with PR #355. The rest pass.

@kayiwa has enabled cron jobs on dev and pprd. @pgray64, please test the 100 stats issue tomorrow.

Issue #356 is a report of an issue that has failed testing. @pgray64, please investigate this. Otherwise, we can move testing to pprd and address this issue ne

[2016-07-28 13:42] pgray64 commented on #350
No usage stats are showing on dev. However, that's likely due to the "floor" being set to twenty - only items activated 20+ times get stats generated for them. I loaded several items 20+ times, so the next time the cron job runs stats should show.

[2016-07-28 14:29] pgray64 commented on #356
@kayiwa The only difference I can think of between LDEs and the dev server would be the dev server's dspace.cfg lacking settings consistent with the changes at https://github.com/VTUL/vtechworks/pull/306/files.

[2016-07-28 19:19] amandafrench commented on #356
Hey, I bet that's it, @pgray64. I have to admit I can't remember what if any process we developed for making sure that dspace.cfg changes make it into deployment -- last I recall, @kayiwa was going to diff that file every time he deployed. But maybe it's for things like that that we need to submit pull requests to the Ansible playbook.

[2016-07-29 13:11] pgray64 commented on #350
@kayiwa Usage stats are not displaying on dev, implying that the command `[dspace]/bin/dspace stat-general` was never executed via cron job.

[2016-07-29 13:21] kayiwa commented on #350
yeah.... missed that.

[code]

[2016-07-29 13:21] kayiwa commented on #350
added it however.

[2016-07-29 13:25] kayiwa commented on #350
FWIW I notice this doesn't run on vtechworks prod. Do we care?

[code]

[2016-07-29 13:43] pgray64 commented on #350
Usage stats seem to work fine on prod

[2016-07-29 14:34] pgray64 commented on #308
Passes both AA requirements
Text: 000000
Links: a86107
<img width="600" alt="screen shot 2016-07-29 at 10 32 49 am" src="https://cloud.githubusercontent.com/assets/7339589/17251734/f624afbc-5577-11e6-98f0-7c939fd5760d.png">

[2016-07-29 14:36] pgray64 commented on #308
Passes both AA
Text: 000000
Links: 8c5206
<img width="600" alt="screen shot 2016-07-29 at 10 35 47 am" src="https://cloud.githubusercontent.com/assets/7339589/17251823/3cd1baae-5578-11e6-9636-98ebc4ad6b25.png">

[2016-07-29 14:39] pgray64 commented on #308
All the other reds and golds fail and are not close to meeting contrast reqs

[2016-07-29 16:12] mello99 opened #357 "Item counts for collections are incorrect (again) - and items are not in the index"
Hi all, VTechWorks isn't accountin' right again. A user contacted me and stated that the number of publications listed in her Faculty Research account was incorrect, though if one exports the metadata from that collection, one gets the correct number of publications. Below are the communities that have been most problematic w/regards to item counts (there may be other communities with the same pro

[2016-07-29 16:37] kayiwa commented on #357
You say _again_ How was this rectified before?

[2016-07-29 16:42] mello99 commented on #357
Would like to reference this closed issue - https://github.com/VTUL/vtechworks/issues/85

[2016-07-29 16:46] kayiwa commented on #357
And from that it reads like the fix isn't going to come from me. @mello99

Cheers.

[2016-07-29 17:05] pgray64 commented on #324
Completed at
https://git.it.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/SQL_for_DSpace

[2016-07-29 19:01] keithgee commented on #357
I've requested additional information from Ginny and am waiting for a response.

[2016-07-29 19:33] mello99 commented on #357
FYI (I don't remember if I indicated this earlier), but I exported a
spreadsheet of metadata from her Faculty Archive collection and got 14
items instead of 7, so it doesn't look like the items themselves have
actually disappeared. I'm waiting to hear back from her as well.

Also, Manuel, our student worker, has been mapping items from the Faculty
Archive collection to other collections; you could

[2016-07-29 20:53] mello99 commented on #357
I just noticed, on a related note, that our [VTechWorks Metadata Guidelines](http://hdl.handle.net/10919/64779), which are in the [VTechWorks Documentation](http://vtechworks.lib.vt.edu/handle/10919/64778) collection, don't appear at all in VTechWorks when you enter the VTechWorks Documentation collection. Of course you can find the item when you export the metadata from the VTechWorks Documentati

[2016-07-31 09:50] keithgee commented on #357
I am attempting to rebuild the solr index for every item in VTechWorks.

[2016-07-31 14:34] keithgee commented on #357
To add to the original description of the issue, which stated that the item counts were wrong for the collections:
It's not just the counts - the items that weren't counted actually weren't visible in the collections, or to search or browse. They could only be accessed with links to the item page.

I've run the indexer about a half-dozen times over the weekend in various combinations (standard ind

[2016-07-31 15:06] keithgee commented on #357
I've emailed Ginny to let her know that her items are now displaying.

I saved a copy of a  DSpace log file from 2016-07-08 that shows Solr had a problem indexing items (including mine that I fixed today) immediately after they were mapped to other collections.

[code]

This doesn't happen every time an item is mapped.

[2016-08-01 15:59] amandafrench commented on #357
Another unindexed item, by the way, is Andi Ogier's GeoBlacklight presentation: http://vtechworks.lib.vt.edu/handle/10919/63991 -- definitely something weird happening with the Solr index.

[2016-08-01 16:08] amandafrench commented on #350
Hi @pgray64 -- let me know if / when testing is complete on dev: we are going to go forward without resolving issue #356 or merging pull request #355, and we will work on #357 separately. If everything else passes on dev, I'll ask for deployment to pre-production.

[2016-08-01 17:20] amandafrench commented on #308
Ugh, bummer. None of the solutions look all that great, but I can live with Text: 000000
Links: a86107 above. Make it so, and we'll incorporate it at the end of August.

[2016-08-01 18:40] pgray64 commented on #356
Journal lookup works fine now on dev. There is another minor problem - the selection modal doesn't close when you hit accept - you have to hit cancel or the 'X'

[2016-08-01 18:46] pgray64 commented on #350
@amandafrench The dev server is still not generating usage stats http://vtechworks.dev.lib.vt.edu/statistics-home
which makes it not possible to test the 100 usage stats change. Usage stats were not being generated on dev prior to this deploy.
Aside from that and the changes that require email sending, all tests are passing.

[2016-08-01 21:28] pgray64 commented on #308
Contrast changes made with pull request #358.
Text: 000000
Links: a86107

In my opinion _links: 557082, text: 2e2e2e_ looks better.
<img width="400" alt="screen shot 2016-07-11 at 3 12 53 pm" src="https://cloud.githubusercontent.com/assets/7339589/16743366/fb1f646e-4779-11e6-9ef0-e3d7aae3bc0f.png">

[2016-08-02 14:20] pgray64 commented on #325
Finished at: https://git.it.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/SQL_for_DSpace

[2016-08-02 14:48] amandafrench commented on #308
@pgray64 Ah, and that one _is_ a secondary VT color too, correct? I forgot about that one! I agree -- that one does look better. You can change it on pull request #358. Thanks for the input.

[2016-08-02 14:49] amandafrench commented on #308
@pgray64 Also you can close this issue once you've updated the pull request.

[2016-08-02 14:51] #324 closed, assigned to nobody

[2016-08-02 14:51] #325 closed, assigned to pgray64

[2016-08-02 14:53] pgray64 commented on #308
Yes, it's a VT secondary color

[2016-08-02 15:07] pgray64 commented on #308
Updated pull request #358 to links: 557082, text: 2e2e2e.

[2016-08-02 19:52] amandafrench commented on #350
Just a note here, @pgray64, @alawvt, and @mello99 that @kayiwa has deployed the Koala sprint changes to pre-prod at http://vtechworks.pprd.lib.vt.edu

[2016-08-03 16:15] #321 closed, assigned to pgray64

[2016-08-03 16:16] #356 closed, assigned to nobody

[2016-08-04 13:28] alawvt opened #360 "Submission not working on vtechworks.pprd"
@kayiwa, ClamAV is preventing file uploads in the submission process. This appears very similar to the same issue you fixed on vtechworks.dev server as discussed at #348.

[2016-08-04 13:30] alawvt commented on #360
resolved by rerunning Ansible playbook. thanks, @kayiwa

[2016-08-04 13:30] #360 closed, assigned to kayiwa

[2016-08-04 14:23] pgray64 commented on #350
All tests assigned to me pass except for:
1. Account creation - email is sent, but password changing form doesn't change password
2. Password reset - email is sent, but password changing form doesn't change password

[2016-08-04 14:26] pgray64 opened #361 "Test Plan for SQL helper functions"
Create a testing plan for the SQL functions at
https://git.it.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/SQL_for_DSpace

[2016-08-04 14:29] pgray64 opened #362 "Update Policies page from Drive"
Update the text of the Policies page from the most recent changes in the VTW Google Drive

[2016-08-04 14:31] pgray64 opened #363 "Spreadsheet Exports en_us field issue"
Investigate the problem where in spreadsheet exports some fields have en_us  and some don't

[2016-08-04 14:42] pgray64 opened #364 "Expand Ansible docs on vtlibans_dspace"
Learn ansible and expand vtlibans_dspace documentation about it

[2016-08-04 14:43] pgray64 opened #365 "Expand Vagrant docs on vtlibans_dspace"
Learn vagrant and expand vtlibans_dspace documentation about it

[2016-08-04 14:51] alawvt commented on #350
@mello99 has tested the Koala/Jaguar changes on PPRD and nothing was different from DEV, except the handles didn't work (but that's to be expected since PPRD isn't live).

[2016-08-04 14:54] alawvt commented on #343
Testing on pprd is complete. @amandafrench, please deploy these changes to production and ask for it to be reindexed.

[2016-08-04 15:30] amandafrench commented on #343
Will do, thanks, @alawvt!

[2016-08-05 14:03] pgray64 commented on #361
Initial test plan - hard to know what could possibly break upon running the functions.
https://docs.google.com/spreadsheets/d/1xpA-PnSaAR5o6mBZQqXG8UkpD1hduYPTv4L9XK2_-L0/edit#gid=0

[2016-08-05 16:37] pgray64 commented on #362
Pull request #367

[2016-08-05 18:43] mello99 commented on #357
Hi @keithgee , here's another item that's not being indexed - http://hdl.handle.net/10919/70961. Also, the items in the "Open Textbooks" collection and "Learning Resources" collections are not being indexed, either (then again, each collection might just contain this one item that's not being indexed).

If you could address the indexing issue for this one particular item, that would be great (we h

[2016-08-05 19:32] keithgee commented on #357
@mello99, have you tried editing the metadata for the item and then saving it to see if that will index this one item? Seems goofy, right?
Thanks for coordinating with Manuel.

[2016-08-05 19:47] mello99 commented on #357
I will try that, thanks Keith!

On Fri, Aug 5, 2016 at 3:32 PM, keithgee notifications@github.com wrote:

##

Melissa Lohrey
Repository Collections Specialist
Virginia Tech
University Libraries
mlohrey@vt.edu
540-231-0267

[2016-08-08 02:50] mello99 commented on #357
Hi @keithgee , I edited the metadata, and now, 2 days later, the item is _still_ not findable in search (I typed in the title, with and without quotes) or browse (I browsed by title and by author name). This is the item I'm referring to - http://hdl.handle.net/10919/70961. We'll talk more, but it doesn't look like this bug will be resolved without a fight. Take care.

[2016-08-08 04:01] mello99 commented on #357
Hi all, I've created a spreadsheet in Google Drive called "[VTW_Unindexed_Items](https://docs.google.com/spreadsheets/d/1v0qvqqVReVHhrp-m8XWQjdENZv3ThFpCw0ilHC8MW08/edit#gid=0)" that lists items that cannot be found using VTW's search and browse functions. The list is incomplete, of course, since Manuel and I have not finished going through all of the items in the University Libraries and Faculty

[2016-08-08 06:22] keithgee commented on #357
@mello99 I've just now logged into VTechWorks and selected http://hdl.handle.net/10919/70961, then "Edit this Item" -> "Item Metadata". In a subject, I changed "business" to "busines" and pressed "Update". Then I changed "busines" back to "business" and pressed "Update" again, and "Return". The item is indexed.

I have the magic touch! But something is definitely wrong and I will have time to look

[2016-08-08 07:33] mello99 commented on #357
Hi @keithgee , thanks so much for looking at this (though I certainly didn't expect you to respond at this hour! Stalking GitHub at 3am is my bad habit, haha). But yes, I followed your specific method of editing the metadata and successfully triggered indexing! Indexing failed when I just made one edit, specifically when I added a new metadata field to an item rather than editing an existing metad

[2016-08-08 13:24] alawvt commented on #343
Changes have been deployed to production.

[2016-08-08 13:24] #343 closed, assigned to amandafrench

[2016-08-08 15:07] alawvt opened #368 "Submission form not working on production"
ClamAV is not working for the submission form on production. Therefore the submission form is not working. I will post a notice on the website.

[2016-08-08 15:16] alawvt commented on #368
@kayiwa, thank you for fixing this. The submission form works.

[2016-08-08 15:16] #368 closed, assigned to kayiwa

[2016-08-08 15:18] alawvt commented on #350
@pgray64 and @mello99, vtechworks production is ready to test.

[2016-08-08 15:20] mello99 commented on #350
Hi all (especially @alaw ), I think I recall Amanda saying that we
shouldn't test Elements item exporting on production because that would
entail depositing dummy items in our live repository. Am I correct in
recalling this? Thanks, take care.

On Mon, Aug 8, 2016 at 11:18 AM, alawvt notifications@github.com wrote:

##

Melissa Lohrey
Repository Collections Specialist
Virginia Tech
University Libr

[2016-08-08 15:24] alawvt commented on #350
@mello99, I don't recall any instructions about that. It would be nice to know at least if Elements submission is working after the changes. I'd be fine with going with your judgement about this.

[2016-08-08 15:29] amandafrench commented on #350
@alawvt @mello99 I may have said so, but if so, I'm wrong! You can test Elements on production all you want, but it'd be better to delete the test items on production right away afterward. Things in the Library Test collection are showing up really high in VT website searches and Google searches at the moment.

[2016-08-08 15:33] alawvt commented on #350
@amandafrench, thanks for the guidance. @mello99, feel free to delete anything @pgray64 or I load to the Library Test collection. We'll try to keep up with deleting our stuff, too.

[2016-08-08 15:33] mello99 commented on #350
Hi @amandafrench and @alaw , thanks so much for clarifying this. I will
test the new Elements changes on production and then delete the items ASAP.
I hope everything is going well with the move and that you're getting
enough rest in the midst of it all. Take care.

On Mon, Aug 8, 2016 at 11:29 AM, Amanda French notifications@github.com
wrote:

##

Melissa Lohrey
Repository Collections Specialist
V

[2016-08-08 19:56] mello99 commented on #350
Hi @keithgee and @alawvt , I tried to deposit items from the production version of Elements (EFARS - Provost website) into the production version of VTechWorks and got the following error message:

![screen shot 2016-08-08 at 3 54 10 pm](https://cloud.githubusercontent.com/assets/5408616/17493962/890f7c16-5d80-11e6-8107-c3892730dceb.png)

Any idea as to what's happening? Thanks, take care.

[2016-08-08 20:13] alawvt opened #369 "Unable to deposit from Elements to vtechworks production"
@mello99 tried to deposit items from the production version of Elements, http://efars.provost.vt.edu, to vtechworks.lib.vt.edu and got the following error message:

![screen shot 2016-08-08 at 3 54 10 pm](https://cloud.githubusercontent.com/assets/5408616/17493962/890f7c16-5d80-11e6-8107-c3892730dceb.png)

Regular submissions and other functions on VTechWorks seems to work, so it seems like the El

[2016-08-08 20:14] alawvt commented on #350
I've continued this Elements problem as its own issue #369, which is now resolved.

[2016-08-08 20:47] kayiwa commented on #369
Hey @mello99 could you try this now?

./fxk

[2016-08-08 20:53] mello99 commented on #369
Hi @kayiwa , @alawvt , and @keithgee , it's working now - I was able to successfully [deposit an item ](http://hdl.handle.net/10919/72114)(I will delete it shortly). Thanks for your help with this!

[2016-08-08 20:54] #369 closed, assigned to keithgee

[2016-08-09 04:05] mello99 commented on #350
Hi all, I've finished testing the Symplectic Elements XSLT changes on production; none of my test results differed from my DEV and PPRD results (except for that little hiccup that we addressed earlier - https://github.com/VTUL/vtechworks/issues/369). @pgray64 or @alawvt , feel free to close this issue (or tell me to close this issue) when you're ready. Thanks, everyone!

[2016-08-09 15:51] keithgee commented on #357
I am testing a fix on the pre-production system.

From the psql client:

[code]

Then, from the command line, outside of psql:

[code]

I spoke with @alawvt and she said that we don't want author authorities anymore; they are not useful to us now. So, the first sequence of commands in psql backs up the authorities for dc.contributor.author to a text file, and then effectively removes them from the

[2016-08-09 16:28] mello99 commented on #357
Hi @keithgee , I can't verify if the fix you installed on PPRD fixes _all_ associated issues, but the way I currently check for indexing discrepancies is to:
1. Export all of the metadata for a particular community or collection, then:

   A. Manually check to see whether the number of items associated with a particular individual
       (e.g., dc.creator or dc.contributor) is the same in the expo

[2016-08-09 16:51] mello99 commented on #357
Hi @keithgee , I'll run some PPRD tests on the Virginia Cooperative Extension and University Libraries communities to see if your fix is working. Here's a [link to the testing spreadsheet on Drive](https://docs.google.com/spreadsheets/d/1MsGRghzQiRcxlkh018i1K8owp2vSPKZJ7a2zyyADgkI/edit#gid=0). Let me know if you need anything else from me, and take care :).

[2016-08-09 17:05] alawvt commented on #350
Testing is now complete. @pgray64 and @mello99, thank you for your thorough testing. @kayiwa, thank you for getting us through a challenging deployment cycle.

[2016-08-09 17:05] #350 closed, assigned to mello99, pgray64

[2016-08-09 17:54] keithgee commented on #349
I have added this information here:
https://git.it.vt.edu/it-services/vtlibans_dspace/wikis/elements-ip-addresses
Tagging @kayiwa because he was the original requestor.
***Closing

[2016-08-09 17:55] #349 closed, assigned to keithgee

[2016-08-09 22:22] mello99 commented on #357
PPRD testing is finished - all tested items passed (see the [Google Drive spreadsheet](https://docs.google.com/spreadsheets/d/1MsGRghzQiRcxlkh018i1K8owp2vSPKZJ7a2zyyADgkI/edit#gid=0) for more information). Moving on to testing on production.

[2016-08-09 22:28] keithgee commented on #357
The fantastic @mello99 tested the fix on PPRD and figured out the discrepancies. I performed the same fix process on the production server. The item count when not logged in, and browsing by title went up from 53553 to 56680. We just made over 3000 items findable again!

**\* Closing

[2016-08-09 22:28] #357 closed, assigned to keithgee

[2016-08-10 12:31] alawvt commented on #357
@keithgee and @mello99, thank you very much for resolving this. Not only have you fixed the indexing issue, you've also rid us of thousands of unwanted name authority numbers. This was another task on the backlog that we can mark as done.

[2016-08-10 13:17] alawvt opened #370 "Research whether we can upload the text file for a pdf"
Please research whether we can upload the text file for a pdf. Usually, when we load a pdf with an item, a cron job, `/dspace/bin/dspace filter-media`, https://wiki.duraspace.org/display/DSDOC5x/Mediafilters+for+Transforming+DSpace+Content, also https://wiki.duraspace.org/display/DSDOC5x/Command+Line+Operations, runs to create a text version of the pdf. Solr uses this text file to index the item.

[2016-08-10 13:31] alawvt commented on #349
I added a link to this page from the [wiki home page](https://git.it.vt.edu/it-services/vtlibans_dspace/wikis/home).

[2016-08-10 15:30] pgray64 commented on #370
The API has the abstracts, but not the full text. This could easily be inserted as metadata in the PDFs, and would therefore be used by the full text indexing command.

The OCR used by my script is very accurate for actual text, but it picks up photocopy marks, line numbers, and parts of figures. My script embeds the text for convenient searching and copying of text in the PDF, but would definitel

[2016-08-10 16:14] alawvt commented on #370
I think our default will be to OCR the patents as part of your script and let the filter-media job pick up the text for indexing. But since the UPSTO has gone to all the work of creating amazingly clean text versions of the claims and description sections, I was hoping we could leverage them for indexing.

[2016-08-10 16:17] alawvt commented on #370
It looks like the Rice University DSpace patent collection, https://scholarship.rice.edu/handle/1911/79705, was OCRed with Acrobat in this default method.

[2016-08-10 20:44] alawvt commented on #363
Please use and add to the [testing notes](https://git.it.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/Metadata_in_VTechWorks). Also refer to the wiki for details about the three submission methods. I have updated the notes with changes I have seen in the language codes added with the SAF upload method. I suggest testing the language codes added during the one-at-a-time web submi

[2016-08-11 14:27] pgray64 commented on #363
Based on my testing, the only method that adds language codes is the "One at-a-time web submission form"

[2016-08-11 14:56] pgray64 commented on #363
The language code is a field in the Postgres database for each metadata value.
I could add a dropdown option for languages for both metadata import and SAF upload.

[2016-08-11 15:34] alawvt commented on #363
@pgray64, thank you for your research. Would you find out where in the process the language code, [en_US], is added to each field in the one-at-a-time web submission form" and where it is adding [en] to the dc.provenance field?

[2016-08-11 17:29] keithgee commented on #352
I've started a page here:
https://git.it.vt.edu/it-services/vtlibans_dspace/wikis/elements-troubleshooting

Honestly it just boils down to making sure the script ran and that the network configuration didn't change.

[2016-08-11 17:49] keithgee commented on #352
I've added some more details to the page. I think that all of the Elements problems we've had during testing and re-deployments are covered between these two pages:
https://git.it.vt.edu/it-services/vtlibans_dspace/wikis/elements-troubleshooting
https://git.it.vt.edu/it-services/vtlibans_dspace/wikis/elements-ip-addresses

I'll close this issue now, but will make updates as requested or as new iss

[2016-08-11 17:49] #352 closed, assigned to keithgee

[2016-08-11 20:14] alawvt opened #371 "Test and merge DS PR #1241 "NPE during SAF format import with collection files" as a module overlay"
I attempted to load a SAF batch using a "collections" file to load each item to multiple collections, as described in https://wiki.duraspace.org/display/DSDOC5x/Importing+and+Exporting+Items+via+Simple+Archive+Format. (Previously, I have only loaded to a single collection per batch and had not used the collections file.)

I received the error,

[code]

This issue was reported in [[DS-2633] NPE dur

[2016-08-12 15:46] pgray64 commented on #363
Lines 252, 906, 1000, 1032 of `[dspace]/dspace/modules/additions/src/main/java/org/dspace/content/DSpaceObject.java`
is the location for adding language code in one time submissions. I'll comment out, rebuild, and test to make sure.

Edit: Changing above file would be a bad idea - will likely have unintended consequences

[2016-08-12 16:13] alawvt commented on #371
Resolved with PR #372.

[2016-08-12 16:13] #371 closed, assigned to alawvt

[2016-08-12 21:10] alawvt commented on #308
I think the links in #557082 are a very greyish blue and don't contrast enough with the black text.

Here are two more attempts:
#4078C0 (GitHub blue links)
![4078c0_link_color](https://cloud.githubusercontent.com/assets/13037168/17637107/6a7e7036-60af-11e6-9e29-b8bf08f42b9c.png)

#DD4048 (The same hue as the Hokie maroon but lightened - winds up rather orange-y)
![dd4048_link_color](https://cloud

[2016-08-15 16:53] pgray64 commented on #363
There are quite a few java source files with varying values being passed as the language attribute for metadata fields. That is definitely the cause of this bug, though I'm not completely sure which files should be modified.

Below is the result of `grep -rnw 'dspace-api/src/main/java/org/dspace' -e "addMetadata"`

You can see that calls to addMetadata() use varying language attributes  such as: n

[2016-08-15 17:03] pgray64 commented on #363
To the best of my knowledge, the relevant files for fixing the language fields for just the three submission methods (single item, bulk edit, SAF import) are:
`dspace-api/src/main/java/org/dspace/xmlworkflow/migration/RestartWorkflow.java`
`dspace-api/src/main/java/org/dspace/xmlworkflow/state/actions/processingaction/AcceptEditRejectAction.java`
`dspace-api/src/main/java/org/dspace/xmlworkflow/st

[2016-08-15 17:14] pgray64 commented on #363
en_US attributes are being added as the language for inserted metadata in:

`[dspace]/dspace/config/crosswalks/mods-submission.xsl`
as well as the custom submission steps for OMALS and NDLTD:
`[dspace]/dspace/modules/additions/src/main/java/org/dspace/submit/step/NDLTDNonInteractiveStep.java`
`[dspace]/dspace/modules/additions/src/main/java/org/dspace/submit/step/OMALSNonInteractiveStep.java`

[2016-08-15 17:19] pgray64 commented on #363
Additionally,
dspace_local.properties:51:default.language = en_US
dspace_local.properties.properties:51:default.language = en_US
src/main/filters/testEnvironment.properties:51:default.language = en_US

[2016-08-16 15:21] alawvt commented on #370
USPTO does have the complete metadata, including description and claims fields, in https://bulkdata.uspto.gov/data2/patent/grant/redbook. However, the file is extremely large, so we'll just use the OCR.

[2016-08-19 17:09] alawvt opened #373 "Refine instructions for SQL commands"
add instructions for creating an SQL dump for backup purposes

add instructions to get a list of all values and counts for a field, for example dc.type and count of each value.

research ways to make command safer and reversible, if needed.

rename command that have effects to warn user.

[2016-08-19 18:07] #370 closed, assigned to pgray64

[2016-08-19 18:11] alawvt commented on #361
@pgray64 and I have reviewed the SQL instructions and will be making improvements, #373. After that, we'll review the test plan again.

[2016-08-19 18:11] #361 closed, assigned to nobody

[2016-08-19 18:13] alawvt commented on #363
@pgray64, thank you for your investigation. We'll need to review this to decide how to proceed.

[2016-08-19 18:13] #363 closed, assigned to pgray64

[2016-08-19 19:09] alawvt opened #374 "Customize item view, facets, and search filters for patents collection"
Please customize item view, facets, and search filters for the patents collection, http://vtechworks.lib.vt.edu/handle/10919/72294, following the specifications in https://git.it.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/Virginia_Tech_Patents.

You might reference PR #76, which added a custom field to the item view of another collection and PR #50, which customized search fil

[2016-08-23 17:20] alawvt commented on #308
The gold (8c5206) wins.

[2016-08-23 17:20] #308 closed, assigned to pgray64

[2016-08-23 17:51] amandafrench commented on #308
Glad we got a solution that passes both federal accessibility & university branding guidelines, though I will admit that it's not very attractive. Will be glad when the university rebrands, though I know it'll take a long time. Thanks for your work on this, @pgray64 and @alawvt.

[2016-08-24 16:25] alawvt opened #375 "Create a test plan for lemur commits"
Please create a test plan for lemur commits in the Google Drive Testing folder.

[2016-08-24 17:03] mello99 commented on #362
Hi @amandafrench , there are a few suggestions that need to be approved in the updated [Policies document](https://docs.google.com/document/d/1kkSKHIVM3q46TIDzCmQm90dS5UNyXKMDIuTd_mDWSSg/edit#) since they were added in "Suggesting" mode. Once you've approved (or rejected) these suggestions, could you please let me know? @pgray64 , as soon as Amanda approves the unapproved suggestions in the Polici

[2016-08-26 17:54] alawvt opened #376 "Prepare patent harvest script for release on GitHub"
When we are ready, we'll fork the project to a public repository on GitHub.

[2016-08-26 18:02] alawvt opened #377 "Refine ETD-db harvesting script"

[2016-08-26 18:04] alawvt commented on #374
will revisit next sprint

[2016-08-26 18:05] #365 closed, assigned to nobody

[2016-08-26 18:05] #364 closed, assigned to nobody

[2016-08-26 20:49] pgray64 commented on #377
Not sure why double pipes are appearing in files names when you ran it - I'm getting the correct filenames for entries with multiple files when I run it.

[2016-08-29 17:44] amandafrench commented on #377
Possibly related to https://github.com/VTUL/vtechworks/issues/83 ?

[2016-08-30 15:43] alawvt opened #379 "Test lemur changes on vtechworks"
Please use the test plan on Google Drive VTechWorks Team/Testing/Dspace_5.5_July_22_August_29_Lemur_Testing to record your test results for the Lemur sprint changes.

@mello99, if you would perform the two Elements tests, that would be great.

[2016-08-30 15:48] amandafrench commented on #362
I reviewed and accepted these, although too late for them to go live in the current deployment. @pgray64, please do see the current version in Google Drive as of 8/30 and encode them for the Policies page. Thanks.

[2016-08-30 16:16] alawvt opened #380 "Deploy lemur changes to vtechworks"
Please note that this deployment may require manually running

[code]

[2016-08-30 16:18] alawvt commented on #375
completed and on Google Drive/VTechWorks Team/Testing/Dspace_5.5_July_22_August_29_Lemur_Testing

[2016-08-30 16:18] #375 closed, assigned to pgray64

[2016-08-30 17:20] alawvt commented on #379
I have completed the non-Elements tests on vtechworks.dev.

[2016-08-30 20:43] alawvt commented on #380
Testing on dev is complete. @amandafrench , please deploy to pprd and note the possible manual tasks listed above.

[2016-08-31 13:03] alawvt commented on #379
@mello99 has completed testing Elements on vtechworks.dev.

[2016-08-31 16:27] alawvt opened #381 "Create release notes for lemur sprint"
Continue notes that @amandafrench started.

[2016-08-31 17:06] alawvt opened #382 "Handle server not working"
Handle server not working at 1:04. Reported to CNRI. Will test again in a bit.

[2016-08-31 17:49] alawvt commented on #382
Handles for another repository ([U. Maryland](http://drum.lib.umd.edu)), are working. Asked ITS to check the handle server.

[2016-08-31 18:27] alawvt commented on #382
@kayiwa restarted the handle server and it works now.

[2016-08-31 18:27] #382 closed, assigned to alawvt

[2016-09-01 16:47] alawvt commented on #379
@mello99, these changes are ready to test on pprd. Thanks.

[2016-09-01 16:48] mello99 commented on #379
Ok, will do.

On Thu, Sep 1, 2016 at 12:47 PM, alawvt notifications@github.com wrote:

##

Melissa Lohrey
Repository Collections Specialist
Virginia Tech
University Libraries
mlohrey@vt.edu
540-231-0267

[2016-09-01 20:02] alawvt commented on #380
deployed on pprd.

[2016-09-01 20:03] #381 closed, assigned to alawvt

[2016-09-01 20:04] alawvt commented on #379
I have completed the non-Elements tests on vtechworks.pprd

[2016-09-02 14:30] amandafrench commented on #379
@alawvt You should be able to test things related to Elements now, BTW, Anne. Not that you have to, but you should be in the Banner feed as faculty by now. @mello99 can give you the details.

[2016-09-02 14:40] mello99 commented on #379
I'm testing the Elements related changes on PPRD as we speak. Thanks.

On Fri, Sep 2, 2016 at 10:30 AM, Amanda French notifications@github.com
wrote:

##

Melissa Lohrey
Repository Collections Specialist
Virginia Tech
University Libraries
mlohrey@vt.edu
540-231-0267

[2016-09-02 15:29] alawvt commented on #379
@amandafrench, thanks, I do have access to three Elements systems.

[2016-09-02 15:53] mello99 commented on #379
@alawvt and @amandafrench , I have completed testing the Elements XSLT items on PPRD.

[2016-09-02 16:14] alawvt commented on #380
I have submitted a TeamDynimix request to deploy to production.

[2016-09-02 16:20] alawvt commented on #380
Deployment to production is planned for next Tuesday.

[2016-09-06 20:08] alawvt commented on #380
deployed to production

[2016-09-06 20:08] #380 closed, assigned to nobody

[2016-09-06 20:09] alawvt commented on #379
I have completed the non-Elements tests on vtechworks.

[2016-09-06 22:44] amandafrench commented on #373
Waiting for next sprint.

[2016-09-07 12:37] keithgee opened #383 "Increase number of items in RSS feed from 4 to 10"
Links to the RSS feed are on the main page at https://vtechworks.lib.vt.edu.

http://vtechworks.lib.vt.edu/feed/rss_1.0/site
http://vtechworks.lib.vt.edu/feed/rss_2.0/site
http://vtechworks.lib.vt.edu/feed/atom_1.0/site

There are currently 4 items showing in the feed. Please increase the number to 10.

[2016-09-07 13:07] keithgee opened #384 "Make RSS feed distinguish between author, title, date, and abstract in data"
We need more information before we can work on this task, @amandafrench.

Are you trying to integrate with another system? Would you be able to use the atom feed?
http://vtechworks.lib.vt.edu/feed/atom_1.0/site

[code]

The atom feed already has entries for author (author/name), title (title), date (published), and abstract (summary), with the problem that summary also repeats the title and author

[2016-09-07 15:25] alawvt commented on #379
@mello99 has completed testing Elements changes on production. This completes testing Lemur changes.

[2016-09-07 15:25] #379 closed, assigned to mello99, alawvt

[2016-09-09 17:06] alawvt opened #385 "Add dc.identifier.orcid to the default submission form"
Add to alphabetical list in  `vtechworks/dspace/config/input-forms.xml`

[code]

displayed value="ORCID"

[2016-09-09 17:18] amandafrench commented on #384
Hmm, that code looks fine, but if you go to any of the RSS feed links, e.g., http://vtechworks.lib.vt.edu/feed/atom_1.0/site, Title, ID (handle), Summary, and Date are the only elements displayed. The Author field data isn't displayed.

![screenshot 2016-09-09 13 13 02](https://cloud.githubusercontent.com/assets/227453/18395977/2e51419c-768f-11e6-84ae-e9b96a712c6f.png)

Also, since the Summary ele

[2016-09-09 17:21] amandafrench commented on #384
Oops, and a third part: get the abstract alone into the RSS feed if possible, without the title and author as it is in the `<summary>` field.

[2016-09-09 17:25] amandafrench commented on #384
And yes: the purpose of this task is to make sure that all RSS feeds from VTechWorks contain and deliver appropriate structured data: linked Title, Author, Date, and if possible an excerpt from the abstract so that this data can be used by other applications (RSS readers, subscription clients, websites).

[2016-09-09 19:15] alawvt commented on #385
Also, in the same file and form-value-pairs section, list "Report" before "Software" in content_types.

[2016-09-09 19:18] alawvt opened #386 "Remove "File contains personally identifiable information" from embargo reasons in submission form."

[2016-09-09 19:27] alawvt opened #387 "Change selection color from pink to something more subdued"
You might see what other VT sites use.

[2016-09-09 19:33] alawvt opened #388 "Create test plan for Content Security Policy changes"
@keithgee, please review the preliminary test plan at Google Drive/VTechWorks Team/Testing/DSpace_5.5_Content_Policies_Testing.

[2016-09-09 19:37] keithgee commented on #384
Thanks - I did have to "View Source" on the Atom feed to see the author data.

[2016-09-13 16:46] mello99 opened #390 "Unable to upload wireframe videos (Fix ClamAV settings)"
Hi all, Andi contacted me a few days ago and explained that she was unable to load several wireframe videos to an item she was creating in VTechWorks. I wrongly assumed that I had the magic touch and could upload the wireframe videos myself; after the first upload reached 100%, I received the following message:

![screen shot 2016-09-13 at 12 39 48 pm](https://cloud.githubusercontent.com/assets/54

[2016-09-13 18:12] alawvt commented on #390
@mello99, thank you for reporting this issue. Would you upload one of these files to the Google Drive/VTechWorks Team/Technology/ folder for us to use for testing?

Also, would you mind creating a test item on dev with just a pdf as the submitted file, then see if you can add the wireframes in the "edit this item" view? If this works, you could create the item this way on production, then delete t

[2016-09-13 20:28] alawvt commented on #390
I just tried the curation task, "Scan for viruses," on http://vtechworks.lib.vt.edu/handle/10919/72937, which contains one PDF file. It returned

[code]

I then tried the curation task, "Scan for viruses," on http://vtechworks.lib.vt.edu/handle/10919/18665, which contains Project_arunima2_nik90.zip (451.6Mb) and UpwardBoundTalentSearch.mp4 (73.43Mb). It returned

[code]

I think this is because it

[2016-09-13 20:33] mello99 commented on #390
Thanks for clarifying this, @alaw. Let me know if you need help with the additional tests.

[2016-09-14 16:53] mello99 commented on #390
I successfully uploaded the wireframe MOV files using the "Edit item" functionality (which can be accessed after an item is created in VTW). The item can be accessed [here](http://hdl.handle.net/10919/72942). Thanks.

[2016-09-14 19:00] alawvt commented on #390
@mello99, thank you very much for testing the alternate upload method and loading this item manually.

I created a GitLab wiki page with notes about [ClamAV in VTechWorks](https://git.it.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/ClamAV).

[2016-09-15 18:53] #388 closed, assigned to keithgee, alawvt

[2016-09-15 18:58] alawvt opened #392 "Test Content Security Policy on vtechworks"
Please use the test plan at Google Drive/VTechWorks Team/Testing/DSpace_5.5_Content_Policies_Testing to test the Content Security Policy on vtechworks.dev.

@mello99, please do the off campus and Elements tests. If you think of others, please just add them. @AnushaPillai, we'll team up tomorrow to do the others.

Thanks.

[2016-09-15 19:46] mello99 commented on #392
Ok, will try to finish them by tomorrow's stand-up meeting.

On Thu, Sep 15, 2016 at 2:58 PM, alawvt notifications@github.com wrote:

##

Melissa Lohrey
Repository Collections Specialist
Virginia Tech
University Libraries
mlohrey@vt.edu
540-231-0267

[2016-09-16 13:02] alawvt opened #393 "Error message when user tries to reset password on vtechworks.dev"
I just created an account for @AnushaPillai on vtechworks.dev. She used the password reset page to reset her password (unfortunately this is standard procedure for new users). When she submitted it, she received an error.
![passwordresetdeverror](https://cloud.githubusercontent.com/assets/13037168/18586695/dbeeae0a-7beb-11e6-963c-7d0e3aca67aa.png)
We tried the same thing on vtechworks production a

[2016-09-16 14:24] alawvt commented on #392
ITS is working on dev and we had an error with the password reset form. You might want to wait on other testing until we get this clear.

[2016-09-16 14:50] alawvt commented on #393
This was caused by the change in University mail settings. Thank you, AH and @kayiwa, for resolving this issue. It now works again.

[2016-09-16 14:51] alawvt commented on #392
ITS has resolved the issue with the passwork reset form. It was caused by a change in the University mail settings. Please feel free to resume testing.

[2016-09-16 14:56] alawvt commented on #393
@kayiwa, The form said the email was sent. Unfortunately, @AnushaPillai has not received any of the emails that were sent for the password reset.

[2016-09-16 15:00] alawvt commented on #393
ITS is waiting on VT IT to fix this.

[2016-09-16 15:00] #393 closed, assigned to nobody

[2016-09-16 15:02] alawvt commented on #392
Alas, ITS fixed things on the dSpace server, but we must wait on central IT to fix issues with the mail server. Therefore, I suggest we wait on Content Security Policy tests that involve any email.

[2016-09-16 17:53] alawvt commented on #393
This has been resolved. vtechworks.dev is able to send emails again.

[2016-09-16 17:54] alawvt commented on #392
Dev can send emails now, so we can perform those tests.

[2016-09-16 18:00] keithgee commented on #393
Will I need to do anything to get mail working on my LDE?

On Friday, September 16, 2016, alawvt notifications@github.com wrote:

[2016-09-16 18:18] pgray64 commented on #390
Even with

[code]

and multiplying all timeouts by 10

Uploading a 217 mb MP4 fails, as does a 1 Gb mov.

[2016-09-16 18:24] pgray64 commented on #390
ClamAV's Clamscan is able to scan the 1Gb mov with `--max-scansize=2000M --max-filesize=2000M` arguments. Perhaps DSpace has a timeout for calling the external ClamAV daemon.

[2016-09-16 18:36] alawvt commented on #393
@kayiwa says, "no."

[2016-09-16 19:06] AnushaPillai opened #395 "Video display issue on dev"
Video control icons missing. Refer to https://vtechworks.dev.lib.vt.edu/handle/10919/52246

![video display issue on dev](https://cloud.githubusercontent.com/assets/22099712/18598054/0a500536-7c1f-11e6-906d-a61973c02bd2.png)

[2016-09-16 19:17] pgray64 commented on #390
Large files were failing due to a too low `socket.timeout` in [dspace]/dspace/config/modules.clamav.cfg. I changed it to `socket.timeout=120000` (120 seconds).

When testing MOVs and MP4s, some video files needed ClamAV settings `MaxScanSize, MaxFileSize, StreamMaxLength` to be 20X that of the uploaded file size for the scan to not fail.

[2016-09-16 19:21] AnushaPillai commented on #392
We have completed  most of the on campus tests and reported 1 issue #395

[2016-09-16 19:25] AnushaPillai commented on #385
Resolved with Pull request #394

[2016-09-16 19:26] AnushaPillai commented on #386
Resolved with Pull request #394

[2016-09-16 19:41] alawvt commented on #392
@keithgee, there is one test that you have assigned to yourself. There are several others that I am unsure of. Would you mind explaining them to me?

[2016-09-16 19:44] keithgee commented on #395
Thank you, @AnushaPillai. @zoto724, can you please add the following to the Content-Security-Policy header on vtechworks.dev?

[code]

[2016-09-16 20:44] mello99 opened #397 "Can't deposit a file into VTW Dev from Elements (ed.lib.vt.edu)"
Hi all, I tried to deposit a file from Elements (ed.lib.vt.edu) into VTW Dev, but Elements keeps refreshing the page whenever I try to upload a file. So, in a nutshell, I can't actually upload a file to be deposited into VTW DEV from the ed.lib.vt.edu Elements server :(. That's the one remaining test I have. Thanks for your help, and take care.

[2016-09-16 21:21] keithgee commented on #397
I'm not sure who thought to test this, but it was a good idea. I think the problem was related to the security changes on vtechworks.dev.
I was able to duplicate this and also couldn't deposit; Elements refreshed the page when I uploaded a file, but didn't give an error message.

On ed.lib, I have access to the Elements modules control panel. Under "Module Admin -> Repository Connection -> Edit th

[2016-09-19 12:38] zoto724 commented on #395
Done @keithgee

[2016-09-19 14:51] alawvt commented on #395
Issue resolved

[2016-09-19 14:51] #395 closed, assigned to keithgee

[2016-09-19 17:18] alawvt opened #398 "Deploy Maltipoo sprint commits to vtechworks"
Reminder to note that changes include manual ones for the server for ClamAV. (This will probably have to be incorporated in vtlibans_dspace, as well.)

It is also necessary to modify ClamAV daemon's config file `/etc/clamav/clamd.conf`

[code]

[2016-09-19 17:44] #386 closed, assigned to AnushaPillai

[2016-09-19 17:45] #385 closed, assigned to AnushaPillai

[2016-09-19 19:11] alawvt opened #399 "Maven build error"
Pull, built and merged the submission form PR #394 without a problem. Next I pulled and tried to build the ClamAV PR #396. I'm getting a Maven error:

[code]

Turned out this branch was considerably behind vt_5_x_dev, causing this error.

[2016-09-19 19:33] #399 closed, assigned to nobody

[2016-09-20 13:33] alawvt commented on #387
Issue #308 with PR #358 are previous examples of color changes that you might want to use for reference.

[2016-09-20 14:19] alawvt commented on #390
@pgray64, thank you very much for your extensive testing and resolution of this issue.

Depending on the file format, files up to 2 GB (possibly much smaller) may be loaded via the submission form. Larger ones will have to be loaded in the "edit this item" interface or on the command line.

[2016-09-20 20:27] #390 closed, assigned to pgray64, alawvt

[2016-09-20 20:30] alawvt commented on #377
@pgray64, please see the notes in etd_db_ingest_notes_20160920.txt on Google Drive.

[2016-09-20 23:16] keithgee commented on #392
@alawvt, I've completed testing of the issues we discussed the other day and put a few notes in the test plan about how I tested them. All are passing.

[2016-09-21 12:18] alawvt commented on #392
That completes testing on vtechworks.dev. Thank you, everyone.

[2016-09-21 16:37] pgray64 commented on #383
Addressed with pull request #400

[2016-09-21 17:06] alawvt commented on #392
Please repeat the tests that you did on dev, now on pprd.

[2016-09-21 17:52] amandafrench commented on #383
As requested, I've created a test page for this and #384. Once these changes have been pushed to development and then to pre-production, you can test them by refreshing the page at https://researchinformatics.lib.vt.edu/vtechworks-rss-test/.

[2016-09-21 17:54] amandafrench commented on #383
Let me know if you think it's necessary to also test the Atom and RSS 1.0 feeds, or if you need anything else.

[2016-09-22 12:11] alawvt commented on #392
@zoto724 added to the Content Security Policy to make more consistent with the ones for Hydra projects. It is on https://git.it.vt.edu/it-services/vtlibans_dspace/wikis/home. He does not believe this requires retesting.

[2016-09-22 14:44] AnushaPillai commented on #362
resolved with pull request #401

[2016-09-22 16:36] AnushaPillai commented on #387
resolved with pull request #402

[2016-09-22 17:15] alawvt commented on #374
Instructions for customizing the DSpace submission form

[DSpace Wiki - Submission User Interface](https://wiki.duraspace.org/display/DSDOC5x/Submission+User+Interface)

[DSpace Wiki How-to Guide - Alter submission input forms](https://wiki.duraspace.org/display/DSPACE/Alter+submission+input+forms)

[2016-09-22 17:15] AnushaPillai commented on #387
Adding a screenshot of how it looks
![selectioncolour](https://cloud.githubusercontent.com/assets/22099712/18758576/a49f9ace-80c6-11e6-88b9-692a779d4c6c.png)

[2016-09-23 14:05] mello99 commented on #392
All of my PPRD tests passed except for the Elements export - I ran into the same problem with Elements not accepting file uploads. I'll reopen that issue on GitHub.

[2016-09-23 14:07] mello99 commented on #397
This same problem is manifesting itself on PPRD (efarqa.lib.vt.edu). As a result, I can't test depositing items from Elements (efarqa.lib.vt.edu) to PPRD. Thanks.

[2016-09-23 15:22] keithgee commented on #397
I've just updated this setting on PPRD and production.

[2016-09-23 15:32] #397 closed, assigned to keithgee

[2016-09-23 15:34] alawvt commented on #392
@AnushaPillai has completed testing those assigned to her; all have passed.

[2016-09-23 15:39] mello99 commented on #392
I completed and passed all of my tests, including the Elements export from
EFARQA (after Keith made the fix). Thanks!

On Fri, Sep 23, 2016 at 11:34 AM, alawvt notifications@github.com wrote:

##

Melissa Lohrey
Repository Collections Specialist
Virginia Tech
University Libraries
mlohrey@vt.edu
540-231-0267

[2016-09-23 15:57] keithgee commented on #392
All pprd tests passed for me, as well.

[2016-09-23 16:27] alawvt commented on #392
Testing on pprd is complete. Thank you, everyone.

[2016-09-23 16:28] alawvt commented on #377
@pgray64, thank you for a great job.

[2016-09-23 16:28] #377 closed, assigned to pgray64

[2016-09-23 17:04] pgray64 commented on #384
RSS feed options are in the main dspace config. Dspace intentionally only inserts the author field into the Atom feed. Coincidentally, the Atom feed is the one that does not validate with W3C, which might be why the author field is not showing despite the author tags looking valid in the source.

Additionally W3C validator reports "Use of unknown namespace: http://apache.org/cocoon/i18n/2.1" for a

[2016-09-23 17:38] pgray64 commented on #384
The RSS 1.0 and 2.0 specifications don't actually support multiple authors and the author field is parsed as an email. That explains why author was omitted by DSpace for RSS 1.0 and 2.0.

@amandafrench Do you still want me to remove the authors from the summary field, since for RSS 1.0 and 2.0 there is no other way to display authors? I'll keep on researching why the Atom feed author field doesn't

[2016-09-23 18:16] alawvt opened #403 "When dc.identifier.orcid contains an ORCID, make it a hyperlink to the ORCID profile"
@amandafrench, the dc.identifier.orcid field does not appear in the Simple Item View, only the Full Item view. In the Full Item View, none of the URLs, e.g. http://vtechworks.lib.vt.edu/handle/10919/27948?show=full, are live links unless someone has entered them in a <a href> tag, e.g. http://vtechworks.lib.vt.edu/handle/10919/64842?show=full. Are you asking that the DOI be a live link in the full

[2016-09-23 18:29] alawvt opened #404 "Get a count of how many items in the repo have ORCIDs and DOIs."
Get a count of how many items in the repo have ORCIDs (dc.identifier.orcid is not null)

Get a count of how many items in the repo have DOIs

Please see me for a recent SQL dump.

[2016-09-23 18:33] alawvt opened #405 "Fix full item view so long file names display"
Fix full item view so long file names display. This is needed to distinguish identical long filenames from ETD-db, such as http://vtechworks.lib.vt.edu/handle/10919/73012?show=full.

You might refer to a similar issue, #138.

[2016-09-23 18:41] pgray64 commented on #384
DSpace uses a prebuilt jar file (rome-1.0.jar) for the actual rendering of the feeds. So there is no way to specify options beyond those available in the main DSpace config file. The java source files that can be modified really only pass the parameters in the main config file to the classes in the prebuilt rome-1.0.jar.

[2016-09-23 18:44] keithgee commented on #387
When I built the code with this change, I saw an error scroll by in the terminal:

[code]

Yet, I was able to deploy the code to my local development environment and the change of the highlight color to VT maroon works.

[2016-09-23 18:50] alawvt commented on #387
I saw something similar when I was testing your video PR and didn't have the right css file linked, I recall vaguely.

[2016-09-23 18:50] keithgee commented on #387
@alawvt, did you do something to fix that?

[2016-09-23 18:55] alawvt commented on #387
I think I did a brew update and upgrade. The error did involve something about de.saumya.mojo:gem-maven-plugin:1.0.6:exec but I don't recall that it was a missing variable.

[2016-09-23 20:19] pgray64 commented on #405
Resolved with PR #406

[2016-09-23 21:08] amandafrench commented on #384
If I've followed all that, @pgray64, then it should be possible to display the linked title, the date, and the author in all three feeds if you remove the title and the abstract/description from the summary field by editing the java source files. Is that right? If so, I think that's worth doing. If the only place the authors can display is in the summary field, then let's use that field for author

[2016-09-23 21:38] keithgee commented on #383
Merged PR #400. Closing.

[2016-09-23 21:38] #383 closed, assigned to pgray64

[2016-09-26 13:33] alawvt commented on #384
@amandafrench, rome-1.0.jar is a prebuilt byte code package which is called by DSpace. The [Rome project](https://rometools.github.io/rome/index.html) is documented at https://rometools.github.io/rome/TutorialsAndArticles.html. @pgray64 might be able to research this project to determine whether he can call it's methods, etc. to get the data the way that you want it. (My quick estimate is that it

[2016-09-26 14:29] keithgee commented on #405
I'm attaching a screenshot from a successful test and closing.
<img width="537" alt="longfilename_full_view" src="https://cloud.githubusercontent.com/assets/6785790/18838054/0454a27e-83d4-11e6-820c-2f720e51ac66.png">

[2016-09-26 14:29] #405 closed, assigned to pgray64

[2016-09-26 15:52] alawvt commented on #387
@keithgee,

I just built the pull request and received that error, too.
$chicago-maroon is defined in `modules/xmlui-mirage2/src/main/webapp/themes/vtmirage2/styles/classic_mirage_color_scheme/_bootstrap_variables.scss`

[code]

It is called in `~/GitHub/vtlibans_dspace/dspace/dspace/modules/xmlui-mirage2/src/main/webapp/themes/vtmirage2/styles/_style.scss`

[code]

[2016-09-26 16:33] alawvt commented on #392
I have submitted a TeamDynamix request for these changes to be deployed to production on Tuesday morning. I hope that we will be able to test on Tuesday. @AnushaPillai, @mello99, @keithgee, I will let you know when we are ready to start testing.

[2016-09-26 18:03] alawvt commented on #392
Update: we had to change the testing to Wednesday morning. @mello99, @keithgee, I'll let you know when it is ready.

[2016-09-26 18:26] alawvt commented on #387
I think this error occurred because $chicago-maroon was called in `dspace/modules/xmlui-mirage2/src/main/webapp/themes/Mirage2/styles/_style.scss` where it was not defined. We only need to use it in the theme we are actually using, `dspace/modules/xmlui-mirage2/src/main/webapp/themes/vtmirage2/styles/_style.scss`.

[2016-09-26 19:03] amandafrench commented on #384
Hi @alawvt and @pgray64 -- the short answer is yes, although clearly this isn't doable by the end of this sprint. The longer answer is that I'd like @pgray64 to figure out some method of fixing this not just for us but for anyone who's running our same version of DSpace, for instance Texas A&M: https://oaktrust.library.tamu.edu/feed/rss_2.0/site It is actually pretty high priority because it relat

[2016-09-26 19:30] #387 closed, assigned to AnushaPillai

[2016-09-28 13:47] alawvt commented on #392
@keithgee, these changes are ready to test on production. I will start with the on-campus ones and then attempt the off-campus ones.

[2016-09-29 13:46] alawvt opened #407 "Video do not scale in full screen mode."
Video, for example, https://vtechworks.lib.vt.edu/handle/10919/52246, do not scale in full screen mode.

[2016-09-29 14:05] alawvt opened #408 "Off Campus LogIn (EZproxy) requires multiple clicks to view restricted file."
@mello99 noted, "I can access restricted file, but not in the most straightforward way. In short, when I first sign-in with ez-proxy, then go to the following URL,"https://vtechworks.pprd.lib.vt.edu/handle/10919/53800", I can't access the item. Then when I click on "Off-campus sign-in" again, I can access it, "https://vtechworks-pprd-lib-vt-edu.ezproxy.lib.vt.edu/handle/10919/53800". Quirky, but i