[2019-07-31 12:40] alawvt commented on #580
I would be willing to try reducing the log levels once we have 6 on production and fully tested. We need to check the impact on the stats. I also need the logs to track Elements problems.

[2019-07-31 13:44] keithgee commented on #596
@alawvt, per your request I have created a task in our ansible project to automatically modify this file. There's a merge request in our ansible project. Perhaps if it's what you need, we can close this issue.

[2019-07-31 13:54] keithgee commented on #571
That's one thing sorted out, but I'm still confused about when locks should show/when they shouldn't and how to make it work again. :)

[2019-07-31 14:29] alawvt commented on #571
@keithgee , If a bitstream is restricted, our customization is that it should display a lock symbol for all users, whether or not they are on campus.

[2019-07-31 15:14] alawvt commented on #596
@keithgee, thank you very much for resolving this issue. The fix works well.

[2019-07-31 15:14] #596 closed, assigned to soumikgh

[2019-07-31 15:18] #610 closed, assigned to keithgee

[2019-07-31 15:24] alawvt opened #614 "Is video.js still needed in dspace/modules/?"
DSpace 5 contains but DSpace 6 does not contain dspace/modules/xmlui-mirage2/src/main/webapp/themes/vtmirage2/vendor/videojs/video.js # used for video playback, c532205. @keithgee, the videos seems to play. Do we need this file?

[2019-07-31 19:07] alawvt opened #615 "Investigate change in Handles for item-level versioning"
The default strategy to create new handles for versioned Items has changed. If you have Item Level Versioning enabled and you have versioned Items in your DSpace installation, you may want to change the configuration to continue using the mechanism to create handles as it was in DSpace 4 and 5. You can find more information here: [Item Level Versioning#IdentifierServiceOverride](https://wiki.duras

[2019-08-01 12:16] keithgee commented on #614
No, it's no longer needed.

Videojs was used primarily to support some video playback features in Internet Explorer 6. Internet Explorer 6 is rarely seen anymore, so now we can rely on the HTML5 video playback features built into most web browsers.

I'd planned to remove all videojs references for when our theme was updated to the new look. It seems that may be a while, so I've cleaned it up now w

[2019-08-01 12:16] #614 closed, assigned to keithgee

[2019-08-01 12:27] alawvt commented on #614
@keithgee, than you for resolving this issue.

[2019-08-02 20:45] alawvt opened #617 "Consider removing Elements Repository Tools database tables"
I noticed looking at the database tables in DSpace 6, that we still have tables from Symplectic Elements Repository Too1s 1, including tables:

- symplectic_merge (empty table)
- symplectic_pids (1943 rows; pid=Elements ID, item_id=submission_id=DSpace Internal ID)
- symplectic_state (empty table)
- symplectic_updates (empty table)

Now that we are using Repository Tools 2, it would be good to con

[2019-08-07 17:52] alawvt opened #618 "Update item usage statistics customization for DSpace 6"
Previous issue #317 added individual download stats to each item page with PR #427. Since this relied on ID, we will need to make this work with UUID.

See also related issue, [Enable SOLR stats after migration from DSpace 5 to 6 #129](https://code.vt.edu/it-services/vtlibans_dspace/issues/129)

[2019-08-07 17:57] alawvt commented on #618
Thinking about this a bit more, I created a new item in my DSpace 6 LDE and ran the stat-util. The downloads value on the item page did increment. So, perhaps it is still able to use the ID, even for new items--must investigate.

[2019-08-07 18:04] keithgee commented on #618
This appears to me to be working with UUID after an upgrade to DSpace 6; the problem is that it no longer works with the old ID, and most of our statistics records are currently using the old ID. It should work with both.

I'm not particularly familiar with this customization, but I suspect that getting it to work with ID and UUID may require modifying the mets.xml created by Dspace to include the

[2019-08-07 18:07] keithgee commented on #618
@alawvt, my instinct is that this issue is higher priority than the other two currently open issues, but let me know if that's not the case.

[2019-08-07 18:11] alawvt commented on #618
Yes, I agree this is higher priority. I wouldn't launch without this working.

[2019-08-07 18:14] alawvt commented on #618
from https://github.com/DSpace/DSpace/blob/dspace-6_x/dspace-api/src/main/java/org/dspace/util/SolrUpgradePre6xStatistics.java,
[code]
So it might be 3-4 days. I'd be fine with converting all our stats to UUIDs and not have to update the customization.

[2019-08-07 18:37] soumikgh commented on #618
Keith, memory and disk space shouldn't be a problem upto a reasonble limit. If you think you need more memory or disk on dev, just let me know.

[2019-08-07 19:48] keithgee commented on #618
The original issue mentioned the DRUM repository at UMD as an example of a site with this feature. DRUM is now on version 6 of DSpace.

I've put the DSpace 6 DRUM version of the code in branch [add_umd_bitstream_downloads_stat_dspace6](https://github.com/VTUL/vtechworks/tree/add_umd_bitstream_downloads_stat_dspace6). But DON'T merge it yet; it's not tested on a system with old stats yet, and there

[2019-08-07 19:51] alawvt commented on #618
@keithgee, thank you for researching DRUM and our options.

[2019-08-08 04:30] keithgee commented on #618
I'm still downloading the large statistics core to test Terry's statistics updater tool on my LDE, but since there's a hard storm here that may interrupt the download if I lose power, I put the University of Maryland change on the dev cloud. I think the items that still show zero may just be newer than the statistics core, but I haven't verified that. Please ignore the mysterious shrinking VTechWo

[2019-08-08 17:27] alawvt commented on #618
With the DRUM commit, the download stats are now appearing on dev. For example, the poster child, https://vtechworks-dev.cloud.lib.vt.edu/handle/10919/18649. However, there are some peculiarities, for example the stats for the ETD community, https://vtechworks-dev.cloud.lib.vt.edu/handle/10919/5534/statistics, list total visits for

  | Views
-- | --
ETDs: ...(legacy) | 135943
ETDs: ... | 1

Where

[2019-08-08 17:52] keithgee commented on #618
If there's an issue with those individual stats pages, it's potentially something different from the bitstream download customization in the item view.

It's potentially difficult to verify that there's an issue by comparing with the current production instance of VTechWorks, though. In our Slack chat, Soumik noted that the statistics that are on the dev server, while from PROD, are probably from

[2019-08-08 18:10] keithgee commented on #618
I don't know if this helps, but I believe the stats there to be from July 19, 2018.

[2019-08-08 18:13] alawvt commented on #618
I expected the numbers to be different because of the dates. I was mainly noting the cryptic categories like, "ETDs: ...(legacy)" instead of the full community name.

[2019-08-08 20:12] keithgee commented on #618
Terry's statistics updater is in branch [add_terry_brady_statistics_updater ](https://github.com/VTUL/vtechworks/tree/add_terry_brady_statistics_updater). This branch doesn't include the DRUM fixes.

I started experimenting in my VM. I wanted to start, very, very small since my VM resources - disk and memory - are limited, so I adjusted the --num-rec parameter. I noticed that if you adjust that, y

[2019-08-09 19:17] alawvt commented on #605
I just tried to submit an item in vtechworks-dev and got the message, “Read-only file system.”

prod assetstore is mounted at /dspace/assetstore1 - @soumikgh

@soumikgh just created an assetstore directory and that doesn't work, either.

I think we want assetstore to be the prod read-only and write to assetstore1. Our notes for batch loading are,

[code]

[2019-08-09 19:36] alawvt commented on #605
The trouble seems to be that the default in config/spring/api/bitstore.xml is that assetstore=assetstore-incoming, which shouldn't be for dev and pprd.

[2019-08-09 20:22] alawvt commented on #593
I think we need to change `config/spring/api/bitstore.xml` to
[code]
and remove from `local.cfg`
[code]
and add the corresponding change to vtlibans.

[2019-08-12 13:03] keithgee commented on #618
@alawvt, I've used the tool on the development server with the normal batch size of 10,000 records. About 5.75 million records were processed in about 28.5 hours. This was across several runs of the tool. We've got 77 million legacy records, so this will take time to run completely, and some monitoring.

My recommendation is to use the UMD version of this item usage statistics customization, so th

[2019-08-12 14:37] alawvt commented on #618
@keithgee, thank you very much for working on this. I agree with your recommendation. Please merge the Pull Requests for both fixes, when you are ready.

[2019-08-12 14:43] #617 closed, assigned to nobody

[2019-08-12 17:20] keithgee commented on #618
I've merged both fixes for this issue into the vt_6_x_dev branch.

***Closing

[2019-08-12 17:22] alawvt opened #621 "Update SOLR stats after migration to DSpace 6"
Update SOLR stats after migration to DSpace 6 using Terry Brady's statistics upgrader, see https://github.com/VTUL/vtechworks/issues/618 and
https://code.vt.edu/it-services/vtlibans_dspace/issues/129

[2019-08-12 19:18] alawvt commented on #593
It doesn't seem possible to add the Ansible variable to `config/spring/api/bitstore.xml` because it is an xml file and the braces aren't allowed. Therefore I have hardcoded "incoming" to 0.
[code]
We will have to overwrite `<property name="incoming" value="0"/>` in vtlibans.

I removed assetstore from `example_site_secrets.yml`.

[2019-08-13 16:38] alawvt commented on #593
I have added changes in branch configure_bitstream_xml, with PR #622.

[2019-08-13 18:47] keithgee commented on #593
There's a new branch in the ansible project, git push configure_bitstore_settings, that works with the configure_bitstream_xml branch in GitHub (which I have modified slightly).

[2019-08-13 18:53] keithgee commented on #593
Forgot to push the latest vtlibans_dspace changes. They'll be up shortly.

Edit: they're up.

[2019-08-13 19:49] alawvt opened #623 "Null pointer exception running oai indexing on vteckworks-dev with DSpace 6"
The crontab has been created on vtechworks-dev for DSpace 6. The oai indexing only produced ~11,000 items instead of ~75,000 so I ran:
[code]
So I tried `alaw@vtechworks-dev:~$ sudo -u vtechworks /dspace/bin/dspace oai import -c`, which got to:

[code]
Ideas?

[2019-08-13 21:17] keithgee commented on #623
Not sure. Does this work on the other servers?

[2019-08-14 13:59] alawvt commented on #623
The cron job on all three servers is `/dspace/bin/dspace oai import -o > /dev/null`. It seems to be working ok on prod because the record total, `https://vtechworks.lib.vt.edu/oai/request?verb=ListRecords&metadataPrefix=oai_dc`, 75849, is close to the actual number of items. On dev, it is only https://vtechworks-dev.cloud.lib.vt.edu/oai/request?verb=ListRecords&metadataPrefix=oai_dc, 20160.

[2019-08-14 17:51] keithgee commented on #623
This appears to be a known issue with DSpace 6.3:
https://jira.duraspace.org/browse/DS-3969

Edit: This issue report references XMLWorkflow, but it appears to be the same or similar problem.

[2019-08-14 19:02] keithgee commented on #623
I will test a fix for this on my LDE, and if successful, apply it to vtechworksdev.

[2019-08-14 19:50] keithgee commented on #593
Code has been tested and merged.
**Closing

[2019-08-14 19:50] #593 closed, assigned to keithgee

[2019-08-14 20:18] alawvt commented on #623
Regarding [DS-3969](https://jira.duraspace.org/browse/DS-3969), we don't have XMLWorkflow enabled, so that case does not affect us.

There is a more extensive discussion of this issue and possible fixes in http://dspace.2283337.n4.nabble.com/DSpace-6-3-OAI-indexing-is-failing-td4688714.html.

[2019-08-15 04:32] keithgee commented on #623
Christian's fix is essentially what I tested on my LDE yesterday. Today I've pulled his commits into the [fix_oai_indexer_npe_dspace6_3](https://github.com/VTUL/vtechworks/tree/fix_oai_indexer_npe_dspace6_3) branch and tested on the cloud server. Indexing completed successfully.

[2019-08-16 17:27] alawvt commented on #623
Resolved with #624. Thank you @keithgee.

[2019-08-16 17:27] #623 closed, assigned to nobody

[2019-08-19 14:21] alawvt opened #625 "Test DSpace 6 on vtechworks"
Test DSpace 6 on [vtechworks-dev](https://vtechworks-dev.cloud.lib.vt.edu/).

[2019-08-20 18:13] alawvt commented on #615
In DSpace 4 and 5, the most recent version always has the Handle initially issued for the item, e.g., 10919/12345. Older versions have `handle.versionnumber`, e.g. oldest=10919/12345.1, next oldest=10919/12345.2, ... newest=10919/12345.

In DSpace 6, versioned DOIs are possible. Later versions will have the same DOI with `.versionnumber` added, e.g DOI.1, DOI.2. This only occurss if DOIs are enabl

[2019-08-20 18:40] gailmmac commented on #615
Anne, I'll take your good advice.

Best, Gail

Gail McMillan
Director, Scholarly Communication <http://scholar.lib.vt.edu>
Professor, University Libraries
Virginia Tech
orcid.org/0000-0001-8817-3819

On Tue, Aug 20, 2019 at 2:13 PM alawvt <notifications@github.com> wrote:

[2019-08-20 19:43] alawvt opened #626 "Enable Item-level versioning in DSpace 6"
Enable Item-level versioning in DSpace 6

[DSpace 6 Wiki: Item Level Versioning](https://wiki.duraspace.org/display/DSDOC6x/Item+Level+Versioning)

Note in https://github.com/VTUL/vtechworks/blob/vt_6_x_dev/dspace/config/xmlui.xconf
[code]
See #615 regarding the  desired Handle numbering system for versions

[2019-08-20 20:41] alawvt commented on #615
I created #626 because we need to enable item-level versioning. I enabled that aspect in `dspace/config/xmlui.xconf` and built it in my LDE.

Existing item http://192.168.60.4/handle/10919/50543 appeared with the list of previous versions 10919/50543.3, 10919/50543.2, and 10919/50543.1, as expected.

I created a version of another existing item, 10919/86637, and it was assigned Handle 10919/86637.

[2019-08-20 20:55] alawvt commented on #626
Resolved with #627 and deployed manually to vtechworks-dev.

[2019-08-20 20:55] #626 closed, assigned to alawvt

[2019-08-21 11:11] keithgee commented on #626
Thank you for correcting this configuration, @alawvt.

[2019-08-21 17:10] alawvt commented on #615
We have decided to go with the new default version Handle numbering system in DSpace 6 and have updated {Versioning in VTechWorks wiki page](https://code.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/version).

[2019-08-21 17:10] #615 closed, assigned to pyc1

[2019-08-21 19:03] alawvt opened #628 "Incorrect URL in breadcrumb on Version History page"
On both vtechworks (DSpace 5) and vtechworks-dev (DSpace 6), Version History page, e.g. https://vtechworks.lib.vt.edu/item/versionhistory?itemID=98432 and https://vtechworks-dev.cloud.lib.vt.edu/item/versionhistory?itemID=4ee35d0a-c11c-4fac-92a5-14cc2c091415, there is an incorrect URL for VTechWorks Home, `https://vtechworks.lib.vt.edu/item/'/'` and `https://vtechworks-dev.cloud.lib.vt.edu/item/'/

[2019-08-22 15:10] alawvt commented on #625
completed

[2019-08-23 17:34] alawvt commented on #612
completed

[2019-08-23 17:34] #612 closed, assigned to alawvt

[2019-08-26 15:18] alawvt opened #629 "Research performance requirements for DSpace 6"
Here are some details about DigitalGeorgetown.

    Total items: 546,000
    Public items: 397,000
    Citation only items: ~470,000

As we tested and migrated to DSpace 6x, we did encounter a few performance issues.  We have contributed patches to DSpace 6x releases (and to the future DSpace 6.4 release) to help resolve these issues.

We preserve our assets in the APTrust (Academic Preservation T

[2019-08-26 18:29] alawvt opened #630 "Error in video submission form"
In both DSpace 5 and 6, a video submission has errors in the metadata. The file upload seems ok. Specifically, I created an item of type, Video recording. That brought up a second page of the submission form with video-specific metadata. I added  "interviewee: Henry Kissenger."

The Review Submission step listed
[code]
Yikes.

When I clicked on "Correct one of these item" it takes me back to the 2

[2019-08-26 18:38] pyc1 commented on #630
Known issue, see backlog line 1711 and 1703.  One alternative is not to allow users to upload videos, for a variety of reasons, and instead have them email us.

[2019-08-26 18:45] alawvt commented on #630
Thanks, @pyc1. I believ the problem is that we can't map more than one form field to the same metadata field. In this case, Interviewer, Interviewee, and others are all mapped to dc.contributor. I think we can rework multiple video submission form issues into one issue.

[2019-08-26 18:48] alawvt commented on #495
Continued in Issue #630

[2019-08-26 18:52] alawvt commented on #630
Continues Issue #495.

[2019-08-26 18:52] #630 closed, assigned to nobody

[2019-08-27 19:23] alawvt opened #631 "Change facets so they sort in "Filter by" page by value, not count."
In DSpace 6, the property for Discovery Facet property sortOrder in `dspace/config/spring/api/discovery.xml` has been divided into sortOrderSidebar and sortOrderFilterPage. Change the default value of sortOrderFilterPage from COUNT to VALUE.

In DSpace 5
[code]
to DSpace 6
[code]

[2019-08-27 19:24] alawvt commented on #631
Resolved with commit 46faa5183036b5625c43c3bea7bf18f058d3cc77 and deployed manually to pprd.

[2019-08-27 20:54] alawvt commented on #631
@keithgee, I made these changes manually to pprd, restarted Tomcat, and they aren't showing up. The link for "View more" in the Content type facet is `https://vtechworks-pprd.cloud.lib.vt.edu/search-filter?field=type&filterorder=COUNT` but should be `https://vtechworks-pprd.cloud.lib.vt.edu/search-filter?field=type&filterorder=VALUE`. I think it requires re-indexing to see changes if we change the

[2019-08-29 15:46] alawvt commented on #631
Now appearing on pprd. Thanks.

[2019-08-29 15:46] #631 closed, assigned to alawvt

[2019-08-29 15:59] alawvt opened #632 "vtechworks-pprd is not displaying items correctly"
Hmmm, earlier testing this week on pprd was going pretty well. I deposited items such as https://vtechworks-pprd.cloud.lib.vt.edu/handle/10919/93178. However, now only the most recent 5 items are viewable and the other 75,604 are not listed. When you click on that item, there is no metadata, etc. However, if you select "Edit this item," all the metadata and bitstream information is listed. If you

[2019-08-29 16:35] alawvt commented on #632
in dspace log are many
[code]
https://lucene.472066.n3.nabble.com/Expected-mime-type-application-octet-stream-but-got-text-html-td4358892.html

[2019-08-29 20:44] alawvt commented on #632
Analyzing an item page, e.g. https://vtechworks-pprd.cloud.lib.vt.edu/handle/10919/93183?XML, at the XML stage, things still look ok (see [Manakin theme tutorial](https://wiki.duraspace.org/display/DSPACE/Manakin+theme+tutorial#Manakinthemetutorial-Debuggingatvariousstagesofthethemeapplicationpipeline)). So maybe something is happening (or not) at the theme level.

I temporarily disabled vtechwork

[2019-08-30 02:43] keithgee commented on #632
Hi, @alawvt. Sorry I couldn't look at this earlier; I was unwell earlier today and didn't work much. Because this looked to be an issue only on pre-prod but no other system, I fixed it in place. If this was something that I could have reproduced on dev or on my local machine first, I would have worked there instead.

I found that there was a problem with the solr statistics core. When I looked, it

[2019-08-30 02:44] #632 closed, assigned to nobody

[2019-08-30 12:48] alawvt commented on #632
@keithgee, thank you very much!!! The SOLR stats are now appearing, e.g. https://vtechworks-pprd.cloud.lib.vt.edu/handle/10919/18649. On Tuesday, when things seemedok, @soumikh had copied over the SOLR stats and they were untarring but hadn't appeared yet. I will re-enable pprd as a data source for Elements EFARQA and continue testing. Thank you very much for working on this and I hope you feel be

[2019-08-30 20:23] #628 closed, assigned to nobody

[2019-08-30 20:31] alawvt commented on #605
works!

[2019-08-30 20:31] #605 closed, assigned to nobody

[2019-09-04 12:38] alawvt opened #633 "ERROR org.apache.pdfbox.filter.FlateFilter @ FlateFilter: stop reading corrupt stream due to a DataFormatException"
Noted in logs

`ERROR org.apache.pdfbox.filter.FlateFilter @ FlateFilter: stop reading corrupt stream due to a DataFormatException`

in /dspace/log/dspace.log.2019-09-04.

[2019-09-04 14:28] #633 closed, assigned to nobody

[2019-09-06 20:20] alawvt opened #634 "Custom Simple Item View for Patents doesn't display if the patent is mapped to another collection"
https://vtechworks.lib.vt.edu/handle/10919/72819 is a Virginia Tech patent that has not been mapped to another collection. The Simple Item View is customized for Virginia Tech patents.

https://vtechworks.lib.vt.edu/handle/10919/87856 is a Virginia Tech patent that has been mapped to another collection. The Simple Item View is the default view rather than the custom view for Virginia Tech Patents.

[2019-09-06 20:20] #634 closed, assigned to nobody

[2019-09-09 12:42] alawvt opened #635 "VTechWorks down over the weekend"
VTechWorks went down over the weekend (running DSpace 5). It looks like it had slow response times all through Sunday until 3:09 PM when it stopped responding altogether., was reported at 8:50 pm and brought back up on Monday at 5:27 am.

This seemed like a case of Tomcat dying. I'll take an in-depth look at the logs later.

[2019-09-10 00:47] kdweeks commented on #615
This versioning system seems to sort with the latest version first!  That's
pretty sweet!

Kimberli Weeks
kdweeks@vt.edu
w. (540) 231-2674 c. 540-835-9136
Technical Director,
Scholarly Communications
University Libraries, Virginia Tech
http://scholar.lib.vt.edu

On Tue, Aug 20, 2019 at 1:53 PM alawvt <notifications@github.com> wrote:

[2019-09-10 17:53] alawvt commented on #404
We need to update the query for DSpace 6.

[2019-09-10 20:04] alawvt commented on #404
Number of items with DOIs (DSpace 6)
`SELECT DISTINCT ON (dspace_object_id) FROM "metadatavalue" WHERE metadata_field_id=96 AND text_value IS NOT NULL;`

Number of items with ORCIDs (DSpace 6)
`SELECT DISTINCT ON (dspace_object_id) FROM "metadatavalue" WHERE metadata_field_id=105 AND text_value IS NOT NULL;`

[2019-09-10 20:04] #404 closed, assigned to pgray64, alawvt

[2019-09-11 15:11] alawvt opened #636 "Write message to list-serv about usage stats availability"
Write message to list-serv about usage stats availability. See #621 for notes about SOLR stats.

I've added to the system alert, "Due to system maintenance, usage statistics are not available at this time. Please check back later."

[2019-09-12 13:26] alawvt opened #637 "Investigate filter-media task taking all resources"
filter-media is in the crontab. It started up this morning and hogged all resources. We killed it finish the indexing.

I believe there are some new filters in DSpace 6, which may be running on content such as PowerPoints, but we need to check this.

sample
[code]

[2019-09-12 14:29] alawvt commented on #637
Re: Memory use of filter-media. The /dspace/bin/dsspace script has a java parameter in it to limit memory usage by these batch processes. It’s currently set very high (2 gigabytes?) , which will be necessary in order to accommodate the batch process from Terry Brady that upgrades the legacy IDs in the solr statistics records to new UUIDs. - @keithgee

It was not the memory that was the problem, bu

[2019-09-12 15:53] alawvt opened #638 "Check REST login in DSpace 6"
EFARS is getting a 401 error trying to harvest from vtechworks. According to https://wiki.duraspace.org/display/DSDOC6x/REST+API, it should be a command like

`curl -v -X POST --data "email=alaw@vt.edu&password=secret" https://vtechworks.lib.vt.edu/rest/login`

but I am getting the 401, too. The immediate concern is that this is causing the Elements harvest to fail.

In DSpace 5, I had used

`curl

[2019-09-12 16:56] keithgee commented on #638
Hi, @alawvt. The first curl command that you posted works for me (using real usernames and passwords, of course).

Some characters in your password might be complicating something. You might try using --data-urlencode instead of --data, and passing each parameter separately, like so:

`curl -v -X POST --data-urlencode "email=alaw@vt.edu" --data-urlencode "password=secret" https://vtechworks.lib.vt

[2019-09-12 16:59] alawvt commented on #638
@keithgee, thank you very much for testing this. I just submitted a ticket to Symplectic and linked this issue.

[2019-09-12 17:04] keithgee commented on #638
Thanks. Also, I was just re-reading this and wasn't sure if the 401 Error (that EFARS is getting) is during the login phase, or at some other point, but it sounds mostly like they can't login.

[2019-09-12 18:07] alawvt commented on #637
I just did a search for .docx and found many items, such as http://hdl.handle.net/10919/70194 that might be useful for testing the new filters. It has never had a text file or thumbnail.

[2019-09-12 18:52] alawvt commented on #638
I believe it is login, but I can't tell for sure.

[2019-09-13 12:08] keithgee commented on #637
I ran filter-media and it completed successfully. It created 850 new derivative files, including a text extraction on the item that you named above. (It did not create a thumbnail for this item).

I did see the CPU usage for the process go near 600% at times while it was creating the derivative files, but when it is looking through the database for files to filter - most of the run time of the pro

[2019-09-13 12:08] #637 closed, assigned to keithgee

[2019-09-13 12:52] alawvt commented on #637
@keithgee, thank you very much for investigating this and getting it to finish. That is wonderful that  it has extracted text from 850 items. I will ask @soumikgh to make sure media-filter is enable again in the crontab.

[2019-09-13 13:27] alawvt commented on #618
Downloads in DSpace 6 are adding usage to the Downloads stat on the Simple Item View, e.g. https://vtechworks.lib.vt.edu/handle/10919/93579. It is being added to "(Item) Visits" and "File Visits" in the View Usage Statistics page, e.g. https://vtechworks.lib.vt.edu/handle/10919/93579/statistics. However, there is a delay of at least 15 minutes for these stats to appear.

[2019-09-13 14:12] #618 closed, assigned to keithgee

[2019-09-13 14:15] alawvt commented on #618
The stats are an unusual application of solr in that the index is updated very frequently. I think this caused some sort of performance problem for DSpace initially, so now the stats aren’t written to the index right away, but every 15 minutes or so using the solr autocommit feature.

[2019-09-13 15:38] alawvt commented on #636
Since upgrading to DSpace 6, the usage stats seem to be working reasonable well, so we have decided to not issue a system alert. However the fuller situation is:

We have recently upgraded the software that runs VTechWorks and migrated our usage stats to the new system. Usage stats continue to be incremented correctly. File downloads are added to the "Downloads" stat in Simple Item View, e.g. http

[2019-09-13 17:37] alawvt commented on #621
sample run:
[code]
It’s probably better to not use the --batch-size parameter and just use the default of 10000 and --num-rec can be set high; there are now 120 million records.

Start it in a screen session if it's long running.
[code]

[2019-09-13 17:41] #636 closed, assigned to nobody

[2019-09-13 17:42] alawvt commented on #635
Let's close this since we are on DSpace 6 now and see how the new VM works. So far, things have been good.

[2019-09-13 17:42] #635 closed, assigned to soumikgh

[2019-09-13 17:44] alawvt commented on #629
So far things seem good, so we'll close this and reopen it, as necessary.

[2019-09-13 17:44] #629 closed, assigned to nobody

[2019-09-16 14:17] alawvt commented on #625
Testing on pprd completed.

[2019-09-16 14:30] alawvt commented on #629
@soumikgh updated Tomcat settings with a bigger heap memory (8 GB) and PermGen memory (128 MB), all according to the DSpace 6 performance tuning guide, and re-started it.

[2019-09-16 14:32] alawvt commented on #621
Progress report: 113, 216, 328 items remaining of the 119, 346,482 records that remained on Friday. We got through about 6 million records in three days.

[2019-09-17 13:10] alawvt commented on #625
Testing on prod completed.

[2019-09-17 13:10] #625 closed, assigned to alawvt

[2019-09-17 17:26] pyc1 opened #639 "Revise content type list for submission form"
Revised content type list for the web submission form:

Article
Article - Refereed
Audio
Book
Book chapter
Conference proceeding
Dissertation
Image
Learning object
Master's project
Periodical
Poster
Presentation
Report
Thesis
Video
Other

Also note that the caption help text will need editing as well.

[2019-09-17 19:03] alawvt commented on #639
Thanks, @pyc1, for the list.

The current instructions are, "Select the type(s) of content you are depositing. To select more than one value in the list, you may have to hold down the "CTRL" or "Shift" or "COMMAND" key. Examples: Article, Learning Object, Video Recording and Presentation."

Instead we will show, "Select the type(s) of content you are depositing. To select more than one value in th

[2019-09-17 20:59] keithgee commented on #638
The issue with EFARS harvesting of DSpace has been resolved by Symplectic.

Edit: Adding additional detail. The synchronizer on the Elements side had to be restarted. Even though the settings had been changed from DSpace 5 to DSpace 6, this process needed to be restarted before the process used the new settings.
*** Closing

[2019-09-17 20:59] #638 closed, assigned to nobody

[2019-09-18 17:25] pyc1 opened #640 "Browse follow-up searches not working properly"
Deborah Simpkins' group is doing repeated author searches from our author browse page, and sometimes a second search retrieves the "Browsing by Issue Date" page.  For example, if you go to https://vtechworks.lib.vt.edu/browse?type=author and enter a search, everything works fine.  But if you enter a new name into the search box from this results page, you get the issue date page instead of author

[2019-09-18 17:40] cecross1 opened #641 "Editing abstract not working properly"
When editing an abstract to replace a bad character, changes are not displaying correctly. When you hit "return" or "update" and go back to the item record, the abstract looks the same. But if you select "edit this item" and return to the editing screen, the revised abstract appears in the text box for dc.description.abstract. Then if you hit "return" or "update" a second time, the changes appear

[2019-09-18 20:18] keithgee commented on #640
I can duplicate this issue in VTechWorks, as well as on demo.dspace.org.

[2019-09-19 11:59] pyc1 commented on #640
Thanks Keith.  Should we enter an issue on the DSpace project?

[2019-09-19 13:27] keithgee commented on #641
@cecross1 , I'm not able to reproduce this problem. Is it still happening this morning?

I edited an abstract, clicked update, and then clicked return. The edited abstract showed immediately.  It looks like the example item that you showed me is now displaying the corrected abstract, too.

Let me know if I should do something different to reproduce this, and if this is still happening or the syste

[2019-09-19 13:35] pyc1 commented on #641
I had this problem the other morning, but then it was fine the rest of the day, and the record updated fine.  I'm updating metadata fine today.  Maybe the system just gets slow at times?

[2019-09-19 13:50] cecross1 commented on #641
Still experiencing this today. As a test, I tried to edit the abstract for this item: [http://hdl.handle.net/10919/82185](http://hdl.handle.net/10919/82185). I edited the abstract, clicked update, then clicked return. After that, the original abstract shows up in the simple item record, but if you go to "edit this item" and go to the item metadata, the new abstract shows up under dc.description.ab

[2019-09-19 15:37] keithgee commented on #641
I've just now stopped the process that was updating the statistics records; let me know if that helps.

It sounds more like there might be something happening with caching, though. When we switched to DSpace 6 we also switched to a new type of web server; I'm really not sure what it could be yet.

[2019-09-19 15:47] keithgee commented on #641
@cecross1 @pyc1 It certainly does seem much faster when that batch statistics converter isn't running!

[2019-09-19 16:05] pyc1 commented on #641
It does seem a bit faster, thanks

[2019-09-19 18:33] cecross1 commented on #641
It does seem faster. I had to change the date on an item, and it went through the first time. Thanks, @keithgee!

[2019-09-20 13:07] keithgee commented on #621
I've temporarily stopped this process in case it has been causing recent reported problems with slow updates.

[2019-09-20 17:42] pyc1 commented on #640
Deborah sent an update that the same thing happens for the subject browse, and I confirmed.  I also confirmed this happens in a title browse.  So author, title, and subject browses fail upon a follow-up search.  Issue date also fails on follow-up search, but stays on the same results page.

[2019-09-23 15:00] keithgee opened #642 "Video playback broken"
The video playback is not working correctly in VTechWorks. Playback is slow to start, and in some cases the whole file must download before playback starts.

Initial investigations show that NGINX is sending a response header that indicates that byte range requests are not allowed. Byte range requests are necessary for the VTechWorks implementation of video to work properly.

This issue may need t

[2019-09-23 15:25] soumikgh commented on #642
I think setting `proxy_force_ranges on;` will fix this. Can I get a URL containing a video to test this?

Ref: http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_force_ranges

[2019-09-23 17:16] keithgee commented on #642
Thanks, @soumikgh. Here's one example with a video:

https://vtechworks.lib.vt.edu/handle/10919/70894

[2019-09-23 17:53] keithgee commented on #640
I'm wondering if this item in the DSpace Jira might be the same issue. There's a potential fix:
https://jira.duraspace.org/browse/DS-3996 with PR, https://github.com/DSpace/DSpace/pull/2191/files.

[2019-09-23 23:18] alawvt commented on #640
@pyc1, thank you very much for reporting this issue. @keithgee, thank you for discovering this issue and pull request in the DSpace project. This does seem like the same issue. If you would like to test this PR, that would be great. Otherwise, I will test it when I return.

[2019-09-23 23:50] alawvt opened #643 "Check ElementsPossibleDuplicates20190923"
Check Google Drive/VTechWorks/Content/ElementsPossibleDuplicates20190923 (287 items) for suspected duplicates.

@alawvt, create list from Elements_duplicates_query_20190918.csv.

[2019-09-24 11:25] keithgee commented on #641
I'll close this issue for now because the problem may have been related to running the solr stats updater during the day. I haven't heard any more reports of the problem after I started running the process during the night only. Please reopen if the same issue occurs.

*** Closing

[2019-09-24 11:26] #641 closed, assigned to nobody

[2019-09-24 11:27] alawvt commented on #641
@keithgee, thank you very much for handling this issue and adjusting the SOLR stats processor schedule.

[2019-09-24 11:32] alawvt commented on #621
@keithgee changed the SOLR stats conversion schedule to only run at night. This resolved #641.

[2019-09-24 11:43] keithgee commented on #621
Update: I've been running this process again, but only at night. We currently have 106, 141, 328 records remaining to update.

I've also disabled the nightly tasks that optimize the solr cores for statistics, search, and oai each night so that the statistics updater doesn't compete with them for resources. I think that we should leave these tasks disabled permanently even after the statistics reco

[2019-09-25 13:09] cecross1 opened #644 "Retrieve AdvanceVT posters stuck in task pool"
I submitted some AdvanceVT posters through the submission form last week, and they seem to be stuck in an under review status. Peggy Layne used to be the approver for all AdvanceVT collections, but she's retired. @pyc1 can't approve them either, because they're not showing up in his task pool. Can someone help me figure out how to get these approved? A screenshot is attached for your reference. Th

[2019-09-25 14:37] alawvt commented on #644
I do not know of any way to access these submissions. @keithgee, do you have any ideas?
@cecross1, there is no Accept/Reject group for the AdvancedVT, Posters collection, https://vtechworks.lib.vt.edu/handle/10919/71888, so I wonder why it would have gone into the approval queue. Perhaps @pyc1 deleted the Accept/Reject group after you submitted the items. It might be best to wait until he is back

[2019-09-25 16:36] keithgee commented on #644
I'll look at this while I'm waiting and again when I'm back at my desk.

[2019-09-25 17:01] keithgee commented on #644
@cecross1 I have approved these items to get them out of the workflow cue. They're in the collection now. I'll update this issue with more details about how this was done when I'm back.

[2019-09-25 17:03] cecross1 commented on #644
@keithgee This is great! Thanks so much!

[2019-09-26 01:20] keithgee commented on #644
Here are the rough steps that got these items out of the workflow, and that may be helpful for similar events where all of the users that were part of the workflow group when items were submitted are not available:

1. As an administrator, use the DSpace people/groups tools to add the absent user with pending tasks (in this case, Peggy Layne) to a group (in this case, admin_collections) that has a

[2019-09-26 01:20] #644 closed, assigned to keithgee

[2019-09-26 19:25] alawvt commented on #640
Resolved with PR #645 and branch, DS-3996_PR_2191_STARTS_WITH.

[2019-09-30 13:55] alawvt opened #646 "Deploy latest commit to VTechWorks production to fix Browse issue"
Deploy latest commit to VTechWorks production to fix #640

- [x] Notify library of outage and set system alert - @alawvt
- [x] Deploy the latest commit, 46faa5183036b5625c43c3bea7bf18f058d3cc77, on branch vt_6_x_prod_deploy to VTechWorks production - @soumikgh will  do this tomorrow at 7:30 am. The server will be down for ~30 minutes while he backs up the database and provisions the server.
- [x]

[2019-09-30 13:56] alawvt commented on #640
Will be deployed as a[ hot fix](https://github.com/VTUL/vtechworks/wiki/08.-Fixing-urgent-problems-on-production-(hotfixes)) in #646.

[2019-10-01 13:13] #646 closed, assigned to soumikgh

[2019-10-01 13:22] alawvt commented on #640
Completed.

[2019-10-01 13:22] #640 closed, assigned to nobody

[2019-10-01 16:16] alawvt commented on #621
Is there a way to run the SOLR statistics conversion process on a local Vagrant install? I'm given to understand it will run faster on an SSD?
The production instance has been responding  slowly since the statistics conversion was initiated, and we have been getting flooded with unresponsive/downtime messages which makes it easier for legitimate warnings to go unnoticed.
Other than increasing the

[2019-10-01 16:17] alawvt commented on #621
Can run conversion on a local install, mostly. I need a plan for merging the updated records with the new records that will be created on production during the time that the update process is ongoing on the local system.
I don’t know if it would help any other problems we are seeing, but it’s also possible for DSpace to connect to Solr running on a different host - unfortunately DSpace is coupled

[2019-10-01 18:41] alawvt opened #647 "Investigate large jump in Google Analytics stats after migrating to DSpace 6.3"
We report Google Analytic stats for VTechWorks in https://docs.google.com/spreadsheets/d/1mlezt-iN0rPwnWYJtop82s8_eM3J7-hjzbgjmw88GIc/edit?usp=sharing. Since we migrated from DSpace 5.8 to DSpace 6.3 on September 11, the Google Analytic stats have increased many fold. We'd like to investigate why this is occurring.

There is a report of this in April, 2017 in https://groups.google.com/forum/#!sear

[2019-10-04 16:46] alawvt commented on #644
@keithgee, thank you very much for handling this issue and documenting the procedure, which I have added to the VTechWorks wiki page, [Task pool retrieval](https://code.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/task_pool_retrieval).

[2019-10-04 18:16] kdweeks commented on #644
+1 - Nice Documentation!

Kimberli Weeks
kdweeks@vt.edu
w. (540) 231-2674 c. 540-835-9136
Technical Director,
Scholarly Communications
University Libraries, Virginia Tech
http://scholar.lib.vt.edu

On Wed, Sep 25, 2019 at 9:20 PM keithgee <notifications@github.com> wrote:

[2019-10-14 14:49] alawvt commented on #647
We implemented the filter described in https://groups.google.com/d/msg/dspace-tech/zg5Uy89hfKE/nkDv6tWLCgAJ.

[2019-10-14 14:49] #647 closed, assigned to nobody

[2019-10-23 15:05] keithgee commented on #621
We'll go ahead and look at updating the statistics offline on a system with an SSD.

[2019-10-29 13:21] alawvt opened #649 "400 error when exporting search results"
I searched for "Alwang, J." in the Advanced Search box, got 93 search results, and was able to export them. Then I searched for the same term in the author field, author / contains / "Alwang, J." , got 11 search results,  and exporting failed with a 400 error,

[code]

[2019-10-29 13:30] alawvt commented on #649
advanced search = alwang (can export)
advanced search = "alwang"  (can export)
advanced search = "alwang, j."  (can export)
author contains alwang (can export)
author / contains / "alwang" (export fails with 400 error)
author / contains / alwang, j. (export fails with 400 error)
author / contains / alwang, j (export fails with 400 error)
author / contains / alwang j (export fails with 400 error)
a

[2019-10-29 13:47] alawvt commented on #649
I reported this in [DS-4374 400 error when exporting search results](https://jira.duraspace.org/browse/DS-4374).

[2019-11-04 13:20] alawvt opened #650 "Test JATS and BITS XML format for BioMed Central SWORD ingest"
Dear Partner,

We would like to inform you that there will be an important change in our delivery formats. Currently you receive article or chapter metadata in our proprietary A++ XML format. In the week of December 2 to 6, 2019, we will be switching to the JATS/BITS XML format.

The JATS/BITS DTD is published by the United States National Library of Medicine (NLM) and is supported by the National

[2019-11-04 13:46] alawvt commented on #650
[ANSI/NISO Z39.96-2019, JATS: Journal Article Tag Suite, version 1.2](https://www.niso.org/publications/z3996-2019-jats)

[2019-11-05 15:18] pyc1 opened #651 "MP4 processing- combine and optimize commands"
We are getting more video files submitted as mp4, sometimes a few at a time.  However, we currently have a collection of commands to perform different functions, many of which cannot be run in batch: https://code.vt.edu/digital-research-services/event_capture/.

We may want to optimize the order in which these are run as well, since it may be best to derive a webm file before we compress an mp4 an

[2019-11-05 16:03] #651 closed, assigned to nobody

[2019-11-06 14:39] alawvt commented on #642
I'm having more problems with mp4 files not downloading properly.  Webm works, but mp4 does not: https://vtechworks.lib.vt.edu/handle/10919/95301. Download and playing of mp4 works fine in Chrome and Safari. - @pyc1

[2019-11-08 20:49] pyc1 opened #652 "Update homepage"
Hi Kimberli, here are the changes for the homepage.

1.  Replace the first paragraph with:
VTechWorks provides global access to Virginia Tech scholarship.  VTechWorks includes journal articles, books, theses, dissertations, conference papers, slide presentations, technical reports, working papers, administrative documents, videos, images, and more by faculty, students, and staff.  Write [vtechwork

[2019-11-08 21:52] keithgee commented on #642
Playback looks to be working as I test this now. Perhaps its more of an issue when VTechWorks is experiencing heavy usage?

Also, I noticed that this item has the issue that Philip mentioned earlier where the mp4 files are much larger than the webm files. In this case the .mp4 file is nearly nine times as large. We can re-encode this particular file; it may have the lower quality that we're used t

[2019-11-11 14:48] alawvt commented on #649
I reported this in [DS-4374 400 error when exporting search results](https://jira.duraspace.org/browse/DS-4374).

[2019-11-11 14:48] #649 closed, assigned to nobody

[2019-11-11 16:01] alawvt commented on #651
Moved to https://code.vt.edu/digital-research-services/event_capture/issues/2.

[2019-11-11 16:40] alawvt opened #653 "Write REST query to get all the file names for all the items in a collection"
In preparation for determining which BTDs need OCRing, write a script to use [REST](https://vtechworks.lib.vt.edu/rest/) queries to obtain all the file names for all the items in a collection. See and add to the documentation in https://code.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/rest_api, which describes DSpace 5. The program would probably use the queries:

- GET /collec

[2019-11-11 20:00] pyc1 opened #654 "Fix submission form so conference metadata is not lost"
When a user submits an item through the web interface and adds conference metadata, that information is lost.  Several library faculty have submitted presentations from conferences and I have to contact them to retrieve that information.

[2019-11-11 20:04] pyc1 commented on #642
Webm works for this item, but if you download the mp4 in Firefox you get an error message.  Safari and Chrome seem to be OK.  This is affecting several of our recent video uploads.
<img width="387" alt="Screen Shot 2019-11-11 at 3 01 49 PM" src="https://user-images.githubusercontent.com/3442101/68617106-78686580-0494-11ea-9ebb-a978abf83c3b.png">

[2019-11-11 20:06] pyc1 commented on #642
For the file size issue, let's wait to see if Liz can export mov files and then I will process them again :(

[2019-11-12 18:34] pyc1 commented on #654
Conference metadata should be in the field dc.relation.ispartof

[2019-11-12 19:03] alawvt commented on #652
dspace/config/news-xmlui.xml

[2019-11-12 20:17] alawvt commented on #654
The error may be caused by the video submission field, "episode title," also being mapped to this field. My understanding is that only only one submission field can be mapped to a schema field. We will need to test this.

[2019-11-12 20:57] pyc1 commented on #654
Users uploading video is pretty problematic so I'd be in favor of eliminating video as a content type with a note to email us.

[2019-11-19 21:09] kdweeks commented on #652
@pyc1 @alawvt I believe I have the homepage updated correctly on my remote branch 'edit_homepage.'  I have requested that it be reviewed and merged.

This issue references the pull request #656.

[2019-11-21 00:01] kdweeks commented on #652
I fixed at typo "ELEments" in the home page.

[2019-11-25 16:40] #652 closed, assigned to kdweeks

[2019-11-25 18:02] alawvt commented on #552
completed

[2019-11-25 18:02] #552 closed, assigned to kdweeks

[2019-11-25 18:34] alawvt opened #657 "In the OMALS submission form, update list of concentrations"
In the [OMALS](https://vtechworks.lib.vt.edu/handle/10919/51287) submission form, update the list of concentrations in `dspace/config/input-forms.xml` `<value-pairs value-pairs-name="omals_disciplines"
			dc-term="thesis_degree_discipline">` as listed in https://docs.google.com/spreadsheets/d/1-Zrt2iiMWRpFpwYIPmfcfmrISBHShbfvdwrLPtrknr4/edit?usp=sharing "value-pairs" tab.
____________
I have a stu

[2019-11-25 18:47] alawvt commented on #639
Update the list of item types in `dspace/config/input-forms.xml` `<value-pairs value-pairs-name="common_types" dc-term="type">` as listed in https://docs.google.com/spreadsheets/d/1-Zrt2iiMWRpFpwYIPmfcfmrISBHShbfvdwrLPtrknr4/edit?usp=sharing "value-pairs" tab.

Make content type required for all forms.

Update the instructions as noted above.

[2019-12-02 18:55] kdweeks commented on #657
@alawvt @pyc1 I have made the changes to the OMALS submission form.  I have attached a screenshot of the "Disciplines" and "Items Type" sections of the form.  Please review them and if approved, I will create a merge request.

<img width="968" alt="OMALS_Disciplines" src="https://user-images.githubusercontent.com/473202/69986255-0622f800-150b-11ea-9b49-b9626139558f.png">

<img width="968" alt="OMA

[2019-12-02 19:01] alawvt commented on #657
@kdweeks, thank you for working on this. It would be better if you created the pull request with these screenshots now, so that we can review the commits, test, etc. more easily.

[2019-12-02 19:54] kdweeks commented on #657
This issue is resolved by #658

[2019-12-02 21:17] alawvt commented on #639
Resolved with PR #658.

[2019-12-03 16:22] keithgee commented on #621
Offline on a device with an SSD, I have used the DSpace solr statistics sharding tool, as well as Terry's index updater tool, to create Solr indices with the IDs updated to the new UUIDs for the years 2012 through 2017. 2011 and 2018 need more work. Once I was able to properly configure a VM for this purpose, running the update tool on a VM on my local desktop processed about 3 million records per

[2019-12-03 16:26] alawvt commented on #621
@keithgee, thank you VERY much for toiling away on this. That's great that the local SSD is so much faster. It will be interesting to see how the shards affect the performance.

[2019-12-03 17:29] alawvt opened #659 "Update wiki to reflect latest Vagrant practice with DSpace 6"
To reflect changes in our [vtlibans](https://code.vt.edu/it-services/vtlibans_dspace) Vagrant procedure, we need to update our procedures described in pages 3-5 in the GitHub wiki, https://github.com/VTUL/vtechworks/wiki/05.-Pushing-changes-to-Github. I have already made some updates to the vtlibans README, https://code.vt.edu/it-services/vtlibans_dspace/blob/master/README.md.

We want the instruc

[2019-12-03 17:31] alawvt commented on #659
I couldn't find the bit in the wiki about making a single commit, but that's usually considered a good practice, with the context that changes should be small and that one commit per change makes it easy to see the scope of  a change.

I used the "squash" feature that's now built into GitHub to squash some of Kimberli's recent commits into one commit before merging into the main branch.  That's us

[2019-12-03 17:31] alawvt commented on #659
Thank you for your thoughtful reply to my query. I agree with you on all points. You make a good point that squashing is good for a feature branch but not the main branch. I will try to incorporate all these practices as I update the GitHub wiki to reflect our Vagrant procedure. We can review this at the DevOps meeting on Thursday. - @alawvt

[2019-12-03 20:39] kdweeks commented on #657
I have updated the OMALS submission form to:
- Change the dc.type form field to be required.
- Change the dc.type value from "Learning Object" to "Learning object."
- Remove the discontinued values from the discipline field.

[2019-12-05 20:00] kdweeks opened #660 "Movie Poster not showing in Chrome"
When viewing video records in VTechWorks from Chrome (Version 78.0.3904.108) I am unable to see the movie poster.  All I am able to see in Chrome is a blank, black square where the movie poster should be.  I tested this in Firefox (68.3.0esr ) and the movie poster showed up fine.

Here is an example of a video record:
https://vtechworks.lib.vt.edu/handle/10919/95925

[2019-12-05 20:09] alawvt commented on #660
The movie poster appears normally in both Firefox and Chrome on my iMac here.

Hmm, now that it has played for a second, when I reload the item, the movie poster is black in Chrome.

Hmm, I tried loading several other videos and as they load, they are flashing the movie poster for split second, then just appearing black. These appear normally in Firefox.

Chrome Version 78.0.3904.108 (Official Bui

[2019-12-05 21:19] #579 closed, assigned to keithgee

[2019-12-05 21:20] #571 closed, assigned to keithgee

[2019-12-05 21:23] alawvt commented on #611
This was required for Shibboleth integration, which we are no longer implementing.

[2019-12-05 21:23] #611 closed, assigned to nobody

[2019-12-06 16:52] alawvt opened #661 "Fix blank thumbnails"
Resolve #492.

Thumbnails automatically generated from PDFs produced by 'Microsoft Print to PDF' seem to be a blank thumbnail, e.g. http://hdl.handle.net/10919/77866. (There are other blank thumbnails from several TeX apps, but this issue does not address those.) It appears that ~1% of our ETDs have a blank thumbnail.

To test possible fixes:

I uploaded a replacement thumbnail jpg of the same fil

[2019-12-06 18:35] alawvt commented on #661
I realized that the filenames of my replacement thumbnails did not include `.pdf` so I added them. When I did the jpg replacement thumbnail, immediately displayed correctly in the browse results. But the png replacement thumbnail still did not display correctly in the browse results.

It seems like it would be prudent to specify .jpg for manually created thumbnails.

I ran filter-media manually fo

[2019-12-06 21:54] kdweeks commented on #653
@alawvt Here are some very rough initial notes:

--------------------------------
REST API Web-Interface Report Tool:
https://vtechworks.lib.vt.edu/rest/static/reports/query.html

------
I have no idea how 90144 is associated with this item - but these 2 queries work to show the same item in json.
[code]
[code]
------
Shows all collections and expand by one or more of the listed variables or use a

[2019-12-06 22:14] alawvt commented on #661
I notice the text on the newer thumbnails is not as bold as the earlier thumbnails (pre-~2016). The new thumbnails are 80px wide. I think the old ones were 100px maximum width, unlimited height. -- addressed in Issue #663.

Some ETDs don't have the cover or title page on page one. These thumbnails will need to manually created. This is continued in #684.

[2019-12-06 22:14] alawvt opened #662 "Thumbnails in Browse view only display text "Thumbnail""
In the masters theses collection, there are some items, e.g., http://hdl.handle.net/10919/81752, with a good jpg thumbnail that appears in Simple Item View. But 'Thumbnail' text appears in Browse. I recreated these thumbnails but the issue remains.

[2019-12-09 15:05] alawvt commented on #653
Note that the URL for dev is https://vtechworks-dev.cloud.lib.vt.edu, not https://vtechworks6-dev.cloud.lib.vt.edu. (https://vtechworks6-dev.cloud.lib.vt.edu was a temporary URL when we were running both DSpace5 and DSpace6.)

It seems like the REST-API is able to retrieve an item using the old Item ID, not just the UUID. For example, `curl -H "Accept: application/json" https://vtechworks-dev.clou

[2019-12-09 16:19] alawvt commented on #492
Resolved in #661.

[2019-12-09 16:32] alawvt opened #663 "Consider changing thumbnail size back to 100px"
Now that we are running DSpace 6, consider changing thumbnail size back to 100px. The original thumbnail settings were maxwidth=100px. A common size of these thumbnails was 99px × 128px, e.g. https://vtechworks.lib.vt.edu/handle/10919/45696.

Setting in https://github.com/VTUL/vtechworks/blob/46faa5183036b5625c43c3bea7bf18f058d3cc77/dspace/config/dspace.cfg#L888`.

[code]
[To run media-filter manu

[2019-12-10 20:27] kdweeks commented on #653
The script `exercise_rest.py` is deprecated for DSpace 6

In trying to update the script, I may I found exactly what we need to move forward with the BTD OCRing project. Perhaps this should be a different issue.
[https://github.com/MITLibraries/dspace-api-python-scripts](https://github.com/MITLibraries/dspace-api-python-scripts)

[exportSelectedRecordMetadataToCSV.py](https://github.com/MITLibrari

[2019-12-11 22:13] keithgee commented on #660
The fix for this is to change `preload="auto"` to `preload="none"` in the HTML5 video tag in the [item-view.xsl ](https://github.com/VTUL/vtechworks/blob/vt_6_x_dev/dspace/modules/xmlui-mirage2/src/main/webapp/themes/vtmirage2/xsl/aspect/artifactbrowser/item-view.xsl) file.

I suspect that when video preload is turned on, Chrome expects that the video will autoplay.

As a reminder, I've been asked

[2019-12-11 22:16] keithgee commented on #642
I just wanted to update this with a reminder that I've been asked to hold off on doing video work until ATS (the preservations and digital library group) can meet with VTechWorks team to find out how to make video processing easier and less problematic.

[2019-12-11 22:17] keithgee commented on #621
Currently running tests and preparing to install shards on dev as per our latest plan, https://code.vt.edu/it-services/vtlibans_dspace/issues/140.

[2019-12-12 14:20] alawvt commented on #660
@keithgee, thank you for updating these video issues.

[2019-12-12 16:53] alawvt commented on #663
See https://wiki.lyrasis.org/display/DSDOC6x sections 1 and 2 to understand how to make changed to dspace.cfg.

[2019-12-13 18:58] kdweeks commented on #663
Attached is the preview of a thumbnail at the maximum of 80x80 px and 100x100 px.
<img width="554" alt="Thumbnail_80x80" src="https://user-images.githubusercontent.com/473202/70824634-9df8cf80-1db0-11ea-94be-fb3a93b0fc3e.png">

<img width="554" alt="Thumbnail_100x100" src="https://user-images.githubusercontent.com/473202/70824660-a94bfb00-1db0-11ea-8962-86757982e34d.png">

[2019-12-13 21:13] kdweeks commented on #663
I updated the local.cfg file and set the dspace.cfg file back to the default settings.   I reprovisioned the virtual machine and tested the thumbnail generation on a second file to make sure the settings were correct.

<img width="771" alt="Thumbnail_2_100x100" src="https://user-images.githubusercontent.com/473202/70832575-74956f00-1dc3-11ea-996f-83262f78389a.png">

[2019-12-13 21:30] kdweeks commented on #663
I did a final test uploading a custom size thumbnail to verify the generation size should be the size shown.  It seems there are no other constraining size limits for the thumbnail view.

<img width="782" alt="Thumbnail_custom" src="https://user-images.githubusercontent.com/473202/70833461-d060f780-1dc5-11ea-8db6-7eccfd91f39b.png">

[2019-12-13 21:35] alawvt commented on #663
@kdweeks, thanks for determining that thumbnail.maxwidth and thumbnail.maxheight only affect the size of generated thumbnails and not the display size of thumbnails.

[2019-12-16 14:10] alawvt commented on #663
Please create a pull request with this change.

[2019-12-16 15:23] jimtuttle commented on #660
Hi, this is waiting on me to get clarification on related issues.

[2019-12-16 15:47] alawvt opened #664 "Correct DOI URL in submission instructions"
Correct DOI URL in submission instructions to `https://doi.org/10.1056/NEJMoa1510991`

(more detail in https://www.crossref.org/display-guidelines/)

[2019-12-16 15:49] alawvt opened #665 "Remove extra webui.strengths.show = true in local.cfg"
Remove extra `webui.strengths.show = true` in local.cfg

[2019-12-16 17:34] kdweeks commented on #663
This issue is resolved by #666

[2019-12-16 18:16] kdweeks commented on #665
I removed the extra `webui.strengths.show = true` in local.cfg

[2019-12-16 21:52] alawvt opened #668 "Request-a-copy error message "file too big""
The file LaTeXsource files.zip (12.97Mb) in http://hdl.handle.net/10919/93253 is restricted to campus only. When Anita approves sending a copy with the request-a-copy, the response is the error message, "file too big," see attached, ![error](https://user-images.githubusercontent.com/13037168/70945193-a3f5e700-2022-11ea-9b3a-8788e5342fcd.png).

In comparison, the source file for the previous volume

[2019-12-17 13:28] alawvt commented on #668
I created a test item with this file, https://vtechworks-dev.cloud.lib.vt.edu/bitstream/handle/10919/94145/LaTeXsourcefiles.zip?sequence=1&isAllowed=n, and requested it from both my VT Gmail account and a Hotmail account . Both had the error, "552 5.3.4 Error: message file too big."

I loaded the source file from Electromagnetics v1, https://vtechworks-dev.cloud.lib.vt.edu/bitstream/handle/10919/9

[2019-12-17 13:55] alawvt commented on #668
It sounds like this is an error coming from the recepient's email server, for example, https://stackoverflow.com/questions/9396624/error-message-file-too-big-is-the-limit-on-outgoing-or-receiving-end. @soumikgh, do you know of any limit with the mail servers that would be causing this?

[2019-12-17 14:04] alawvt commented on #668
I uploaded and requested a 12 Mb pdf, https://vtechworks-dev.cloud.lib.vt.edu/bitstream/handle/10919/94145/LD5655.V856_1942.S842.pdf?sequence=5&isAllowed=n, and got the same error.

I uploaded and requested a 5 Mb pdf, https://vtechworks-dev.cloud.lib.vt.edu/bitstream/handle/10919/94145/LD5655.V856_1949.T943.pdf?sequence=6&isAllowed=n, and got the same error.

I uploaded and requested a 3.9 Mb pdf

[2019-12-17 15:26] alawvt commented on #639
@pyc1, @kdweeks has implemented your content type list, as listed above, https://github.com/VTUL/vtechworks/issues/639#issue-494753668. But you mentioned the possibility of removing Video and Audio. Do you want them in the list? If not, what do you want for the instructions, currently,

[2019-12-17 15:31] #665 closed, assigned to kdweeks

[2019-12-17 17:35] pyc1 commented on #639
What do others think?  Audio may not be much of an issue, but we have an extensive process developed for video.  Formats and file sizes can cause problems.  My thought was to have users contact us to have those content types uploaded.  So the message would be:

"Select the type(s) of content you are depositing. To select more than one value in the list, you may have to hold down the "CTRL" or "Shi

[2019-12-17 18:21] alawvt commented on #639
I think those instructions would be good for video. I could go either way on audio. @keithgee, have we been doing anything special with audio? We can't make a thumbnail of them and they don't play in DSpace, as far as I know. Maybe we should include them in the list and just leave off video.

[2019-12-17 19:14] soumikgh commented on #668
Can you show me how to replicate that? I'm pretty sure we don't have restrictions when it comes to outgoing email, but I'm going to poke around and double-check.

[2019-12-17 19:18] pyc1 commented on #639
OK, we discussed this at standup today and decided to leave Audio and Video as content types, in part due to the fact that faculty can upload these types from Elements and we didn't want a process that diverged from that too much, and because there are very few video uploads anyway.  We will have to do the processing after submission.  So the instructions should be:

"Select the type(s) of content

[2019-12-17 19:25] alawvt commented on #668
Replicating this involves submitting an item and then restricting the file to the Administrators group. I could show you how to edit an item to add a file and/or restrict the file to a particular group. It would be easier in person.

[2019-12-17 20:42] alawvt commented on #652
I added commit 8a56c3c7f7c282eb44800e44d526423857914ea8, to update the link for the 2019-2020 sheet of the statistics workbook.

[2019-12-17 21:18] alawvt commented on #639
I added commit 67443e70e833a657aa07d060f0eab2882994a860 to make dc.type required for the default submission form (not just the OMALS form) and to update the dc.type submission instructions to Video from Video recording.

[2019-12-17 21:43] alawvt commented on #663
New thumbnails will have `maxwidth=maxheight=100px`. This is a compromise of size for better viewing but avoiding excessive scrolling in browse view or search results.

We plan to regenerate thumbnails for existing items so thumbnail sizes will be more consistant. The existing thumbnails are either `maxwidth=maxheight= 80px` or `maxwidth=100` with unlimited maxheight.

[2019-12-17 21:43] #663 closed, assigned to nobody

[2019-12-17 21:43] #657 closed, assigned to kdweeks

[2019-12-18 15:53] soumikgh commented on #668
The Postfix `message_size_limit` variable had to be adjusted in `/etc/postfix/main.cf`. I have set it to 100 MB on dev and prod.

[code]

[2019-12-18 16:10] alawvt commented on #668
@soumikgh, thank you very much for resolving this issue.

A message up to 100 MB can now be sent via request-a-copy. Note that if **all** restricted files are requested, the mail server will attempt to send them all in one message, so the total of all restricted files must be under 100 MB. (I added this note to the VTechWorks wiki.)

[2019-12-18 19:09] alawvt commented on #639
resolved

[2019-12-18 19:09] #639 closed, assigned to kdweeks

[2019-12-18 19:28] kdweeks commented on #664
This issue is resolved by PR #669

[2019-12-18 19:53] alawvt commented on #664
Thanks, @kdweeks.

[2019-12-18 19:53] #664 closed, assigned to kdweeks

[2019-12-19 14:30] alawvt opened #670 "Change language code for OMALS and VTETD non interactive steps to "en""
Change language code for OMALS and VTETD non interactive steps from "en_US" to "en".

[2019-12-19 15:16] alawvt opened #671 "Add "Summary" to content types list and update language list in submission form"
Add "Summary" to common_types content types list in submission form (needed for Feiertag summaries).

Reorder "en" and "en_US" and remove "tr" in common_iso_languages list.

/dspace/config/input-forms.xml

[2019-12-19 16:20] alawvt commented on #668
A user reported getting the "too big file" error message for a file that is 54 MB. The item is http://hdl.handle.net/10919/84164 and it was requested Thu, Dec 19, 2019 at 12:18 AM. The recipient had a non-VT Gmail account. We are able to send the same file to a VT Gmail account. So we may still see these error messages due to limitations that we can't control on the recipients email account.

[2019-12-19 16:47] alawvt commented on #630
Continued in #654.

[2019-12-19 16:47] alawvt commented on #654
Continues #630.

[2019-12-19 17:08] #654 closed, assigned to nobody

[2019-12-19 17:09] alawvt commented on #671
Resolved by #672.

[2019-12-19 17:09] #671 closed, assigned to alawvt

[2019-12-19 17:10] alawvt commented on #670
Resolved by #672.

[2019-12-19 17:10] #670 closed, assigned to alawvt

[2019-12-19 17:11] alawvt commented on #654
Resolved by #672.

[2019-12-19 17:24] alawvt opened #673 "Switch from Creative Commons 3.0 U.S. to Creative Commons 4.0 International licenses"
Switch from Creative Commons 3.0 U.S. to Creative Commons 4.0 International licenses

see https://jira.duraspace.org/browse/DS-1818

If you comment out the jurisdiction  (requesting an unported licence) then you will get a CC 4 licence.

I've updated the documentation to note how this works (both in 6.x and 5.x Docs):

https://wiki.duraspace.org/display/DSDOC6x/Configuration+Reference#Configuratio

[2019-12-19 17:50] #673 closed, assigned to nobody

[2019-12-19 19:38] alawvt opened #675 "Reorder CC license options to CC, no CC, CC 0, public domain in submission form"
Reorder CC license options to CC, no CC, CC 0, public domain in submission form

Currently we have, https://github.com/VTUL/vtechworks/blob/46faa5183036b5625c43c3bea7bf18f058d3cc77/dspace/modules/xmlui/src/main/webapp/i18n/messages.xml#L976

[code]
Replace with
[code]

[2019-12-19 21:28] alawvt commented on #675
In researching this issue, I reported [Creative Commons step: Public Domain and CC0 choice have same result](https://jira.lyrasis.org/browse/DS-4406).

[2019-12-20 15:14] alawvt commented on #675
Resolved by #677.

[2019-12-20 15:14] #675 closed, assigned to nobody

[2019-12-20 15:30] alawvt opened #678 "Test Zucchini changes on vtechworks"
@soumikgh, please deploy the commit, https://github.com/VTUL/vtechworks/commit/2ccb5bacda06236a230607500a19df5743735028, on branch [vt_6_dev_deploy](https://github.com/VTUL/vtechworks/commits/vt_6_x_dev_deploy) to vtechworks-dev.

[2019-12-20 15:30] #668 closed, assigned to soumikgh

[2019-12-20 17:21] alawvt opened #679 "Use MIT REST libraries to get files for collections"
Continues #653.

In preparation for determining which BTDs need OCRing, use the [MIT REST libraries](https://github.com/MITLibraries/dspace-api-python-scripts) to obtain all the file names for all the items in a collection. See and add to the documentation in https://code.vt.edu/digital-research-services/VTechWorks_Documentation/wikis/rest_api. The program would probably use the queries:

    GET

[2019-12-20 17:21] alawvt commented on #653
completed, thanks @kdweeks. Continued in #679.

[2019-12-20 17:21] #653 closed, assigned to kdweeks

[2019-12-20 20:45] kdweeks opened #680 "Change the dc.type form field to be required in the custom NDLTD submission form"
In the [NDLTD](https://vtechworks.lib.vt.edu/handle/10919/18725) submission form, make the dc.type a required field in `dspace/config/input-forms.xml`  Then update the spreadsheet that summarizes the submission forms at: [https://docs.google.com/spreadsheets/d/1hIx4Tfn-z0dXFwOHTM5uqcp2_FVwwrYVdkcVTAWc50U/edit#gid=829366116](https://docs.google.com/spreadsheets/d/1hIx4Tfn-z0dXFwOHTM5uqcp2_FVwwrYVdk

[2019-12-20 21:09] kdweeks opened #681 "Create a test plan for Zucchini sprint"
Broad instructions for testing -
[https://github.com/VTUL/vtechworks/wiki/06.-Testing](https://github.com/VTUL/vtechworks/wiki/06.-Testing)

Google Drive VTW Testing -
[https://drive.google.com/drive/folders/0B0VhWgQOPYz8UkowTjg0TkxLQXc](https://drive.google.com/drive/folders/0B0VhWgQOPYz8UkowTjg0TkxLQXc)

[2019-12-23 19:41] kdweeks commented on #681
I created a test plan from the existing test plan and all the new commits here:
https://docs.google.com/spreadsheets/d/1RbTB46ssFdKvc7C1jEP5vTn9vG9jOcwy7AcNNQdyi5k/edit#gid=1753423825

I tried to use vagrant to provision the `vt_6_x_dev_deploy`  branch.  The build failed b/c the `vt_6_x_dev` has not been merged into the `vt_6_x_dev_deploy`  branch.  Watch https://github.com/VTUL/vtechworks/issues/

[2020-01-02 13:15] alawvt commented on #681
@kdweeks, it looks likes it has been merged in https://github.com/VTUL/vtechworks/commits/vt_6_x_dev_deploy. Did you check out that branch and pull?

[2020-01-02 15:05] kdweeks commented on #681
@alawvt Maybe I did something wrong.  I'll double-check.

[2020-01-03 14:09] alawvt commented on #678
zucchini changes were deployed to dev on 2020-01-02.

[2020-01-03 14:11] #680 closed, assigned to nobody

[2020-01-03 20:31] alawvt opened #682 "Name with diacritic not searchable in Browse by Author"
There are 98 items in the Browsing by Author index for [Täuber, Uwe C.]( https://vtechworks.lib.vt.edu/browse?type=author&value=T%C3%A4uber%2C+Uwe+C.) However a search for this name in the Browse by Author search box yields "Sorry, there are no results for this browse."

The Browsing by Author results for names begining with "T" include
[code]
So ä comes between a and b.

There are 35 items in the

[2020-01-06 15:01] alawvt commented on #662
Theses with this problem:

- [x] http://hdl.handle.net/10919/78197
- [x] http://hdl.handle.net/10919/78889
- [x] http://hdl.handle.net/10919/81752
- [x] http://hdl.handle.net/10919/83450
- [x] http://hdl.handle.net/10919/83597
- [x] http://hdl.handle.net/10919/83759
- [x] http://hdl.handle.net/10919/83922
- [x] http://hdl.handle.net/10919/87059

[2020-01-07 16:17] alawvt commented on #678
zucchini changes on LDE and vtechworks-dev have passed.

zucchini changes were deployed to pprd on 2020-01-07.

[2020-01-09 16:56] kdweeks commented on #681
Completed LDE, DEV and PPROD test plans.

[2020-01-09 18:12] alawvt commented on #678
@soumikgh will deploy the latest commit, ec0e208, on branch, https://github.com/VTUL/vtechworks/commits/vt_6_x_prod_deploy, to vtechworks.lib.vt.edu on Monday January 13, at approximately 7 am.

[2020-01-09 18:41] kdweeks commented on #678
Completed testing on pprd for the vt_6_x_pprd_deploy instance at:
https://vtechworks-pprd.cloud.lib.vt.edu/.

Test results are available here:
https://docs.google.com/spreadsheets/d/1RbTB46ssFdKvc7C1jEP5vTn9vG9jOcwy7AcNNQdyi5k/edit#gid=1712830785  and  https://docs.google.com/spreadsheets/d/1RbTB46ssFdKvc7C1jEP5vTn9vG9jOcwy7AcNNQdyi5k/edit#gid=1459195818

[2020-01-09 18:46] alawvt opened #683 "Check ETDs for cover page thumbnails and order bitstreams as necessary"
Check ETDs in [ETDs: Virginia Tech Electronic Theses and Dissertations community](https://vtechworks.lib.vt.edu/handle/10919/5534) for cover page thumbnail. Correct the order of bitstreams, as necessary.

[2020-01-09 18:51] alawvt commented on #683
I have gone twice through these Theses and Dissertations collections, checking the thumbnails and  ordering the bitstreams, as necessary.

The following URL is useful for browsing through the collection, e.g.
Sort dissertations by issue date in descending order with 100 results per page starting at 1999-04-22:
https://vtechworks.lib.vt.edu/handle/10919/11041/browse?rpp=100&etal=-1&sort_by=2&type=d

[2020-01-09 18:57] alawvt commented on #683
There were ~10 PDFs that didn't have the .pdf extension in the filename, so no thumbnail or text file had been created for them. I added the extension and ran the filter-media to create the thumbnail and .txt. file.

Continued with Issue [ETDs with 18+ files](https://code.vt.edu/digital-research-services/etd_db_ingest/issues/53) which lists 30 dissertations and 21 theses whose bitstreams are not i

[2020-01-09 19:03] #681 closed, assigned to kdweeks

[2020-01-09 19:52] alawvt commented on #681
Thank you, @kdweeks, nice job.

[2020-01-09 19:57] kdweeks commented on #678
Created a test plan for Zhcchihi changes that is available here:
https://docs.google.com/spreadsheets/d/1RbTB46ssFdKvc7C1jEP5vTn9vG9jOcwy7AcNNQdyi5k/edit#gid=158771184

[2020-01-09 20:07] alawvt opened #684 "Create thumbnails of ETDs where the title pages is not the first page"
Continuing Issue #661

After force recreating thumbnails for all ETDs, #685, manually create thumbnails of ETDs where the title or cover page is not the first page.

Create thumbnail of page 1:
- http://hdl.handle.net/10919/37537

Create thumbnail of page 2:
- http://hdl.handle.net/10919/23237
- http://hdl.handle.net/10919/26109
- http://hdl.handle.net/10919/30742
- http://hdl.handle.net/10919/330

[2020-01-09 20:13] alawvt commented on #684
A possible strategy for creating these thumbnails is to:

1. Create a one-page PDF of the desired thumbnail and name it titlepage.pdf
2. Upload titlepage.pdf to the item
3. Run media-filter on the item
4. Move the reulting thumbnail up to the first position in the thumbnail bitstream list.
5. Delete titlepage.pdf and titlepage.pdf.txt.

By naming the thumbnail this way (different that the etd file

[2020-01-09 20:42] alawvt opened #685 "Force run filter-media to recreate new thumbnails for all items"
Continues Issues #663 and #683

Force run filter-media to recreate new thumbnails (but not new text index files) for all items. This will standardize the thumbnail size at the new maximum dimensions, 100px x 100px, and replace those thumbnails that were badly created with the old thumbnail filter (PDFs in landscape format and those created with 'Microsoft Print to PDF').

[2020-01-09 20:52] #683 closed, assigned to alawvt

[2020-01-09 20:57] #661 closed, assigned to alawvt

[2020-01-09 22:03] alawvt commented on #662
https://groups.google.com/forum/#!searchin/dspace-tech/thumbnails$20do$20not$20show$20up$20in$20browse%7Csort:date/dspace-tech/4K-MUXVGeGA/Oku02BAdAQAJ

George,

Thank you for the clue about the primary bitstream. As reported in https://github.com/VTUL/vtechworks/issues/662, we have some items that have only the text "Thumbnail" in Browse, rather than the thumbnail, itself. However the thumbnail d

[2020-01-09 22:22] alawvt commented on #662
These items now appear correctly in browse.

[2020-01-09 22:22] #662 closed, assigned to nobody

[2020-01-10 16:10] alawvt opened #686 "Metadata changes not saved during submission approval process"
The approver for collection CS5604 notes, "It appears that though I edit the metadata, and do save and exit, the edits are not retained.  This has been going on for several weeks, and just occurred again a few minutes ago, when I edited the Abstract and Notes fields for the submission." I gave up and approved the submission with the minor errors still present that I had tried to fix, since they we

[2020-01-10 16:24] alawvt commented on #686
Please see if you can recreate this issue, and document it.

[2020-01-13 14:58] alawvt commented on #678
Zucchini has been deployed to prod and has passed the basic functionality tests.

[2020-01-16 19:58] alawvt commented on #685
I have started running
[code]
or with logging
[code]
to force thumbnail creation, one top-level community at a time. It seems to generate thumbnails for ~25 items/minute for items with one file. (ETDs will be slower, since they often have multiple files per item.) Once done, I am checking the community to spot any missing thumbnails or quality concerns.

View in ascending title order, 100 per page

[2020-01-16 20:10] kdweeks commented on #678
Completed zucchini testing on VTechWorks production server.

[2020-01-16 20:10] #678 closed, assigned to kdweeks

[2020-01-16 20:39] alawvt commented on #685
I have started running
[code]
or with logging
[code]

to force thumbnail creation one top-level community at a time. It seems to generate thumbnails for ~25 items/minute for items with one file. (ETDs will be slower, since they often have multiple files per item.) Once done,  I am checking the community, to spot any missing thumbnails or quality concerns.

[code]

Done
[code]

I just spoke with @s

[2020-01-21 20:13] alawvt opened #687 "Change ETD facet label from Advisor to Committee Chair"

[2020-01-22 14:37] alawvt opened #688 "<em> tag in abstract breaks browse view"
We have enabled HTML in the abstract. Tags such as `<i>` and `<b>` appear correctly in browse and search results view. However `<em>` appears bold but forces the abstract snippet not cut off at 250 characters, as it is supposed to. See screenshot,
![em_abstract](https://user-images.githubusercontent.com/13037168/72903009-77f11400-3cfa-11ea-9ffe-bd88a91bbea2.jpg)

This has been reported in https://

[2020-01-22 14:46] #688 closed, assigned to nobody

[2020-01-22 15:37] alawvt commented on #687
I think the error was added in commit https://github.com/VTUL/vtechworks/commit/135c015a45de7a389a1c952bb746f2c2e65251f9#diff-eb41d8cfa0737f07840838d3b8633f08 line 778,
[code]

[2020-01-23 16:50] alawvt commented on #682
This was reported in [DS-4034 The "first few letters" search doesn't work with diacritics](https://jira.lyrasis.org/browse/DS-4034) with reply,

[2020-01-28 22:35] alawvt opened #689 "Could manually create a thumbnail when not created by media-filter"
https://vtechworks.lib.vt.edu/handle/10919/73916

https://vtechworks.lib.vt.edu/handle/10919/24710 (video)

[2020-01-31 19:55] kdweeks commented on #686
I added myself to the following groups in the collection https://vtechworks.lib.vt.edu/handle/10919/19081:

COLLECTION_142_ADMIN
COLLECTION_142_SUBMIT
COLLECTION_142_WORKFLOW_STEP_2

to try to recreate the issue of not being able to save edits in the _Abstract_ and _Notes_ fields.

[2020-01-31 20:35] alawvt commented on #685
This is continued with [12 issues](https://code.vt.edu/digital-research-services/VTechWorks_Documentation/issues) to investigate 352 suspected duplicates. There are also issues there to investigate corrupt and missing PDFs discovered during the thumbnail creation.

I am impressed that none of the thumbnail jobs quit, even those processing >25,000 thumbnails.

[2020-01-31 20:35] #685 closed, assigned to alawvt

[2020-01-31 20:55] kdweeks commented on #686
This item was rejected by Ed Fox and resubmitted by students.  I was able to edit this, changes were saved: https://vtechworks.lib.vt.edu/handle/10919/96310

This item was rejected by Ed Fox and resubmitted by students.  I was able to edit this, changes were saved: https://vtechworks.lib.vt.edu/handle/10919/96437

I thought a final test would be to submit a new item and try to edit it. Before star

[2020-01-31 21:26] kdweeks commented on #686
I must have not properly saved adding myself the 3 workgroups.   @alawvt deleted the first attempted item I added and could not edit.

[2020-01-31 21:51] kdweeks commented on #686
Testing from the submitted item, editing metadata stage:  Metadata saved in the editing stage.  Approved item.  Moved to the stage of editing item metadata after approval - edits were saved. Tried to delete item.  I was unauthorized to delete that item; yet it appears to be deleted.

[2020-02-03 17:56] kdweeks commented on #686
I was able to able to edit the metadata in the submission phase, after the rejection phase, during the approval phase, and after the approval phase.  I was unable to recreate this issue.

<img width="851" alt="TestMetadataEdit1" src="https://user-images.githubusercontent.com/473202/73677584-9228db80-4684-11ea-8ec8-6e50b9867daa.png">
<img width="851" alt="TestMetadataEdit2" src="https://user-images

[2020-02-03 18:02] alawvt commented on #686
@kdweeks, thank you for working on this. This will be a baseline for any future reports of this behavior.

[2020-02-03 18:12] #686 closed, assigned to kdweeks

[2020-02-06 17:53] alawvt opened #690 "Thumbnails not appearing on dev or pprd"
We recently recreated all new thumbnails on prod, checked them and they all look good. The same thumbnails are not appearing on dev or pprd. For instance, on dev, ETD, https://vtechworks-dev.cloud.lib.vt.edu/handle/10919/94050, should have 5 thumbnails. When one clicks on the first thumbnail, https://vtechworks-dev.cloud.lib.vt.edu/bitstream/handle/10919/94050/Dai_H_D_2019.pdf?sequence=1&isAllowed

[2020-02-07 16:44] alawvt opened #691 "Branded_Preview bundle for 4/16 images?"
The 4/16 collection has items with the bundle, Branded_Preview, for example,
https://vtechworks.lib.vt.edu/handle/10919/17609. The image is intermediate in size between the thumbnail and the original. @keithgee, do you have any memory of this [Branded Preview JPEG media-filter](https://wiki.lyrasis.org/display/DSDOC6x/Mediafilters+for+Transforming+DSpace+Content#MediafiltersforTransformingDSpaceCo

[2020-02-13 16:06] alawvt commented on #690
This seems more like the thumbnail information is in the database, but the files aren’t in the assetstore. Which is confusing because I thought that dev was just the prod assetstore mounted read-only.

Ah --- if there’s an option to replace the old thumbnails, yes, it could be that the old ones were marked as deleted in the prod database, and that’s not reflected in the dev/preprod databases. The

[2020-02-19 13:52] alawvt opened #692 "Write youtube-dl command and instructiosn to archive captions, when available"
According to this thread, https://superuser.com/questions/1156586/youtube-dl-download-video-from-youtube-with-subtitles-tutorial, it is possible to download subtitles when they are available, which it looks like for Virginia Cooperative Extension, https://www.youtube.com/channel/UCT-rsFK2y4FJDI5ful2JEiw. I have added an issue to the backlog to test this and develop instructions.

[2020-02-20 17:39] alawvt opened #693 "Video playback not working on dev or pprd"
The video item, http://hdl.handle.net/10919/18426, plays correctly on production, including the close captioning. The same item on dev, https://vtechworks-dev.cloud.lib.vt.edu/handle/10919/18426, and pprd, https://vtechworks-pprd.cloud.lib.vt.edu/handle/10919/18426, gives the error, "no video with supported format and MIME type found."

[2020-02-20 18:02] keithgee commented on #693
Just a note for whoever takes the 4Help ticket and looks into this:
It appears that none of the bitstream assets - videos, thumbnails, PDF files, etc are loading on the dev or pprd systems.

[2020-02-20 18:08] alawvt commented on #693
Thanks, @keithgee, for looking at this. This would also explain #690.

[2020-02-20 18:12] keithgee commented on #693
Oh, yeah. The thing about the thumbnails being regenerated could have been a complete red herring, and the entire assetstore just hasn't been online on dev or pprd this whole time!

[2020-02-20 18:19] alawvt commented on #693
We haven't used dev and pprd much since installing 6. We've been very focused on content projects on prod.

[2020-02-20 20:50] alawvt commented on #693
@soumikgh, thank you for fixing this by adding the correct symlink to the new location for assetstore.

[2020-02-20 20:50] #693 closed, assigned to soumikgh

[2020-02-20 20:51] alawvt commented on #690
@soumikgh, thank you for fixing this by adding the correct symlink to the new location for assetstore.

[2020-02-20 20:51] #690 closed, assigned to soumikgh

[2020-02-24 18:33] pyc1 commented on #586
These three publications are now in VTechWorks.

[2020-02-24 18:33] #586 closed, assigned to pyc1

[2020-02-24 19:09] alawvt commented on #692
Completed, added instructions to [Event Capture wiki](https://code.vt.edu/digital-research-services/VTechWorks_Documentation/-/wikis/event-capture-workflow#downloading-videos-from-youtube-on-a-macintosh-computer).

[2020-02-24 19:09] #692 closed, assigned to nobody

[2020-02-25 19:44] #643 closed, assigned to alawvt

[2020-02-26 00:48] kdweeks commented on #679
Cloned MIT Libraries DSpace API files from: https://github.com/MITLibraries/dspace-api-python-scripts.  Make scripts executable `chmod a+x *.py`

Configured `secrets.py` file with the server and personal login information.

[2020-02-26 01:29] kdweeks commented on #679
After much troubleshooting, successfully ran the `getHandlesAndBitstreamsFromCollection.py` script (uses only GET commands to gather metadata and bitstream information from VTechWorks).  This script failed after being disconnected from the VTechWorks server (This script ran ~2 hrs.).

Revised the script to gather only BTD's with BUNDLE.bitstreams=TEXT files.  I ran this (~3 hrs to run).  The resul

[2020-02-26 01:49] kdweeks commented on #679
Revised the `getHandlesAndBitstreamsFromCollection.py` to also get bitstream file size information to discover if the BUNDLE.bitstreams=TEXT file sizes may be zero, or small.   This script also ran and returned the file sizes in bytes successfully.

[2020-02-26 01:54] kdweeks commented on #679
Created a local repository, at https://code.vt.edu/digital-research-services/dspace-api-python-scripts,  and cloned the MIT repository https://github.com/MITLibraries/dspace-api-python-scripts.  I did not add any of the new files that I modified for our local VTechWorks repository because of the surprise that all BTDs in the VTechWorks production server somehow contain BUNDLE.bitstreams=TEXT files

[2020-02-26 02:47] kdweeks commented on #679
Mapped several known OCR'd BTDs, known non-OCR'd BTDs, and some ETD's in a smaller test collection at:  https://vtechworks.lib.vt.edu/handle/10919/91907.  This should help us make script changes and tests much faster than using the larger [Dissertation](https://vtechworks.lib.vt.edu/handle/10919/11041) or [Theses](https://vtechworks.lib.vt.edu/handle/10919/9291) collections.

Attached is the resul

[2020-02-26 18:12] kdweeks commented on #679
Continue in local repository in issue [Use MIT REST libraries to get files for collections](https://code.vt.edu/digital-research-services/dspace-api-python-scripts/issues/1).

[2020-02-26 18:12] #679 closed, assigned to kdweeks

[2020-03-06 18:07] keithgee commented on #691
I believe that this was enabled and used for the 4/16 collection, and then disabled immediately afterward.

[2020-03-06 18:07] #691 closed, assigned to keithgee

[2020-03-06 18:10] alawvt commented on #691
@keithgee, thank you for this information.

[2020-03-06 21:54] kdweeks commented on #691
Yes, thanks @keithgee!  This is great to know.  I don't see why it should be enabled now.

[2020-03-24 19:25] alawvt opened #694 "Investigate why some Elements deposits are mapped to "Unknown" bitstream format"
Investigate why some Elements deposits are mapped to "Unknown" bitstream format, for example, http://hdl.handle.net/10919/95893 was this way.

[2020-03-27 18:09] alawvt opened #695 "Video caption display order?"
The ASR Generated Captions (vtt) that were generated several years ago with the Google API, generally display in VTechWorks in two lines, with the newer line below the older line, which is the reverse of most other caption displays.

I recently uploaded a video, http://hdl.handle.net/10919/48180, to Kaltura and ordered and edited automatic captions and downloaded a .srt. I converted to and loaded

[2020-03-31 20:05] cecross1 opened #696 "Author names not saved in submission form"
A faculty member submitted two new items to the Advanced Research Computing collection, and reported that author names were not saved after being entered into the submission form. Links to the items are below (names were later added manually):

- <http://hdl.handle.net/10919/97511>
- <http://hdl.handle.net/10919/97510>

I created a test submission in preprod (http://hdl.handle.net/10919/94148), bu

[2020-03-31 20:19] alawvt commented on #696
@cecross1, thank you for handling, attempting to recreate, and documenting this issue.

[2020-03-31 20:19] #696 closed, assigned to nobody

[2020-04-20 17:48] alawvt opened #697 "13 items in ETD collection appear to be missing files"
The first 13 items in https://vtechworks.lib.vt.edu/handle/10919/5534/discover appear to be missing bitstreams.

No Thumbnail [100%x100]
VT ETD LaTex Template
Lattimer, Alan (2016-10-17)
ok- .doc file

No Thumbnail [100%x100]
Title Page Template When Committee Member Disapproves ETD
Unknown author (2016-10-17)
ok- .doc file

No Thumbnail [100%x100]
Ecology and Morphology of Early Animals: An Analy

[2020-04-20 18:28] alawvt commented on #697
It turns out 10 of 13 of these were ETDs with known missing files. The other 3 were items with file that don't generate thumbnails. It is interesting that sorted by relevance, the first 13 Discovery search results display 10 of the 22 ETDs with known missing files out of a collection of nearly 34,000.

[2020-04-20 18:28] #697 closed, assigned to nobody

[2020-04-21 14:17] alawvt opened #698 "Request-a-copy file never received"
A patron requested the file, LaTeXsource files.zip (12.97Mb), in http://hdl.handle.net/10919/93253 via the Request-a-copy form. The e-person granted permission but the patron did not receive the file. They repeated the process without success. Today, I also use the form but did not receive the file in an email, as usual.

Since we are all working remotely, we might want to check IP related setting

[2020-04-21 16:31] alawvt commented on #698
Test 2: I anonymously requested the file and the e-person declined the request. I received the email notification that the request had been declined. So basic email functionality seems ok.

[2020-04-21 17:05] soumikgh commented on #698
Can we test it like we did on #668? If you trigger the email and note the time down, I can look in logs for that time and see if it's Postfix or the MTA which might be causing it.

[2020-04-21 17:40] alawvt commented on #698
@soumikgh, thank you for reviewing this issue. I have created a test item, http://hdl.handle.net/10919/97857, with the same file so I can both request and respond to the request.

At 13:27, I requested this file. As far as I can tell, these request emails have been working correctly.

At 13:28, I replied to this request which should send the file in an email to the recipient.

At 13:29, I received

[2020-04-21 18:10] alawvt commented on #698
@soumikgh,

I requested the file from the original item, http://hdl.handle.net/10919/93253.
At 13:50, the eperson replied to the request.
I received the file.

I requested all the files from the original item, http://hdl.handle.net/10919/93253.
At 13:55, the eperson replied to the request.
I did not receive the files.

All the files are 5.352 + 5.747 + .391 + 12.97 + 8.19 + 5.562 = 38.2 MB. Perhap

[2020-04-22 18:58] pyc1 commented on #697
The DSpace default seems to place items without files at the top of a results list.  I just discovered this while adding PDFs to imported metadata.  The one item without a file got moved to the top.  Then when I added the file, the order changed again.  Useful for administrators, not so much for users.

[2020-04-22 20:18] soumikgh commented on #698
@sindtd has kindly taken over this issue from me.

[2020-04-23 12:24] alawvt commented on #698
![Request-a-copy-form](https://user-images.githubusercontent.com/13037168/87473943-49406000-c5f0-11ea-8637-dc9728c73e4b.png)
@soumikgh and @sindtd, thank you for working on this issue. I am going to close it with the assumption that the cause was a file size limitation of the email client. I will recommend that users use the "request a single file" rather than "request all files" option.

[2020-04-23 12:24] #698 closed, assigned to sindtd

[2020-04-23 13:55] alawvt commented on #697
@pyc1, thank you for observation. I agree.

[2020-04-23 15:00] #695 closed, assigned to nobody

[2020-04-23 15:01] #642 closed, assigned to nobody

[2020-04-23 15:04] #660 closed, assigned to nobody

[2020-05-18 15:20] alawvt opened #700 "Investigate DS-4409 significant changes to GeoLite2 usage terms"
[DS-4400 significant changes to GeoLite2 usage terms](https://jira.lyrasis.org/browse/DS-4409)
notes that the terms for and access to the Geolite database has changed. This database is used for IP locations for SOLR statistics.

We currently used the default download location for DSpace 6.3, listed in dspace/src/main/config/build.xml,

[code]

2020-05-18, I added a comment in that issue seeking mo

[2020-05-18 15:48] alawvt commented on #700
http://dspace.2283337.n4.nabble.com/Help-need-with-GeoLite-td4692642.html#a4692682  advises,

Currently [dspace/config/modules/usage-statistics.cfg](https://github.com/VTUL/vtechworks/blob/46faa5183036b5625c43c3bea7bf18f058d3cc77/dspace/config/modules/usage-statistics.cfg) lists

[code]
This can be overwritten in local.cfg as instructed above.

[2020-05-21 17:07] cecross1 opened #701 "Metadata not saved in OMALS submission form"
A student attempted to submit an item to the Online Master of Agricultural and Life Sciences collection. They reported that when they entered author names, committee members, and keywords, the page refreshed and the metadata was deleted. I created a test submission on preprod, but was unable to replicate the issue.

A faculty member reported a similar issue earlier this spring: <https://github.com

[2020-05-21 19:10] alawvt commented on #701
It was human error and not a problem with the system. After adding the names, the user checked the boxes, which deletes them.

[2020-05-21 19:10] #701 closed, assigned to nobody

[2020-06-15 14:52] alawvt opened #702 "Install DS-3914: Fix community defiliation #2178"
[DS-3914: Fix community defiliation #2178](https://github.com/DSpace/DSpace/pull/2178)

This is also scheduled to be released in DSpace 6.4.

[code]

[2020-06-16 15:04] alawvt opened #706 "Research Citation Style Language patch"
Consider installing Atmire's [Citation Style Language patch](https://github.com/atmire/CSL63) for DSpace 6.

Atmire announcement: [University of Bordeaux releases Citation Styles for DSpace](https://www.atmire.com/articles/detail/university-of-bordeaux-releases-citation-styles-for-dspace)

[Oskar-Bordeaux Open Science & Knowledge Archive](https://oskar-bordeaux.fr/?locale-attribute=en), the DSpace

[2020-07-06 20:05] alawvt opened #707 "VTechWorks Handle server not resolving due to lock file"
The VTechWorks handle server is not resolving.

attempted to restart it  with the error,
[code]
The /dspace/bin/start-handle-server was erroring out with "Queue files are locked" in `/dspace/log/handle-server.log`. @soumikgh found this ticket, https://jira.lyrasis.org/browse/DS-3946; renamed the lock file at /dspace/handle-server/txns/lock, and only then was able to successfully start up the Handl

[2020-07-06 20:06] #707 closed, assigned to nobody

[2020-07-16 18:53] alawvt opened #708 "Update Handle server for new IP address"
Update the VTechWorks Handle server for new IP address

## References

- [The Handle Server](https://wiki.lyrasis.org/display/DSDOC6x/Installing+DSpace#InstallingDSpace-TheHandleServer) It seems like we need to rerun steps 1-3.
- [Handle.net Registry Support](https://www.handle.net/hnr_support.html)
- [SUNScholar/Handle Server](https://wiki.lib.sun.ac.za/index.php/SUNScholar/Handle_Server) DSpace

[2020-07-17 17:45] alawvt commented on #708
ITS has decided to not change the IP address for vtechworks.lib.vt.edu, so we can close this issue.

[2020-07-17 17:45] #708 closed, assigned to nobody

[2020-07-17 17:47] alawvt commented on #708
The request to whitellist the new IP in Elements is in https://code.vt.edu/digital-research-services/vtw-elements/-/issues/40.

[2020-07-24 17:24] alawvt opened #709 "Change "master" branch to "main" and update documentation"
https://groups.google.com/g/dspace-devel/c/-oh-w0c4YBA/m/KVc1K2cHBgAJ?pli=1

[dspace-devel] NOTICE: All DSpace GitHub "master" branches have now changed names to "main"

Jul 13, 2020

DSpace DSpace Developers,

Per a (unanimous) vote of DSpace Committers, all DSpace code repositories hosted at https://github.com/DSpace have had their primary branch renamed from master to main. We did so based on t

[2020-07-24 17:27] #709 closed, assigned to nobody

[2020-07-31 14:33] alawvt opened #710 "Configure OCLC Digital Collection Gateway to harvest VTechWorks for Discovery"
Continues in part,  [Enable OAI-PHM for OCLC Digital Collection Gateway #142](https://code.vt.edu/it-services/vtlibans_dspace/-/issues/142).

Use OCLC Digital Collection Gateway (DCG) to harvest VTechWorks for Discovery

- [x] Arrange for OCLC to change URL for VTechWorks from HTTP to HTTPS - @alawvt
- [x] Create list of existing OCLC records harvested from http://vtechworks.lib.vt.edu/oai/request

[2020-07-31 14:40] alawvt opened #711 "Map VTechWorks content types to DCG material types"
Extends #710

Map VTechWorks content types to DCG material types

- [x] Decide on mappings in [Content type spreadsheet](https://docs.google.com/spreadsheets/d/1Ul-hTkUt5TFJKPTOIXD27CmLagKWaBDomNLsKcBL4Xw/edit#gid=1354962187)
- [x] Create material type mappings in DCG

OCLC DCG Material Types

- Image
- Computer file
- Musical score
- Audiobook
- Book
- Thesis/dissertation
- Map
- Music
- Video
-

[2020-07-31 14:47] alawvt opened #712 "Decide if any collections should not be harvested by DCG"
Extends #710
Decide if any collections should not be harvested by OCLC DCG for Discovery.

[2020-07-31 15:43] gailmmac commented on #712
Why not harvest everything in VTechWorks?

[2020-07-31 15:45] alawvt commented on #712
That's easy: we are unanimous on harvesting all collections.

[2020-07-31 19:35] alawvt opened #713 "Improve qdc OAI-PHM crosswalk for OCLC DCG harvest"
The OCLC DCG can use the [qdc OAI-PMH crosswalk](https://github.com/VTUL/vtechworks/blob/vt_6_x_dev/dspace/config/crosswalks/oai/metadataFormats/qdc.xsl) for mapping items to OCLC. These fields, such as dcterms.available and dcterms.dateAccepted, with only two "segments," have the advantage of retaining their full field names. This is in contrast to dc.contributor.department and dc.contributor.com

[2020-07-31 19:45] alawvt commented on #574
move it to relation field? (VCE have dc.identifier.url)

[2020-08-03 17:30] alawvt commented on #710
OCLC deleted all existing OCLC records harvested from http://vtechworks.lib.vt.edu/oai/request and changed the URL in DCG to HTTPS. However 5 records that they could not remove, due to other libraries having holdings on them. These were:

967160570; http://hdl.handle.net/10919/73484; 9 libraries
1004749525; http://hdl.handle.net/10919/78622; 2 libraries
1054759192; http://hdl.handle.net/10919/8484

[2020-08-03 21:36] alawvt opened #714 "Update links in Wikipedia to VTechWorks items"
Use the technique in article and video, [Wikipedia: assessing and maintaining links to your repository](https://www.atmire.com/articles/detail/wikipedia-assessing-and-maintaining-links-to-your-repository) to find links in English Wikipedia to items in VTechWorks and update the links from HTTP to HTTPS. Ignore items listed as User: or Talk:

- [x] Search pattern: [`http://vtechworks.lib.vt.edu`](ht

[2020-08-07 19:53] alawvt commented on #712
Consider creating a record blocking list to not harvest dc.type=abstract or dc.type=citation (perhaps for certain collections like SANREM).

[2020-08-07 20:09] alawvt opened #715 "Map ETD collections in Digital Collection Gateway"
Map VT ETD collections in OCLC Digital Collection Gateway (DCG) to [qualified Dublin Core (dcterms)](https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/alternative) and MARC.

- [x] List all metadata fields used in VT ETD collections
- [x] List all matching qualified Dublin Core fields
- [x] Study old VT ETD OCLC MARC records
- [x] Study default DCG mapping

[2020-08-07 20:48] alawvt commented on #574
Continued in #715.

[2020-08-07 20:48] #574 closed, assigned to nobody

[2020-08-10 15:58] alawvt opened #716 "Change all dc.idetifier.oclc to dc.relation.isformatof for BTDs (5813 items) and change in BTD import template"
Change all dc.idetifier.oclc to dc.relation.isformatof for BTDs.

[2020-08-10 18:12] alawvt commented on #716
I will preface the OCLC number in the dc.relation.isformatof field as `OCLC# number` e.g. `OCLC# 5543855`.

[2020-08-10 19:41] alawvt commented on #716
I made this change to 5813 items.

I updated btd_importer.ots with this change.

[2020-08-10 19:41] #716 closed, assigned to nobody

[2020-08-10 21:38] alawvt opened #717 "Decide about name suffixes for OCLC DCG harvest and standardize authors to that form (206 items)"
OCLC Digital Collection (DCG) harvests names as displayed in VTechWorks, e.g. `Reichert, Brian Anthony Jr.` in http://hdl.handle.net/10919/35884 for the MARC record. But names are displayed in WorldCat Item View and WorldCat Search View as FirstName LastName, e.g. `Brian Anthony Jr Reichert`.

Two possible options:

1. Leave our records as they are and have the names with suffixes look bad in Worl

[2020-08-11 20:08] alawvt commented on #717
[OCLC Personal Names--General Information](https://www.oclc.org/bibformats/en/accesspoints/x00.html#subfieldq)- For a MARC record,
- LastName, FirstName goes in the $a subfield.
- A suffix like Jr. goes  in the $c subfield.
- Precede a word indicating relationship such as Jr. by a comma and a space

So the full inverted name in MARC displays as  `Kennedy, John F., Jr.`

An example of the display o

[2020-08-13 13:41] alawvt commented on #712
We have just learned that matching that DCG uses to prevent duplicate records from being harvested, treats the same item mapped to two collections as different records.

One way to minimize duplicate records is to not harvest collections where everything is mapped. Candidates are:

- VTechWorks Administration community including All Faculty Deposits.
- VTTI ETDs
- Feiertag ETDs
- MDPI
- Biomed Cen

[2020-08-13 14:56] cecross1 commented on #712
@alawvt @pyc1 I agree with this list. Nothing else comes to mind at the moment.

[2020-08-14 15:30] alawvt commented on #717
@pyc1 and I discussed the issue and decided to leave the names in the standard DSpace form: LastName, FirstName MI. Suffix.

I search for and standardized (I can't bring myself to say corrected) the form of all the dc.contributor.author names with suffixes:

- 106 items with Jr.
- 4 items with Sr.
- 75 items with III
- 19 items with IV
- 1 item with V
- 1 items with VIII

[2020-08-14 15:30] #717 closed, assigned to nobody

[2020-08-14 19:33] alawvt commented on #717
Hmm, there are other ETDs that are appearing in WorldCat Item View with the author name inverted. That certainly helps.

[2020-08-14 19:48] alawvt opened #718 "Figure out how to get the Handle as a consistant field to map in DCG"
With the [default DSpace qdc.xsl map](https://github.com/VTUL/vtechworks/blob/vt_6_x_dev/dspace/config/crosswalks/oai/metadataFormats/qdc.xsl}, all identifier fields are mapped to dc.identifier. If the fields exist,

dc.identifier.other is harvested by DCG  to dc.identifier.1
dc.identifier.uri is harvested by DCG as dc.identifier.2 [the Handle of the item in VTechWorks]
dc.identifier.sourceurl is

[2020-08-17 18:50] kdweeks commented on #712
@alawvt  The only thing that comes to mind offhand are Administrative and Test collections.

[2020-08-24 15:01] alawvt commented on #713
Created new branch, https://github.com/VTUL/vtechworks/tree/qdc_xsl.

Create item with all fields, dc.identifier.uri
https://vtechworks-dev.cloud.lib.vt.edu/handle/10919/98782.

Run OAI indexing,
[code]

View qdc for this item,
`http://192.168.60.4/oai/request?verb=GetRecord&metadataPrefix=qdc&identifier=oai:192.168.60.4:10919/99468`

View qdc for this item on dev,
https://vtechworks-dev.cloud.lib

[2020-08-24 21:37] alawvt opened #720 "Improve SWORD crosswalk"
- [ ] Review ACM sample mets.xml file and fields from it to this list. Note the rights statement.

It looks like BioMed Central is still using sword-mets "SWAP Metadata" including eprints terms (xmlns:epdcx="http://purl.org/eprint/epdcx/2006-11-16/"). MDPI and Hindawi also use this packaging. A typical header is,

`<mets ID="sort-mets_mets" OBJID="sword-mets" LABEL="DSpace SWORD Item" PROFILE="DSp

[2020-08-25 14:09] alawvt commented on #720
@pyc1, it seems like we could improve SWORD metadata mapping with just this one crosswalk. If there are metadata fields that we want to add for all submissions, we might be able add them, as well. You could list the changes you have been making to SWORD submissions.

[2020-09-03 12:56] alawvt commented on #712
OUr strategy for mapping collections in DCG is to map each top-level community, except the VTechWorks Archive collection, which contains the SWORD collections and VTechWorks Administration community. To exclude the mapped ETD collections, we can block items based on dc.types, thesis and dissertation, from their corresponding top-level communities. This will allow us to avoid having to map all the

[2020-09-15 13:19] #713 closed, assigned to nobody

[2020-09-15 16:43] alawvt opened #724 "Null pointer exception during submission"
I merged branches qdc_xsl and vtt to into vt_6_x_dev. I started the submission process for an item on vt_6_x_dev in my LDE and received a Null Pointer exception after the "Review Submission" step
[code]
I got the same error on vtechorks-dev running https://github.com/VTUL/vtechworks/pull/721/commits/e944ae816b951e7126857c700600c5b8998468a6, on branch, https://github.com/VTUL/vtechworks/tree/qdc_xs

[2020-09-15 16:58] alawvt commented on #724
Oops--I just removed some diff code in bistream-formats.xml that certainly wasn't helping. I'll test that.

[2020-09-15 17:12] alawvt commented on #724
Resolved with commit, https://github.com/VTUL/vtechworks/commit/998947f9b8d45ce3f273ed9e3da6dc630b92c33f on vt_6_x_dev.

[2020-09-15 17:12] #724 closed, assigned to nobody

[2020-09-17 16:47] alawvt opened #725 "OAI-PMH harvest fails with 500 HTTP error"
EBSCO reported an error with their OAI-PHM harvest of VTechWorks.

System.Net.WebException: The remote server returned an error: (500) Internal Server Error.
[code]
This was a harvest of the College of Science community. The request, `https://vtechworks.lib.vt.edu/oai/request?verb=ListRecords&resumptionToken=qdc///com_10919_5553/1500` should have listed records #1501-1600 but failed. The request,

[2020-09-17 17:04] alawvt opened #726 "Test enabling MathJax for abstracts"
Prompted by #725, test enabling MathJax for abstracts.

Items for testing

- The SWORD XML file for http://hdl.handle.net/10919/78922 contains MathML in the abstract.
- http://hdl.handle.net/10919/72853 contains MathML in the title.

See [

- [DSpace 6 Wiki - MathJax Support](https://wiki.lyrasis.org/display/DSDOC6x/XMLUI+Configuration+and+Customization#XMLUIConfigurationandCustomization-MathJaxSu

[2020-09-17 19:46] alawvt opened #727 "Test Iris changes on dev, pprd, prod and write release notes"
Test Iris changes on dev, pprd, prod

Write release notes

[2020-09-17 19:47] alawvt commented on #727
Changes were deployed to dev on 2020-09-15
Changes were deployed to pprd on 2020-09-16

All tests for both servers have passed

[2020-09-18 20:21] alawvt commented on #725
I experimented with the abstract and eventually determined that the encoding for it was ok and the problem was with the field, itself. For instance, I could copy the abstract to a new field. However, I could not delete the old field. So, I exported the metadata for the items, edited the csv, deleting the field that way. After that, the item still would not show for OAI-PMH. So, finally, I duplicat

[2020-09-21 13:47] alawvt opened #728 "Check that all items in VTechWorks can be harvested by OAI-PMH"
Check that all items in VTechWorks can be harvested by OAI-PMH.

Resources

- [OAI-PMH Data Provider Validation and Registration](https://www.openarchives.org/Register/ValidateSite); baseURL: https://vtechworks.lib.vt.edu/oai/request
- [Harvest OAI Data in MarcEdit](https://marcedit.reeset.net/harvest-oai-data-in-marcedit)
- [OAI-PMH Google Group](https://groups.google.com/g/oai-pmh)

[2020-09-21 15:47] alawvt commented on #728
MarcEdit

button [Harvest OAI Data](https://marcedit.reeset.net/harvest-oai-data-in-marcedit)

tab Tools->Harvest OAI Records

- Server Address: https://vtechworks.lib.vt.edu/oai/request
- Set Name: e.g. col_10919_71799 [39 items], com_10919_71753 [139 items]
- Metadata Type: Dublin Core
- Crosswalk Path: /Users/alaw/marcedit3/xslt/OAIDCtoMARCXML.xsl

With this, we are able to download for a set,

[2020-09-21 15:48] #725 closed, assigned to nobody

[2020-09-22 16:33] pyc1 opened #729 "Add logos for Rights Statements"
Add logos for rights statements in the same way that we have Creative Commons license logos: https://rightsstatements.org/en/documentation/usage_guidelines.html.  On this page our preference is for option #1, a linked logo with license text next to it (coming from the dc.rights field).

[2020-09-22 17:06] alawvt commented on #707
[code]
And it's resolved by deleting the lockfile.

[2020-09-22 20:51] alawvt opened #730 "Test the display of Creative Commons license logo with HTTP and HTTPS"
If dc.rights.uri has a URL with HTTPS, the Creative Commons logo is the generic, [Some rights reserved](https://mirrors.creativecommons.org/presskit/cc.primary.srr.gif), even though the link for the image is to the specific license.
![cc primary srr](https://user-images.githubusercontent.com/13037168/93937426-c6293d80-fcf5-11ea-969c-32f57599628e.gif)

If dc.rights.uri has a URL with HTTP, the Crea

[2020-09-22 21:09] #730 closed, assigned to nobody

[2020-09-24 12:30] alawvt commented on #728
EBSCO completed an OAI-PMH harvest of VTechWorks on 2020-09-23 without other errors.

[2020-09-24 13:03] alawvt opened #731 "Check display of CC0 1.0 Universal Public Domain Dedication and Public Domain Mark 1.0 logos"
Check display of CC0 1.0 Universal Public Domain Dedication and  Public Domain Mark 1.0 logos.

dc.rights: Creative Commons CC0 1.0 Universal Public Domain Dedication
dc.rights.uri: http://creativecommons.org/publicdomain/zero/1.0/

dc.rights: Creative Commons Public Domain Mark 1.0
dc.rights.uri: http://creativecommons.org/publicdomain/mark/1.0/

[2020-09-24 13:16] alawvt commented on #731
<img width="710" alt="CC_1_0_Dedication_HTTP" src="https://user-images.githubusercontent.com/13037168/94151440-6abb9480-fe48-11ea-9ef4-ea5dbe8acb48.png">
<img width="551" alt="CC_1_0_Mark_HTTP" src="https://user-images.githubusercontent.com/13037168/94151732-bd954c00-fe48-11ea-9d67-944955b22e7f.png">

[2020-09-24 13:20] pyc1 commented on #731
FYI I deleted the parens (CC0 1.0) from the statement in the wiki to make it consistent with the others

[2020-09-24 13:37] #731 closed, assigned to nobody

[2020-09-24 13:57] alawvt commented on #729
It is necessary for dc.rights.uri URLs for Creative Commons licenses to be HTTP and not HTTPS for the license logos to display correctly, see #730. Try to determine if this would be the case for RightsStatements.org logos, as well.

[2020-09-24 14:04] alawvt commented on #727
Changes were deployed to production on 2020-09-22.

All tests passed and the release notes were issued on 2020-09-24.

[2020-09-24 14:04] #727 closed, assigned to alawvt

[2020-09-24 14:36] alawvt commented on #729
The instructions in [Displaying the rights Statements](https://rightsstatements.org/en/documentation/usage_guidelines.html) are to link to the HTTPS form of the RightsStatement.

From the discussion in [DS_2604 Creative Commons license assignment silently fails in JSPUI](https://jira.lyrasis.org/browse/DS-26040, it sounds like the HTTPS URL problem with the CC logo is due to redirection by the Cre

[2020-09-24 14:53] alawvt commented on #729
Hmm, the plot thickens. After all that, I started to update our documentation and found that `https://rightsstatements.org/vocab/InC-EDU/1.0/` gives an error whereas, `https://rightsstatements.org/vocab/InC-EDU/1.0/` redirects to `https://rightsstatements.org/page/InC-EDU/1.0/?language=en`. Therefore, I think we better use HTTP. However, I will write to RightsStatement.org about this issue.

[2020-09-24 15:56] alawvt commented on #729
I have just asked for clarification

[2020-09-24 19:09] alawvt commented on #729
Reply for rightsstatements.org

It will be easy for me to answer, though, as you have already identified all the pieces of the message!

Based on this reply, I think it would be best if we use HTTP in the values for dc.rights.uri.

[2020-09-24 19:09] #729 closed, assigned to nobody

[2020-09-25 13:53] alawvt commented on #729
Digital Georgetown is a DSpace repository that has implemented the RightsStatements.org logos, ex. https://repository.library.georgetown.edu/handle/10822/1060124

[code]

[2020-09-28 17:43] pyc1 commented on #720
Fields we could add to all SWORD submissions:

dc.format.mimetype[en]       application/pdf
dc.rights[en]                         Creative Commons Attribution 4.0 International
dc.rights.uri[en]                    http://creativecommons.org/licenses/by/4.0/
dc.language.iso[en]              en
dc.type[en]                            Article - Refereed
dc.type.dcmitype[en]           Text

BioMed Cent

[2020-09-29 15:22] alawvt commented on #728
After editing the metadata for the 20 items in a community, the OAI-PMH for one item, https://vtechworks.lib.vt.edu/oai/request?verb=GetRecord&metadataPrefix=qdc&identifier=oai:vtechworks.lib.vt.edu:10919/86579, gave the Hokie Bird error page. I edited the special characters in the abstract and re-ran the OAI indexing but it still yielded the error page. But after a couple hours, the correct page

[2020-10-01 12:39] #728 closed, assigned to nobody

[2020-10-01 12:44] alawvt commented on #718
We have edited qdc.xsl so that dc.identifier.uri is the only URL that is mapped to dc.identifier. Relatedly, we tried to map the thumbnail to dc.relation.isversionof, but learned that the thumbnail must also be mapped to dc.identifier. Since this conflicted with the Handle mapping, we removed thumbnail mapping from qdc.xsl.

[2020-10-01 12:44] #718 closed, assigned to nobody

[2020-10-01 13:33] alawvt opened #732 "Investigate items that Digital Collection Gateway failed to harvest"
Continues #710

Investigate items that Digital Collection Gateway failed to harvest

[2020-10-01 16:21] #715 closed, assigned to nobody

[2020-10-04 04:17] mello99 commented on #714
Hi all, I finished this project; can't quite find a way to close this issue (or add myself as an assignee). Thanks, feel free to close the issue. Best, Melissa

[2020-10-08 15:10] #711 closed, assigned to nobody

[2020-10-15 14:39] alawvt opened #734 "Null pointer exception when trying to download metadata CSV for a community"
I have been downloading metadata CSVs for many top-level communities recently without problem. Today I attempted to download the CSV for ICTAS, https://vtechworks.lib.vt.edu/csv/handle/10919/23765, and received a Null Pointer exeception.

[code]

[2020-10-15 16:47] alawvt commented on #734
It appears this is occurring because this community contains a sub-community, [Virginia Center for Autonomous Systems](https://vtechworks.lib.vt.edu/handle/10919/24523), with no collections. To test, I created a collection within it, [Virginia Center for Autonomous Systems research](https://vtechworks.lib.vt.edu/handle/10919/100594) which does not have any items. After that, the CSV would download

[2020-10-15 16:48] #734 closed, assigned to nobody

[2020-10-16 14:56] alawvt opened #735 "OAI-PMH harvest fails with java.lang.ArrayIndexOutOfBoundsException error"
The item, http://hdl.handle.net/10919/86579, appears ok. However, attempting to harvest `https://vtechworks-dev.cloud.lib.vt.edu/oai/request?verb=GetRecord&metadataPrefix=oai_dc&identifier=oai:vtechworks.lib.vt.edu:10919/86579` returns
[code]

[2020-10-16 15:24] alawvt commented on #735
I created a duplicate of this item and it had the same error. Next I deleted the abstract and OAI-PMH worked. Then I replaced `(𝝌² )` with `(Χ²)` in the abstract and that worked, too. So, finally, I deleted the duplicate item, leaving http://hdl.handle.net/10919/86579.

[2020-10-16 15:24] #735 closed, assigned to nobody

[2020-10-16 17:22] alawvt commented on #735
Another item, http://hdl.handle.net/10919/85889, failed with `𝝰4` and `𝝰5` in dc.description.abstract. I replaced them with `α4` and `α5` and they harvest in `https://vtechworks.lib.vt.edu/oai/request?verb=GetRecord&metadataPrefix=qdc&identifier=oai:vtechworks.lib.vt.edu:10919/85889` correctly.

[2020-10-26 14:31] alawvt opened #736 "Duration of mp4 differs between Finder and VTechWorks player"
We recently received 3 videos whose duration differs 1-8 seconds between the files in Finder and the VTechWorks player. An example is [Preserving DH Projects: Creating an Environment for Emulation](http://hdl.handle.net/10919/100640). The duration in Finder is 14:45. In YouTube it is 14:44. However the same file in VTechWorks, the duration is 14:53. Consequently, the captions generated in YouTube

[2020-10-26 15:48] keithgee commented on #736
To add to the puzzle: I'm seeing this behavior in FIrefox and Chrome, but
not in Safari.

On Mon, Oct 26, 2020 at 10:31 AM alawvt <notifications@github.com> wrote:

[2020-10-26 16:48] keithgee commented on #736
Okay, there are some things about the video formats that I don't understand yet - but I have a lead and potential solutions for these items.

The video in the example here - approximately the first 8 seconds are without audio. When the mp4 video is played, the video starts at the approximately 8 second spot, where the audio begins - and this will be time zero. When the webm video is played, it sta

[2020-10-26 17:02] alawvt commented on #736
@keithgee, thank you very much for investigating this issue so quickly. It certainly is interesting. According to the provenance, the mp4 was submitted so probaby @pyc1 used the video script to create the webm. I will try to create a shortened webm in QuickTime Player.

[2020-10-26 17:03] keithgee commented on #736
Thank you, @alawvt !

[2020-10-26 17:06] alawvt commented on #736
Since the mp4 comes in with the shorter time, I wonder if there is something we can change in the script so that extra time is not added to the webm.

[2020-10-26 17:24] alawvt commented on #736
In the YouTube player, The first word, "Hello" starts at second or 1 or 2, so there definitely isn't an 8 second lead-in with the mp4.

I downloaded the webm from the item in VTechWorks. QuickTime Player can't open it so it won't be able to trim it. I will try something else to trim. It does play in VLC and has that 8 extra seconds of silence at the beginning. I ran the mp4 to webm script again, `

[2020-10-26 17:43] keithgee commented on #736
Thank you, Anne. That was a good idea. Did you download the mp4 that is in VTechWorks now and then run the .mp4 to .webm script on that version, or did you find the .mp4 file somewhere else? I'm still confused about whether the .mp4 is the one that was originally uploaded, or if a different one got in there somehow. My original hypothesis about the mp4 having those 8 seconds but skipping the first

[2020-10-26 17:55] alawvt commented on #736
I downloaded the mp4 from VTechWorks. The md5 of it matches the provenance data from the original submission. Then I ran 4process_mp4_for_ir.pl on it to get the webm, which is 8 seconds longer. I am learning to use Shotcut to trim the webm.

[2020-10-28 14:30] alawvt commented on #736
I found this as well that chops off the beginning part of a video. The catch here is that I don't know what the value after ss is supposed to be - I thought it was in seconds, but it seems to not work exactly. On the bright side, it's very fast. - KG

[code]

[2020-10-28 14:34] alawvt commented on #736
Well, that's easy and fast, although not accurate. Using -ss from 8-11 yields a duration of 14:47. Bumping it to 12 yields a duration of 14:42.

However, this, http://trac.ffmpeg.org/wiki/Seeking, which I don't completely understand seems to work: putting the -ss after the -i.
[code]
yields a time of 14:44 and the caption seems to be at the right time.

I'd still like to figure out why this occurr

[2020-10-28 15:28] alawvt commented on #736
I have trimmed these webms and updated our video processing documentation with instructions for this fix. It still remains to figure out why this occurred. I have added to the backlog:

- Figure out how to prevent webms processed from mp4s from having extra duration
- Update VTechWorks video playback code to remove or deprioritize webm

@keithgee, thank you very much for all you analysis and resea

[2020-10-28 15:28] #736 closed, assigned to nobody

[2020-11-09 15:45] alawvt opened #737 "Create a SQL query or function to change text_lang to 'en'"
Continues #476

In the metadata table, create a SQL query or function to change text_lang from NULL OR '' OR 'en_US' to 'en'.

[2020-11-09 15:51] alawvt commented on #737
Command to add to crontabs:
[code]
Test:

- [x] install 2020-10-10 db dump on latest commit in vt_6_x_dev branch
- [x] [install Adminer 4.7.7](https://code.vt.edu/digital-research-services/VTechWorks_Documentation/-/wikis/SQL_for_DSpace#install-adminer-as-a-postgres-gui)
- [x] run Adminer, get text_lang value counts before
- [x] run SQL command
- [x] run Adminer, get text_lang value counts after

[2020-11-09 21:07] alawvt commented on #737
Before SQL command

Check count of items in metadatavalue table
[code]
Result: count: 2,343,963

Check counts for values of text_lang, ex. 'en'
[code]

Check for unique values of text_lang
[code]
Result: text_lang [count]
[code]

Run the SQL update (took about 10 minutes in LDE)
[code]

After SQL command

in metadatavalue table:
[code]

[code]
text_lang [count]
[code]

Check for other values of te

[2020-11-09 21:09] alawvt commented on #737
@keithgee, this seems to work ok in the LDE. I'd appreciate it if you and @soumikgh could develop a way to add it to the daily crontab. I've submitted this as Request RITM0051332.

[2020-11-11 17:00] keithgee commented on #737
Anne, thanks. I have a few questions.

- It looks like the command will update the language code to "en" even for metadata that's in other languages if the language code wasn't previously set in the metadata. I don't know if we have any such items, but if we do, is that an acceptable side effect?

- I think the command will also set language codes for values of metadata fields where the language i

[2020-11-11 17:52] alawvt commented on #737
@keithgee, than you very much for reviewing this. Yes, this will change the metadata language code to `en` for everything not explicitly another language code, even dates and URLs where language is not relevant. We have decided on this to simply our metadata and enable the [DSpace REST Query Client](https://vtechworks.lib.vt.edu/rest/static/reports/query.html).

As we discussed, please time the qu

[2020-11-20 16:01] alawvt commented on #710
We won't ask holding libraries to delete 5 old OCLC records and delete them, since there are so many libraries and there are already other duplicates.

This issue is continued with #732.

[2020-11-23 15:30] keithgee commented on #737
@alawvt, you're correct that it runs much faster on subsequent runs. Here is a timing for the first run from a VM on my new-ish desktop with SSD:

 Here is the timing on the second run:

I really thought it would still be slow after the first run!

[2020-11-23 15:33] alawvt commented on #737
@keithgee, thank you for testing this and the good news.

[2020-11-24 15:00] keithgee commented on #737
I've created a merge request in the vtlibans_dspace project with changes to deploy a script that gets the database configuration from DSpace and executes the SQL, and put instructions for testing in the merge details.
An alternative approach is the (pg_cron tool)[https://github.com/citusdata/pg_cron], but I think the script approach I used may work better for our current deployment practices.

@al

[2020-11-24 15:16] alawvt commented on #737
Continued in [Add metadata language code updater](https://code.vt.edu/it-services/vtlibans_dspace/-/issues/145).

[2020-11-24 15:16] #737 closed, assigned to nobody

[2020-12-18 20:01] alawvt opened #738 "Unable to change filename in Edit Item view"
@pyc1 and I report:

When we attempt to change a file name in the "Edit Item"->"Edit Bitstream" form, https://vtechworks.lib.vt.edu/admin/item, the new file name is not saved after we click "Save."

The same thing occurs on vtechworks-dev.

[2020-12-18 20:31] alawvt commented on #738
I am able to change a filename of a bitstream in my LDE, running, I believe, the same commit that is on prod and dev.

[2020-12-22 14:04] pyc1 commented on #738
This issue includes the ability to change the file description.  For example, if I type "Transcript" in the description field, and then click Save, it does not save.

[2020-12-22 14:12] alawvt commented on #738
Thanks, @pyc1, for that information. @soumikgh and I worked on this issue yesterday and found that on both dev and prod, we are able to change the file name of newly created items but not those items created last week or older. I plan to look at it more in the LDE today.

[2020-12-22 17:23] alawvt opened #739 "File upload button has no effect in Item submission form"
@gailmmac, reports that intermittently today and yesterday clicking on the file upload button in item submission form has no effect. She logged out and in and took numerous attempts before she could load a file. She was using Firefox.

[2020-12-22 22:14] alawvt commented on #738
The file name and file description are in the the `mtetadatavalue` table of the database. For example, in my LDE I uploaded the file, `Lawrence_AS_D_2017.pdf`. In the Edit Item interface I gave it the description, `Lawrence_AS_D_2017 description` and then renamed it `Lawrence_AS_D_2017b.pdf`. Apparently, it keeps both the original file name (in dc.source, metadata_field_id 55) and the newest file

[2020-12-23 15:10] alawvt commented on #738
I created item, [test of changing a file name 2020-12-21](http://hdl.handle.net/10919/101562) on 2020-12-21. That day, I was able to change the file name from `Lawrence_AS_D_2017.pdf` to `Lawrence_AS_D_2017_new.pdf`. Today, 2020-12-23, I am unable to change that file name or add a file description. This is occurring on dev and prod but not in my LDE. Since the file name and file description are bo

[2020-12-23 16:30] alawvt commented on #738
There is a text_lang associated with the file name and file description. I ran the script on my LDE and the table is now,

metadata_value_id | metadata_field_id | text_value | text_lang | place | authority | confidence | dspace_object_id
-- | -- | -- | -- | -- | -- | -- | --
6049167 | 55 | Lawrence_AS_D_2017.pdf | en | 0 | NULL | -1 | bfc4842c-cdb3-43be-987b-0167b656fa71
6049185 | 26 | Lawrence_AS

[2020-12-23 16:32] keithgee commented on #738
@alawvt, excellent investigative work. It seems we'll need to change the text_lang back to NULL for filenames and descriptions.
We'll also need to change the SQL in the script so that it doesn't update text_lang for filenames and descriptions, if you want to continue to use it.

[2020-12-23 16:34] keithgee commented on #738
Oops..Apologies to Aaron Law. I meant to tag my colleague. @alawvt let's see if we can straighten this out after standup or sometime in the afternoon if you like.

[2020-12-23 16:36] alawvt commented on #738
@keithgee, thank you for reviewing this issue. We would definitely like to keep this script.

We can test change the language code back to NULL for the file name and file description to make sure that cures the problem.

Then we can modify the script to only operate on item metadata.

And we can figure out how to test if this has had any effect on other things like bundles, collections, and commun

[2020-12-23 18:02] alawvt commented on #738
Continues on [Modify update_metadata_language_code.sh to only act on items and remedy on dev, pprd, and prod](https://code.vt.edu/it-services/vtlibans_dspace/-/issues/147)

[2020-12-23 18:21] alawvt commented on #738
That's interesting: my attempts on my LDE to change the file name and file description were not processed in the Edit Item form. However, they show up as additions in the metadatavalue table:

metadata_value_id | metadata_field_id | text_value | text_lang | place | authority | confidence | dspace_object_id
-- | -- | -- | -- | -- | -- | -- | --
6049167 | 55 | Lawrence_AS_D_2017.pdf | en | 0 | NULL

[2020-12-24 01:40] keithgee commented on #738
The above table from your LDE helps to explain what's happening, too. There's a bit of code in Bitstream.java, line 135-137.
[code]
The two null parameters in the call to setMetadataSingleValue - one of them is the language.

setMetaDataSingleValue is used where there's expected to be 0 or 1 matching pieces of metadata, for example, the "title", or name of a single file. It works by first looking

[2021-01-04 14:56] alawvt commented on #738
@keithgee, thank you very much for explaining how DSpace updates a bitstream filename or other non-item metadata. This explains why there are multiple filesnames, but only the older one displays. Since we only want to edit the language code for item metadata, I'd like to limit our fix to that and not change the setMetadataSingleValue. We do have the issue now of a few items having multiple filenam

[2021-01-11 18:35] alawvt commented on #739
This has bee reported again, so we'll close this and note whether it reappears.

[2021-01-11 18:35] #739 closed, assigned to nobody

[2021-01-11 18:50] #712 closed, assigned to pyc1

[2021-01-11 18:53] #726 closed, assigned to nobody

[2021-01-11 18:56] #710 closed, assigned to nobody

[2021-01-19 15:03] alawvt commented on #738
This has been continued and resolved in [Modify update_metadata_language_code.sh to only act on items and remedy on dev, pprd, and prod](https://code.vt.edu/it-services/vtlibans_dspace/-/issues/147).

[2021-01-19 15:03] #738 closed, assigned to nobody

[2021-01-23 09:59] mykienesh opened #741 "ant fresh_install fail"
Hi,

While running ant fresh_install after a successful run of mvn package, it fails on test_database: step

Please assist. Error dump below:
[error.txt](https://github.com/VTUL/vtechworks/files/5860009/error.txt)

[2021-01-26 15:09] alawvt commented on #741
sent to DSpace tech list, https://groups.google.com/g/dspace-tech/c/TcioNS8lIMA.

[2021-01-26 15:09] #741 closed, assigned to nobody

[2021-01-29 13:22] cecross1 opened #742 "Patron can't select collection even though she's in the submitters' group"
A. M. requested submission privileges to the [Institute Publications collection](https://vtechworks.lib.vt.edu/handle/10919/82127) in ICTAS, so I added her to the submitters' group. Later, she told me that when she signs in to her VTechWorks account and tries to start a new submission, she doesn't have any collections to choose from in the drop down list. I double checked the submitters' group for

[2021-01-29 13:29] alawvt commented on #742
This was caused by duplicate epersons for this email address. I have removed the duplicate and contacted the patron.

[2021-01-29 13:31] cecross1 commented on #742
Thanks for catching that! I'm glad it was an easy fix.

[2021-01-29 13:32] alawvt commented on #742
Yes, I searched epersons by first name and found the duplicate.

[2021-01-29 13:32] #742 closed, assigned to nobody

[2021-01-29 17:16] alawvt commented on #742
I reported this issue in [DS-4568 Possible to create multiple epersons with the same email address](https://jira.lyrasis.org/browse/DS-4568).

[2021-01-29 19:08] cecross1 commented on #742
@alawvt Thanks for reporting this.

[2021-02-11 21:41] alawvt opened #744 "Legacy stats page fails to load completely"
The legacy stats page, https://vtechworks.lib.vt.edu/statistics, loads but not completely. That page covers 2019-09-11 to 2021-01-31. The same pages for dev and pprd do load but those pages only cover 2018-03-19 to 2018-06-30.

I logged in the DSpace Demo site as an Administrator and see that this legacy stats page, https://demo.dspace.org/xmlui/statistics, appears the same way, with a long list o

[2021-02-12 16:09] alawvt commented on #744
Each monthly stats report does seemed to have finished on prod.
[code]

[2021-02-12 16:29] alawvt commented on #744
We also can adjust variables in https://github.com/VTUL/vtechworks/blob/vt_6_x_dev/dspace/config/dstat.cfg,

[code]

[2021-02-12 17:32] alawvt commented on #744
- In 2021-01 report, there were 4623 "words" searched 5 times or more.
- Most of these "words" appear to be fragments of uuids, for example, `baa91d8e4e7e`, `47ee`, and `community_id=cc1affb9`.
- An advanced search for `baa91d8e4e7e` yields 1377 results.
- An advanced search for `cc1affb9`  yields results that  include a community whose uuid contains `cc1affb9`.
- In the 2019-08 stats report, "Wor

[2021-02-12 18:59] alawvt commented on #744
I have reported this issue in [DSpaceDS-4570: UUID fragments included in Legacy Usage Reports](https://jira.lyrasis.org/browse/DS-4570).

[2021-03-17 16:36] alawvt commented on #91
https://groups.google.com/g/dspace-tech/c/CBG8lAJ0BeQ/m/wFt67lijBAAJ

[2021-05-04 20:28] alawvt commented on #714
Thanks. This appears complete.

[2021-05-04 20:28] #714 closed, assigned to nobody

[2021-05-05 16:43] IgorBaptist4 commented on #549
Hello, did you find the solution for this bug? I have the same problem with my repository and I am trying to resolve it. Thank you!

[2021-05-05 17:19] alawvt commented on #549
We have not pursued this. I do notice a discussion of it on stackoverflow, https://stackoverflow.com/questions/57421699/how-repair-dspace-list-by-date.

[2021-05-19 17:18] alawvt opened #749 "Collection showing "This collection uses custom default access settings." for Default read access"
A certain collection shows, Edit Collection > Assign Roles > Default read access, shows "This collection uses custom default access settings."

According to http://dspace.2283337.n4.nabble.com/Collection-with-no-quot-Delete-quot-quot-Create-quot-option-on-role-td4686504.html, to fix this, we need to add policies  DEFAULT_ITEM_READ=Anonymous and DEFAULT_BITSTREAM_READ=Anonymous in Authorizations >

[2021-05-19 17:29] alawvt commented on #749
The authorizations now match those of a similar collection.

It seems that the default policies for a collection are:

- DEFAULT_BITSTREAM_READ=Anonymous
- DEFAULT_ITEM_READ=Anonymous
- READ=Anonymous

For Default read access, if you click "Restrict...", that will create a more restrictive read policy.

[2021-05-19 18:05] #749 closed, assigned to nobody

[2021-06-01 19:31] alawvt opened #751 "Change the link to VTechData on the home page"
The link remains the same, https://data.lib.vt.edu/. Change label from "VTechData" to "Virginia Tech Data Repository."

[2021-06-01 19:39] alawvt commented on #751
resolved with #817.

[2021-07-27 16:52] alawvt commented on #702
Installed patch.
Test:
[code]
Result: Subcommunity 10919/55251 appears on the home page, as expected.
[code]
Result: Subcommunity 10919/5525 appears in Community 10919/5555, as expected. However Subcommunity 10919/5525 also appears on the home page.

After < 10 minutes, that subcommunity no longer appears on the home page. There also seems to be a delay in updating the breadcrumb. It might be a ca

[2021-07-27 19:13] #702 closed, assigned to nobody

[2021-07-27 19:13] alawvt commented on #702
Resolved by #756

[2021-07-30 18:41] alawvt opened #757 "Consider changing Handles from HTTP to HTTPS"
Our Handles are currently http://hdl.handle.net/10919/.....

There have been occasional discussions on the DSpace listservs about changing the Handle prefix to HTTPS, [Change handle server assignment: default to https](https://groups.google.com/g/dspace-tech/c/JnXSkS7uayc) and [http and https in handle](https://groups.google.com/g/dspace-tech/c/Tj6qBf6Qjl4).

[2021-07-30 18:51] alawvt commented on #757
The URL is going to CNRI's handle server and needs to be responded to correctly by the proxy server. According to the[ Handle.Net Registry Documentation](https://www.handle.net/hnr_documentation.html),

"CNRI runs a proxy server system described at http://hdl.handle.net. The proxy service is provided by a collection of servers that accept URL requests and know how to talk to the Handle System. A r

[2021-07-30 18:52] #757 closed, assigned to nobody

[2021-08-03 14:28] alawvt commented on #706
I installed the patch with our current theme, `<theme name="Mirage 2 Theme VT colors" regex=".*" path="vtmirage2/" />`, instead of the default, `<theme name="Atmire Mirage Theme" regex=".*" path="Mirage/" />`. The menu on the item displays but is not complete and the links do not go anywhere. Also, I don't see a button at the top of the page.
<img width="1000" alt="CitationStyleLanguagePatchVT_the

[2021-08-03 17:31] alawvt commented on #706
I ran the patch with the default Mirage 2 theme. It built and I added APA.csl. However, when I selected that style and any format, it produced the error,
<img width="1040" alt="Citation_Style_Language_Patch_error" src="https://user-images.githubusercontent.com/13037168/128058381-d64cbb24-ea5a-47df-9557-c64be91b4a5d.png">
Since this patch is based on XMLUI, which will not be used in DSpace 7, I wil

[2021-08-03 17:31] #706 closed, assigned to nobody

[2021-08-03 20:02] alawvt opened #758 "Extend advanced search filters and correct committee chair facet label"
Modify  dspace/config/spring/api/discovery.xml

Add

- searchFilterCallnumber: LC Call Number, dc.subject.lcc (not to patent collection)
- searchFilterJournaltitle: Journal Title, dc.title.serial (not to etd, patent collections)
- searchFilterPublisher: Publisher, dc.publisher (not to patent collection)
- searchFilterRights: Rights, dc.rights, dc.rights.uri (not to patent collection)
- searchFilte

[2021-08-03 20:14] alawvt commented on #758
@pyc1, if there is anything you would like added to the Advanced Search or other Facets, please let me know.

[2021-08-05 16:41] pyc1 commented on #758
Rights should be useful for sure.  Maybe dc.description.version so we can document accepted manuscripts and preprints.

[2021-08-05 17:49] alawvt commented on #758
Thanks, @pyc1. I added version to the list above and implement them now.

[2021-08-09 15:07] alawvt commented on #573
## BTD
OAI etdms output
[code]

[Record in NDLTD](http://search.ndltd.org/search.php?q=subject%3A%22LD5655.V855+1987.T668%22)

Identifer | oai:union.ndltd.org:VTETD/oai:vtechworks.lib.vt.edu:10919/80046
-- | --
Date | January 1987
Creators | Toomhirun, Sontichai
Contributors | Electrical Engineering
Publisher | Virginia Polytechnic Institute and State University
Source Sets | Virginia Tech Theses

[2021-08-09 20:23] alawvt commented on #573
So it looks like NDLTD is mapping
earliest <date>? to Date
<creator> to Creators
<contributor> to Contributors
<publisher> to Publisher
Virginia Tech Theses and Dissertation to Source Sets
English to Detected Language
<type> to Type
derive Format?
<rights> to Rights
<relation> to Relation
<identifier> to Links & Downloads
<subject> to Tag subjects

Hmmm, it's getting format fields even though it i

[2021-08-11 14:32] alawvt commented on #758
Shown below are the new default advanced search filters, which seem to work as expected.
<img width="1033" alt="AdvancedSearchFilters_default_2021-08-11" src="https://user-images.githubusercontent.com/13037168/129047107-43d613ae-ff3e-4d20-a910-4b2ad4d080e5.png">

[2021-08-11 17:34] alawvt commented on #758
Resolved with PR #760

[2021-08-11 17:35] alawvt commented on #758
Did not change Advisor facet label.

[2021-08-11 17:58] alawvt opened #761 "Add latest VT favicon"
Add latest VT favicon, https://assets.cms.vt.edu/favicon/.

dspace/modules/xmlui-mirage2/src/main/webapp/themes/vtmirage2/images/favicon.ico

[2021-08-11 18:20] #761 closed, assigned to nobody

[2021-08-11 18:20] alawvt commented on #761
Resolved with #762

[2021-08-16 15:49] alawvt opened #763 "Consider adding social media sharing links to VTechWorks pages"
Social media sharing buttons on item pages

- How big an issue is tracking?
- Would we get usage info?
- Look at other repositories or ask on listservs

https://stackoverflow.com/questions/45333859/dspace-with-links-to-social-media has instructions for adding addThis button. Is addThis a tracking concern?

[2021-08-16 15:53] alawvt commented on #763
[GDPR and AddThis: Your Questions Answered!](https://www.addthis.com/blog/2018/05/22/gdpr-and-addthis-your-questions-answered/#more-14462)

[2021-08-16 16:41] alawvt commented on #763
VTX, for example, https://vtx.vt.edu/articles/2021/08/unirel-studentvaccinationrate.html, adds links to Facebook (via JavaScript), Twitter, and link copying, rather than through a 3rd party.

[2021-08-16 16:41] #763 closed, assigned to nobody

[2021-08-19 15:39] alawvt commented on #763
The World Bank Open Knowledge Repository also has HTTP links directly to the social media sites.

[2021-08-19 16:26] alawvt commented on #403
Continued in #764.

[2021-08-19 19:51] pyc1 opened #764 "Implement ORCID profile hyperlink for authors"
Achieve a "light" ORCID integration following Duke's example (Sean Aery email, October 2019).

Draft to-do list:

- [ ] Decide on preferred field/format
- [ ] Update Elements crosswalk to preferred format
- [ ] Edit existing ORCID fields in VTechWorks to preferred format
- [ ] Change VTechWorks code to link the preferred field
- [ ] Add ORCID badge
- [ ] Name authority to ensure a match between au

[2021-08-19 20:26] alawvt commented on #764
@pyc1, Sean's email covers  Crosswalk from Elements and DSpace metadata and display so it includes these tasks:

- Decide on preferred field/format
- Update Elements crosswalk to preferred format
- Edit existing ORCID fields in VTechWorks to preferred format
- Change VTechWorks code to link the preferred field
- Add ORCID badge

but not

- Name authority to ensure a match between author and ORCID

[2021-08-20 17:49] alawvt commented on #764
Current situation:

- Our ORCID documentation, including Sean's correspondence is in [Name authority](https://code.vt.edu/digital-research-services/VTechWorks_Documentation/-/wikis/name_authority)
- Our deposit crosswalk from Elements maps metadata in the form, lastname, firstname [ORCID#] to dc.identifier.orcid. It also does the usual mapping of authors to dc.contributor.author, so Sean's method

[2021-08-23 15:19] alawvt opened #765 "Implement IRUS-US statistics"
From: Hannah Rosen
Date: Mon, Aug 23, 2021 at 10:31 AM
Subject: IRUS implementation instructions
To: Philip Young

Hi Philip,

I hope you are well. We are working on the invoice for your IRUS service. In the meantime, you can start implementing the tracker on your repository.

1. First install and enable the tracker (see https://irus.jisc.ac.uk/r5/participate/implement/) pointing to the test endpo

[2021-08-23 18:36] alawvt commented on #758
[code]

[2021-08-23 19:39] alawvt commented on #765
- [x] verify firewall

[code]
- [x] download and apply patch
[code]
- [x] commit and push patch
- [x] vagrant up
At this point the repository is viewable in the browser.
- [x] install database
At this point the repository gives a 404 error
- [x] run flyaway
[code]
Now the repository is viewable again in the browser

- [ ] test on LDE
- [x] update stats.tracker.produrl = https://irus.jisc.ac.uk/cou

[2021-08-23 20:58] alawvt commented on #765
Partially resolved with #766

The maven build seems ok:
[code]

The jar seems to be there:
[code]

[2021-08-24 19:08] alawvt opened #767 "Investigate adding the VT footer to VTechWorks"
Investigate adding the VT footer to VTechWorks

Options

- [VT University Relations brand header footer repository](https://code.vt.edu/unirel/brand-header-footer)
- The footer that we created as a web component is at https://code.vt.edu/awaldren/customelement-footer   The JavaScript is hosted so this would just mean adding the scripts from that project to DSpace.  This is probably much easier to

[2021-08-24 19:27] alawvt opened #768 "Update VT brand colors"
Update VT brand colors

[VT Brand Guidelines 2019-10-29](https://brand.vt.edu/content/dam/brand_vt_edu/downloads/FINAL%20Brand%20Guidelines%2010.29.19.pdf)
[code]

[2021-08-24 19:58] alawvt commented on #768
first commit: update values for Chicago Maroon and Burnt Orange; links are the current non-VT brand color. Normally, with the list of communities, there would many more links on the home page.

<img width="1023" alt="UpdateVT_brannd_colors_1" src="https://user-images.githubusercontent.com/13037168/130681576-84c15ee0-3659-480f-ba70-9c67be2e559a.png">

[2021-08-24 20:11] alawvt commented on #768
later commits: To match VT News, https://vtx.vt.edu/:

- updated $chicago-maroon and $burnt-orange to latest standards
- changed <a> links to burnt-orange and underlined, so they would accessible, since they don't have sufficient color contrast with the surrounding text
- changed <a> links in xmlu-news from bold to not bold and underline

<img width="1110" alt="UpdateVT_brannd_colors_5" src="https

[2021-08-24 20:15] pmather opened #769 "Make DSpace logs rotate using org.apache.log4j.DailyRollingFileAppender"
Logs produced by VTechWorks DSpace rotate log files via the application
using the log4j framework.  The logging is defined via log4j properties
files.  Currently, different log files are rotated using a daily file
rotation logger.  The logs for "dspace.log", "checker.log", and
"cocoon.log" are rotated using org.dspace.app.util.DailyFileAppender
(defined in /dspace/config/log4j.properties).  Solr l

[2021-08-24 20:43] alawvt commented on #768
3rd commit: cadet-blue for links looked ok but had insufficient color contrast to surrounding text.
4th commit: a better shade of burnt orange (web) for links
<img width="1023" alt="UpdateVT_brannd_colors_4" src="https://user-images.githubusercontent.com/13037168/130687054-c796ab3b-d6ae-4c81-bcb5-d2a2e66fce27.png">
@pyc1, what do you think of this?

[2021-08-25 11:41] pyc1 commented on #768
I'm having a hard time seeing the changes, other than the orange horizontal line at the top (I like the brighter orange that we currently have).  I can't see how the link color is different, sorry.

[2021-08-26 15:29] alawvt commented on #768
Resolved by #770.

[2021-08-31 16:40] alawvt commented on #768
I looked at the theme.  I think one issue is that the maroon got lighter and the orange got darker and they aren't that far apart anymore.  It's difficult to distinguish the horizontal orange line at the top - at a glance it looks maroon too.  Maybe we could use the new maroon and the old orange?  I also don't care for the links turning light blue.  Does that help accessibility, or is the underlin

[2021-08-31 16:49] alawvt commented on #768
I agree that the new maroon and orange aren't far apart. We could go back to a browner orange for the links like we have on production now. I don't think the new orange changed the horizontal bar. I don't know if the blue for link hovering is necessary for accessibility, it is what the VT New had. Here is a screenshot of another orange shade,
<img width="1023" alt="UpdateVT_brannd_colors_4" src="h

[2021-09-08 19:11] alawvt opened #771 "In local.cfg, add SWORD to xmlui.bundle.upload"
In local.cfg, add SWORD to xmlui.bundle.upload

vtechworks/dspace/config/local.cfg
[code]
also

dspace/modules/xmlui/src/main/webapp/i18n/messages.xml
[code]

[2021-09-08 19:45] alawvt commented on #771
Resolved by #772

[2021-09-08 19:46] #771 closed, assigned to nobody

[2021-09-09 15:13] alawvt commented on #765
In the DSpace log, I see
[code]
The problem, then, is related to “Usage Statistics are not logged if usage-statistics.dbfile is not configured, or if IP is not mappable to a location #2965” - https://github.com/DSpace/DSpace/issues/2965

IP address 172.20.7.12 is a private address and therefore not mappable to a location. Is it the address of a proxy? If so, it needs to be configured to forward th

[2021-09-13 15:25] alawvt commented on #765
Turning on Debugging (optional)

If you'd like to try and do some debugging yourself, you can change the DSpace logger settings to DEBUG which will sometimes provide you with more information about the error. To turn on debugging, visit the [dspace]/config/log4j.properties file and do the following:

To enable DEBUG logging in the dspace.log file, change the log4j.rootCategory and log4j.logger.org

[2021-09-13 20:35] alawvt commented on #765
The VT Libraries uses a private IP network for staff including 172.20.7.12. @soumikgh tested it with another IP address in the VT IP range but not in the private network. When he used that the `ERROR org.dspace.statistics.SolrLoggerServiceImpl @ Unable to get location of request: ` message did not appear. However the two atmire debug messages,
[code]
do not appear.

[2021-09-22 19:09] alawvt commented on #765
To get around the private IP issue in my LDE, I used curl with X-Forwarded-For to request the item and a bitstream,
[code]
log:
[code]
and
[code]
log:
[code]
Attached
[dspace.log.2021-09-22_DEBUG.txt](https://github.com/VTUL/vtechworks/files/7213624/dspace.log.2021-09-22_DEBUG.txt)
is the dspace.log.2021-09-22 output at the DEBUG log level for
[code]

In this log, this gets rid of the IP location

[2021-09-22 20:05] alawvt commented on #765
I have reported this issue in [DSpace 6.3 IRUS patch troubleshooting #7](https://github.com/atmire/IRUS/issues/7) in the [Atmire DSpace IRUS-UK patch repository](https://github.com/atmire/IRUS).

[2021-09-23 17:27] pyc1 opened #773 "SWORD deposits from ACM troubleshooting"
Tom Gibson at ACM is having trouble sending SWORD v2 submissions to us:

`-i --data-binary ""@/var/www/cfapi/repositoryManagement/files/3442381.3450060/3442381.3450060.zip"" -H ""Content-Disposition: attachment; filename=3442381.3450060.zip"" -H ""Packaging: http://purl.org/net/sword/package/METSDSpaceSIP"" -u acmopen@hq.acm.org:password -X POST https://vtechworks.lib.vt.edu/handle/10919/105038
`

[2021-09-23 17:29] pyc1 commented on #773
[swordResponse.txt](https://github.com/VTUL/vtechworks/files/7219642/swordResponse.txt)

[2021-09-24 16:27] alawvt commented on #773
Tom, It looks like what you received was the HTML for the collection page, https://vtechworks.lib.vt.edu/handle/10919/105038.

I am able to load art_4959256494595851995.zip, which contains PDF and mets.xml, with the following command using sword v1:

`curl -i --data-binary "@art_4959256494595851995.zip" -H "Content-Disposition: filename=art_4959256494595851995.zip" -H "Content-Type: application/zi

[2021-09-24 19:32] alawvt commented on #773
I sent a query to the DSpace tech listserv, [SWORD v2 zip submission fails to parse mets.xml](https://groups.google.com/g/dspace-tech/c/ED4xN61YyMY).

[2021-09-27 12:48] alawvt commented on #773
I haven't found any difference in the METS between SWORD v1 or v2. You might try changing the packaging header directive to 'Packaging' instead of 'X-Packaging'.
 Apparently  -H "Packaging:...." was required for v2. On 6.3 we've had success with:

/usr/bin/curl --basic --user myn...@mit.edu:$mypass -i -T "./PhysRevB.99.075430-mets.zip" -H "Content-Disposition:attachment; filename=PhysRevB.99.07543

[2021-09-27 12:50] alawvt commented on #773
Carl,

Thank you very much for your help which resolved my issue. Indeed,  -H "Packaging:http://purl.org/net/sword/package/METSDSpaceSIP" seems to be required for SWORDv2 and -H "X-Packaging: http://purl.org/net/sword-types/METSDSpaceSIP" is required for SWORD. X-Packaging and the URLs are different.

So, to summarize:

`curl -i --data-binary "@art_4959256494595851995.zip" -H "Content-Disposition:

[2021-09-28 13:49] alawvt commented on #765
@keithgee built an LDE at his remote location and the tracker is working with expected DEBUG messages. He temporarily opened his IP and JISC reports seeing activity from his IP in the logs for their test server.

He tested [retry failed trackings](https://atmire.github.io/IRUS/#/functionality) by disconnecting his wireless. This created the error in the log,
[code]
This produced the entry in the d

[2021-09-28 14:51] alawvt commented on #765
Since @keithgee 's LDE works, I suspect that it is due to his having an IP outside of the VT Libraries subnet. At VT Libraries, I did try both the VPN and Eduroam wireless with my iMac, but still no tracker DEBUG messages. At home with my home ISP, I created a new Vagrant box and ran tail. There were no debug messages from atmire when I selected items and files. We have compared installation metho

[2021-09-29 11:59] alawvt commented on #765
Let me give you a summary of what I did:

(1) Installed the patch for dspace 6.3 from https://atmire.github.io/IRUS/#/prerequisites

(2) I had to make an additional change to the patch because the IPs IRUS was getting were not of the users, but of our server:

In this file:  dspace/dspace/modules/atmire-statistics-exporter/atmire-statistics-exporter-api/src/main/java/com/atmire/statistics/expor/Ex

[2021-09-29 14:00] keithgee commented on #765
I created 3 LDEs here and got the atmire DEBUG messages without doing anything special. However, I was testing on the third LDE this morning and it worked for a few minutes, but then stopped working. This was just a few minutes ago and I haven't been able to make it work again.

[2021-09-29 14:49] alawvt commented on #765
We temporarily disabled the VT restriction on dev and the DEBUG atmire messages did not appear.

Further testing ideas:

- Create a new user on his laptop and create a new LDE on it
- Attach a debugger

[2021-09-29 15:01] keithgee commented on #765
My third LDE started working again after I halted it to make sure that the second LDE was still working, and then restarted it.

[2021-09-29 17:55] alawvt commented on #765
@keithgee, would you upload a DEBUG level log for a bistream download to match the one I uploaded for

[code]
I'd like to see where the two logs diverge. Thanks.

[2021-09-29 19:15] keithgee commented on #765
@alawvt I can do this in a bit, but I don't have this bitstream in any of my LDEs. So I expect the IRUS stats code will not run because of an error before that time. I'll give it a shot and see what happens.

[2021-09-29 19:16] alawvt commented on #765
Oh, you can load any test file. I don't think that will matter. But it's here, https://vtechworks-dev.cloud.lib.vt.edu/handle/10919/103119.

[2021-09-29 20:09] keithgee commented on #765
@alawvt I've emailed a log file to you. I discovered something. Remember when I said that uploading a bitstream broke the IRUS stats on my LDE earlier? I thought it happened again just now, but not quite, in both cases. When I'm logged in, the IRUS stats are not reported. When I'm not logged in, they are reported. Do you know if this is by design? I'm examining the code for the supplied patch now,

[2021-09-29 20:14] alawvt commented on #765
Thanks for the log file. That's really interesting. Are you saying that the log event is recorded after you log out of your computer or out of VTechWorks on your LDE or something else?

[2021-09-29 20:18] keithgee commented on #765
Here are the steps.

1. Visit the web interface without being logged into the web interface. IRUS stats DEBUG messages show in the log file when viewing items.
2. Log in (in both cases it was to upload a bitstream for testing, but that was probably coincidental). IRUS stats DEBUG messages do not show in the log file. I incorrectly think they just stopped working completely on my LDE.
3. Log out of

[2021-09-30 13:58] davidatmire commented on #765
in case this is still useful :
https://github.com/atmire/IRUS/issues/7

[2021-09-30 14:06] alawvt commented on #765
@keithgee, @davidatmire left a very useful comment in https://github.com/atmire/IRUS/issues/7#issuecomment-931347452, that traffic from logged in admins is not tracked.

[2021-09-30 14:44] alawvt commented on #765
@keithgee, thank you very much for the logs. Comparing the logs for downloading a bitstream on your LDE to my laptop using eduroam, I see:

Yours:
[code]
Mine:
[code]
Observations:

- Yours has the atmire DEBUG statements.
- The `INFO  org.dspace.usage.LoggerUsageEventListener` are about identical with same ip_addr.
- Yours does not have the Google events.
- Yours has the  `ERROR org.dspace.statis

[2021-09-30 15:54] alawvt commented on #765
On dev, dspace.log.2021-09-29 contains:
[code]

which matches the log from my LDE.

[2021-09-30 15:57] keithgee commented on #765
No, Geolite database is not installed on any of my LDEs

[2021-09-30 20:15] alawvt commented on #765
@keithgee and I built new LDEs on our laptops with `ansible -v`. I compared the logs, not in-depth, and didn't see obvious differences.

[2021-10-01 19:30] alawvt commented on #765
in you LDE, in dspace/config/modules/usage-statistics.cfg, what is there for usage-statistics.dbfile? Is it commented out?

It’s worked for me with it commented out, with an entry there but the file missing, and with the entry there and the file in place. The latest LDE has `usage-statistics.dbfile = ${dspace.dir}/config/GeoLite2-City.mmdb`
but the actual file is missing- @keithgee

[2021-10-04 13:13] alawvt commented on #765
I created another LDE on my MacBook and deleted the database in it with
[code]
Then I [packaged the vagrant box](https://www.vagrantup.com/docs/cli/package) with
[code]
Note: The IP for this is 192.168.60.5
It is ~10 GB. I loaded it to Shared Drive, VTechWorks/Technology/IRUS_troubleshooting/.

Following the instructions in https://scotch.io/tutorials/how-to-create-a-vagrant-base-box-from-an-exist

[2021-10-04 15:47] alawvt commented on #765
With Vagrantfile,
[code]
Vagrant up builds and I loaded the db. But it gives a 404.

[2021-10-04 16:56] alawvt commented on #765
@keithgee built the machine directly, without using Vagrant and it, too, wored for the atmire stats.

I decided to try this myself. I updated the instructions in [vtlibans readme - Option 2: Redeploy dspace changes, building with maven on local computer and rsync to vm]( https://code.vt.edu/it-services/vtlibans_dspace/-/blob/master/README.md#option-2-redeploy-dspace-changes-building-with-maven-on-

[2021-10-06 12:22] alawvt commented on #773
The mets.xml file is parsed by DSpace for metadata for both SWORD and SWORDv2. The extra XML file deposited by our SWORDv2 submitter is not parsed upon upload but is made available, e.g. https://vtechworks.lib.vt.edu/handle/10919/105028.

BioMed Central and MDPI use SWORD v1. Hindawi uses SWORD v2.

[2021-10-15 17:48] alawvt commented on #720
map DOI correctly from both dc.identifier.url and dc.identifier.doi.

[2021-10-15 18:25] pyc1 commented on #720
I think you mean dc.identifier.uri and dc.identifier.  I'm not sure that we get any that go correctly into dc.identifier.doi.

[2021-10-15 19:55] alawvt commented on #720
One publisher is also sending us `<epdcx:statement epdcx:propertyURI="http://purl.org/dc/terms/idendifier/doi">
epdcx:valueString10.3390/robotics10040109</epdcx:valueString>
</epdcx:statement>`.

[2021-10-18 19:04] alawvt commented on #765
I built dspace manually on my iMac and the atmire debug messages appear. Now I can compare it to the one in the LDE.

The log shows the two Atmire debug messages immediately preceeding the other messages that appear in my LDE.
[code]

[2021-10-20 15:57] alawvt commented on #765
For debugger Intellij IDEA,`ExportUsageEventLIstener.java` If you put one in that file, though, you should be able to see frames/stacktrace and work backward/s - since we have a working version. - @keithgee

The DSpace server built ok with the the IDEA Community Edition. To add the Tomcat server we'll need the IDEA Ultimate edition (30 day trial).

[2021-11-11 19:48] alawvt opened #775 "Research options for storing permission files in DSpace"
As needed, we have permission files to host copyrighted content. Please research options to store permission files in DSpace. Ideally the files would not be indexed nor seen by the public.

The easiest way to NOT display permission files is to load them to a bundle other than ORIGINAL. We could create a new bundle, e.g. PERMISSION or use an existing bundle, LICENSE or METADATA. (SWORD, CC-LICENSE,

[2021-11-15 21:11] #775 closed, assigned to nobody

[2021-11-15 21:11] alawvt commented on #775
We will use the LICENCE bundle to store permission files.

[2021-12-09 20:53] alawvt opened #776 "Implement Matomo statistics"
Implement [Matomo](https://matomo.org/) (formerly Piwik) statistics on VTechWorks.

Related to issue, [Implement Matomo statistics for VTechWorks in vtlibans](https://code.vt.edu/it-services/vtlibans_dspace/-/issues/162)

## Possible resources
- [Installing Matomo](https://matomo.org/docs/installation/)
- [Matomo Analytics  GitHub repository](https://github.com/matomo-org)
- [Dspace and Piwik Inte

[2021-12-10 21:56] alawvt commented on #776
I believe we want to add the script to https://github.com/VTUL/vtechworks/blob/vt_6_x_dev/dspace/modules/xmlui-mirage2/src/main/webapp/themes/vtmirage2/xsl/core/page-structure.xsl, just after the Altmetric script, line 333,
[code]

[2021-12-13 14:37] alawvt commented on #682
Try adding [ds-4034 #2276](https://github.com/DSpace/DSpace/pull/2276)

(Don't use [ds-4034 #2698](https://github.com/DSpace/DSpace/pull/2698) because this is for DSpace 7.)

[2021-12-13 20:22] alawvt commented on #776
Resolved by PR #778.

[2021-12-13 20:41] alawvt commented on #776
This has been pushed to branch vt_6_x_dev_deploy for testing on vtechworks-dev.

[2021-12-16 16:45] alawvt commented on #682
[DS-4034 #2276](https://github.com/DSpace/DSpace/pull/2276) affects
[code]

[ DS-4291 Properly show results for 0-9 link in browse #2463 ](https://github.com/DSpace/DSpace/pull/2463) was merged earlier and affects
[code]
Since they both affect `dspace-api/src/main/java/org/dspace/browse/BrowseEngine.java`, I will attempt to patch with both.

[2021-12-16 19:01] alawvt commented on #682
This patch strips diacritics in the search term and returns all names with and without the diacritic(s). For example, a search for `Tauber` or a search for `Täuber` both yield the same results shown below.
<img width="1044" alt="DS-4034_PR2276_author_brwose_diacritics" src="https://user-images.githubusercontent.com/13037168/146432033-c439cb9f-71a5-4d13-9bec-9f6cdeadc990.png">
.

[2021-12-16 19:39] alawvt commented on #767
It looks like the project for the Libraries' footer is [vtlib-footer](https://code.vt.edu/awaldren/vtlib-footer).

The VT footer is pretty complex. Also, I notices differences between the one in https://code.vt.edu/unirel/brand-header-footer and what is actually on the VT Libraries' pages. Given our staff size, I am concerned that we might have difficulty keeping up with changes to the VT footer.

[2021-12-16 19:51] alawvt commented on #682
When I click on Browse by Author - "0-9", the authors "21st Century Charter School" and "24th Street Baptist Church" are now listed so the 0-9 patch also seems to be working. The LDE is still indexing.

[2021-12-16 20:25] alawvt commented on #767
I think it's a great idea to add to the library's footer to VTechWorks! I created a web component for the code, so that would be the best way to add it to the site.  The code for it is in this repository: https://code.vt.edu/library-web-services/customelement-footer.

The Readme file explains how to use it, but basically you would want to include this code in the header portion of the page:
[code]

[2021-12-16 21:52] alawvt commented on #682
Resolved with PR #779.

[2021-12-16 21:53] #682 closed, assigned to nobody

[2021-12-17 15:46] alawvt commented on #767
It doesn't look like the VT footer gets added with this script. How are you adding the VT footer to the library web page? Is it added in the CMS or are you coding it?
_____
That is correct, the CMS has additional branding controlled by University Relations. The library's branding does not include the additional VT footer or the black very top bar. Here's an example of a fully branded library websi

[2022-01-13 20:26] alawvt commented on #776
Added commit 0045d37fc4a8188cd9fee420ef9bb5f307536fdb

[2022-01-19 17:15] alawvt commented on #758
Please add sort by Accession Date ascending and descending. This will be especially useful for checking recent Elements submissions.

[2022-01-21 14:10] alawvt opened #781 "Research supporting oEmbed/OpenGraph in VTechWorks"
A faculty requests

I'm using Discourse as the discussion forum in my classes.

When I put a URL such as https://vtechworks.lib.vt.edu/handle/10919/78293 into a post, I see:

Sorry, we were unable to generate a preview for this web page, because the following oEmbed / OpenGraph tags could not be found: description, image

Would you consider adding support for oEmbed/OpenGraph to VTechWorks?

_____

[2022-03-14 17:09] alawvt opened #788 "Error responding to request-a-copy"
This seems much like #497.

When a staff member tried to reply to a Request-a-copy, declining access to the document with a custom message, they received the "Page Currently Unavailable" error page.  They could access the rest of VTechWorks normally.  They have replied to these successfully before and since. It's just this one that is not working.

[2022-03-14 17:42] alawvt commented on #788
The staff member replied, This might be happening because the sender submitted a junk email address. See below in bold.

I tested this on vtechwoks dev: I submitted a request for a restricted file. In the resulting request email, I clicked on the link; then selected the "Don't send copy" button.

The response was `550 5.1.1 <2gmail.com7amod.333>: Recipient address rejected: User unknown in local r

[2022-03-14 17:42] #788 closed, assigned to nobody

[2022-05-05 21:30] alawvt commented on #773
We received it but only this parsed:

Democratizing Cellular Access with CellBricks

dc.description.provenance | Submitted by ACM SWORD (acmopen@hq.acm.org) on 2021-10-05T20:32:16Z No. of bitstreams: 2 3452296.3473336.pdf: 1842050 bytes,  checksum: 959bbeaedfb1e4248b705cfb21b0bf67 (MD5) 3452296.3473336.zip: 1796525 bytes, checksum: 93acadf9ddbfb2116caa2337b3a9f2ec (MD5) | en
-- | -- | --
dc.title

[2022-05-05 21:30] alawvt commented on #773
I think you may have called it with this UTF encoding issue – I’ve made an adjustment to keep it at 8.  I’ve also just submitted a paper successfully.  How do things look? - Tom

[2022-05-05 21:31] alawvt commented on #773
It seems like we are getting the items consistently now. The latest, 3409118.3475142.zip, is declared as UTF-8 and actually is.

Only a few fields in mets.xml are parsed by our crosswalk, sword-swap-ingest.xsl, because only the title, id, and date are in the crosswalk. I suggest using the fields in the crosswalk, as much as possible. You can include other fields and we may modify the crosswalk to

[2022-05-05 21:32] alawvt commented on #773
Which fields among those you see in the XML do you want conveyed? I ask because there are a number of datapoints that I’ve tried sending that don’t have representation on the sword-swap-ingest page you linked me to.  Data points such as DOI, which eRights form was selected, an array of author information, the paper’s publisher, I could go on.

Is this something you encounter often or am I missing

[2022-05-05 21:33] alawvt commented on #773
In general, we want as much metadata as possible. If a metadata value can't be added with the tags in sword-swap-ingest.xsl, it is fine to add them and we'll try to improve that crosswalk to map them later. It would be great if the extra tags matched those sent by other vendors which are listed in issue,  #720.

I have attached an annotated mets.xml file for 3409118.3475142.zip with our suggestion

[2022-05-06 14:26] alawvt commented on #765
We won't continue this project.

[2022-05-06 14:26] #765 closed, assigned to nobody

[2022-05-06 18:07] alawvt commented on #720
Tom Gibons from ACM notes that only some of their materials have Creative Commons licenses, so we might not be able to add that for all.

[2022-05-11 17:26] alawvt commented on #720
When I referred to dc.title, that is the destination field for the title. The BiomedCentral sample attached, art_4959256494595851995.zip, was deposited in VTechWorks at https://vtechworks.lib.vt.edu/handle/10919/78663?show=full.

The mets.xml file references the epdcx (ePrints Dublin Core) metadata schema

`xmlns:epdcx="http://purl.org/eprint/epdcx/2006-11-16/"`

which defines this field.

The met

[2022-05-11 17:27] alawvt commented on #773
When I referred to dc.title, that is the destination field for the title. The BiomedCentral sample attached, art_4959256494595851995.zip, was deposited in VTechWorks at https://vtechworks.lib.vt.edu/handle/10919/78663?show=full.

The mets.xml file references the epdcx (ePrints Dublin Core) metadata schema

`xmlns:epdcx="http://purl.org/eprint/epdcx/2006-11-16/"`

which defines this field.

The met

[2022-05-11 17:27] #720 closed, assigned to nobody

[2022-06-06 18:06] alawvt commented on #744
2022-06-06: It seems like the problem with UUID fragrments in the words issue remains. Loading the legacy stats page is much faster now, so that seems resolved. Since DSpace no longer supports legacy stats, I will close this issue.

[2022-06-06 18:06] #744 closed, assigned to nobody

[2022-06-06 18:09] alawvt commented on #769
@pmather, it seems like we have the dspace and solr log rotation working by other means. Shall I close this issue?

[2022-06-06 18:55] pmather commented on #769
This issue concerns logs, not stats, so the recent sharding of stats in the Solr cores would not be a reason to close this issue in my opinion.

It may be that DSpace log rotation has changed in DSpace 7, so this issue may be superseded  by events.  However, it would be nice if @keithgee could take a look as to whether the current logging class could be substituted for the one that Solr is using.

[2022-06-06 19:13] alawvt commented on #769
Thanks, @pmather, our agenda for the DevOps meeting next week is pretty full but we'll keep this on the backlog.

[2022-06-09 15:59] alawvt opened #799 "Figure out why ETD submission that was supposed to be withheld did not include that in the provenance field"
Figure out why ETD submission that was supposed to be withheld did not include that in the provenance field. Check if It is also missing the author's email address. I think this has happened before, too. When I tested both a withheld and unrestricted ETD submission, both had those provenance fields.

[2022-06-09 16:01] alawvt opened #800 "Adjust ETD submission form to ask if it is withheld for a patent"
Adjust ETD submission form to ask if it is withheld for a patent. We'll need to ask manually for now.

[2022-06-09 16:12] alawvt commented on #799
I checked and am not able to submit an item without choosing one of the withheld options.

[2022-06-09 16:29] alawvt commented on #800
maybe we don't need this since it already has an optional field for the withholding reason.

[2022-06-09 16:29] #800 closed, assigned to nobody

[2022-06-09 16:43] alawvt commented on #799
I found one other with this problem in the past few months and checked with the Graduate School about it.

[2022-06-17 20:35] #781 closed, assigned to nobody

[2022-06-23 21:43] alawvt opened #802 "Create a new sheet in the VTechWorks stats page and link to it from the home page"
Please

- [x] Create a new sheet in the VTechWorks stats page for FY2022-2023 - @pyc1
- [ ] Update the link to it from the home page - @alawvt

[2022-06-23 21:59] alawvt opened #803 "Revert IRUS stats changes"
Continues #765

Since we were unable to get the IRUS patch on DSpace 6.3 to work,

- [ ] revert the IRUS patch changes.
- [ ] Update the vtlibans READme

IRUS stats are available in DSpace 7. We will try again with DSpace 7.

[DSpace 7 Wiki - Exchange usage statistics with IRUS](https://wiki.lyrasis.org/display/DSDOC7x/Exchange+usage+statistics+with+IRUS)

[2022-06-24 19:00] pyc1 commented on #802
New sheet: https://docs.google.com/spreadsheets/d/1mlezt-iN0rPwnWYJtop82s8_eM3J7-hjzbgjmw88GIc/edit#gid=472015118

[2022-07-06 12:21] pyc1 opened #805 "Collection deletion problem"
I'm unable to delete the original collection in CAUS, Higher Education Policy for Minorities, https://vtechworks.lib.vt.edu/handle/10919/82860.  I've deleted several other collections after I've moved them as part of the university reorganization with no problem.  Yesterday afternoon and this morning I'm getting the "Page Currently Unavailable" message whenever I try to delete this collection.  I'

[2022-07-06 12:39] alawvt commented on #805
I am also getting the "Page Currently Unavailable" message. I downloaded the metadata of the new collection and all those items look fine with only the new collection handle in the handle column. I exported the metadata for the old collection and it only has a header row: `id, collection`. I exported the old collection and the email was,

I renamed the collection, "Legacy collection to delete" and

[2022-07-06 16:13] keithgee commented on #805
I have found this issue in the log and it may be related:
2022-07-06 12:11:01,243 ERROR org.hibernate.engine.jdbc.spi.SqlExceptionHelper @ ERROR: update or delete on table "item" violates foreign key constraint "requestitem_item_id_fkey" on table "requestitem"

(I was looking during stand up  meeting today - other times with the same message match previous attempts)

[2022-07-06 16:35] alawvt commented on #805
@keithgee, thank you very much for thinking about the DSpace log. In the Storage Layer, https://wiki.lyrasis.org/display/DSDOC6x/Storage+Layer?preview=/68069687/78157937/dspace6.png, It looks like the requestitem table contains information from the request-a-copy form. I wonder if there were outstanding request for items from that collection if that could cause this error. Although it seems like t

[2022-07-06 16:52] alawvt commented on #805
I found one item in this collection that was withdrawn and moved it to the new collection. It still won't delete the legacy collection. I will check for other items. There were some request-a-copies for items in this collection. Maybe some are still outstanding.

[2022-07-06 16:58] keithgee commented on #805
Anne, it looks there was indeed an outstanding request for an item from that collection. The item was requested on June 22, 2020. However, that item was withdrawn on May 13th 2020 but somehow still discoverable. The request is still pending today.

I'm guessing that deleting a collection does a cascading delete on all of the items that the collection owns. Then this particular item can't be delete

[2022-07-06 16:59] keithgee commented on #805
Okay let me pop on slack and we can compare notes.

[2022-07-06 17:00] alawvt commented on #805
I found that second item that was withdrawn and moved it to the new collection. Then I was able to delete the legacy collection, sub-community, and community -- Victory!

Lesson: moving items via a spreadsheet doesn't move withdrawn items in that collection.

[2022-07-06 17:06] keithgee commented on #805
Btw, here's a link to instructions for a tool about moving communities in a hierarchy, although it seems not to apply to collections:
Community-Filiator
https://wiki.lyrasis.org/display/DSDOC7x/Managing+Community+Hierarchy

[2022-07-06 17:07] keithgee commented on #805
Thank you for resolving this issue so quickly, @alawvt !

[2022-07-06 17:10] alawvt commented on #805
Thank you, @keithgee!

[2022-07-06 17:10] #805 closed, assigned to nobody

[2022-07-06 17:23] alawvt commented on #805
I tested on dev: an item that is in Withdrawn that hasn't been requested will be deleted when its owning collection is deleted.

[2022-07-15 16:47] alawvt opened #807 "Add additional disciplines to OMALS submission form"
Please add disciplines:

- Agribusiness
- Applied Animal Behavior and Welfare

to the OMALS submission form

[2022-07-18 17:34] alawvt opened #810 "Overview: Migrate to DSpace 7"
Continues [Plan testing and migration to DSpace 7](https://code.vt.edu/it-services/vtlibans_dspace/-/issues/173)

## Strategy

We will move to DSpace 7 as smoothly as possible, ensuring VTechWorks current functionality and user experience. For the initial migration we will not enable entities. This will allow us to migrate our existing collections hierarchy and associated metadata as-is. Once we a

[2022-07-18 21:16] alawvt opened #811 "Write DSpace 7 bug and feature request tickets to match DSpace 6.3 XMLUI functionality"

[2022-07-18 21:26] alawvt commented on #811
- [Search Facet: Increase the number of options displayed with each "Show more" click #8429](https://github.com/DSpace/DSpace/issues/8429) - ok, is configurable
- [In facets, vertically align checkbox with first word of option #1711 ](https://github.com/DSpace/dspace-angular/issues/1711) - resolved
- [Add breadcrumb navigation (option) #1784](https://github.com/DSpace/dspace-angular/issues/1784) -

[2022-07-25 18:34] alawvt commented on #811
## DSpace 6 XMLUI vs DSpace 7 comparison
### Will need to test locally
- Video playback: @keithgee, I created an item on DSpace 7 Demo and uploaded .mp4, .vtt, and .png files to the item. When I clicked on each file in Item View, it downloaded the file but did not display it. Tim confirmed that the media players are disabled on Demo. We will need to test this on our test server.
- we'll need to te

[2022-08-01 13:27] keithgee commented on #621
A bit (!) of a delay, but this is complete. Shards 2011 - 2021 are installed on production, and shards from 2011-2019 have been converted to have the UUID. (2020 and 2021 shards did not have any records missing the UUID, given that our installation was in 2019).

I will put more details about sharding in our private wiki on Gitlab.

[2022-08-01 13:27] #621 closed, assigned to keithgee

[2022-08-01 13:38] alawvt commented on #621
@keithgee, thank you so much for completing this Herculean task! @soumikgh, thank you very much for setting up the virtual machined to enable this work. No longer are there the legacy stats subtotals in the stats pages:
<img width="1188" alt="SOLRstats_after_sharding_and_conversion" src="https://user-images.githubusercontent.com/13037168/182159684-64446a86-0786-44a5-8ea8-95d47de1eb49.png">

[2022-08-15 18:08] alawvt commented on #811
Make a list of lists per https://github.com/DSpace/dspace-angular/issues/1764#issuecomment-1215161906.

[2022-09-07 19:17] alawvt opened #812 "Reassign the request-a-copy recipient for testbanks"
Use the method described in [Reassign submitter email address for Request a Copy #1785](https://github.com/DSpace/dspace-angular/issues/1785) to reassign the request-a-copy email address for testbank files in VTechWorks that are not (and should not) be publicly accessible: [item 1](http://hdl.handle.net/10919/93404) and [item 2](http://hdl.handle.net/10919/104179). The rights are set up correctly

[2022-09-12 17:33] pyc1 commented on #751
Change the first sentence on the page to:

VTechWorks provides global access to Virginia Tech scholarship, and is the repository for the university's [open access policy](https://guides.lib.vt.edu/oapolicy/).

[2022-09-12 20:22] #803 closed, assigned to nobody

[2022-09-12 20:23] alawvt commented on #803
Resolved with #814

[2022-09-12 20:26] alawvt commented on #811
Done, at least for now.

[2022-09-12 20:26] #811 closed, assigned to nobody

[2022-09-12 20:34] alawvt commented on #802
Also, change the first sentence on the home page to:

VTechWorks provides global access to Virginia Tech scholarship, and is the repository for the university's [open access policy](https://guides.lib.vt.edu/oapolicy/).

[2022-09-19 18:47] #751 closed, assigned to nobody

[2022-09-19 18:55] alawvt opened #818 "Upgrade to DSpace 6.4"
Upgrade to DSpace 6.4

[DSpace 6.4 Release Status](https://wiki.lyrasis.org/display/DSPACE/DSpace+6.4+Release+Status)

[2022-09-26 18:47] keithgee commented on #811
Continued in #819

Another local only issue - if we are going to remove Nginx, (and I do think having fewer components is a good idea), we'll need some guidance from the sysadmins on how to handle forwarding from old, deleted urls of duplicate items to the remaining item, which is now handled with nginx. From previous gitlab issues and projects:

https://code.vt.edu/it-services/vtlibans_dspace/-/i

[2022-10-04 20:40] alawvt commented on #818
I am attempting to follow the instructions in [Upgrading VTechWorks for DSpace point releases](https://github.com/VTUL/vtechworks/wiki/Upgrading-VTechWorks-for-DSpace-point-releases). I pulled the [dspace-6.4 tag](https://github.com/DSpace/DSpace/blob/dspace-6.4/.gitignore), on the dspace-6_x branch. For some reason it removed the local.cfg file, so I added it back to the branch, [add_6_4_changes]

[2022-10-05 19:55] alawvt commented on #818
I tried it again with new branch [add_6_4_changes_2](https://github.com/VTUL/vtechworks/blob/add_6_4_changes_2). This time I have a shot at getting the conflicts resolved. I'm building it now.

Alas, it has failed at the build it with maven step. The attached output looks similar to that from branch add_6_4_changes. -- A sure-fire cure for insomnia.
[untitled text 3.txt](https://github.com/VTUL/vt

[2022-10-05 20:16] keithgee commented on #818
I think it's going to give me nightmares.

[2022-10-05 20:30] kdweeks commented on #818
+1

Kimberli Weeks
***@***.***
w. (540) 231-2674 c. 540-835-9136
Technical Director,
Scholarly Communication <http://scholar.lib.vt.edu>
University Libraries, Virginia Tech

On Wed, Oct 5, 2022 at 4:16 PM keithgee ***@***.***> wrote:

[2022-10-07 12:50] alawvt commented on #818
One conflict was the version of node.js. I chose the later version so that should be investigated as a source of problems.

[2022-10-07 20:42] alawvt opened #819 "Figure out alternative to Nginx for forwarding duplicate Handles"
Another local only issue - if we are going to remove Nginx, (and I do think having fewer components is a good idea), we'll need some guidance from the sysadmins on how to handle forwarding from old, deleted urls of duplicate items to the remaining item, which is now handled with nginx. From previous gitlab issues and projects:

https://code.vt.edu/it-services/vtlibans_dspace/-/issues/159
https://c

[2022-10-07 20:45] soumikgh commented on #819
Traefik can handle this directly, but it'll be hard to automatically merge changes to the redirect URL to it like how we do it for Nginx right now.

We can still probably come up with an acceptable system where we manually verify and push changes from a repository once a month into the Traefik config.

[2022-10-07 20:49] alawvt commented on #819
Thank you for this information, @soumikgh.

[2022-10-11 18:55] alawvt opened #820 "Test DSpace 7.4 on DSpace Demo"
Test the changes in DSpace 7.4 that can be tested in DSpace Demo

- [DSpace 7.4 Release Notes](https://wiki.lyrasis.org/display/DSDOC7x/Release+Notes#ReleaseNotes-7.4ReleaseNotes)
- [DSpace 7.4 announcement](https://groups.google.com/g/dspace-community/c/AyYrIz93otw)

[2022-10-11 19:01] alawvt commented on #811
Continued in #820.

[2022-10-11 19:06] alawvt commented on #820
- [x] [Add thumbnail to Search list view #1744](https://github.com/DSpace/dspace-angular/issues/1744) - resolved in 7.4
- [x] [Add thumbnail to Browse #1745](https://github.com/DSpace/dspace-angular/issues/1745) -resolved in 7.4
- [x] [Edit Item > Authorizations > Policy Group change does not appear #1753 ](https://github.com/DSpace/dspace-angular/issues/1753) - resolved in 7.4
- [x] [Preserve lin

[2022-10-19 15:06] alawvt commented on #767
One concern we had was how tall the Libraries footer was, which would add considerably to our already long pages. We would still also need to provide the existing VTechWorks footer. Adding the Library footer is not simple since it must be integrated in the DSpace code. Since the web technology has changed greatly between the version on our current repository (DSpace 6.3) and the next version (DSpa

[2022-10-19 15:11] alawvt commented on #767
The front end stack for DSpace 7 is now based on Angular. I'll be attending a DSpace 7 workshop for developers on November 17th which specifically mentions institutional branding and welcome you to attend. - @keithgee

[DSpace 7: Free Webinars in November
](https://dspace.lyrasis.org/2022/10/13/dspace-7-0-free-webinars-in-november/)

- Session 1: Using DSpace 7.4
Tuesday, Nov 15 at 15:00UTC-16:30U

[2022-10-19 16:00] maddelar commented on #633
how did you guys fix this error?

[2022-10-24 14:02] alawvt commented on #767
I am closing this until we implement DSpace 7.

[2022-10-24 14:02] #767 closed, assigned to nobody

[2022-10-24 14:13] #820 closed, assigned to nobody

[2022-11-04 13:15] alawvt opened #821 "List customizations in DSpace 6.3 to migrate to DSpace 7"
List customizations in DSpace 6.3 to carry to DSpace 7

[2022-11-04 13:41] alawvt commented on #821
- Theme: colors; logo;, homepage; footer, help, policy and about links (dspace/modules/xmlui-mirage2/src/main/webapp/themes)/vtmirage2/)
- Customized submission forms: includes customizations beyond changes to configuration pages to obtain withholding and other information to store in the provenance field and add instructions in the file upload step.(dspace/modules/additions/src/main/java/org/dspa

[2022-11-04 14:21] keithgee commented on #821
During meeting we also noted ClamAV configuration

[2022-11-10 20:23] alawvt opened #822 "Handle server is down"
Symptoms match [ DSpace (5/6?) handle server doesn't start after JDK 8 update #8557 ](https://github.com/DSpace/DSpace/issues/8557)

[2022-11-11 14:16] alawvt opened #823 "Deploy Kelp changes to dev."
Please deploy Kelp changes to dev.

Release notes for Kelp may be a bit sparse as some of the details are lost to memory: https://github.com/VTUL/vtechworks/releases/tag/untagged-8293de6c83689263b222

The beginning of a test plan is in [DSpace_6.3_202221110_Kelp_Testing](https://docs.google.com/spreadsheets/d/1BI8kYlegakPm01oW-LGNq6q6VrGvxhFfvRccB8__8J4/edit?usp=sharing)

[2022-11-30 16:21] keithgee commented on #823
These changes were deployed to dev a couple of weeks ago and we currently testing and resolving minor issues.

[2022-11-30 16:21] #823 closed, assigned to keithgee

[2022-11-30 16:21] keithgee commented on #822
Systems administrators have pinned Java to a previous version as a temporary fix.